@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700,700i&subset=cyrillic";
@-webkit-keyframes fly {
  50% {
    margin-top: -7px; } }
@keyframes fly {
  50% {
    margin-top: -7px; } }
@-webkit-keyframes btn-shadow {
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); } }
@keyframes btn-shadow {
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); } }
@-webkit-keyframes logo-pulse {
  0% {
    background-position: 0 0px; }
  100% {
    background-position: 0 -82px; } }
@keyframes logo-pulse {
  0% {
    background-position: 0 0px; }
  100% {
    background-position: 0 -82px; } }
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-webkit-keyframes cycle {
  0% {
    right: 0px; }
  4% {
    right: 0px; }
  16% {
    right: 0px;
    opacity: 1;
    z-index: 0; }
  20% {
    right: 325px;
    opacity: 0;
    z-index: 0; }
  21% {
    right: -325px;
    opacity: 0;
    z-index: -1; }
  92% {
    right: -325px;
    opacity: 0;
    z-index: 0; }
  96% {
    right: -325px;
    opacity: 0; }
  100% {
    right: 0px;
    opacity: 1; } }
@keyframes cycle {
  0% {
    right: 0px; }
  4% {
    right: 0px; }
  16% {
    right: 0px;
    opacity: 1;
    z-index: 0; }
  20% {
    right: 325px;
    opacity: 0;
    z-index: 0; }
  21% {
    right: -325px;
    opacity: 0;
    z-index: -1; }
  92% {
    right: -325px;
    opacity: 0;
    z-index: 0; }
  96% {
    right: -325px;
    opacity: 0; }
  100% {
    right: 0px;
    opacity: 1; } }
@-webkit-keyframes cycletwo {
  0% {
    right: -325px;
    opacity: 0; }
  16% {
    right: -325px;
    opacity: 0; }
  20% {
    right: 0px;
    opacity: 1; }
  24% {
    right: 0px;
    opacity: 1; }
  36% {
    right: 0px;
    opacity: 1;
    z-index: 0; }
  40% {
    right: 325px;
    opacity: 0;
    z-index: 0; }
  41% {
    right: -325px;
    opacity: 0;
    z-index: -1; }
  100% {
    right: -325px;
    opacity: 0;
    z-index: -1; } }
@keyframes cycletwo {
  0% {
    right: -325px;
    opacity: 0; }
  16% {
    right: -325px;
    opacity: 0; }
  20% {
    right: 0px;
    opacity: 1; }
  24% {
    right: 0px;
    opacity: 1; }
  36% {
    right: 0px;
    opacity: 1;
    z-index: 0; }
  40% {
    right: 325px;
    opacity: 0;
    z-index: 0; }
  41% {
    right: -325px;
    opacity: 0;
    z-index: -1; }
  100% {
    right: -325px;
    opacity: 0;
    z-index: -1; } }
@-webkit-keyframes cyclethree {
  0% {
    right: -325px;
    opacity: 0; }
  36% {
    right: -325px;
    opacity: 0; }
  40% {
    right: 0px;
    opacity: 1; }
  44% {
    right: 0px;
    opacity: 1; }
  56% {
    right: 0px;
    opacity: 1; }
  60% {
    right: 325px;
    opacity: 0;
    z-index: 0; }
  61% {
    right: -325px;
    opacity: 0;
    z-index: -1; }
  100% {
    right: -325px;
    opacity: 0;
    z-index: -1; } }
@keyframes cyclethree {
  0% {
    right: -325px;
    opacity: 0; }
  36% {
    right: -325px;
    opacity: 0; }
  40% {
    right: 0px;
    opacity: 1; }
  44% {
    right: 0px;
    opacity: 1; }
  56% {
    right: 0px;
    opacity: 1; }
  60% {
    right: 325px;
    opacity: 0;
    z-index: 0; }
  61% {
    right: -325px;
    opacity: 0;
    z-index: -1; }
  100% {
    right: -325px;
    opacity: 0;
    z-index: -1; } }
@-webkit-keyframes cyclefour {
  0% {
    right: -325px;
    opacity: 0; }
  56% {
    right: -325px;
    opacity: 0; }
  60% {
    right: 0px;
    opacity: 1; }
  64% {
    right: 0px;
    opacity: 1; }
  76% {
    right: 0px;
    opacity: 1;
    z-index: 0; }
  80% {
    right: 325px;
    opacity: 0;
    z-index: 0; }
  81% {
    right: -325px;
    opacity: 0;
    z-index: -1; }
  100% {
    right: -325px;
    opacity: 0;
    z-index: -1; } }
@keyframes cyclefour {
  0% {
    right: -325px;
    opacity: 0; }
  56% {
    right: -325px;
    opacity: 0; }
  60% {
    right: 0px;
    opacity: 1; }
  64% {
    right: 0px;
    opacity: 1; }
  76% {
    right: 0px;
    opacity: 1;
    z-index: 0; }
  80% {
    right: 325px;
    opacity: 0;
    z-index: 0; }
  81% {
    right: -325px;
    opacity: 0;
    z-index: -1; }
  100% {
    right: -325px;
    opacity: 0;
    z-index: -1; } }
@-webkit-keyframes cyclefive {
  0% {
    right: -325px;
    opacity: 0; }
  76% {
    right: -325px;
    opacity: 0; }
  80% {
    right: 0px;
    opacity: 1; }
  84% {
    right: 0px;
    opacity: 1; }
  96% {
    right: 0px;
    opacity: 1;
    z-index: 0; }
  100% {
    right: 325px;
    opacity: 0;
    z-index: 0; } }
@keyframes cyclefive {
  0% {
    right: -325px;
    opacity: 0; }
  76% {
    right: -325px;
    opacity: 0; }
  80% {
    right: 0px;
    opacity: 1; }
  84% {
    right: 0px;
    opacity: 1; }
  96% {
    right: 0px;
    opacity: 1;
    z-index: 0; }
  100% {
    right: 325px;
    opacity: 0;
    z-index: 0; } }
body {
  background-color: #000;
  overflow-x: hidden;
  font-family: "Roboto Condensed", sans-serif; }

a:hover, a:active {
  outline: 0; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.sub-title {
  max-width: 310px;
  margin: 0 auto;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  padding: 20px 10px;
  border: none;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 8px rgba(31, 48, 129, 0.6), 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px #1f3081, 0 0 30px #1f3081, 0 0 50px #1f3081, 0 0 60px #1f3081; }

.play-btn {
  color: #303234;
  border-bottom: 8px solid #836224;
  text-shadow: 0px 1px 0px #f9c87a;
  background: #f5a322;
  background-image: -webkit-linear-gradient(90deg, #f5a322 0%, gold 100%);
  box-shadow: 0px 7px 0px 0px rgba(131, 98, 36, 0.004), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; }
  .play-btn:hover {
    background: gold;
    background-image: -webkit-linear-gradient(90deg, gold 0%, gold 100%); }
  .play-btn::before {
    border: 1px solid #f9c87a;
    border-bottom: 1px solid #f5a322; }

.button {
  display: block;
  padding: 10px;
  position: relative;
  height: 35px;
  width: 250px;
  margin: 0 auto;
  text-decoration: none;
  font-weight: bold;
  font-size: 33px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  line-height: 38px;
  white-space: nowrap; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.main-header {
  background-image: url(../img/bck.png);
  width: 100%;
  height: 530px;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .main-header .logo {
    width: 250px;
    height: 35px;
    margin: 0 auto;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-animation: logo-pulse 2s steps(2) infinite;
            animation: logo-pulse 2s steps(2) infinite; }
  .main-header .title {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 0 25px; }
  .main-header .avt {
    width: 35%;
    background-size: cover;
    position: relative; }
  .main-header .column {
    height: 370px;
    margin-top: 50px;
    background-size: cover;
    background-repeat: no-repeat; }
    .main-header .column-left {
      background-image: url(../img/avtomaty-left.png);
      background-position: right;
      padding-top: 35px;
      box-sizing: content-box; }
      .main-header .column-left::before, .main-header .column-left::after {
        content: "";
        position: absolute;
        background-size: 100% 100%; }
      .main-header .column-left::before {
        background-image: url(../img/big_rob.gif);
        width: 132px;
        height: 74px;
        top: 156px;
        right: 157px; }
      .main-header .column-left::after {
        background-image: url(../img/pearl_lag.gif);
        width: 120px;
        height: 70px;
        top: 160px;
        right: 37px; }
    .main-header .column-right {
      background-image: url(../img/avtomaty-right.png);
      background-position: left;
      padding-top: 35px;
      box-sizing: content-box; }
      .main-header .column-right::before, .main-header .column-right::after {
        content: "";
        position: absolute;
        background-size: 100% 100%; }
      .main-header .column-right::before {
        background-image: url(../img/hot_targ.gif);
        width: 133px;
        height: 80px;
        top: 156px;
        left: 22px; }
      .main-header .column-right::after {
        background-image: url(../img/aztecs.gif);
        width: 136px;
        height: 80px;
        top: 165px;
        left: 155px; }
    .main-header .column-center {
      padding-bottom: 50px;
      box-sizing: border-box; }
  .main-header .play .button {
    -webkit-transform: matrix3d(0.7574, -0.00008, 0, 0.00008, -0.18456, 0.78294, 0, -0.00227, 0, 0, 1, 0, 19.24415, -1, 0, 1);
            transform: matrix3d(0.7574, -0.00008, 0, 0.00008, -0.18456, 0.78294, 0, -0.00227, 0, 0, 1, 0, 19.24415, -1, 0, 1);
    -webkit-transform-origin: 43px 15px 0;
        -ms-transform-origin: 43px 15px 0;
            transform-origin: 43px 15px 0;
    -webkit-animation: fly 3.5s infinite;
            animation: fly 3.5s infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }
    .main-header .play .button:hover {
      -webkit-animation: none;
              animation: none; }
      .main-header .play .button:hover::after {
        -webkit-animation: none;
                animation: none; }
    .main-header .play .button::before, .main-header .play .button::after {
      content: "";
      position: absolute; }
    .main-header .play .button::before {
      left: 0px;
      width: 267px;
      bottom: -1px;
      border-radius: 3px; }
    .main-header .play .button::after {
      background-image: url(../img/btn-shadow.png);
      background-size: cover;
      width: 270px;
      height: 50px;
      -webkit-animation: btn-shadow 3.5s infinite;
              animation: btn-shadow 3.5s infinite;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      bottom: -60px;
      left: 0; }
  .main-header #content-slider {
    width: 100%;
    height: 100px;
    margin: 10px auto 35px; }
    .main-header #content-slider .slider {
      background: transparent;
      height: 100px;
      width: 100%;
      overflow: visible;
      position: relative; }
      .main-header #content-slider .slider h3 {
        color: #fd2550;
        font-weight: bold;
        font-size: 24px;
        text-shadow: 1.414px 1.414px 0px rgba(116, 23, 38, 0.75);
        margin: 12px 0; }
      .main-header #content-slider .slider .mask {
        overflow: hidden;
        height: 100px;
        position: relative; }
        .main-header #content-slider .slider .mask section {
          width: 100%;
          height: 100px;
          text-align: center;
          text-transform: uppercase;
          position: absolute;
          font-size: 18px;
          color: #fff;
          line-height: 25px; }
          .main-header #content-slider .slider .mask section.firstanimation {
            -webkit-animation: cycle 20s linear infinite;
                    animation: cycle 20s linear infinite; }
          .main-header #content-slider .slider .mask section.secondanimation {
            -webkit-animation: cycletwo 20s linear infinite;
                    animation: cycletwo 20s linear infinite; }
          .main-header #content-slider .slider .mask section.thirdanimation {
            -webkit-animation: cyclethree 20s linear infinite;
                    animation: cyclethree 20s linear infinite; }
          .main-header #content-slider .slider .mask section.fourthanimation {
            -webkit-animation: cyclefour 20s linear infinite;
                    animation: cyclefour 20s linear infinite; }
          .main-header #content-slider .slider .mask section.fifthanimation {
            -webkit-animation: cyclefive 20s linear infinite;
                    animation: cyclefive 20s linear infinite; }

.games {
  padding: 0 10vw;
  position: relative;
  top: -90px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .games .game {
    max-width: 130px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 120px;
        -ms-flex: 1 1 120px;
            flex: 1 1 120px;
    border: 1px solid #fff;
    background-image: -webkit-linear-gradient(90deg, #323940 0%, #9fa9b8 40%, #9fa9b8 60%, #323940 100%);
    padding: 10px 10px 0px;
    margin: 15px 10px;
    text-align: center; }
    .games .game .game-preview {
      display: block;
      height: 65px;
      text-decoration: none;
      overflow: hidden;
      border: 1px solid #8e98a2;
      box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.7);
      box-sizing: border-box;
      position: relative; }
      .games .game .game-preview img {
        max-width: 100%;
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
        -webkit-transition: all 0.3s linear;
                transition: all 0.3s linear; }
      .games .game .game-preview:hover img {
        -webkit-transform: scale3d(1.2, 1.2, 1);
                transform: scale3d(1.2, 1.2, 1); }
      .games .game .game-preview:hover .game-play {
        visibility: visible;
        -webkit-transition-delay: 0s;
                transition-delay: 0s; }
        .games .game .game-preview:hover .game-play .game-play-btn {
          top: 13px; }
      .games .game .game-preview .game-play {
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.9)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.9) 100%);
        background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.95) 100%);
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.95) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$black', endColorstr='$black',GradientType=1 );
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        -webkit-transition: visibility 0s linear 0.3s;
                transition: visibility 0s linear 0.3s; }
        .games .game .game-preview .game-play .game-play-btn {
          width: auto;
          height: 25px;
          border-radius: 5px;
          background-image: -webkit-linear-gradient(90deg, #4d39bc 0%, #008aed 100%);
          box-shadow: 0px 2px 1px 0px rgba(50, 57, 64, 0.004), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
          padding: 5px 10px;
          font-size: 24px;
          color: #fff;
          font-weight: bold;
          text-align: center;
          text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.5);
          position: absolute;
          left: 22px;
          top: -35px;
          -webkit-transition: all 0.3s linear;
                  transition: all 0.3s linear; }
    .games .game .game-title {
      font-size: 18px;
      color: #fff;
      text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.7);
      padding: 10px 0;
      cursor: default; }

.comments {
  position: relative;
  top: -30px;
  padding: 0 17vw; }
  .comments::before, .comments::after {
    content: "";
    width: 960px;
    height: 15px;
    background-image: url(../img/br.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    position: absolute;
    left: 0;
    max-width: 100%; }
  .comments::before {
    top: -30px; }
  .comments::after {
    bottom: -40px; }
  .comments .comment {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    padding: 20px 0; }
    .comments .comment-content {
      color: #fff;
      line-height: 20px;
      padding: 3px 0; }
    .comments .comment-name {
      color: #a4b0ff;
      text-align: right;
      padding: 3px 0; }

.benefits {
  margin-top: 30px;
  padding: 0 10vw; }
  .benefits-content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 30px 0; }
  .benefits .benefit {
    max-width: 100px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 110px;
        -ms-flex: 1 1 110px;
            flex: 1 1 110px;
    margin: 15px; }
    .benefits .benefit-title {
      width: 90px;
      margin: 5px auto;
      font-size: 12px;
      color: #a4b0ff;
      line-height: 1.2;
      text-align: center; }
    .benefits .benefit img {
      width: 100px;
      -webkit-transition: all 0.5s ease-in-out;
              transition: all 0.5s ease-in-out; }
      .benefits .benefit img:hover {
        -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
                transform: scaleX(-1); }

.bottom-btn .button {
  width: 210px;
  font-size: 28px;
  border: 1px solid #f9c87a;
  box-shadow: 0px 8px 1px -4px rgba(131, 98, 36, 0.75);
  position: relative; }
  .bottom-btn .button:hover {
    bottom: 1px; }
    .bottom-btn .button:hover::after {
      -webkit-filter: brightness(150%);
              filter: brightness(150%);
      bottom: -41px; }
  .bottom-btn .button::after {
    content: "";
    position: absolute;
    background-image: url(../img/btn-shadow-white.png);
    background-size: 100% 100%;
    width: 230px;
    height: 35px;
    bottom: -40px;
    left: 0;
    -webkit-transition: 0.3s linear;
            transition: 0.3s linear; }

.partners {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px 50px 20px; }
  .partners .partner {
    width: 60px;
    max-width: 60px;
    height: 50px;
    margin: 3px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50px;
        -ms-flex: 1 1 50px;
            flex: 1 1 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .partners .partner img {
      max-width: 100%; }

#to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(142, 152, 162, 0.2);
  color: #8e98a2;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  width: 65px;
  height: auto;
  display: block;
  text-decoration: none;
  padding: 15px 0;
  display: none;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }
  #to-top::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -53px;
    border: 33px solid transparent;
    border-bottom: 20px solid rgba(142, 152, 162, 0.2);
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease; }
  #to-top:hover {
    background: rgba(142, 152, 162, 0.1); }
    #to-top:hover::before {
      border-bottom-color: rgba(142, 152, 162, 0.1); }
