.container-header {
  width: 100%;
  background-color: #fff;
  height: 90px; }
  .container-header header {
    max-width: 1400px;
    padding: 0 15px;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center; }
    .container-header header .header-item1 {
      flex: 1; }
    .container-header header .header-item5 {
      flex: 5; }
    .container-header header .header-item2 {
      flex: 2; }
    .container-header header > div {
      margin: 0 10px;
      text-align: center;
      transition: all 2s ease; }
    .container-header header .logo-img {
      display: block;
      margin: 0 auto;
      background-image: url(../img/Logo_pic.png);
      width: 70px;
      height: 80px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all 1s ease; }
    .container-header header .title-img {
      background-image: url(../img/LOGO_txt.png);
      display: block;
      margin: 0 auto;
      width: 130px;
      height: 80px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all 1s ease;
      text-indent: -3333px;
      border: 0; }
      .container-header header .title-img a {
        display: block;
        width: 135px;
        height: 80px;
        text-decoration: none;
        border: 0; }
    .container-header header .phone a {
      font-size: 12px;
      color: #456925;
      white-space: nowrap; }

.link, .hamburger, .hamburger li {
  transition: all 0.3s ease-out; }

nav {
  font-size: 14px;
  font-family: "GothamPro";
  text-align: center; }
  nav .menu-item {
    display: inline-block;
    margin: 0 0.8em;
    line-height: 2; }
    nav .menu-item:first-child {
      margin: 0 0.8em 0 0; }
    nav .menu-item:last-child {
      margin: 0 0 0 0.8em; }
  nav ul {
    text-align: right;
    white-space: nowrap; }
  nav .link {
    display: block;
    color: black;
    text-decoration: none; }
    nav .link:hover {
      color: #76b53f; }
  nav .search {
    text-transform: uppercase; }

.hamburger {
  display: none;
  width: 35px;
  height: 30px;
  padding-top: 3px;
  margin: 0 auto; }
  .hamburger:hover {
    cursor: pointer; }
  .hamburger li {
    list-style: none;
    margin: 4px 0;
    width: 35px;
    height: 3px;
    background: #76b53f; }

.on li {
  background: #456925; }
  .on li:nth-child(2) {
    display: none; }
  .on li:first-child {
    transform: translateY(7px) translateX(0) rotate(45deg); }
  .on li:last-child {
    transform: translateX(0) rotate(-45deg); }

@media only screen and (max-width: 996px) {
  .container-header {
    position: fixed;
    z-index: 999999; }

  .phone a {
    font-size: 10px; }

  .hamburger {
    display: block !important; }

  nav {
    width: 100%;
    display: none;
    position: absolute;
    background: #fff;
    z-index: 99999;
    top: 80px;
    left: 0;
    border-top: 1px dotted #76b53f; }
    nav .menu-item {
      display: block;
      margin: 0.6em 0.8em !important; }
    nav ul {
      text-align: center; }

  .header-item5 {
    flex: 1 !important; } }
@media only screen and (min-width: 997px) {
  nav {
    display: block !important; } }
@media only screen and (max-width: 480px) {
  .container-header header > div {
    margin: 0 5px; } }
