@font-face {
  font-family: "reefbold";
    font-family-src: url("../font/reef-webfont.eot");
    font-family-src: url("../font/reef-webfont.eot?#iefix") format("embedded-opentype");
    font-family-src: url("../font/reef-webfont.woff2") format("woff2");
    font-family-src: url("../font/reef-webfont.woff") format("woff");
    font-family-src: url("../font/reef-webfont.ttf") format("truetype");
    font-family-src: url("../font/reef-webfont.svg#reefbold") format("svg");
    font-family-font-weight: normal;
    font-family-font-style: normal; }
.container-header {
  width: 100%;
  background-color: #fff;
  height: 90px; }
  .container-header header {
    max-width: 1400px;
    padding: 0 15px;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .container-header header .header-item1 {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .container-header header .header-item5 {
      -webkit-box-flex: 5;
      -webkit-flex: 5;
          -ms-flex: 5;
              flex: 5; }
    .container-header header .header-item2 {
      -webkit-box-flex: 2;
      -webkit-flex: 2;
          -ms-flex: 2;
              flex: 2; }
    .container-header header > div {
      margin: 0 10px;
      text-align: center;
      -webkit-transition: all 2s ease;
              transition: all 2s ease; }
    .container-header header .logo-img {
      display: block;
      margin: 0 auto;
      background-image: url(../img/Logo_pic.png);
      width: 70px;
      height: 80px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      -webkit-transition: all 1s ease;
              transition: all 1s ease; }
    .container-header header .title-img {
      background-image: url(../img/LOGO_txt.png);
      display: block;
      margin: 0 auto;
      width: 130px;
      height: 80px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      -webkit-transition: all 1s ease;
              transition: all 1s ease;
      text-indent: -3333px;
      border: 0; }
      .container-header header .title-img a {
        display: block;
        width: 135px;
        height: 80px;
        text-decoration: none;
        border: 0; }
    .container-header header .phone a {
      font-size: 12px;
      color: #456925;
      white-space: nowrap; }

.link, .hamburger, .hamburger li {
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }

nav {
  font-size: 14px;
  font-family: "GothamPro";
  text-align: center; }
  nav .menu-item {
    display: inline-block;
    margin: 0 0.8em;
    line-height: 2; }
    nav .menu-item:first-child {
      margin: 0 0.8em 0 0; }
    nav .menu-item:last-child {
      margin: 0 0 0 0.8em; }
  nav ul {
    text-align: right;
    white-space: nowrap; }
  nav .link {
    display: block;
    color: black;
    text-decoration: none; }
    nav .link:hover {
      color: #76b53f; }
  nav .search {
    text-transform: uppercase; }

.hamburger {
  display: none;
  width: 35px;
  height: 30px;
  padding-top: 3px;
  margin: 0 auto; }
  .hamburger:hover {
    cursor: pointer; }
  .hamburger li {
    list-style: none;
    margin: 4px 0;
    width: 35px;
    height: 3px;
    background: #76b53f; }

.on li {
  background: #456925; }
  .on li:nth-child(2) {
    display: none; }
  .on li:first-child {
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
        -ms-transform: translateY(7px) translateX(0) rotate(45deg);
            transform: translateY(7px) translateX(0) rotate(45deg); }
  .on li:last-child {
    -webkit-transform: translateX(0) rotate(-45deg);
        -ms-transform: translateX(0) rotate(-45deg);
            transform: translateX(0) rotate(-45deg); }

@media only screen and (max-width: 996px) {
  .container-header {
    position: fixed;
    z-index: 999999; }

  .phone a {
    font-size: 10px; }

  .hamburger {
    display: block !important; }

  nav {
    width: 100%;
    display: none;
    position: absolute;
    background: #fff;
    z-index: 99999;
    top: 80px;
    left: 0;
    border-top: 1px dotted #76b53f; }
    nav .menu-item {
      display: block;
      margin: 0.6em 0.8em !important; }
    nav ul {
      text-align: center; }

  .header-item5 {
    -webkit-box-flex: 1 !important;
    -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important; } }
@media only screen and (min-width: 997px) {
  nav {
    display: block !important; } }
@media only screen and (max-width: 480px) {
  .container-header header > div {
    margin: 0 5px; } }
body {
  font-family: "reefbold"; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.clearfix {
  clear: both;
  display: table;
  content: ""; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.right-header {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.welcome {
  background: url(../img/1st.png);
  height: 635px;
  background-size: cover;
  background-repeat: no-repeat; }

.welcome-backgr {
  left: 100%;
  height: 635px;
  width: 100%;
  background-color: rgba(118, 181, 63, 0.2);
  position: absolute; }

.welcome-text {
  left: 100%;
  position: absolute;
  padding: 0 45px;
  width: 100%;
  line-height: 20px;
  height: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.welcome-text__title {
  width: 100%;
  font-size: 36px;
  font-family: "Reef";
  color: white;
  font-weight: bold;
  line-height: 1.053;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); }

.welcome-text__line {
  width: 20vw;
  height: 3px;
  background-color: white;
  margin: 10px 0 20px 0; }

.welcome-text__content {
  font-size: 12px;
  font-family: "Open Sans";
  color: white;
  line-height: 1.667;
  max-height: 100px;
  overflow: hidden;
  text-align: justify; }

.offers {
  padding: 0;
  position: relative; }

.offers__item {
  width: 100%;
  height: 400px;
  background-size: cover !important;
  background-position: center !important; }
  .offers__item:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top, rgba(68, 68, 68, 0) -1%, rgba(68, 68, 68, 0.58) 0%, rgba(242, 242, 242, 0.31) 26%, rgba(174, 174, 174, 0.22) 35%, rgba(0, 0, 0, 0.5) 58%, black 100%);
    background-image: linear-gradient(to bottom, rgba(68, 68, 68, 0) -1%, rgba(68, 68, 68, 0.58) 0%, rgba(242, 242, 242, 0.31) 26%, rgba(174, 174, 174, 0.22) 35%, rgba(0, 0, 0, 0.5) 58%, black 100%);
    -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease; }
  .offers__item:hover:before {
    background-color: rgba(118, 181, 63, 0.7);
    border: 20px, solid, rgba(118, 181, 63, 0.2);
    background-image: none;
    background-clip: padding-box;
    padding: 10px;
    margin: 20px; }

.offers__item1 {
  background: url("../img/1img.png") no-repeat; }

.offers__item2 {
  background: url("../img/2img.png") no-repeat; }

.offers__item3 {
  background: url("../img/3img.png") no-repeat; }

.offers__item4 {
  background: url("../img/4img.png") no-repeat; }

.offers:hover .offers__item:before {
  background-color: rgba(118, 181, 63, 0.7);
  border: 20px, solid, rgba(118, 181, 63, 0.2);
  background-image: none;
  background-clip: padding-box;
  padding: 10px;
  margin: 20px; }

.offers-text {
  position: absolute;
  bottom: 15%;
  color: white;
  text-align: center;
  width: 200px;
  left: 4vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 170px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.offers-text__content {
  height: 50px;
  overflow: hidden;
  font-size: 12px;
  font-family: "Open Sans";
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); }

.offers-text__title {
  font-family: "Reef";
  font-size: 20px; }

.offers-text__line {
  width: 5vw;
  height: 3px;
  background-color: white;
  margin: 10px 0; }

.advantages {
  background-color: #a2ce7c;
  height: 500px; }

.advantages__title {
  font-size: 30px;
  font-family: "Reef";
  color: white;
  font-weight: bold;
  line-height: 0.93;
  text-align: center;
  padding-top: 40px; }
  .advantages__title:first-child div {
    margin-bottom: 20px; }

.btn-more {
  border-radius: 5px;
  background-color: #ffcc00;
  font-family: "Reef";
  color: #34501b;
  font-weight: bold;
  border: none;
  width: 120px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  display: none;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; }
  .btn-more:hover {
    background-color: #ecbd00; }

.offers:hover .btn-more {
  display: block; }

.advantages__title__line {
  height: 3px;
  background-color: white;
  width: 30px; }

.advantages__content_bg {
  background: url(../img/line.png) no-repeat;
  height: 315px;
  background-position: center;
  background-size: contain;
  width: 430px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0 40px; }
  .advantages__content_bg > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-top: 15px; }

.icon-title {
  margin-top: 5px;
  font-size: 12px;
  font-family: "Open Sans";
  color: #34501b; }

.advantages__line {
  height: 3px;
  background-color: white;
  width: 10vw;
  margin: 0 auto; }

.footer {
  height: 50px;
  margin: 20px 0; }

.footer-contacts a {
  font-size: 14px;
  font-family: "Open Sans";
  color: #456925; }

.footer-block1 {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.copyright, .copyright-studio_title, .footer-social_share, .footer-social_share1 {
  font-size: 12px;
  font-family: "Open Sans";
  color: #50882e; }

.copyright-studio_logo {
  width: 80px;
  margin-left: 10px; }

.copyright-studio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px; }

.footer-social {
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-social > div {
    margin: 0 5px; }

.footer-social_share1 {
  display: none; }

.footer-social_tweet, .footer-social_vk, .footer-social_facebook, .footer-social_insta, .footer-social_in {
  width: 30px;
  height: 30px;
  cursor: pointer; }

.footer-social_tweet {
  background: url(../img/spritesheet.png); }

.footer-social_vk {
  background: url(../img/vk.png) no-repeat;
  background-position: center; }

.footer-social_facebook {
  background: url(../img/facebook.png) no-repeat;
  background-position: center; }

.footer-social_insta {
  background: url(../img/instagramm.png) no-repeat;
  background-position: center; }

.footer-social_in {
  background: url(../img/linkdin.png) no-repeat;
  background-position: center; }

.footer-social_tweet:hover {
  background-position: -31px 0px; }

@media (max-width: 767px) {
  .welcome-backgr, .welcome-text {
    left: 0%; }

  .welcome-text__line {
    width: 65vw; } }
@media (max-width: 991px) {
  .offers-text {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

  .offers__item {
    height: 300px; }

  .offers-text__title {
    font-size: 26px; }

  .offers-text {
    width: 300px; }

  .btn-more {
    display: block; }

  .offers-text__content {
    font-size: 16px; }

  .offers-text__line {
    width: 20vw; }

  .footer-social, .copyright-studio {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

  .copyright-studio_logo {
    width: 50px; }

  .footer-social_share {
    display: none; }

  .footer-block1 {
    min-height: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }

  .footer-social_share1 {
    display: block; } }
