@font-face {
  font-family: "agf";
	src: url('fonts/agf/agf.eot');
	src: url('fonts/agf/agf.woff') format('woff'), url('fonts/agf/agf.ttf') format('truetype'), url('fonts/agf/agf.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bodoni';
	src: url('fonts/bodoni/bodoni72osc.eot');
	src: url('fonts/bodoni/bodoni72osc.woff') format('woff'), url('fonts/bodoni/bodoni72osc.ttf') format('truetype'), url('fonts/bodoni/bodoni72osc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/osr/OpenSansRegular.eot");
  src: url("fonts/osr/OpenSansRegular.eot?#iefix")format("embedded-opentype"),url("fonts/osr/OpenSansRegular.woff") format("woff"), url("fonts/osr/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("fonts/osb/OpenSansBold.eot");
  src: url("fonts/osb/OpenSansBold.eot?#iefix")format("embedded-opentype"), url("fonts/osb/OpenSansBold.woff") format("woff"), url("fonts/osb/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
