.v-footer__link, .v-intro__link, .v-block__test-link {
  text-decoration: none;
  color: inherit; }

.v-wrapper ::-moz-selection {
  background: rgba(111, 16, 52, 0.6);
  color: #fff; }

.v-wrapper ::selection {
  background: rgba(111, 16, 52, 0.6);
  color: #fff; }

.v-wrapper {
  width: 100%;
  color: #fff;
  background: #060809;
  overflow-x: hidden; }

.v-heroes {
  position: relative;
  height: 1px; }
  .v-heroes::after {
    content: "";
    position: absolute;
    left: 50%;
    min-width: 650px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1; }

.v-clearfix:after {
  content: "";
  display: table;
  clear: both; }

.v-float-right {
  float: right; }

.v-hidden {
  display: none; }

.v-decor, .v-decor2, .v-decor3, .v-decor4, .v-decor5 {
  text-align: center;
  margin: 15px 0;
  position: relative;
  -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease; }
  .v-decor .v-decor-line, .v-decor2 .v-decor-line, .v-decor3 .v-decor-line, .v-decor4 .v-decor-line, .v-decor5 .v-decor-line {
    position: absolute;
    width: 10px;
    height: 2px;
    background: #fff;
    top: 40%;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    left: 50%;
    z-index: 10;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease; }
  .v-decor .-active, .v-decor2 .-active, .v-decor3 .-active, .v-decor4 .-active, .v-decor5 .-active {
    width: 800px; }
  .v-decor img, .v-decor2 img, .v-decor3 img, .v-decor4 img, .v-decor5 img {
    position: relative;
    z-index: 99; }

.v-intro {
  background: url("../img/intro_back.jpg") no-repeat;
  background-size: cover;
  padding: 30px 0;
  margin: 0px auto;
  width: 1100px; }
  .v-intro__title {
    width: 500px;
    margin: 0 auto;
    font-size: 95px;
    font-family: "agf";
    text-transform: uppercase;
    line-height: 1.035;
    text-align: center; }
  .v-intro__text {
    width: 800px;
    margin: 0px auto 30px; }
    .v-intro__text p {
      padding: 0 15px;
      font-size: 19px;
      font-family: "Open Sans Bold", sans-serif;
      text-transform: uppercase;
      line-height: 2.105;
      text-align: center; }
  .v-intro__link {
    width: 310px;
    height: 100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 42px;
    font-family: "agf";
    background: #6f1034;
    border: 2px solid transparent;
    position: relative;
    z-index: 999;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease; }
    .v-intro__link:hover {
      background: #fff;
      border: 2px solid #6f1034;
      color: #6f1034; }

.v-block {
  font-family: "agf";
  margin: 0 auto;
  width: 1100px;
  background: #060809; }
  .v-block.-first {
    padding-top: 15px;
    background: url("../img/back1.jpg") no-repeat;
    background-size: 100% 50%;
    background-position: top; }
    .v-block.-first .v-block__desc {
      line-height: 1.5; }
    .v-block.-first p:last-child {
      margin-top: 30px; }
  .v-block.-second {
    padding: 30px 0 0;
    background: url("../img/back2.jpg") no-repeat;
    background-size: cover; }
  .v-block-second-i > div {
    position: relative; }
  .v-block-second-i .v-block__item-title {
    padding-left: 50px; }
  .v-block-second-i .v-block__item-text {
    padding: 10px 0px 20px 50px; }
  .v-block-second-i .v-label__title::after {
    right: 20px;
    top: 50%; }
  .v-block-second-i .v-float-right {
    text-align: right; }
    .v-block-second-i .v-float-right .v-label__title::after {
      left: 20px;
      -webkit-transform: scale(-1, 1);
          -ms-transform: scale(-1, 1);
              transform: scale(-1, 1);
      top: 25%; }
    .v-block-second-i .v-float-right .v-block__item-title {
      padding-right: 50px; }
    .v-block-second-i .v-float-right .v-block__item-text {
      padding: 10px 50px 20px 0px; }
  .v-block-second-v {
    width: 1100px;
    margin: 0 auto;
    background: #060809; }
  .v-block.-third {
    margin: -10px auto 0; }
    .v-block.-third .v-block__title-desc {
      padding: 60px 50px 12px; }
  .v-block.-fifth {
    padding-top: 30px; }
  .v-block.-sixth {
    background: #fff;
    color: #6f1034;
    font-size: 38px;
    font-family: "agf";
    line-height: 1.711;
    text-align: center;
    padding: 25px 140px;
    box-sizing: border-box; }
  .v-block.-seventh {
    padding: 30px 0;
    background: #060809 url("../img/back3.jpg") no-repeat;
    background-position: -25px 100%;
    background-size: 105% 20%; }
    .v-block.-seventh .v-block__item {
      text-align: left;
      height: auto;
      width: 100%; }
    .v-block.-seventh p {
      width: 530px;
      padding-left: 50px;
      box-sizing: border-box; }
    .v-block.-seventh .v-float-right {
      margin: 59px 0; }
  .v-block.-eighth {
    padding: 30px 40px 0;
    box-sizing: border-box;
    background: url("../img/back3a.jpg") no-repeat;
    background-size: 100% 100%;
    height: auto;
    overflow: hidden; }
    .v-block.-eighth .v-block__desc {
      font-size: 32px;
      font-family: "bodoni";
      line-height: 1.438;
      text-align: center; }
  .v-block__desc {
    font-size: 23px;
    line-height: 1.609;
    padding: 30px 50px; }
  .v-block__video {
    height: 540px;
    position: relative;
    overflow: hidden; }
    .v-block__video:hover .v-block__video-btn {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .v-block__video-content {
      position: relative;
      width: 100%;
      height: 100%; }
    .v-block__video-btn {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin: -35px 0 0 -65px;
      width: 120px;
      height: 85px;
      z-index: 30;
      cursor: pointer;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      -webkit-transition: all 0.6s ease;
              transition: all 0.6s ease; }
    .v-block__video-poster {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 20;
      cursor: pointer; }
    .v-block__video-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0; }
    .v-block__video-desc {
      background: rgba(111, 16, 52, 0.5);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 40;
      width: 470px;
      height: 100%;
      padding: 40px 45px;
      box-sizing: border-box;
      font-size: 23px;
      font-family: "agf";
      line-height: 1.609;
      overflow: hidden; }
  .v-block__title {
    font-size: 46px;
    font-family: "agf";
    text-transform: uppercase;
    line-height: 1;
    text-align: center; }
    .v-block__title-desc {
      text-transform: uppercase;
      text-align: center;
      font-size: 19px;
      font-family: "Open Sans Bold", sans-serif;
      padding: 15px 50px 40px;
      line-height: 2;
      position: relative;
      z-index: 999; }
      .v-block__title-desc p {
        margin: 0; }
    .v-block__title br {
      display: none; }
  .v-block__item {
    width: 495px;
    height: 640px;
    font-family: "agf"; }
    .v-block__item-wrapper {
      width: 1100px;
      margin: 0 auto;
      position: relative;
      background-color: #060809; }
    .v-block__item-title {
      font-size: 42px;
      text-transform: uppercase;
      line-height: 1.548;
      position: relative; }
    .v-block__item-text {
      font-size: 22px;
      line-height: 1.609;
      margin-top: 15px;
      position: relative; }
    .v-block__item-v {
      position: relative; }
      .v-block__item-v:nth-child(odd) .v-block__item-v__wrapper {
        float: right;
        padding-left: 20px;
        box-sizing: border-box; }
      .v-block__item-v__wrapper {
        width: 500px;
        margin: 25px 50px;
        font-family: "agf"; }
      .v-block__item-v .v-block__item-text p:last-child {
        margin-top: 35px; }
  .v-block__test {
    font-family: "agf";
    text-align: center; }
    .v-block__test > span {
      font-size: 30px; }
    .v-block__test-link {
      width: 530px;
      height: 100px;
      margin: 0 auto 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 42px;
      background: #fff;
      color: #6f1034;
      border: 2px solid #6f1034;
      -webkit-transition: all 0.6s ease;
              transition: all 0.6s ease; }
      .v-block__test-link:hover {
        background: #6f1034;
        border: 2px solid trasparent;
        color: #fff; }
  .v-block__img {
    position: absolute; }

.v-label {
  max-height: 345px;
  overflow: hidden;
  position: relative;
  z-index: 999; }
  .v-label__title {
    display: block;
    position: relative;
    padding: 10px 50px;
    font-size: 32px;
    line-height: 1.156;
    cursor: pointer;
    background: #6f1034;
    -webkit-transition: background 0.6s ease;
            transition: background 0.6s ease; }
    .v-label__title:hover {
      background: rgba(111, 16, 52, 0.7); }
    .v-label__title::after {
      background: url("../img/arrow.png") no-repeat;
      background-size: contain;
      display: inline-block;
      width: 20px;
      height: 30px;
      content: "";
      position: absolute;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
  .v-label__text {
    padding: 10px 50px 30px;
    margin: 0;
    font-size: 23px;
    line-height: 1.609;
    font-family: "bodoni";
    background: #6f1034;
    visibility: hidden; }

.-label-active ~ .v-label__text {
  visibility: visible; }
.-label-active::after {
  width: 30px;
  height: 20px;
  background: url("../img/arrow-down.png") no-repeat !important;
  background-size: contain; }

.v-v-label {
  background: #6f1034;
  max-height: 345px;
  padding: 20px 80px;
  position: relative;
  text-align: center;
  height: 228px;
  margin-top: -15px;
  box-sizing: border-box; }
  .v-v-label__title {
    font-size: 32px;
    line-height: 1.156; }
  .v-v-label__text {
    font-size: 23px;
    line-height: 1.4;
    padding: 14px 0;
    margin: 0; }

.v-img-first {
  right: 0px;
  top: 15px;
  width: 570px; }

.v-img-second {
  left: 0px;
  top: -81px;
  width: 520px; }

.v-img-third {
  right: 0px;
  top: -120px;
  width: 565px; }

.v-img-fourth {
  left: 0px;
  top: -80px;
  width: 460px; }

.v-img-fifth {
  right: 0px;
  top: -10px;
  width: 666px; }

.v-img-sixth {
  left: 0px;
  top: -61px;
  width: 640px; }

.v-img-seventh {
  top: -30px;
  right: 0; }

.v-img-eighth {
  top: 560px;
  left: 0; }

.v-img-nineth {
  bottom: 140px;
  right: 0;
  width: 437px; }

.v-devider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10px;
  position: relative;
  top: -5px;
  left: 0;
  z-index: 999; }
  .v-devider::before {
    content: "";
    position: absolute;
    border-top: 2px solid #fff;
    width: 100%;
    top: 50%;
    -webkit-transform: rotateX(-50%);
            transform: rotateX(-50%);
    left: 0; }

.v-img-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 10px;
  width: 45%;
  position: absolute;
  z-index: 99999;
  visibility: hidden; }
  .v-img-icons::before {
    content: "";
    position: absolute;
    border-top: 2px solid #fff;
    width: 95%;
    -webkit-transform: rotateX(-50%);
            transform: rotateX(-50%); }
  .v-img-icons__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 15px;
    background: #0b1b25;
    overflow: hidden; }
    .v-img-icons__item img {
      max-width: 100%;
      height: auto; }

.v-slide-right {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  visibility: visible; }

.v-slide-left {
  -webkit-animation-name: slideLeft;
          animation-name: slideLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  visibility: visible; }

@-webkit-keyframes slideLeft {
  from {
    left: -100%; }
  to {
    left: 0; } }

@keyframes slideLeft {
  from {
    left: -100%; }
  to {
    left: 0; } }
@-webkit-keyframes slideRight {
  from {
    right: -100%; }
  to {
    right: 0; } }
@keyframes slideRight {
  from {
    right: -100%; }
  to {
    right: 0; } }
#v-domovoy .v-block__item-wrapper {
  background: #060809 url("../img/back2a.jpg") no-repeat;
  background-position: top;
  background-size: 100%; }

#v-domovoy .v-img-icons, #v-demon .v-img-icons {
  right: 0;
  top: 80%; }
  #v-domovoy .v-img-icons::before, #v-demon .v-img-icons::before {
    right: 0; }

#v-rusalka .v-img-icons, #v-oboroten .v-img-icons {
  left: 0;
  top: 60%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  #v-rusalka .v-img-icons::before, #v-oboroten .v-img-icons::before {
    left: 0; }

.v-facts {
  width: 1100px;
  margin: auto;
  position: relative;
  font-family: "agf"; }
  .v-facts__desc-back {
    position: absolute;
    width: 460px;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(111, 16, 52, 0.5);
    padding: 35px 10px 0 55px;
    box-sizing: border-box; }
  .v-facts__desc {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 460px;
    height: 400px;
    padding: 25px 15px;
    box-sizing: border-box;
    overflow: hidden; }
  .v-facts__title {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.548; }
    .v-facts__title br {
      display: none; }
  .v-facts__text {
    font-size: 23px;
    line-height: 1.609;
    margin-top: 190px;
    padding: 0 10px 0 40px;
    -webkit-transition: all 0.6 ease;
            transition: all 0.6 ease; }
  .v-facts__item {
    height: 541px;
    overflow: hidden; }
  .v-facts__dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center; }
  .v-facts__dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: #8d8689;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
            transition: background-color 0.6s ease; }
    .v-facts__dot-active, .v-facts__dot:hover {
      background-color: #fff; }
  .v-facts__prev, .v-facts__next {
    cursor: pointer;
    position: absolute;
    bottom: 50%;
    width: 45px;
    height: 45px; }
  .v-facts__next {
    right: 10px;
    background: url("../img/arrow-right.png") no-repeat;
    background-size: contain; }
  .v-facts__prev {
    left: 10px;
    background: url("../img/arrow-left.png") no-repeat;
    background-size: contain; }

.v-slider {
  width: 1100px;
  margin: 10px auto 0;
  position: relative;
  font-family: "agf";
  background: url("../img/slider2.png") no-repeat;
  background-position: center; }
  .v-slider__desc {
    color: #fff;
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    overflow: hidden; }
  .v-slider__text {
    font-size: 23px;
    line-height: 1.609;
    padding: 0 150px; }
  .v-slider__item {
    height: 578px;
    overflow: hidden;
    text-align: center; }
  .v-slider__dots {
    position: absolute;
    bottom: 35px;
    width: 100%;
    text-align: center; }
  .v-slider__dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: #8d8689;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
            transition: background-color 0.6s ease; }
    .v-slider__dot-active, .v-slider__dot:hover {
      background-color: #fff; }
  .v-slider__prev, .v-slider__next {
    cursor: pointer;
    position: absolute;
    bottom: 125px;
    width: 45px;
    height: 45px; }
  .v-slider__next {
    right: 70px;
    background: url("../img/arrow-right.png") no-repeat;
    background-size: contain; }
  .v-slider__prev {
    left: 90px;
    background: url("../img/arrow-left.png") no-repeat;
    background-size: contain; }

.v-fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
.v-footer {
  width: 1100px;
  margin: 0px auto;
  padding: 275px 0 70px;
  background: url("../img/footer_back.jpg") no-repeat;
  background-size: cover; }
  .v-footer__link {
    width: 420px;
    height: 100px;
    margin-left: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 42px;
    font-family: "agf";
    background: #6f1034;
    border: 2px solid transparent;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease; }
    .v-footer__link:hover {
      background: #fff;
      border: 2px solid #6f1034;
      color: #6f1034; }
  .v-footer__desc {
    background: #060809;
    font-size: 19px;
    font-family: "Open Sans Bold";
    text-transform: uppercase;
    line-height: 2.105;
    text-align: center;
    padding: 30px 60px 50px;
    margin-top: 125px;
    box-sizing: border-box; }
  .v-footer__social {
    background: #fff;
    color: #6f1034;
    padding: 30px 60px 40px; }
    .v-footer__social-title {
      font-size: 23px;
      font-family: "agf";
      color: #060809;
      line-height: 1.174;
      text-align: center; }
    .v-footer__social-icons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 300px;
      margin: 15px auto 0; }

.v-social-icon {
  margin: 0 5px;
  width: 35px;
  height: 40px;
  background: url("../img/social.png") no-repeat;
  -webkit-transition: opacity 0.6s ease;
          transition: opacity 0.6s ease; }
  .v-social-icon:hover {
    opacity: 0.6; }

.v-social-vk {
  width: 45px;
  background-position: -107px 5px; }

.v-social-fb {
  background-position: 0 0; }

.v-social-ok {
  background-position: -30px 0; }

.v-social-tw {
  background-position: -65px 5px; }

@media only screen and (max-width: 769px) {
  .v-intro, .v-block, .v-block-second-v, .v-block__item-wrapper, .v-facts, .v-slider, .v-footer {
    width: 100%; }

  .v-img-first, .v-img-second, .v-img-third, .v-img-fourth, .v-img-eighth, .v-img-nineth {
    display: none; }

  .v-hidden {
    display: block; }

  .v-intro {
    margin-top: 0;
    padding: 55px 0;
    background: url("../img/mob/intro_back.jpg") no-repeat;
    background-size: 100% 100%; }
    .v-intro__title {
      width: 100%;
      font-size: 4em; }
    .v-intro__text {
      width: 100%; }
      .v-intro__text p {
        padding: 0 3px;
        font-size: 24px; }
    .v-intro__link {
      margin: 305px auto 0;
      width: 350px; }
    .v-intro .v-heroes {
      bottom: 394px; }
      .v-intro .v-heroes::after {
        background: url("../img/mob/heroes1.png") no-repeat;
        background-size: 100% 100%;
        min-height: 450px; }

  .v-decor img, .v-decor2 img, .v-decor3 img, .v-decor4 img, .v-decor5 img {
    height: 60px; }
  .v-decor .v-decor-line, .v-decor2 .v-decor-line, .v-decor3 .v-decor-line, .v-decor4 .v-decor-line, .v-decor5 .v-decor-line {
    top: 43%; }

  .v-block__img {
    position: static;
    width: 100%; }
  .v-block.-first {
    padding-top: 180px;
    background: url("../img/mob/back1.jpg") no-repeat;
    background-size: 100% 100%;
    background-position: top; }
    .v-block.-first .v-block__desc {
      padding: 30px 3px;
      position: relative;
      z-index: 99; }
    .v-block.-first .v-heroes {
      top: -180px; }
      .v-block.-first .v-heroes::after {
        background: url("../img/mob/heroes2.png") no-repeat;
        background-size: 100% 100%;
        min-height: 718px; }
  .v-block__desc {
    font-size: 2em; }
  .v-block__video {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto; }
    .v-block__video-desc {
      position: static;
      width: 100%;
      height: auto;
      padding: 30px 3px 60px;
      font-size: 2em; }
    .v-block__video-content {
      height: 50vw; }
  .v-block__title {
    font-size: 4em; }
    .v-block__title-desc {
      padding: 5px 3px 40px;
      font-size: 2em; }
    .v-block__title br {
      display: block; }
  .v-block__item {
    height: 650px;
    width: 100%; }
    .v-block__item-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
    .v-block__item-title {
      font-size: 60px; }
    .v-block__item-text {
      font-size: 2em; }
  .v-block__item-title, .v-block__item-text {
    background: rgba(6, 8, 9, 0.5); }
  .v-block__item-text {
    margin: 0; }
  .v-block.-second {
    background: url("../img/mob/back2.jpg") no-repeat;
    background-size: cover; }
  .v-block-second-i .v-block__item-text,
  .v-block-second-i .v-float-right .v-block__item-text {
    padding: 0px 3px 15px; }
  .v-block-second-i .v-block__item-title {
    padding-left: 3px; }
  .v-block-second-i .v-block__img {
    width: 450px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    min-width: 450px;
    max-width: 450px;
    margin-top: -300px; }
  .v-block-second-v .v-block__item-text, .v-block-second-v .v-block__item-title {
    background: transparent; }
  .v-block__test-link {
    width: 310px; }
  .v-block__test > span {
    font-size: 2em; }
  .v-block__item-v__wrapper {
    width: 100%;
    margin: 60px 3px 30px; }
  .v-block__item-v:nth-child(odd) .v-block__item-v__wrapper {
    float: none;
    padding-left: 0; }
  .v-block.-third .v-block__title-desc {
    padding: 80px 3px 40px; }
  .v-block-fourth {
    background: #6f1034; }
  .v-block.-sixth {
    padding: 25px 3px; }
  .v-block.-seventh {
    background: #060809 url("../img/mob/back3.jpg") no-repeat;
    background-position: bottom;
    background-size: 100%; }
    .v-block.-seventh p {
      width: 100%;
      padding-left: 3px; }
    .v-block.-seventh .v-float-right {
      margin: 0; }
    .v-block.-seventh .v-block__item-text {
      background: transparent;
      padding-bottom: 150px; }
    .v-block.-seventh .v-hidden:last-child {
      margin-top: 40px;
      width: 300px;
      position: absolute;
      right: 0; }
  .v-block.-eighth {
    padding: 40px 3px;
    background: url("../img/mob/back3a.jpg") no-repeat;
    background-size: 100% 100%; }
    .v-block.-eighth .v-block__desc {
      padding: 30px 0px; }

  .v-img-fifth, .v-img-sixth {
    position: absolute;
    min-width: 600px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 200px; }

  .v-img-sixth {
    top: 45%; }

  .v-v-label {
    margin-top: 300px;
    max-height: 100%;
    padding: 20px 25px 80px;
    height: auto; }
    .v-v-label__title {
      font-size: 45px; }
    .v-v-label__text {
      font-size: 32px; }

  .v-img-icons {
    width: 80%; }
    .v-img-icons::before {
      width: 90%; }
    .v-img-icons__item {
      width: 15vw;
      height: 15vw; }

  #v-domovoy .v-img-icons, #v-demon .v-img-icons, #v-rusalka .v-img-icons, #v-oboroten .v-img-icons {
    top: 93%; }

  #v-rusalka, #v-demon, #v-oboroten {
    margin: 30px 0; }

  .v-img-icons {
    left: 0;
    top: 60%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .v-img-icons::before {
      left: 0; }

  #v-domovoy .v-block__item-wrapper {
    background: #060809; }

  .v-label {
    margin-right: 30px;
    height: auto;
    max-height: inherit; }
    .v-label__title {
      padding: 30px 3px;
      font-size: 40px; }
    .v-label__text {
      padding: 0 3px 30px;
      font-size: 2em; }

  .v-facts {
    background: rgba(111, 16, 52, 0.6); }
    .v-facts__title {
      font-size: 4em;
      text-align: center;
      line-height: 1;
      white-space: nowrap; }
      .v-facts__title br {
        display: block; }
    .v-facts__text {
      font-size: 2em;
      margin-top: 0;
      padding: 0 3px 0 3px;
      line-height: 1.2; }
    .v-facts__item {
      height: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
      .v-facts__item img {
        height: auto;
        max-height: 50vw; }
    .v-facts__dots {
      top: 400px;
      bottom: 0; }
    .v-facts__desc {
      padding: 25px 0px;
      margin-bottom: 60px;
      height: 180px;
      width: 100%;
      position: static;
      overflow: hidden; }
      .v-facts__desc-back {
        position: static;
        height: 200px;
        width: 100%;
        padding: 35px 3px 0 3px;
        box-sizing: border-box;
        background: transparent;
        overflow: visible; }
    .v-facts__prev, .v-facts__next {
      width: 25px;
      bottom: 20%; }
    .v-facts__dot {
      height: 20px;
      width: 20px; }

  .v-slider__dot {
    height: 20px;
    width: 20px; }
  .v-slider__prev {
    left: 10px;
    width: 25px; }
  .v-slider__next {
    right: 10px;
    width: 25px; }
  .v-slider__desc {
    bottom: 70px;
    height: 170px; }
  .v-slider__text {
    padding: 0 35px; }

  .v-footer {
    background: url("../img/mob/footer_back.jpg") no-repeat;
    background-size: contain; }
    .v-footer__desc {
      padding: 30px 3px 50px;
      font-size: 2em; }
    .v-footer__link {
      margin: 0 auto; }
    .v-footer__social {
      padding: 30px 3px 40px; }
    .v-footer__social-title {
      font-size: 40px; }
    .v-footer__social-icons {
      width: 100%;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }

  .v-social-icon {
    width: 65px;
    height: 75px;
    background-size: cover; }
  .v-social-vk {
    background-position: -165px 5px; }
  .v-social-fb {
    background-position: 12px 0; }
  .v-social-ok {
    width: 60px;
    background-position: -40px 0; }
  .v-social-tw {
    background-position: -95px 5px; } }
@media only screen and (min-width: 320px) and (max-width: 500px) {
  .v-intro__text p {
    font-size: 5vw; }

  .v-label__title {
    font-size: 10vw; }

  .v-label__text {
    font-size: 6vw; }

  .v-v-label__title {
    font-size: 12vw; }

  .v-footer__desc {
    font-size: 5vw; }

  .v-v-label__text {
    font-size: 7vw; }

  .v-facts__title {
    font-size: 12vw;
    white-space: normal; }
  .v-facts__text {
    font-size: 4.5vw; }
  .v-facts__desc {
    height: 125px; }
    .v-facts__desc-back {
      height: 170px; }
  .v-facts__dots {
    top: 310px; }

  .v-block.-sixth {
    font-size: 7vw; }
  .v-block.-eighth .v-block__desc {
    font-size: 7vw; }
  .v-block__title {
    font-size: 12vw; }
  .v-block__desc, .v-block__video-desc {
    font-size: 6vw; }
  .v-block__title-desc {
    font-size: 5vw; }
  .v-block__item-title {
    font-size: 12vw; }
  .v-block__item-text {
    font-size: 6vw; }
  .v-block-second-i .v-block__img {
    margin-top: -400px; }

  .v-footer__social-title {
    font-size: 8vw; }

  .v-block__test-link, .v-intro__link, .v-footer__link {
    width: 80%;
    font-size: 12vw; }

  .v-img-icons {
    width: 85%; }
    .v-img-icons__item {
      width: 18vw;
      height: 18vw; }

  .v-slider__text {
    font-size: 4.5vw; } }
