$violet: #6f1034
$white: #fff
$black: #060809
$gray: #8d8689

@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic,cyrillic-ext')

// reset
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, img, footer, header, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// common styles
body
  overflow-x: hidden

img
  max-width: 100%
  height: auto

a
  text-decoration: none
  color: inherit

*::-webkit-media-controls-panel
  display: none !important
  -webkit-appearance: none

*::--webkit-media-controls-play-button
  display: none !important
  -webkit-appearance: none

*::-webkit-media-controls-start-playback-button
  display: none !important
  -webkit-appearance: none

.v-wrapper ::-moz-selection
  background: rgba($violet, 0.6)
  color: $white
.v-wrapper ::selection
  background: rgba($violet, 0.6)
  color: $white

.v-wrapper
  background: url('../img/bg.png')
  background-size: cover
  width: 100%
  color: $white
  overflow: hidden

.v-clearfix:after
  content: ""
  display: table
  clear: both


.v-flex
  display: flex

.v-intro
  background: rgba($black, 0.5)
  padding: 30px 0
  margin: 200px auto 0
  max-width: 1060px
  &__title
    width: 500px
    margin: 0 auto
    font-size: 95px
    font-family: "agf"
    text-transform: uppercase
    line-height: 1.035
    text-align: center
  &__text
    background: url('../img/dec.png') no-repeat
    background-position: top
    background-size: 768px
    padding-top: 45px
    width: 768px
    margin: 15px auto 30px
    p
      padding: 0 15px
      font-size: 19px
      font-family: 'Open Sans', sans-serif
      font-weight: bold
      text-transform: uppercase
      line-height: 2.105
      text-align: center
  &__link
    width: 310px
    height: 100px
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: center
    font-size: 42px
    font-family: "agf"
    background: $violet

.v-block
  font-family: "agf"
  margin: 0 auto
  max-width: 1060px
  background: rgba($black, 0.5)
  &.-first
    margin-top: 40px
    p:last-child
      margin-top: 30px
  &.-second
    padding: 60px 0 0
  &.-third
    .v-block__title-desc
      padding: 60px 50px 20px
  &.-fourth
    background: rgba($violet, 0.5)
  &.-fifth
    margin-top: 60px
  &__desc
    font-size: 23px
    line-height: 1.609
    padding: 30px 50px
  &__video
    height: 500px
  &__title
    font-size: 46px
    font-family: "agf"
    text-transform: uppercase
    line-height: 1
    text-align: center
    background: url('../img/dec.png') no-repeat
    background-position: bottom
    background-size: 768px
    padding-bottom: 50px
    &-desc
      text-transform: uppercase
      text-align: center
      font-size: 19px
      font-family: "Open Sans", sans-serif
      padding: 15px 50px 40px
      line-height: 2
      font-weight: bold
  &__item
    width: 100%
    height: 610px
    position: relative
    font-family: "agf"
    &__wrapper
      width: 495px
    &:nth-child(even)
      text-align: right
      .v-block__item-title
        padding-right: 50px
      .v-block__item-text
        padding: 10px 50px 20px 0px
      .v-label__title::after
        left: 20px
        transform: scale(-1, 1)
        top: 25%
      .v-block__item__wrapper
        float: right
    &:nth-child(odd)
      .v-block__item-title
        padding-left: 50px
      .v-block__item-text
        padding: 10px 0px 20px 50px
      .v-label__title::after
        right: 20px
        top: 50%
    &-img
      position: absolute
    &-title
      font-size: 42px
      text-transform: uppercase
      line-height: 1.548
    &-text
      font-size: 22px
      line-height: 1.609
      margin-top: 15px
    &-vamp
      position: relative
      &:nth-child(odd)
        .v-block__item-vamp__wrapper
          float: right
          padding-left: 20px
          box-sizing: border-box
      &__wrapper
        width: 500px
        margin: 25px 50px
      .v-block__item-text
        p:last-child
          margin-top: 35px
  &__test
    font-family: "agf"
    text-align: center
    > span
      font-size: 30px
    &-link
      width: 530px
      height: 100px
      margin: 0 auto 15px
      display: flex
      align-items: center
      justify-content: center
      font-size: 42px
      background: $white
      color: $violet

.v-label
  background: $violet
  max-height: 345px
  overflow: hidden
  position: relative
  z-index: 999
  &__title
    display: block
    position: relative
    padding: 10px 50px
    font-size: 32px
    line-height: 1.156
    cursor: pointer
    &::after
      content: url('../img/arrow.png')
      height: 35px
      position: absolute
      transform: translateY(-50%)
  &__text
    padding: 0 50px 30px
    font-size: 23px
    line-height: 1.609
    font-family: "bodoni"

.v-label__open
  .v-label__title::after
    content: url('../img/arrow-down.png') !important

.v-vamp-label
  background: $violet
  max-height: 345px
  padding: 20px 80px
  position: relative
  text-align: center
  height: 230px
  box-sizing: border-box
  &__title
    font-size: 32px
    line-height: 1.156
  &__text
    font-size: 23px
    line-height: 1.609
    padding: 10px 0


.v-img-first
  right: -190px
  top: -55px
  width: 765px

.v-img-second
  left: -245px
  top: -65px
  width: 840px

.v-img-third
  right: -145px
  top: -115px
  width: 666px

.v-img-fourth
  left: -350px
  top: -85px
  width: 910px

.v-img-fifth
  right: -50px
  top: 20px
  width: 666px

.v-img-sixth
  left: -230px
  top: 0px
  width: 865px


.v-icons
  display: flex
  align-items: center
  justify-content: center
  height: 10px
  position: relative
  top: -5px
  left: 0
  &::before
    content: ''
    position: absolute
    border-top: 2px solid $white
    width: 100%
    top: 50%
    transform: rotateX(-50%)
    left: 0
  &__item
    position: relative
    display: flex
    width: 80px
    height: 80px
    border: 2px solid $white
    border-radius: 50%
    margin: 0 15px
    background: $violet

.v-facts
  max-width: 1060px
  margin: auto
  position: relative
  font-family: "agf"
  &__desc-back
    position: absolute
    width: 460px
    height: 100%
    top: 0
    left: 0
    background: rgba($violet, 0.5)
    padding: 35px 10px 0 55px
    box-sizing: border-box
  &__desc
    color: $white
    position: absolute
    top: 0
    left: 0
    width: 460px
    height: 400px
    padding: 25px 15px
    box-sizing: border-box
    overflow: hidden
  &__title
    font-size: 40px
    text-transform: uppercase
    line-height: 1.548
  &__text
    font-size: 23px
    line-height: 1.609
    margin-top: 190px
    padding: 0 10px 0 40px
  &__item
    height: 520px
    overflow: hidden
  &__dots
    position: absolute
    bottom: 20px
    width: 100%
    text-align: center
  &__dot
    cursor: pointer
    height: 15px
    width: 15px
    margin: 0 3px
    background-color: $gray
    border-radius: 50%
    display: inline-block
    transition: background-color 0.6s ease
    &-active, &:hover
      background-color: $white

.v-slider
  max-width: 1060px
  margin: 10px auto 0
  position: relative
  font-family: "agf"
  &__desc
    color: $white
    position: absolute
    bottom: 70px
    left: 0
    width: 100%
    height: 110px
    box-sizing: border-box
    overflow: hidden
  &__text
    font-size: 23px
    line-height: 1.609
    padding: 0 150px
  &__item
    height: 605px
    overflow: hidden
    text-align: center
  &__dots
    position: absolute
    bottom: 35px
    width: 100%
    text-align: center
  &__dot
    cursor: pointer
    height: 15px
    width: 15px
    margin: 0 3px
    background-color: $gray
    border-radius: 50%
    display: inline-block
    transition: background-color 0.6s ease
    &-active, &:hover
      background-color: $white
  &__prev,
  &__next
    cursor: pointer
    position: absolute
    bottom: 125px
    width: 45px
    height: 45px
  &__next
    right: 60px
    background: url('../img/arrow-right.png') no-repeat
    background-size: contain
  &__prev
    left: 90px
    background: url('../img/arrow-left.png') no-repeat
    background-size: contain

.v-fade
  animation-name: fade
  animation-duration: 1.5s

@keyframes fade
  from
    opacity: .4
  to
    opacity: 1







// @import "media"
