$violet: #6f1034
$white: #fff
$black: #060809
$gray: #8d8689
$darkGray: #060809
$blue: #0b1b25

// @import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic,cyrillic-ext')

// reset
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, img, footer, header, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// common styles
body
  overflow-x: hidden

img
  max-width: 100%
  height: auto

a
  text-decoration: none
  color: inherit

*::-webkit-media-controls-panel
  display: none !important
  -webkit-appearance: none

*::--webkit-media-controls-play-button
  display: none !important
  -webkit-appearance: none

*::-webkit-media-controls-start-playback-button
  display: none !important
  -webkit-appearance: none

.v-wrapper ::-moz-selection
  background: rgba($violet, 0.6)
  color: $white
.v-wrapper ::selection
  background: rgba($violet, 0.6)
  color: $white

.v-wrapper
  background: url('../img/bg.png')
  background-size: cover
  background-position: 50% -10px
  width: 100%
  padding-bottom: 130px
  color: $white
  overflow: hidden

.v-clearfix:after
  content: ""
  display: table
  clear: both

.v-float-right
  float: right

.v-decor, .v-decor2, .v-decor3, .v-decor4, .v-decor5
  text-align: center
  margin: 15px 0
  position: relative
  transition: all 0.6s ease
  .v-decor-line
    position: absolute
    width: 10px
    height: 2px
    background: $white
    top: 40%
    transform: translate(-50%, 50%)
    left: 50%
    z-index: 10
    transition: all 0.6s ease
  .-active
    width: 800px
  img
    position: relative
    z-index: 99

.v-intro
  background: rgba($black, 0.5)
  padding: 30px 0
  margin: 425px auto 0
  width: 1100px
  &__title
    width: 500px
    margin: 0 auto
    font-size: 95px
    font-family: "agf"
    text-transform: uppercase
    line-height: 1.035
    text-align: center
  &__text
    width: 800px
    margin: 0px auto 30px
    p
      padding: 0 15px
      font-size: 19px
      font-family: 'Open Sans Bold', sans-serif
      text-transform: uppercase
      line-height: 2.105
      text-align: center
  &__link
    width: 310px
    height: 100px
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: center
    font-size: 42px
    font-family: "agf"
    background: $violet
    border: 2px solid transparent
    transition: all 0.6s ease
    &:hover
      background: $white
      border: 2px solid $violet
      color: $violet

.v-block
  font-family: "agf"
  margin: 0 auto
  width: 1100px
  background: rgba($black, 0.5)
  &.-first
    margin-top: 50px
    p:last-child
      margin-top: 30px
  &.-second
    padding: 60px 0 0
  &-second-i
    > div
      position: relative

    .v-block__item-title
      padding-left: 50px
    .v-block__item-text
      padding: 10px 0px 20px 50px
    .v-label__title::after
      right: 20px
      top: 50%
    .v-float-right
      text-align: right
      .v-label__title::after
        left: 20px
        transform: scale(-1, 1)
        top: 25%
      .v-block__item-title
        padding-right: 50px
      .v-block__item-text
        padding: 10px 50px 20px 0px

  &-second-v
    width: 1100px
    margin: 0 auto
  &.-third
    .v-block__title-desc
      padding: 60px 50px 20px
  &-fourth
    background: rgba($violet, 0.5)
  &.-fifth
    margin-top: 60px
  &.-sixth
    background: $white
    color: $violet
    font-size: 38px
    font-family: "agf"
    line-height: 1.711
    text-align: center
    padding: 25px 140px
    box-sizing: border-box
  &.-seventh
    margin-top: 50px
    background: transparent
    .v-block__item
      text-align: left
      height: auto
      width: 100%
    p
      width: 530px
      padding-left: 50px
      box-sizing: border-box
      &:nth-child(3)
        float: right
        margin: 55px 0
  &.-eighth
    margin-top: 10px
    padding: 40px
    box-sizing: border-box
    height: auto
    overflow: hidden
    .v-block__desc
      font-size: 32px
      font-family: "bodoni"
      line-height: 1.438
      text-align: center
  &__desc
    font-size: 23px
    line-height: 1.609
    padding: 30px 50px
  &__video
    height: 540px
    position: relative
    overflow: hidden
    &:hover
      .v-block__video-btn
        transform: scale(1.1)
    &-btn
      position: absolute
      display: block
      top: 50%
      left: 50%
      margin: -35px 0 0 -65px
      width: 120px
      height: 85px
      z-index: 30
      cursor: pointer
      transform: scale(1)
      transition: all 0.6s ease
    &-poster
      position: absolute
      display: block
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 20
      cursor: pointer
    &-item
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 0
    &-desc
      background: rgba($violet, 0.5)
      position: absolute
      left: 0
      top: 0
      z-index: 40
      width: 470px
      height: 100%
      padding: 40px 45px
      box-sizing: border-box
      font-size: 23px
      font-family: "agf"
      line-height: 1.609
      overflow: hidden
    &__player
      .v-block__video-poster, .v-block__video-desc
        display: none

  &__title
    font-size: 46px
    font-family: "agf"
    text-transform: uppercase
    line-height: 1
    text-align: center
    &-desc
      text-transform: uppercase
      text-align: center
      font-size: 19px
      font-family: "Open Sans Bold", sans-serif
      padding: 15px 50px 40px
      line-height: 2
      position: relative
      z-index: 999

  &__item
    width: 495px
    height: 610px
    font-family: "agf"
    &-wrapper
      width: 1100px
      margin: 0 auto
      position: relative
    &-title
      font-size: 42px
      text-transform: uppercase
      line-height: 1.548
      position: relative
    &-text
      font-size: 22px
      line-height: 1.609
      margin-top: 15px
      position: relative
    &-v
      position: relative
      &:nth-child(odd)
        .v-block__item-v__wrapper
          float: right
          padding-left: 20px
          box-sizing: border-box
      &__wrapper
        width: 500px
        margin: 25px 50px
        font-family: 'agf'
      .v-block__item-text
        p:last-child
          margin-top: 35px
  &__test
    font-family: "agf"
    text-align: center
    > span
      font-size: 30px
    &-link
      width: 530px
      height: 100px
      margin: 0 auto 15px
      display: flex
      align-items: center
      justify-content: center
      font-size: 42px
      background: $white
      color: $violet
      border: 2px solid $violet
      transition: all 0.6s ease
      &:hover
        background: $violet
        border: 2px solid trasparent
        color: $white

.v-label
  max-height: 345px
  overflow: hidden
  position: relative
  z-index: 999
  &__title
    display: block
    position: relative
    padding: 10px 50px
    font-size: 32px
    line-height: 1.156
    cursor: pointer
    background: $violet
    transition: background 0.6s ease
    &:hover
      background: rgba($violet, 0.7)
    &::after
      content: url('../img/arrow.png')
      height: 35px
      position: absolute
      transform: translateY(-50%)
  &__text
    padding: 0 50px 30px
    font-size: 23px
    line-height: 1.609
    font-family: "bodoni"
    background: $violet
.v-label__open
  .v-label__title::after
    content: url('../img/arrow-down.png') !important
.v-v-label
  background: $violet
  max-height: 345px
  padding: 20px 80px
  position: relative
  text-align: center
  height: 230px
  box-sizing: border-box
  &__title
    font-size: 32px
    line-height: 1.156
  &__text
    font-size: 23px
    line-height: 1.609
    padding: 10px 0
// .v-img-first
//   right: -190px
//   top: -55px
//   width: 765px
// .v-img-second
//   left: -245px
//   top: -65px
//   width: 840px
// .v-img-third
//   right: -145px
//   top: -115px
//   width: 666px
// .v-img-fourth
//   left: -350px
//   top: -85px
//   width: 910px
// .v-img-fifth
//   right: -50px
//   top: 20px
//   width: 666px
// .v-img-sixth
//   left: -230px
//   top: 0px
//   width: 865px
.v-icons
  display: flex
  align-items: center
  justify-content: center
  height: 10px
  position: relative
  top: -5px
  left: 0
  z-index: 999
  &::before
    content: ''
    position: absolute
    border-top: 2px solid $white
    width: 100%
    top: 50%
    transform: rotateX(-50%)
    left: 0
  &__item
    position: relative
    display: flex
    width: 80px
    height: 80px
    border: 2px solid $white
    border-radius: 50%
    margin: 0 15px
    background: $blue

.v-img-icons
  display: flex
  align-items: center
  justify-content: flex-start
  height: 10px
  width: 700px
  position: absolute
  &::before
    content: ''
    position: absolute
    border-top: 2px solid $white
    width: 610px
    transform: rotateX(-50%)
  &__item
    position: relative
    display: flex
    align-items: center
    justify-content: center
    width: 80px
    height: 80px
    border: 2px solid $white
    border-radius: 50%
    margin: 0 15px
    background: $blue

#v-domovoy
  .v-img-icons
    right: 0
    top: 90%
    &::before
      right: 0


.v-facts
  width: 1100px
  margin: auto
  position: relative
  font-family: "agf"
  &__desc-back
    position: absolute
    width: 460px
    height: 100%
    top: 0
    left: 0
    background: rgba($violet, 0.5)
    padding: 35px 10px 0 55px
    box-sizing: border-box
  &__desc
    color: $white
    position: absolute
    top: 0
    left: 0
    width: 460px
    height: 400px
    padding: 25px 15px
    box-sizing: border-box
    overflow: hidden
  &__title
    font-size: 40px
    text-transform: uppercase
    line-height: 1.548
  &__text
    font-size: 23px
    line-height: 1.609
    margin-top: 190px
    padding: 0 10px 0 40px
    transition: all 0.6 ease
  &__item
    height: 520px
    overflow: hidden
  &__dots
    position: absolute
    bottom: 20px
    width: 100%
    text-align: center
  &__dot
    cursor: pointer
    height: 15px
    width: 15px
    margin: 0 3px
    background-color: $gray
    border-radius: 50%
    display: inline-block
    transition: background-color 0.6s ease
    &-active, &:hover
      background-color: $white
.v-slider
  width: 1100px
  margin: 10px auto 0
  position: relative
  font-family: "agf"
  background: url('../img/slider2.png') no-repeat
  background-position: center
  &__desc
    color: $white
    position: absolute
    bottom: 70px
    left: 0
    width: 100%
    height: 110px
    box-sizing: border-box
    overflow: hidden
  &__text
    font-size: 23px
    line-height: 1.609
    padding: 0 150px
  &__item
    height: 605px
    overflow: hidden
    text-align: center
  &__dots
    position: absolute
    bottom: 35px
    width: 100%
    text-align: center
  &__dot
    cursor: pointer
    height: 15px
    width: 15px
    margin: 0 3px
    background-color: $gray
    border-radius: 50%
    display: inline-block
    transition: background-color 0.6s ease
    &-active, &:hover
      background-color: $white
  &__prev,
  &__next
    cursor: pointer
    position: absolute
    bottom: 125px
    width: 45px
    height: 45px
  &__next
    right: 70px
    background: url('../img/arrow-right.png') no-repeat
    background-size: contain
  &__prev
    left: 90px
    background: url('../img/arrow-left.png') no-repeat
    background-size: contain

.v-fade
  animation-name: fade
  animation-duration: 1.5s
@keyframes fade
  from
    opacity: .4
  to
    opacity: 1

.v-footer
  width: 1100px
  margin: 275px auto 0
  &__link
    width: 420px
    height: 100px
    margin-left: 45px
    display: flex
    align-items: center
    justify-content: center
    font-size: 42px
    font-family: "agf"
    background: $violet
    border: 2px solid transparent
    transition: all 0.6s ease
    &:hover
      background: $white
      border: 2px solid $violet
      color: $violet
  &__desc
    background: $darkGray
    font-size: 19px
    font-family: "Open Sans Bold"

    text-transform: uppercase
    line-height: 2.105
    text-align: center
    padding: 30px 60px 50px
    margin-top: 105px
    box-sizing: border-box
  &__social
    background: $white
    color: $violet
    padding: 30px 60px 40px
    &-title
      font-size: 23px
      font-family: "agf"
      color: $darkGray
      line-height: 1.174
      text-align: center
    &-icons
      display: flex
      align-items: center
      justify-content: space-between
      width: 300px
      margin: 15px auto 0

.v-social-icon
  margin: 0 5px
  width: 35px
  height: 40px
  background: url('../img/social.png') no-repeat
  transition: opacity 0.6s ease
  &:hover
    opacity: 0.6
.v-social-vk
  width: 45px
  background-position: -107px 5px
.v-social-fb
  background-position: 0 0
.v-social-ok
  background-position: -30px 0
.v-social-tw
  background-position: -65px 5px









// @import "media"
