html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, img, footer, header, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  overflow-x: hidden; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: inherit; }

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none; }

*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none; }

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

.v-wrapper ::-moz-selection {
  background: rgba(111, 16, 52, 0.6);
  color: #fff; }

.v-wrapper ::selection {
  background: rgba(111, 16, 52, 0.6);
  color: #fff; }

.v-wrapper {
  background: url("../img/bg.png");
  background-size: cover;
  background-position: 50% -10px;
  width: 100%;
  padding-bottom: 130px;
  color: #fff;
  overflow: hidden; }

.v-clearfix:after {
  content: "";
  display: table;
  clear: both; }

.v-float-right {
  float: right; }

.v-decor, .v-decor2, .v-decor3, .v-decor4, .v-decor5 {
  text-align: center;
  margin: 15px 0;
  position: relative;
  -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease; }
  .v-decor .v-decor-line, .v-decor2 .v-decor-line, .v-decor3 .v-decor-line, .v-decor4 .v-decor-line, .v-decor5 .v-decor-line {
    position: absolute;
    width: 10px;
    height: 2px;
    background: #fff;
    top: 40%;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    left: 50%;
    z-index: 10;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease; }
  .v-decor .-active, .v-decor2 .-active, .v-decor3 .-active, .v-decor4 .-active, .v-decor5 .-active {
    width: 800px; }
  .v-decor img, .v-decor2 img, .v-decor3 img, .v-decor4 img, .v-decor5 img {
    position: relative;
    z-index: 99; }

.v-intro {
  background: rgba(6, 8, 9, 0.5);
  padding: 30px 0;
  margin: 425px auto 0;
  width: 1100px; }
  .v-intro__title {
    width: 500px;
    margin: 0 auto;
    font-size: 95px;
    font-family: "agf";
    text-transform: uppercase;
    line-height: 1.035;
    text-align: center; }
  .v-intro__text {
    width: 800px;
    margin: 0px auto 30px; }
    .v-intro__text p {
      padding: 0 15px;
      font-size: 19px;
      font-family: "Open Sans Bold", sans-serif;
      text-transform: uppercase;
      line-height: 2.105;
      text-align: center; }
  .v-intro__link {
    width: 310px;
    height: 100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 42px;
    font-family: "agf";
    background: #6f1034;
    border: 2px solid transparent;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease; }
    .v-intro__link:hover {
      background: #fff;
      border: 2px solid #6f1034;
      color: #6f1034; }

.v-block {
  font-family: "agf";
  margin: 0 auto;
  width: 1100px;
  background: rgba(6, 8, 9, 0.5); }
  .v-block.-first {
    margin-top: 50px; }
    .v-block.-first p:last-child {
      margin-top: 30px; }
  .v-block.-second {
    padding: 60px 0 0; }
  .v-block-second-i > div {
    position: relative; }
  .v-block-second-i .v-block__item-title {
    padding-left: 50px; }
  .v-block-second-i .v-block__item-text {
    padding: 10px 0px 20px 50px; }
  .v-block-second-i .v-label__title::after {
    right: 20px;
    top: 50%; }
  .v-block-second-i .v-float-right {
    text-align: right; }
    .v-block-second-i .v-float-right .v-label__title::after {
      left: 20px;
      -webkit-transform: scale(-1, 1);
          -ms-transform: scale(-1, 1);
              transform: scale(-1, 1);
      top: 25%; }
    .v-block-second-i .v-float-right .v-block__item-title {
      padding-right: 50px; }
    .v-block-second-i .v-float-right .v-block__item-text {
      padding: 10px 50px 20px 0px; }
  .v-block-second-v {
    width: 1100px;
    margin: 0 auto; }
  .v-block.-third .v-block__title-desc {
    padding: 60px 50px 20px; }
  .v-block-fourth {
    background: rgba(111, 16, 52, 0.5); }
  .v-block.-fifth {
    margin-top: 60px; }
  .v-block.-sixth {
    background: #fff;
    color: #6f1034;
    font-size: 38px;
    font-family: "agf";
    line-height: 1.711;
    text-align: center;
    padding: 25px 140px;
    box-sizing: border-box; }
  .v-block.-seventh {
    margin-top: 50px;
    background: transparent; }
    .v-block.-seventh .v-block__item {
      text-align: left;
      height: auto;
      width: 100%; }
    .v-block.-seventh p {
      width: 530px;
      padding-left: 50px;
      box-sizing: border-box; }
      .v-block.-seventh p:nth-child(3) {
        float: right;
        margin: 55px 0; }
  .v-block.-eighth {
    margin-top: 10px;
    padding: 40px;
    box-sizing: border-box;
    height: auto;
    overflow: hidden; }
    .v-block.-eighth .v-block__desc {
      font-size: 32px;
      font-family: "bodoni";
      line-height: 1.438;
      text-align: center; }
  .v-block__desc {
    font-size: 23px;
    line-height: 1.609;
    padding: 30px 50px; }
  .v-block__video {
    height: 540px;
    position: relative;
    overflow: hidden; }
    .v-block__video:hover .v-block__video-btn {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .v-block__video-btn {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      margin: -35px 0 0 -65px;
      width: 120px;
      height: 85px;
      z-index: 30;
      cursor: pointer;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      -webkit-transition: all 0.6s ease;
              transition: all 0.6s ease; }
    .v-block__video-poster {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 20;
      cursor: pointer; }
    .v-block__video-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0; }
    .v-block__video-desc {
      background: rgba(111, 16, 52, 0.5);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 40;
      width: 470px;
      height: 100%;
      padding: 40px 45px;
      box-sizing: border-box;
      font-size: 23px;
      font-family: "agf";
      line-height: 1.609;
      overflow: hidden; }
  .v-block__title {
    font-size: 46px;
    font-family: "agf";
    text-transform: uppercase;
    line-height: 1;
    text-align: center; }
    .v-block__title-desc {
      text-transform: uppercase;
      text-align: center;
      font-size: 19px;
      font-family: "Open Sans Bold", sans-serif;
      padding: 15px 50px 40px;
      line-height: 2;
      position: relative;
      z-index: 999; }
    .v-block__title br {
      display: none; }
  .v-block__item {
    width: 495px;
    height: 610px;
    font-family: "agf"; }
    .v-block__item-wrapper {
      width: 1100px;
      margin: 0 auto;
      position: relative; }
    .v-block__item-title {
      font-size: 42px;
      text-transform: uppercase;
      line-height: 1.548;
      position: relative; }
    .v-block__item-text {
      font-size: 22px;
      line-height: 1.609;
      margin-top: 15px;
      position: relative; }
    .v-block__item-v {
      position: relative; }
      .v-block__item-v:nth-child(odd) .v-block__item-v__wrapper {
        float: right;
        padding-left: 20px;
        box-sizing: border-box; }
      .v-block__item-v__wrapper {
        width: 500px;
        margin: 25px 50px;
        font-family: "agf"; }
      .v-block__item-v .v-block__item-text p:last-child {
        margin-top: 35px; }
  .v-block__test {
    font-family: "agf";
    text-align: center; }
    .v-block__test > span {
      font-size: 30px; }
    .v-block__test-link {
      width: 530px;
      height: 100px;
      margin: 0 auto 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 42px;
      background: #fff;
      color: #6f1034;
      border: 2px solid #6f1034;
      -webkit-transition: all 0.6s ease;
              transition: all 0.6s ease; }
      .v-block__test-link:hover {
        background: #6f1034;
        border: 2px solid trasparent;
        color: #fff; }

.v-label {
  max-height: 345px;
  overflow: hidden;
  position: relative;
  z-index: 999; }
  .v-label__title {
    display: block;
    position: relative;
    padding: 10px 50px;
    font-size: 32px;
    line-height: 1.156;
    cursor: pointer;
    background: #6f1034;
    -webkit-transition: background 0.6s ease;
            transition: background 0.6s ease; }
    .v-label__title:hover {
      background: rgba(111, 16, 52, 0.7); }
    .v-label__title::after {
      background: url("../img/arrow.png") no-repeat;
      background-size: contain;
      display: inline-block;
      width: 20px;
      height: 30px;
      content: "";
      position: absolute;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
  .v-label__text {
    padding: 0 50px 30px;
    font-size: 23px;
    line-height: 1.609;
    font-family: "bodoni";
    background: #6f1034;
    visibility: hidden; }

.-label-active ~ .v-label__text {
  visibility: visible; }
.-label-active::after {
  width: 30px;
  height: 20px;
  background: url("../img/arrow-down.png") no-repeat !important;
  background-size: contain; }

.v-v-label {
  background: #6f1034;
  max-height: 345px;
  padding: 20px 80px;
  position: relative;
  text-align: center;
  height: 230px;
  box-sizing: border-box; }
  .v-v-label__title {
    font-size: 32px;
    line-height: 1.156; }
  .v-v-label__text {
    font-size: 23px;
    line-height: 1.609;
    padding: 10px 0; }

.v-devider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10px;
  position: relative;
  top: -5px;
  left: 0;
  z-index: 999; }
  .v-devider::before {
    content: "";
    position: absolute;
    border-top: 2px solid #fff;
    width: 100%;
    top: 50%;
    -webkit-transform: rotateX(-50%);
            transform: rotateX(-50%);
    left: 0; }

.v-img-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 10px;
  width: 45%;
  position: absolute;
  visibility: hidden; }
  .v-img-icons::before {
    content: "";
    position: absolute;
    border-top: 2px solid #fff;
    width: 95%;
    -webkit-transform: rotateX(-50%);
            transform: rotateX(-50%); }
  .v-img-icons__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 15px;
    background: #0b1b25;
    overflow: hidden; }
    .v-img-icons__item img {
      max-width: 100%;
      height: auto; }

.v-slide-right {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  visibility: visible; }

.v-slide-left {
  -webkit-animation-name: slideLeft;
          animation-name: slideLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  visibility: visible; }

@-webkit-keyframes slideLeft {
  from {
    left: -100%; }
  to {
    left: 0; } }

@keyframes slideLeft {
  from {
    left: -100%; }
  to {
    left: 0; } }
@-webkit-keyframes slideRight {
  from {
    right: -100%; }
  to {
    right: 0; } }
@keyframes slideRight {
  from {
    right: -100%; }
  to {
    right: 0; } }
#v-domovoy .v-img-icons, #v-demon .v-img-icons {
  right: 0;
  top: 80%; }
  #v-domovoy .v-img-icons::before, #v-demon .v-img-icons::before {
    right: 0; }

#v-rusalka .v-img-icons, #v-oboroten .v-img-icons {
  left: 0;
  top: 60%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  #v-rusalka .v-img-icons::before, #v-oboroten .v-img-icons::before {
    left: 0; }

.v-facts {
  width: 1100px;
  margin: auto;
  position: relative;
  font-family: "agf"; }
  .v-facts__desc-back {
    position: absolute;
    width: 460px;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(111, 16, 52, 0.5);
    padding: 35px 10px 0 55px;
    box-sizing: border-box; }
  .v-facts__desc {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 460px;
    height: 400px;
    padding: 25px 15px;
    box-sizing: border-box;
    overflow: hidden; }
  .v-facts__title {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.548; }
  .v-facts__text {
    font-size: 23px;
    line-height: 1.609;
    margin-top: 190px;
    padding: 0 10px 0 40px;
    -webkit-transition: all 0.6 ease;
            transition: all 0.6 ease; }
  .v-facts__item {
    height: 520px;
    overflow: hidden; }
  .v-facts__dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center; }
  .v-facts__dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: #8d8689;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
            transition: background-color 0.6s ease; }
    .v-facts__dot-active, .v-facts__dot:hover {
      background-color: #fff; }
  .v-facts__prev, .v-facts__next {
    cursor: pointer;
    position: absolute;
    bottom: 125px;
    width: 45px;
    height: 45px;
    display: none; }
  .v-facts__next {
    right: 10px;
    background: url("../img/arrow-right.png") no-repeat;
    background-size: contain; }
  .v-facts__prev {
    left: 10px;
    background: url("../img/arrow-left.png") no-repeat;
    background-size: contain; }

.v-slider {
  width: 1100px;
  margin: 10px auto 0;
  position: relative;
  font-family: "agf";
  background: url("../img/slider2.png") no-repeat;
  background-position: center; }
  .v-slider__desc {
    color: #fff;
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    overflow: hidden; }
  .v-slider__text {
    font-size: 23px;
    line-height: 1.609;
    padding: 0 150px; }
  .v-slider__item {
    height: 605px;
    overflow: hidden;
    text-align: center; }
  .v-slider__dots {
    position: absolute;
    bottom: 35px;
    width: 100%;
    text-align: center; }
  .v-slider__dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: #8d8689;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
            transition: background-color 0.6s ease; }
    .v-slider__dot-active, .v-slider__dot:hover {
      background-color: #fff; }
  .v-slider__prev, .v-slider__next {
    cursor: pointer;
    position: absolute;
    bottom: 125px;
    width: 45px;
    height: 45px; }
  .v-slider__next {
    right: 70px;
    background: url("../img/arrow-right.png") no-repeat;
    background-size: contain; }
  .v-slider__prev {
    left: 90px;
    background: url("../img/arrow-left.png") no-repeat;
    background-size: contain; }

.v-fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
.v-footer {
  width: 1100px;
  margin: 275px auto 0; }
  .v-footer__link {
    width: 420px;
    height: 100px;
    margin-left: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 42px;
    font-family: "agf";
    background: #6f1034;
    border: 2px solid transparent;
    -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease; }
    .v-footer__link:hover {
      background: #fff;
      border: 2px solid #6f1034;
      color: #6f1034; }
  .v-footer__desc {
    background: #060809;
    font-size: 19px;
    font-family: "Open Sans Bold";
    text-transform: uppercase;
    line-height: 2.105;
    text-align: center;
    padding: 30px 60px 50px;
    margin-top: 105px;
    box-sizing: border-box; }
  .v-footer__social {
    background: #fff;
    color: #6f1034;
    padding: 30px 60px 40px; }
    .v-footer__social-title {
      font-size: 23px;
      font-family: "agf";
      color: #060809;
      line-height: 1.174;
      text-align: center; }
    .v-footer__social-icons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 300px;
      margin: 15px auto 0; }

.v-social-icon {
  margin: 0 5px;
  width: 35px;
  height: 40px;
  background: url("../img/social.png") no-repeat;
  -webkit-transition: opacity 0.6s ease;
          transition: opacity 0.6s ease; }
  .v-social-icon:hover {
    opacity: 0.6; }

.v-social-vk {
  width: 45px;
  background-position: -107px 5px; }

.v-social-fb {
  background-position: 0 0; }

.v-social-ok {
  background-position: -30px 0; }

.v-social-tw {
  background-position: -65px 5px; }

@media only screen and (max-width: 769px) {
  .v-intro, .v-block, .v-block-second-v, .v-block__item-wrapper, .v-facts, .v-slider, .v-footer {
    width: 100%; }

  .v-wrapper {
    background: #060809; }

  .v-intro {
    margin-top: 0;
    padding: 55px 0; }
    .v-intro__title {
      width: 100%;
      font-size: 70px; }
    .v-intro__text {
      width: 100%; }
      .v-intro__text p {
        padding: 0 3px;
        font-size: 28px; }
    .v-intro__link {
      margin: 255px auto 0; }

  .v-decor img, .v-decor2 img, .v-decor3 img, .v-decor4 img, .v-decor5 img {
    height: 60px; }
  .v-decor .v-decor-line, .v-decor2 .v-decor-line, .v-decor3 .v-decor-line, .v-decor4 .v-decor-line, .v-decor5 .v-decor-line {
    top: 43%; }

  .v-block.-first {
    margin-top: 180px; }
    .v-block.-first .v-block__desc {
      padding: 30px 3px; }
  .v-block__desc {
    font-size: 34px; }
  .v-block__video {
    height: 50vw;
    overflow: visible;
    margin-top: 585px; }
    .v-block__video-desc {
      top: -495px;
      width: 100%;
      height: 495px;
      padding: 15px 3px;
      font-size: 34px; }
  .v-block__title {
    font-size: 70px; }
    .v-block__title-desc {
      padding: 5px 3px 25px;
      font-size: 28px; }
    .v-block__title br {
      display: block; }
  .v-block__item {
    height: 1200px;
    width: 100%; }
    .v-block__item-title {
      font-size: 60px; }
    .v-block__item-text {
      font-size: 34px; }
  .v-block__item-title, .v-block__item-text {
    background: rgba(6, 8, 9, 0.5); }
  .v-block__item-text {
    margin: 0; }
  .v-block-second-i .v-block__item-text,
  .v-block-second-i .v-float-right .v-block__item-text {
    padding: 0px 3px 15px; }
  .v-block-second-i .v-block__item-title {
    padding-left: 3px; }
  .v-block-second-v .v-block__item-text {
    background: transparent; }
  .v-block__test-link {
    width: 310px; }
  .v-block__test > span {
    font-size: 34px; }
  .v-block__item-v__wrapper {
    width: 100%;
    margin: 25px 3px; }
  .v-block__item-v:nth-child(odd) .v-block__item-v__wrapper {
    float: none;
    padding-left: 0; }
  .v-block.-third .v-block__title-desc {
    padding: 80px 3px 40px; }
  .v-block.-sixth {
    padding: 25px 3px; }
  .v-block.-seventh p {
    width: 100%;
    padding-left: 3px; }
    .v-block.-seventh p:nth-child(3) {
      float: right;
      margin: 350px 0; }
  .v-block.-seventh .v-block__item-text {
    background: transparent; }
  .v-block.-eighth {
    padding: 40px 3px; }
    .v-block.-eighth .v-block__desc {
      padding: 30px 0px; }

  .v-v-label {
    margin-top: 300px;
    max-height: 100%;
    padding: 20px 25px 80px;
    height: auto; }
    .v-v-label__title {
      font-size: 45px; }
    .v-v-label__text {
      font-size: 32px; }

  .v-img-icons {
    width: 90%; }
    .v-img-icons::before {
      width: 90%; }
    .v-img-icons__item {
      width: 15vw;
      height: 15vw; }

  #v-domovoy .v-img-icons, #v-demon .v-img-icons, #v-rusalka .v-img-icons, #v-oboroten .v-img-icons {
    top: 90%; }

  #v-rusalka, #v-demon, #v-oboroten {
    margin: 30px 0; }

  .v-img-icons {
    left: 0;
    top: 60%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .v-img-icons::before {
      left: 0; }

  .v-label {
    margin-right: 30px; }
    .v-label__title {
      padding: 30px 3px;
      font-size: 40px; }
    .v-label__text {
      padding: 0 3px 30px;
      font-size: 34px; }

  .v-facts {
    margin-top: 410px; }
    .v-facts__title {
      font-size: 8vw;
      text-align: center;
      line-height: 1; }
    .v-facts__text {
      font-size: 28px;
      margin-top: 0;
      padding: 0 3px 0 3px;
      line-height: 1.2; }
    .v-facts__item {
      height: 335px; }
    .v-facts__dots {
      top: -50px;
      bottom: 0; }
    .v-facts__desc {
      top: -250px;
      padding: 25px 0px;
      height: 200px;
      width: 100%; }
      .v-facts__desc-back {
        height: 395px;
        width: 100%;
        top: -395px;
        padding: 35px 3px 0 3px; }
    .v-facts__prev, .v-facts__next {
      display: block; }
    .v-facts__dot {
      height: 20px;
      width: 20px; }

  .v-slider__dot {
    height: 20px;
    width: 20px; }
  .v-slider__prev {
    left: 10px; }
  .v-slider__next {
    right: 10px; }
  .v-slider__desc {
    bottom: 90px;
    height: 145px; }
  .v-slider__text {
    padding: 0 55px; }

  .v-footer__desc {
    padding: 30px 3px 50px;
    font-size: 28px; }
  .v-footer__link {
    margin: 0 auto; }
  .v-footer__social {
    padding: 30px 3px 40px; }
  .v-footer__social-title {
    font-size: 40px; }
  .v-footer__social-icons {
    width: 100%; }

  .v-social-icon {
    width: 65px;
    height: 75px;
    background-size: cover; }
  .v-social-vk {
    background-position: -165px 5px; }
  .v-social-fb {
    background-position: 12px 0; }
  .v-social-ok {
    width: 60px;
    background-position: -40px 0; }
  .v-social-tw {
    background-position: -95px 5px; } }
