html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, img, footer, header, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  overflow-x: hidden; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: inherit; }

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none; }

*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none; }

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

.v-wrapper ::-moz-selection {
  background: rgba(111, 16, 52, 0.6);
  color: #fff; }

.v-wrapper ::selection {
  background: rgba(111, 16, 52, 0.6);
  color: #fff; }

.v-wrapper {
  background: url("../img/bg.png");
  background-size: cover;
  background-position: 50% -10px;
  width: 100%;
  padding-bottom: 130px;
  color: #fff;
  overflow: hidden; }

.v-clearfix:after {
  content: "";
  display: table;
  clear: both; }

.v-intro {
  background: rgba(6, 8, 9, 0.5);
  padding: 30px 0;
  margin: 200px auto 0;
  max-width: 1060px; }
  .v-intro__title {
    width: 500px;
    margin: 0 auto;
    font-size: 95px;
    font-family: "agf";
    text-transform: uppercase;
    line-height: 1.035;
    text-align: center; }
  .v-intro__text {
    background: url("../img/dec.png") no-repeat;
    background-position: top;
    background-size: 768px;
    padding-top: 45px;
    width: 768px;
    margin: 15px auto 30px; }
    .v-intro__text p {
      padding: 0 15px;
      font-size: 19px;
      font-family: "Open Sans Bold", sans-serif;
      text-transform: uppercase;
      line-height: 2.105;
      text-align: center; }
  .v-intro__link {
    width: 310px;
    height: 100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 42px;
    font-family: "agf";
    background: #6f1034;
    -webkit-transition: background 0.6s ease;
            transition: background 0.6s ease; }
    .v-intro__link:hover {
      background: rgba(111, 16, 52, 0.9); }

.v-block {
  font-family: "agf";
  margin: 0 auto;
  max-width: 1060px;
  background: rgba(6, 8, 9, 0.5); }
  .v-block.-first {
    margin-top: 40px; }
    .v-block.-first p:last-child {
      margin-top: 30px; }
  .v-block.-second {
    padding: 60px 0 0; }
  .v-block.-third .v-block__title-desc {
    padding: 60px 50px 20px; }
  .v-block-fourth {
    background: rgba(111, 16, 52, 0.5); }
  .v-block.-fifth {
    margin-top: 60px; }
  .v-block.-sixth {
    background: #fff;
    color: #6f1034;
    font-size: 38px;
    font-family: "agf";
    line-height: 1.711;
    text-align: center;
    padding: 25px 140px;
    box-sizing: border-box; }
  .v-block.-seventh {
    margin-top: 50px;
    background: transparent; }
    .v-block.-seventh .v-block__item {
      text-align: left;
      height: auto; }
    .v-block.-seventh p {
      width: 530px;
      padding-left: 50px;
      box-sizing: border-box; }
      .v-block.-seventh p:nth-child(3) {
        float: right;
        margin: 55px 0; }
  .v-block.-eighth {
    margin-top: 10px;
    padding: 40px;
    box-sizing: border-box;
    max-height: 330px;
    overflow: hidden; }
    .v-block.-eighth .v-block__desc {
      font-size: 32px;
      font-family: "bodoni";
      line-height: 1.438;
      text-align: center; }
  .v-block__desc {
    font-size: 23px;
    line-height: 1.609;
    padding: 30px 50px; }
  .v-block__video {
    height: 500px; }
  .v-block__title {
    font-size: 46px;
    font-family: "agf";
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    background: url("../img/dec.png") no-repeat;
    background-position: bottom;
    background-size: 768px;
    padding-bottom: 50px; }
    .v-block__title-desc {
      text-transform: uppercase;
      text-align: center;
      font-size: 19px;
      font-family: "Open Sans Bold", sans-serif;
      padding: 15px 50px 40px;
      line-height: 2; }
  .v-block__item {
    width: 100%;
    height: 610px;
    position: relative;
    font-family: "agf"; }
    .v-block__item__wrapper {
      width: 495px; }
    .v-block__item:nth-child(even) {
      text-align: right; }
      .v-block__item:nth-child(even) .v-block__item-title {
        padding-right: 50px; }
      .v-block__item:nth-child(even) .v-block__item-text {
        padding: 10px 50px 20px 0px; }
      .v-block__item:nth-child(even) .v-label__title::after {
        left: 20px;
        -webkit-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
                transform: scale(-1, 1);
        top: 25%; }
      .v-block__item:nth-child(even) .v-block__item__wrapper {
        float: right; }
    .v-block__item:nth-child(odd) .v-block__item-title {
      padding-left: 50px; }
    .v-block__item:nth-child(odd) .v-block__item-text {
      padding: 10px 0px 20px 50px; }
    .v-block__item:nth-child(odd) .v-label__title::after {
      right: 20px;
      top: 50%; }
    .v-block__item-img {
      position: absolute; }
    .v-block__item-title {
      font-size: 42px;
      text-transform: uppercase;
      line-height: 1.548; }
    .v-block__item-text {
      font-size: 22px;
      line-height: 1.609;
      margin-top: 15px; }
    .v-block__item-vamp {
      position: relative; }
      .v-block__item-vamp:nth-child(odd) .v-block__item-vamp__wrapper {
        float: right;
        padding-left: 20px;
        box-sizing: border-box; }
      .v-block__item-vamp__wrapper {
        width: 500px;
        margin: 25px 50px; }
      .v-block__item-vamp .v-block__item-text p:last-child {
        margin-top: 35px; }
  .v-block__test {
    font-family: "agf";
    text-align: center; }
    .v-block__test > span {
      font-size: 30px; }
    .v-block__test-link {
      width: 530px;
      height: 100px;
      margin: 0 auto 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 42px;
      background: #fff;
      color: #6f1034; }

.v-label {
  background: #6f1034;
  max-height: 345px;
  overflow: hidden;
  position: relative;
  z-index: 999; }
  .v-label__title {
    display: block;
    position: relative;
    padding: 10px 50px;
    font-size: 32px;
    line-height: 1.156;
    cursor: pointer; }
    .v-label__title::after {
      content: url("../img/arrow.png");
      height: 35px;
      position: absolute;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
  .v-label__text {
    padding: 0 50px 30px;
    font-size: 23px;
    line-height: 1.609;
    font-family: "bodoni"; }

.v-label__open .v-label__title::after {
  content: url("../img/arrow-down.png") !important; }

.v-vamp-label {
  background: #6f1034;
  max-height: 345px;
  padding: 20px 80px;
  position: relative;
  text-align: center;
  height: 230px;
  box-sizing: border-box; }
  .v-vamp-label__title {
    font-size: 32px;
    line-height: 1.156; }
  .v-vamp-label__text {
    font-size: 23px;
    line-height: 1.609;
    padding: 10px 0; }

.v-img-first {
  right: -190px;
  top: -55px;
  width: 765px; }

.v-img-second {
  left: -245px;
  top: -65px;
  width: 840px; }

.v-img-third {
  right: -145px;
  top: -115px;
  width: 666px; }

.v-img-fourth {
  left: -350px;
  top: -85px;
  width: 910px; }

.v-img-fifth {
  right: -50px;
  top: 20px;
  width: 666px; }

.v-img-sixth {
  left: -230px;
  top: 0px;
  width: 865px; }

.v-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10px;
  position: relative;
  top: -5px;
  left: 0; }
  .v-icons::before {
    content: "";
    position: absolute;
    border-top: 2px solid #fff;
    width: 100%;
    top: 50%;
    -webkit-transform: rotateX(-50%);
            transform: rotateX(-50%);
    left: 0; }
  .v-icons__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 15px;
    background: #6f1034; }

.v-facts {
  max-width: 1060px;
  margin: auto;
  position: relative;
  font-family: "agf"; }
  .v-facts__desc-back {
    position: absolute;
    width: 460px;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(111, 16, 52, 0.5);
    padding: 35px 10px 0 55px;
    box-sizing: border-box; }
  .v-facts__desc {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 460px;
    height: 400px;
    padding: 25px 15px;
    box-sizing: border-box;
    overflow: hidden; }
  .v-facts__title {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.548; }
  .v-facts__text {
    font-size: 23px;
    line-height: 1.609;
    margin-top: 190px;
    padding: 0 10px 0 40px; }
  .v-facts__item {
    height: 520px;
    overflow: hidden; }
  .v-facts__dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center; }
  .v-facts__dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: #8d8689;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
            transition: background-color 0.6s ease; }
    .v-facts__dot-active, .v-facts__dot:hover {
      background-color: #fff; }

.v-slider {
  max-width: 1060px;
  margin: 10px auto 0;
  position: relative;
  font-family: "agf"; }
  .v-slider__desc {
    color: #fff;
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    overflow: hidden; }
  .v-slider__text {
    font-size: 23px;
    line-height: 1.609;
    padding: 0 150px; }
  .v-slider__item {
    height: 605px;
    overflow: hidden;
    text-align: center; }
  .v-slider__dots {
    position: absolute;
    bottom: 35px;
    width: 100%;
    text-align: center; }
  .v-slider__dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: #8d8689;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
            transition: background-color 0.6s ease; }
    .v-slider__dot-active, .v-slider__dot:hover {
      background-color: #fff; }
  .v-slider__prev, .v-slider__next {
    cursor: pointer;
    position: absolute;
    bottom: 125px;
    width: 45px;
    height: 45px; }
  .v-slider__next {
    right: 70px;
    background: url("../img/arrow-right.png") no-repeat;
    background-size: contain; }
  .v-slider__prev {
    left: 90px;
    background: url("../img/arrow-left.png") no-repeat;
    background-size: contain; }

.v-fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
.v-footer {
  max-width: 1060px;
  margin: 275px auto 0; }
  .v-footer__link {
    width: 420px;
    height: 100px;
    margin-left: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 42px;
    font-family: "agf";
    background: #6f1034;
    -webkit-transition: background 0.6s ease;
            transition: background 0.6s ease; }
    .v-footer__link:hover {
      background: rgba(111, 16, 52, 0.9); }
  .v-footer__desc {
    background: #060809;
    font-size: 19px;
    font-family: "Open Sans Bold";
    text-transform: uppercase;
    line-height: 2.105;
    text-align: center;
    padding: 30px 60px 50px;
    margin-top: 105px;
    box-sizing: border-box; }
  .v-footer__social {
    background: #fff;
    color: #6f1034;
    padding: 30px 60px 40px; }
    .v-footer__social-title {
      font-size: 23px;
      font-family: "agf";
      color: #060809;
      line-height: 1.174;
      text-align: center; }
    .v-footer__social-icons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 300px;
      margin: 15px auto 0; }

.v-social-icon {
  margin: 0 5px;
  width: 35px;
  height: 40px;
  background: url("../img/social.png") no-repeat;
  -webkit-transition: opacity 0.6s ease;
          transition: opacity 0.6s ease; }
  .v-social-icon:hover {
    opacity: 0.9; }

.v-social-vk {
  width: 45px;
  background-position: -107px 5px; }

.v-social-fb {
  background-position: 0 0; }

.v-social-ok {
  background-position: -30px 0; }

.v-social-tw {
  background-position: -65px 5px; }
