/*@font-face {
	font-family: 'u-bold';
	src: url('fonts/u-bold/u-bold.eot');
	src:  url('fonts/u-bold/u-bold.woff') format('woff'), url('fonts/u-bold/u-bold.ttf') format('truetype'), url('fonts/u-bold/u-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'u-it';
	src: url('fonts/u-it/u-it.eot');
	src:  url('fonts/u-it/u-it.woff') format('woff'), url('fonts/u-it/u-it.ttf') format('truetype'), url('fonts/u-it/u-it.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'u-light';
	src: url('fonts/u-light/u-light.eot');
	src:  url('fonts/u-light/u-light.woff') format('woff'), url('fonts/u-light/u-light.ttf') format('truetype'), url('fonts/u-light/u-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'u-med';
	src: url('fonts/u-med/u-med.eot');
	src:  url('fonts/u-med/u-med.woff') format('woff'), url('fonts/u-med/u-med.ttf') format('truetype'), url('fonts/u-med/u-med.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'u-reg';
	src: url('fonts/u-reg/u-reg.eot');
	src:   url('fonts/u-reg/u-reg.woff') format('woff'), url('fonts/u-reg/u-reg.ttf') format('truetype'), url('fonts/u-reg/u-reg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
