$violet: #75174D
$pink: #e7b1bb
$pale: #ece7e1
$white: #fff
$black: #000

@media only screen and (max-width: 769px)

  .header, .section-1
    width: 100%

  .hamburger
    width: 60px
    height: 30px
    span
      &:nth-child(1)
        top: 0px
      &:nth-child(2), &:nth-child(3)
        top: 15px
      &:nth-child(4)
        top: 30px

  .section-container .section-title
    font-size: 4em

  #section-2
    .about
      &__item
        padding: 15px 70px
        &:nth-child(odd)
          flex-direction: row-reverse
        .content
          font-size: 2em
        .img
          height: 150px
          width: 150px
          background-size: 80% !important
          background-position: center !important
      > div
        flex-direction: column
  #section-3
    height: auto

  .header-logo
    font-size: 4em
    .title__v::before
      width: 95px
      height: 95px
      left: -30px
      bottom: -7px
  .title__tz
    display: none
  .title__tz-min
    display: inline-block !important
  .header-nav .menu .menu-link
    font-size: 2em

  .header-nav .menu li
    display: block
    padding: 7px 0

  .filter-controls
    padding: 0px
    width: 100%
    height: auto
    flex-wrap: wrap
    .filter
      font-size: 28px
      flex: 1 1 200px
      max-width: 245px
      height: 115px
  #brands-filter, #section-2 .about
    width: 100%
  #brands-filter
    padding: 20px 0
    .mix, .gap
      width: 49%

  .detail-brand
    h2
      font-size: 28px
    p
      font-size: 17px

  .slider-nav, .slider-for
    width: 768px
  .slider-nav
    // max-height: 105px
    overflow: hidden
    img
      width: 95%
      margin: 0 auto

  .slider-for
    padding: 0
    img
      width: 100%

  .slick-arrow
    background: radial-gradient(ellipse at center, rgba($violet,0.2) 0%,rgba($violet,0) 100%)
  .fa-angle-double-left:before,
  .fa-angle-double-right:before
    font-size: 35px
    color: $white
    z-index: 999
    font-size: 60px
  .fa-angle-double-left:before
    left: 25px
  .next
    right: 0px
  .prev
    left: 0px

  .contacts
    width: 100% !important
    // padding: 0 3%
    &__tabs
      label
        float: none
        width: 100%
        font-size: 28px
        &:nth-child(4)
          border-top: 1px solid $white
          border-bottom: 1px solid $white
          border-right: none
          border-left: none
      [id^="tab"]:checked + label > span::after
        border: none
      .tab-content
        font-size: 28px
  .customer
    &::after
      background: url("../img/shopper.jpg") center center no-repeat
      width: 100%
      height: 100%
      top: 0
      left: 0
      opacity: 0.1
      border-radius: 0
    > div
      max-width: 100%
      flex-direction: column
      align-items: center
      margin-right: 0
  .rent
    &::before
      background: url("../img/for-rent.png") center center no-repeat
      width: 100%
      height: 100%
      top: 0
      left: 0
      opacity: 0.05
      border-radius: 0
  .rent-inner
    align-items: center
    text-align: left !important
    padding: 40px 80px
    > div, a
      width: 100%

  .contacts-decor
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0)
    clip-path: polygon(50% 50%, 0 0, 100% 0)

@media all and (max-width: 640px)
  // #brands-filter
  //   .mix, .gap
  //     width: 50%

  .filter-controls .filter
    flex: 1 1 100px
    max-width: 150px

@media all and (max-width: 480px)
  .filter-controls .filter
    font-size: 14px

  .header-logo
    font-size: 2em
    .title__v::before
      width: 60px
      height: 60px
      bottom: -6px
      left: -23px
  .header-nav .menu .menu-link
    font-size: 1.5em
