@media only screen and (max-width: 768px) {
  .wrapper {
    width: 768px; }

  .header, .section-1, .rent, .contacts {
    width: 100%; }

  .section-container .section-title {
    font-size: 70px; }

  #section-3 {
    height: auto; }

  .title__tz {
    display: none; }

  .title__tz-min {
    display: inline-block !important; }

  .filter-controls {
    padding: 0px;
    width: 100%;
    height: auto;
    flex-wrap: wrap; }
    .filter-controls .active::after {
      border-top: 0px; }
    .filter-controls .filter {
      font-size: 34px;
      flex: 1 1 245px;
      max-width: 300px;
      height: 130px;
      font-weight: 700; }

  #brands-filter, #section-2 .about {
    width: 100%; }

  #brands-filter {
    padding: 20px 0; }
    #brands-filter .mix, #brands-filter .gap {
      width: 49%; }

  .detail-brand h2 {
    font-size: 28px; }
  .detail-brand p {
    font-size: 17px; }

  .slider-nav, .slider-for {
    width: 768px; }

  .slider-nav {
    padding: 0px;
    overflow: hidden; }
    .slider-nav img {
      width: 95%;
      margin: 0 auto; }

  .slider-for {
    padding: 0; }
    .slider-for img {
      width: 100%; }

  .slick-arrow {
    background: radial-gradient(ellipse at center, rgba(117, 23, 77, 0.2) 0%, rgba(117, 23, 77, 0) 100%); }

  .fa-angle-left:before,
  .fa-angle-right:before {
    color: #fff;
    z-index: 999;
    font-size: 120px; }

  .fa-angle-left:before {
    left: 10px; }

  .fa-angle-right:before {
    right: 15px; }

  .next {
    right: 0px;
    top: 0; }

  .prev {
    left: 0px;
    top: 0; }

  .contacts {
    width: 100% !important; }
    .contacts__tabs [id^="tab"]:checked + label > span::after {
      position: absolute;
      bottom: -30px; }
    .contacts__tabs label {
      font-size: 40px;
      font-weight: 700;
      padding: 50px 15px; }
    .contacts__tabs .tab-content {
      font-size: 44px;
      padding: 40px 60px; }

  .customer::after {
    width: 700px;
    height: 600px;
    background-size: cover;
    right: 0;
    opacity: 0.2; }
  .customer > div {
    max-width: 100%;
    flex-direction: column;
    margin-right: 0; }

  .rent {
    background: transparent; }
    .rent-inner {
      align-items: center;
      text-align: left !important;
      padding: 0px 60px;
      background: rgba(255, 255, 255, 0.5);
      font-size: 44px; }
      .rent-inner > div,
      .rent-inner .rent-link {
        width: 100%; }

  .contacts-decor {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0);
    clip-path: polygon(50% 50%, 0 0, 100% 0); } }
@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #section-2 .about-extra .about__item .content {
    width: 100%;
    padding: 0 30px; }
  #section-2 .about__item {
    padding: 15px 0px 45px;
    width: 100%; }
    #section-2 .about__item:nth-child(odd), #section-2 .about__item:nth-child(even) {
      flex-direction: column-reverse;
      padding: 0 0 30px; }
    #section-2 .about__item .content {
      font-size: 44px;
      max-width: 80%;
      width: 80%;
      box-sizing: border-box;
      text-align: center; }
    #section-2 .about__item .img {
      height: 200px;
      width: 285px;
      background-size: 65% !important;
      background-position: center !important; }
    #section-2 .about__item .img-market {
      height: 110px; }
  #section-2 .about > div {
    flex-direction: column;
    padding: 0; }

  .header-nav .menu {
    height: 100vh;
    overflow-x: scroll; }
    .header-nav .menu-inner {
      flex-direction: column; }
    .header-nav .menu li {
      padding: 15px 0; }
    .header-nav .menu .menu-link {
      font-size: 3em; }

  .header-logo {
    font-size: 80px; }
    .header-logo .title__v::before {
      left: -35px;
      bottom: -20px;
      width: 105px;
      height: 155px; }

  .hamburger {
    width: 85px;
    height: 40px; }
    .hamburger span:nth-child(1) {
      top: 0px; }
    .hamburger span:nth-child(2), .hamburger span:nth-child(3) {
      top: 15px; }
    .hamburger span:nth-child(4) {
      top: 30px; } }
@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .header-nav .menu {
    height: auto;
    overflow-x: hidden; }
    .header-nav .menu li {
      display: inline-block;
      padding: 7px 0; }
    .header-nav .menu .menu-link {
      font-size: 30px; }

  .header-logo {
    font-size: 70px; }
    .header-logo .title__v::before {
      left: -35px;
      bottom: -28px;
      width: 105px;
      height: 155px; }

  .hamburger {
    width: 85px;
    height: 40px; }
    .hamburger span:nth-child(1) {
      top: 0px; }
    .hamburger span:nth-child(2), .hamburger span:nth-child(3) {
      top: 15px; }
    .hamburger span:nth-child(4) {
      top: 30px; } }
