$violet: #75174D
$pink: #e7b1bb
$pale: #ece7e1
$white: #fff
$black: #000

@media only screen and (min-width: 769px)
  .customer
    flex-direction: column

@media only screen and (max-width: 768px)

  .wrapper
    width: 768px

  .header, .section-1, .rent, .contacts
    width: 100%

  #section-3
    height: 100%
    min-height: 100%

  #section-6
    background: transparent


  // .header-nav
  //   .menu li:hover .menu-link::after
  //     border-top: 0px

  .header-logo
    // .title__v::before
    //   width: 105px
    //   height: 155px
  .title__tz
    display: none
  .title__tz-min
    display: inline-block !important

  .filter-controls
    padding: 0px
    width: 100%
    height: auto
    flex-wrap: wrap
    .active::after
      border-top: 0px
    .filter
      font-size: 34px
      flex: 1 1 245px
      max-width: 300px
      height: 130px
      font-weight: 700
  #brands-filter, #section-2 .about
    width: 100%
  #brands-filter
    padding: 20px 0
    .mix, .gap
      width: 49%

  .detail-brand
    h2
      font-size: 28px
    p
      font-size: 17px

  .slider-nav, .slider-for
    width: 768px
  .slider-nav
    padding: 0px
    overflow: hidden
    img
      width: 95%
      margin: 0 auto

  .slider-for
    padding: 0
    img
      width: 100%

  .slick-arrow
    background: radial-gradient(ellipse at center, rgba($violet,0.2) 0%,rgba($violet,0) 100%)
  .fa-angle-left:before,
  .fa-angle-right:before
    color: $white
    z-index: 999
    font-size: 120px
  .fa-angle-left:before
    left: 10px
  .fa-angle-right:before
    right: 15px
  .next
    right: 0px
    top: 0
  .prev
    left: 0px
    top: 0

  .contacts
    width: 100% !important
    // padding: 0 3%
    &__tabs
      [id^="tab"]:checked + label > span::after
        position: absolute
        bottom: -30px
      label
        font-size: 4vw
        font-weight: 700
        padding: 50px 5%
      .tab-content
        font-size: 4vw
        padding: 40px 5%
  .customer
    flex-wrap: wrap
    &::after
      background: transparent
    > div
      flex-direction: column
      align-items: center
      margin-right: 0
      width: 50%
      flex: 1 1 50%

  .rent
    &-inner
      text-align: left !important
      padding: 0px 5%
      background: rgba($white, 0.5)
      font-size: 4vw
      width: 100%
      box-sizing: border-box
      > div
        text-align: justify

  .contacts-decor
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0)
    clip-path: polygon(50% 50%, 0 0, 100% 0)


@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)

  .section-container .section-title
    font-size: 8vw

  #section-2
    .about
      padding: 0 5%
      &-extra .about__item .content
        width: 100%
        padding: 0 3vw
      &__item
        width: 100%
        &:nth-child(odd), &:nth-child(even)
          flex-direction: row-reverse
          padding: 15px 0
        .content
          font-size: 4vw
          flex: 1
          box-sizing: border-box
          text-align: left
        .img
          height: 95px
          width: 20%
          background-size: 65% !important
          background-position: center !important
        .img-market
          height: 110px
      > div
        flex-direction: column
        padding: 0
  .header-nav
    .menu
      height: 100vh
      overflow-x: scroll
      &-inner
        flex-direction: column
      li
        padding: 15px 0
      .menu-link
        font-size: 3em

  .header-logo
    font-size: 80px
    .title__v::before
      left: -35px
      bottom: -20px
      width: 105px
      height: 155px

  .hamburger
    width: 85px
    height: 40px
    span
      &:nth-child(1)
        top: 0px
      &:nth-child(2), &:nth-child(3)
        top: 15px
      &:nth-child(4)
        top: 30px


@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)

  .section-container .section-title
    font-size: 8vw

  .header-nav
    .menu
      height: auto
      overflow-x: hidden
      li
        display: inline-block
        padding: 7px 0
      .menu-link
        font-size: 30px

  .header-logo
    font-size: 70px
    .title__v::before
      left: -35px
      bottom: -28px
      width: 105px
      height: 155px

  .hamburger
    width: 85px
    height: 40px
    span
      &:nth-child(1)
        top: 0px
      &:nth-child(2), &:nth-child(3)
        top: 15px
      &:nth-child(4)
        top: 30px
