html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, button, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  font-family: Calibri, Arial, sans-serif;
  overflow-x: hidden; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #75174D; }

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none; }

*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none; }

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

#play {
  position: absolute; }

.wrapper ::-moz-selection {
  background: #75174D;
  color: #ece7e1; }

.wrapper ::selection {
  background: #75174D;
  color: #ece7e1; }

.body-fixed {
  overflow: hidden; }

.header {
  position: fixed;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999999; }
  .header:hover .title__v::before {
    opacity: 1; }
  .header__inner {
    padding: 20px 3%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.header-logo {
  font-family: Calibri, Arial, sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase; }
  .header-logo .title {
    color: #e7b1bb;
    white-space: nowrap; }
    .header-logo .title__tz, .header-logo .title__tz-min {
      color: #ece7e1; }
    .header-logo .title__tz-min {
      display: none; }
    .header-logo .title__v {
      border-bottom: 2px solid #ece7e1;
      position: relative; }
      .header-logo .title__v::before {
        position: absolute;
        content: "";
        width: 80px;
        height: 80px;
        background: url(../img/v.png) center center no-repeat;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        left: -33px;
        bottom: -3px;
        z-index: 999;
        background-size: contain;
        opacity: 0;
        -webkit-transition: all 1s ease;
                transition: all 1s ease; }

.header-nav .menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #e7b1bb;
  padding: 20px 0;
  text-align: center;
  display: none; }
  .header-nav .menu li {
    display: inline-block;
    float: none;
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
    .header-nav .menu li:hover .menu-link::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 25%;
      width: 50%;
      border-top: 2px solid;
      border-color: inherit; }
  .header-nav .menu .menu-link {
    display: block;
    text-transform: uppercase;
    font-size: 28px;
    padding: 5px 15px;
    color: #75174D;
    font-weight: bold;
    position: relative; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }
  .video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%; }

.section-container {
  padding: 60px 0 80px;
  position: relative; }
  .section-container .section-title {
    font-size: 48px;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    font-family: Calibri, Arial, sans-serif;
    font-weight: bold;
    color: #75174D;
    padding: 0 20px;
    margin-bottom: 50px; }

.section-1 .video-decor {
  position: relative;
  z-index: 9999;
  width: 100%; }
  .section-1 .video-decor::after {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: -45px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 150px solid #ece7e1;
    border-left: 100vw solid transparent; }
  .section-1 .video-decor::before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: -45px;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 150px solid #ece7e1;
    border-right: 100vw solid transparent; }

#section-2, #section-7 {
  height: auto;
  background: #ece7e1; }

#section-3 {
  height: 1000px;
  min-height: auto;
  overflow: hidden; }

#section-4, #section-5 {
  height: auto; }

#section-6 {
  background: #fff; }

#section-7 {
  padding-bottom: 60px; }

#section-8 {
  min-height: 600px; }

#section-2 .about {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box; }
  #section-2 .about > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px 0; }
  #section-2 .about__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    box-sizing: border-box; }
    #section-2 .about__item .content {
      color: #75174D;
      font-family: Calibri, Arial, sans-serif;
      font-size: 26px;
      padding: 0 30px;
      width: 100%;
      -webkit-box-flex: 2;
      -webkit-flex: 2;
          -ms-flex: 2;
              flex: 2;
      box-sizing: border-box; }
    #section-2 .about__item .img {
      height: 80px;
      width: 80px;
      overflow: hidden; }
    #section-2 .about__item .img-market {
      background: url("../img/about/market.png") no-repeat;
      background-size: contain; }
    #section-2 .about__item .img-clock {
      background: url("../img/about/clock.png") no-repeat;
      background-size: contain; }
    #section-2 .about__item .img-total {
      background: url("../img/about/loc.png") no-repeat;
      background-size: contain; }
    #section-2 .about__item .img-bank {
      background: url("../img/about/card.png") no-repeat;
      background-size: contain; }
    #section-2 .about__item .img-extra {
      background: url("../img/about/commerce.png") no-repeat;
      background-size: contain; }
  #section-2 .about__item:nth-child(odd) {
    text-align: right;
    padding: 0 15px 0 0; }
  #section-2 .about__item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 0 0 15px; }
  #section-2 .about-extra .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
    text-align: center; }
    #section-2 .about-extra .about__item .content {
      padding: 30px 30px 0;
      width: 600px; }

.contacts-decor {
  background: #ece7e1;
  height: 45px;
  position: absolute;
  width: 100%;
  bottom: -39px;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0); }

.contacts {
  width: 960px;
  margin: 0 auto; }
  .contacts__tabs {
    width: 100%;
    color: #75174D; }
    .contacts__tabs::after {
      content: "";
      display: table;
      clear: both; }
    .contacts__tabs input[type=radio] {
      display: none; }
    .contacts__tabs label {
      display: block;
      float: left;
      width: 50%;
      padding: 1em;
      border-right: none;
      background-color: #e7b1bb;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      font-family: Calibri, Arial, sans-serif;
      line-height: 1.5;
      font-size: 24px;
      box-sizing: border-box;
      cursor: pointer;
      -webkit-transition: background-color 150ms ease-in-out;
      transition: all 0.3s ease-in-out; }
      .contacts__tabs label:hover {
        color: #75174D; }
    .contacts__tabs [id^="tab"]:checked + label {
      border-bottom-color: #fff;
      background: #fff;
      color: #75174D; }
      .contacts__tabs [id^="tab"]:checked + label > span {
        position: relative; }
        .contacts__tabs [id^="tab"]:checked + label > span::after {
          position: absolute;
          bottom: -1em;
          left: 0;
          width: 100%;
          border-top: 2px solid #75174D;
          content: ""; }
  .contacts .tab-content {
    display: none;
    float: left;
    width: 100%;
    padding: 40px 80px;
    background-color: #fff;
    min-height: 220px;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 1.5; }
  .contacts #tab1:checked ~ #tab-content1, .contacts #tab2:checked ~ #tab-content2, .contacts #tab3:checked ~ #tab-content3 {
    display: block; }

.customer > div {
  margin: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 50%; }
  .customer > div > p {
    white-space: nowrap;
    margin-right: 20px;
    font-family: Calibri, Arial, sans-serif; }
    .customer > div > p:nth-child(2) {
      font-family: Calibri, Arial, sans-serif;
      font-weight: bold; }

.contacts a {
  position: relative;
  z-index: 999; }

.customer {
  position: relative; }
  .customer::after {
    background: url("../img/shopper.jpg") no-repeat;
    position: absolute;
    content: "";
    width: 180px;
    height: 180px;
    background-size: contain;
    top: 25px;
    right: 11%;
    opacity: 0.5;
    border-radius: 50%; }

.rent-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: Calibri, Arial, sans-serif;
  font-size: 24px;
  color: #75174D; }
  .rent-inner > div {
    width: 70%;
    line-height: 1.5; }
  .rent-inner .rent-link {
    font-family: Calibri, Arial, sans-serif;
    font-weight: bold;
    display: block;
    width: 70%; }

.rent {
  position: relative;
  width: 960px;
  background: url("../img/for-rent.png") no-repeat;
  background-size: 200px;
  margin: 0 auto; }

.filter-controls {
  width: 960px;
  height: 80px;
  margin: 0 auto;
  box-sizing: border-box;
  background: #e7b1bb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .filter-controls .filter {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    font-family: Calibri, Arial, sans-serif;
    font-size: 18px;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
    .filter-controls .filter:hover {
      color: #75174D; }
  .filter-controls .active {
    color: #75174D;
    background: #fff; }
  .filter-controls .active::after {
    position: absolute;
    content: "";
    bottom: 15px;
    left: 25%;
    width: 50%;
    border-top: 2px solid;
    border-color: inherit; }

#brands-filter label {
  font-weight: 300;
  margin: 0 0.4em 0 0; }

#brands-filter button {
  display: inline-block;
  padding: 0.4em 0.8em;
  background: transparent;
  border: 0;
  color: #ece7e1;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer; }
  #brands-filter button + label {
    margin-left: 1em; }

#brands-filter {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
  text-align: justify;
  font-size: 0.1px;
  background: -webkit-radial-gradient(center, ellipse, rgba(231, 177, 187, 0.4) 0%, rgba(125, 186, 232, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(231, 177, 187, 0.4) 0%, rgba(125, 186, 232, 0) 100%);
  -webkit-backface-visibility: hidden; }
  #brands-filter::after {
    content: "";
    display: inline-block;
    width: 100%; }
  #brands-filter .mix, #brands-filter .filter-gap {
    display: inline-block;
    width: 33%; }
  #brands-filter .mix {
    text-align: left;
    background: #e7b1bb;
    margin-bottom: 2%;
    display: none; }
    #brands-filter .mix::before {
      content: "";
      display: inline-block;
      padding-top: 60%; }

.detail-glance {
  background: url(../img/brands/glance-logo.png) no-repeat !important; }

.detail-letual {
  background: url(../img/brands/letual-logo.png) no-repeat !important; }

.detail-rgd {
  background: url(../img/brands/rgd-logo.png) no-repeat !important; }

.detail-dns {
  background: url(../img/brands/dns-logo.png) no-repeat !important; }

.detail-zoloto {
  background: url(../img/brands/zoloto-logo.png) no-repeat !important; }

.detail-slon {
  background: url(../img/brands/slon-logo.png) no-repeat !important; }

.detail-stile {
  background: url(../img/brands/stile-logo.png) no-repeat !important; }

.detail-liza {
  background: url(../img/brands/liza-logo.png) no-repeat !important; }

.detail-valenzia {
  background: url(../img/brands/valenzia-logo.png) no-repeat !important; }

.detail-brand {
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
  background-size: contain !important;
  background-position: center !important;
  font-family: Calibri, Arial, sans-serif;
  color: #75174D; }
  .detail-brand .mask, .detail-brand .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0; }
  .detail-brand .mask {
    opacity: 0.2;
    background: white;
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out; }
  .detail-brand h2 {
    text-transform: uppercase;
    position: relative;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin: 20px 0 0 0;
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out; }
    .detail-brand h2::after {
      position: absolute;
      content: "";
      bottom: 0px;
      left: 25%;
      width: 50%;
      border-top: 2px solid;
      border-color: inherit; }
  .detail-brand p {
    font-size: 14px;
    position: relative;
    text-align: center;
    padding: 10px 20px 20px;
    -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear; }
  .detail-brand .info {
    font-size: 14px;
    position: relative;
    text-align: center;
    color: #75174D;
    padding: 10px 20px 20px;
    display: block;
    opacity: 0;
    -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear; }
  .detail-brand.hover-effect .mask {
    opacity: 1; }
  .detail-brand.hover-effect h2, .detail-brand.hover-effect p, .detail-brand.hover-effect .info {
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px); }
  .detail-brand.hover-effect p {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s; }
  .detail-brand.hover-effect .info {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s; }

.slider-for {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box; }
  .slider-for img {
    width: 100%; }

.slider-nav {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0px 40px;
  overflow: hidden; }
  .slider-nav__img {
    height: 110px; }

.prev {
  left: -25px;
  top: 5%; }

.next {
  right: -25px;
  top: 5%; }

.slick-arrow {
  width: 60px;
  height: 95%;
  cursor: pointer;
  position: absolute;
  z-index: 99; }

.fa-angle-left:before,
.fa-angle-right:before {
  position: absolute;
  top: 50%;
  font-size: 45px;
  display: block;
  padding: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border: none;
  outline: none;
  color: #75174D; }

.fa-angle-left:before {
  left: 28px; }

.fa-angle-right:before {
  right: 28px; }

h1 {
  display: inline-block; }

.slick-slide {
  text-align: center;
  cursor: pointer; }

.slider-item__desc {
  padding: 10px 0;
  max-height: 60px;
  margin: 5px 0; }

.googlemap-overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 600px;
  top: 600px;
  margin-top: -600px; }

.hamburger {
  width: 50px;
  height: 25px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }
  .hamburger.menu-active span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; }
  .hamburger.menu-active span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
  .hamburger.menu-active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  .hamburger.menu-active span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; }
  .hamburger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #e7b1bb;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
    .hamburger span:nth-child(1) {
      top: 0px; }
    .hamburger span:nth-child(2), .hamburger span:nth-child(3) {
      top: 10px; }
    .hamburger span:nth-child(4) {
      top: 20px; }

.fa-angle-left:hover::before,
.fa-angle-right:hover::before {
  color: #fff; }

@media only screen and (max-device-width: 769px) {
  .header, .section-1, .rent {
    width: 100%; }

  .hamburger {
    width: 85px;
    height: 40px; }
    .hamburger span:nth-child(1) {
      top: 0px; }
    .hamburger span:nth-child(2), .hamburger span:nth-child(3) {
      top: 15px; }
    .hamburger span:nth-child(4) {
      top: 30px; }

  .section-container .section-title {
    font-size: 70px; }

  #section-2 .about-extra .about__item .content {
    width: 100%;
    padding: 0 30px; }
  #section-2 .about__item {
    padding: 15px 0px 45px;
    width: 100%; }
    #section-2 .about__item:nth-child(odd), #section-2 .about__item:nth-child(even) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
    #section-2 .about__item .content {
      font-size: 50px;
      max-width: 100%;
      width: 100%;
      box-sizing: border-box;
      text-align: center; }
    #section-2 .about__item .img {
      height: 245px;
      width: 290px;
      background-size: 65% !important;
      background-position: center !important; }
  #section-2 .about > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

  #section-3 {
    height: auto; }

  .header-logo .title__v::before {
    width: 105px;
    height: 155px; }

  .title__tz {
    display: none; }

  .title__tz-min {
    display: inline-block !important; }

  .filter-controls {
    padding: 0px;
    width: 100%;
    height: auto;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .filter-controls .active::after {
      border-top: 0px; }
    .filter-controls .filter {
      font-size: 34px;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 245px;
          -ms-flex: 1 1 245px;
              flex: 1 1 245px;
      max-width: 300px;
      height: 130px;
      font-weight: 700; }

  #brands-filter, #section-2 .about {
    width: 100%; }

  #brands-filter {
    padding: 20px 0; }
    #brands-filter .mix, #brands-filter .gap {
      width: 49%; }

  .detail-brand h2 {
    font-size: 28px; }
  .detail-brand p {
    font-size: 17px; }

  .slider-nav, .slider-for {
    width: 768px; }

  .slider-nav {
    padding: 0px;
    overflow: hidden; }
    .slider-nav img {
      width: 95%;
      margin: 0 auto; }

  .slider-for {
    padding: 0; }
    .slider-for img {
      width: 100%; }

  .slick-arrow {
    background: -webkit-radial-gradient(center, ellipse, rgba(117, 23, 77, 0.2) 0%, rgba(117, 23, 77, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(117, 23, 77, 0.2) 0%, rgba(117, 23, 77, 0) 100%); }

  .fa-angle-left:before,
  .fa-angle-right:before {
    color: #fff;
    z-index: 999;
    font-size: 120px; }

  .fa-angle-left:before {
    left: 10px; }

  .fa-angle-right:before {
    right: 15px; }

  .next {
    right: 0px;
    top: 0; }

  .prev {
    left: 0px;
    top: 0; }

  .contacts {
    width: 100% !important; }
    .contacts__tabs label {
      float: none;
      width: 100%;
      font-size: 60px;
      font-weight: 700; }
      .contacts__tabs label:nth-child(4) {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-right: none;
        border-left: none; }
    .contacts__tabs [id^="tab"]:checked + label > span::after {
      border: none; }
    .contacts__tabs .tab-content {
      font-size: 50px; }

  .customer::after {
    background: url("../img/shopper.jpg") center center no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    border-radius: 0; }
  .customer > div {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0; }

  .rent {
    background-position: center;
    background-size: 400px; }
    .rent-inner {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: left !important;
      padding: 40px 80px;
      background: rgba(255, 255, 255, 0.5);
      font-size: 50px; }
      .rent-inner > div,
      .rent-inner .rent-link {
        width: 100%; }

  .contacts-decor {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0);
    clip-path: polygon(50% 50%, 0 0, 100% 0); } }
@media only screen and (max-device-width: 769px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .header-nav .menu {
    height: 100vh;
    overflow-x: scroll; }
    .header-nav .menu li {
      display: block;
      padding: 5% 0; }
    .header-nav .menu .menu-link {
      font-size: 3em; }

  .header-logo {
    font-size: 80px; }
    .header-logo .title__v::before {
      left: -35px;
      bottom: -20px; } }
@media only screen and (max-device-width: 769px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .header-nav .menu {
    height: auto;
    overflow-x: hidden; }
    .header-nav .menu li {
      display: inline-block;
      padding: 7px 0; }
    .header-nav .menu .menu-link {
      font-size: 30px; }

  .header-logo {
    font-size: 70px; }
    .header-logo .title__v::before {
      left: -35px;
      bottom: -28px; } }
