$violet: #75174D
$pink: #e7b1bb
$pale: #ece7e1
$white: #fff
$black: #000

// reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, button, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// common styles
body
  font-family: Calibri, Arial, sans-serif
  overflow-x: hidden

img
  max-width: 100%
  height: auto
  vertical-align: middle
a
  text-decoration: none
  color: $violet

*::-webkit-media-controls-panel
  display: none !important
  -webkit-appearance: none

*::--webkit-media-controls-play-button
  display: none !important
  -webkit-appearance: none

*::-webkit-media-controls-start-playback-button
  display: none !important
  -webkit-appearance: none

#play
  position: absolute

.wrapper ::selection
  background: $violet
  color: $pale

.body-fixed
  overflow: hidden

.header
  position: fixed
  width: 100%
  height: auto
  background-color: rgba($black, 0.9)
  z-index: 999999
  &:hover
    .title__v::before
      opacity: 1
  &-inner
    // width: 960px
    padding: 20px 5%
    display: flex
    justify-content: space-between
    align-items: center
    box-sizing: border-box

.header-logo
  font-family: Calibri, Arial, sans-serif
  font-weight: bold
  font-size: 48px
  text-transform: uppercase
  .title
    color: $pink
    white-space: nowrap
    &__tz, &__tz-min
      color: $pale
    &__tz-min
      display: none
    &__v
      border-bottom: 2px solid $pale
      position: relative
      &::before
        position: absolute
        content: ''
        width: 80px
        height: 80px
        background: url(../img/v.png) center center no-repeat
        -webkit-transition: -webkit-transform 0.5s
        transition: transform 0.5s
        left: -33px
        bottom: -3px
        z-index: 999
        background-size: contain
        opacity: 0
        transition: all 1s ease

.header-nav
  .menu
    position: absolute
    top: 100%
    left: 0
    width: 100%
    background: $pink
    padding: 20px 0
    text-align: center
    display: none
    &-inner
      padding: 0 5%
      display: flex
      flex-wrap: wrap
      justify-content: center
    li
      display: inline-block
      float: none
      transition: all 0.3s ease-in-out
      &:hover .menu-link::after
        position: absolute
        content: ""
        bottom: 0
        left: 25%
        width: 50%
        border-top: 2px solid
        border-color: inherit
    .menu-link
      display: block
      text-transform: uppercase
      font-size: 28px
      padding: 5px 15px
      color: $violet
      font-weight: bold
      position: relative

.video-container
  position: relative
  bottom: 0%
  left: 0%
  height: 100%
  width: 100%
  overflow: hidden
  background: $pink
  .filter
    z-index: 100
    position: absolute
    background: rgba(0, 0, 0, 0.2)
    width: 100%
    height: 100%


.section-container
  padding: 60px 0 80px
  position: relative
  .section-title
    font-size: 48px
    text-transform: uppercase
    line-height: 1.2
    text-align: center
    font-family: Calibri, Arial, sans-serif
    font-weight: bold
    color: $violet
    padding: 0 20px
    margin-bottom: 50px


.section-1
  // max-height: 700px
  // overflow: hidden
  .video-decor
    position: relative
    z-index: 9999
    width: 100%
    &::after
      content: ""
      position: absolute
      z-index: 0
      bottom: -45px
      right: 0
      width: 0
      height: 0
      border-bottom: 150px solid $pale
      border-left: 100vw solid transparent
    &::before
      content: ""
      position: absolute
      z-index: 0
      bottom: -45px
      left: 0
      width: 0
      height: 0
      border-bottom: 150px solid $pale
      border-right: 100vw solid transparent


#section-2, #section-7
  height: auto
  background: $pale
#section-3
  height: 1000px
  min-height: auto
  overflow: hidden
#section-4, #section-5
  height: auto
#section-6
  background: $white
#section-7
  padding-bottom: 60px
#section-8
  min-height: 600px

#section-2
  .about
    width: 960px
    margin: 0 auto
    box-sizing: border-box
    &-extra
      padding: 0 !important
    > div
      display: flex
      align-items: center
      justify-content: center
      padding: 15px 0
    &__item
      flex: 1
      display: flex
      align-items: center
      justify-content: flex-end
      box-sizing: border-box
      .content
        color: $violet
        font-family: Calibri, Arial, sans-serif
        font-size: 26px
        padding: 0 30px
        width: 100%
        flex: 2
        box-sizing: border-box
      .img
        height: 80px
        width: 80px
        overflow: hidden
      .img-market
        background: url('../img/about/market.png') no-repeat
        background-size: contain
      .img-clock
        background: url('../img/about/clock.png') no-repeat
        background-size: contain
      .img-total
        background: url('../img/about/loc.png') no-repeat
        background-size: contain
      .img-bank
        background: url('../img/about/card.png') no-repeat
        background-size: contain
      .img-extra
        background: url('../img/about/commerce.png') no-repeat
        background-size: contain
    &__item:nth-child(odd)
      text-align: right
      padding: 0 15px 0 0
    &__item:nth-child(even)
      flex-direction: row-reverse
      padding: 0 0 0 15px
    &-extra
      .about__item
        flex-direction: column-reverse
        padding: 0
        text-align: center
        .content
          padding: 30px 30px 0
          width: 600px



.contacts-decor
  background: $pale
  height: 45px
  position: absolute
  width: 100%
  bottom: -39px
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0)
  clip-path: polygon(50% 100%, 0 0, 100% 0)

.contacts
  width: 960px
  margin: 0 auto
  &__tabs
    width: 100%
    color: $violet
    &::after
      content: ""
      display: table
      clear: both
    input[type=radio]
      display: none
    label
      display: block
      float: left
      width: 50%
      padding: 1em
      border-right: none
      background-color: $pink
      text-align: center
      text-transform: uppercase
      color: $white
      font-family: Calibri, Arial, sans-serif
      line-height: 1.5
      font-size: 24px
      box-sizing: border-box
      cursor: pointer
      -webkit-transition: background-color 150ms ease-in-out
      transition: all 0.3s ease-in-out
      &:hover
        color: $violet
    [id^="tab"]:checked + label
      border-bottom-color: $white
      background: $white
      color: $violet
      > span
        position: relative
        &::after
          position: absolute
          bottom: -1em
          left: 0
          width: 100%
          border-top: 2px solid $violet
          content: ""
  .tab-content
    display: none
    float: left
    width: 100%
    padding: 40px 80px
    background-color: $white
    min-height: 220px
    box-sizing: border-box
    font-size: 24px
    line-height: 1.5
  #tab1:checked ~ #tab-content1, #tab2:checked ~ #tab-content2, #tab3:checked ~ #tab-content3
    display: block
.customer > div
  margin: 10px 0
  display: flex
  justify-content: space-between
  max-width: 50%
  position: relative
  z-index: 999
  > p
    white-space: nowrap
    margin-right: 20px
    font-family: Calibri, Arial, sans-serif
    &:nth-child(2)
      font-family: Calibri, Arial, sans-serif
      font-weight: bold
.contacts a
  position: relative
  z-index: 999
.customer
  position: relative
  &::after
    background: url("../img/shopper.jpg") no-repeat
    position: absolute
    content: ''
    width: 180px
    height: 180px
    background-size: contain
    top: 25px
    right: 11%
    opacity: 0.5
    border-radius: 50%

.rent-inner
  display: flex
  flex-direction: column
  align-items: flex-end
  font-family: Calibri, Arial, sans-serif
  font-size: 24px
  color: $violet
  > div
    width: 70%
    line-height: 1.5
  .rent-link
    font-family: Calibri, Arial, sans-serif
    font-weight: bold
    display: block
    width: 70%
.rent
  position: relative
  width: 960px
  background: url("../img/for-rent.png") no-repeat
  background-size: 200px
  margin: 0 auto



.filter-controls
  width: 960px
  height: 80px
  margin: 0 auto
  box-sizing: border-box
  background: $pink
  display: flex
  justify-content: space-around
  align-items: center
  .filter
    background: transparent
    border: 0
    outline: none
    cursor: pointer
    font-family: Calibri, Arial, sans-serif
    font-size: 18px
    height: 100%
    text-align: center
    text-transform: uppercase
    color: $white
    box-sizing: border-box
    cursor: pointer
    position: relative
    flex: 1
    transition: all 0.3s ease-in-out
    &:hover
      color: $violet
  .active
    color: $violet
    background: $white
  .active::after
    position: absolute
    content: ""
    bottom: 15px
    left: 25%
    width: 50%
    border-top: 2px solid
    border-color: inherit




#brands-filter label
  font-weight: 300
  margin: 0 .4em 0 0

#brands-filter button
  display: inline-block
  padding: .4em .8em
  background: transparent
  border: 0
  color: $pale
  font-size: 16px
  font-weight: 300
  border-radius: 4px
  cursor: pointer
  + label
    margin-left: 1em

#brands-filter
  width: 960px
  margin: 0 auto
  padding: 20px 0
  box-sizing: border-box
  text-align: justify
  font-size: 0.1px
  background: radial-gradient(ellipse at center, hsla(349,53%,80%,0.4) 0%,hsla(206,70%,70%,0) 100%)
  -webkit-backface-visibility: hidden
  &::after
    content: ''
    display: inline-block
    width: 100%
  .mix, .filter-gap
    display: inline-block
    width: 33%
  .mix
    text-align: left
    background: $pink
    margin-bottom: 2%
    display: none
    &::before
      content: ''
      display: inline-block
      padding-top: 60%

@each $brand in glance, letual, rgd, dns, zoloto, slon, stile, liza, valenzia
  .detail-#{$brand}
    background: url(../img/brands/#{$brand}-logo.png) no-repeat !important

.detail
  &-brand
    overflow: hidden
    position: relative
    text-align: center
    cursor: pointer
    background-size: contain !important
    background-position: center !important
    font-family: Calibri, Arial, sans-serif
    color: $violet
    .mask, .content
      width: 100%
      height: 100%
      position: absolute
      overflow: hidden
      top: 0
      left: 0
    .mask
      opacity: 0.2
      background: rgba($white, 1)
      transition: all 0.4s ease-in-out
    h2
      text-transform: uppercase
      position: relative
      text-align: center
      font-size: 18px
      padding: 10px
      // background: rgba($white, 0.8)
      margin: 20px 0 0 0
      transform: translateY(-100px)
      opacity: 0
      transition: all 0.2s ease-in-out
      &::after
        position: absolute
        content: ""
        bottom: 0px
        left: 25%
        width: 50%
        border-top: 2px solid
        border-color: inherit
    p
      font-size: 14px
      position: relative
      text-align: center
      padding: 10px 20px 20px
      transform: translateY(100px)
      opacity: 0
      transition: all 0.2s linear
    .info
      font-size: 14px
      position: relative
      text-align: center
      color: #75174D
      padding: 10px 20px 20px
      display: block
      opacity: 0
      transition: all 0.2s linear

    &.hover-effect
      .mask
        opacity: 1
      h2, p, .info
        opacity: 1
        transform: translateY(0px)
      p
        transition-delay: 0.1s
      .info
        transition-delay: 0.2s


// .slider-gallery
  // margin-bottom: 5%
  // margin-top: 5%
.slider-for
  width: 960px
  margin: 0 auto
  box-sizing: border-box
  img
    width: 100%
.slider-nav
  width: 960px
  margin: 0 auto
  box-sizing: border-box
  padding: 0px 40px
  overflow: hidden
  &__img
    height: 110px
.prev
  left: -25px
  top: 5%
.next
  right: -25px
  top: 5%
.slick-arrow
  width: 60px
  height: 95%
  cursor: pointer
  position: absolute
  z-index: 99
.fa-angle-left:before,
.fa-angle-right:before
  position: absolute
  top: 50%
  font-size: 45px
  display: block
  padding: 0
  transform: translate(0, -50%)
  border: none
  outline: none
  color: $violet
.fa-angle-left:before
  left: 28px
.fa-angle-right:before
  right: 28px

h1
  display: inline-block
.slick-slide
  text-align: center
  cursor: pointer

.slider-item
  &__desc
    padding: 10px 0
    max-height: 60px
    margin: 5px 0


// .section-googlemap
//   background: url('../img/map.png')
//   background-size: contain
//   position: relative
//   z-index: -9999
.googlemap-overlay
  background: transparent
  position: relative
  width: 100%
  height: 600px
  top: 600px
  margin-top: -600px




.hamburger
  width: 50px
  height: 30px
  position: relative
  margin: 0px auto
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .5s ease-in-out
  -moz-transition: .5s ease-in-out
  -o-transition: .5s ease-in-out
  transition: .5s ease-in-out
  cursor: pointer
  &.menu-active span
    &:nth-child(1)
      top: 18px
      width: 0%
      left: 50%
    &:nth-child(2)
      -webkit-transform: rotate(45deg)
      -moz-transform: rotate(45deg)
      -o-transform: rotate(45deg)
      transform: rotate(45deg)
    &:nth-child(3)
      -webkit-transform: rotate(-45deg)
      -moz-transform: rotate(-45deg)
      -o-transform: rotate(-45deg)
      transform: rotate(-45deg)
    &:nth-child(4)
      top: 18px
      width: 0%
      left: 50%
  span
    display: block
    position: absolute
    height: 5px
    width: 100%
    background: $pink
    opacity: 1
    left: 0
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .25s ease-in-out
    -moz-transition: .25s ease-in-out
    -o-transition: .25s ease-in-out
    transition: .25s ease-in-out
    &:nth-child(1)
      top: 0px
    &:nth-child(2), &:nth-child(3)
      top: 10px
    &:nth-child(4)
      top: 20px

.fa-angle-left,
.fa-angle-right
  &:hover::before
    color: $white



@import "media"
