@import url("../../css/css-fontawesome/font-awesome.css");

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #3d3536;
  background-color: white;
 }

body, html {
  
  height: 100%;
}


.cd-container p {
	font-size: 18px; 
	font-weight: lighter;
	}

.wrapper{
	width: 100%;
	margin: 0 auto;
	padding-top: 5px;
	position: fixed;
	z-index: 2;
	background: rgba(255, 255, 255, 0.95);
	height: 93px;
			
}

a, a:hover{
	text-decoration:none;
}
ul{
	padding:0;
	margin:0;
	list-style:none;
}


.cd-header img {
	width: 150px;
	height: 150px;
	float: left;
	margin-left: 9%;
	margin-top: -1%;
	
		}

	
.main_nav li{
	float:left; 
	}
	
	.main_nav {
	float: right;
	padding-right: 3%;
			}

.main_nav li a{
	display:block;
	padding:23px;
	color:#4C4C4C;
	font-weight: bold;
	font-size: 14px;
	
	}
.main_nav li a.current, .main_nav li i:hover 
{
	color:white;
	background:#99a478;
}

.main_nav li a:hover {
	color:white;
	background:	#4C4C4C;
	}
	

.cd-container {
  
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container::after {
  
  content: '';
  display: table;
  clear: both;
}



.cd-header {
width: 100%;
z-index: 2;
position:fixed;
  
}
.cd-header:after {
  content: "";
  display: table;
  clear: both;
}


@media only screen and (min-width: 768px) {
  .cd-header {
	padding-top: 12px;
    height: 70px;
  }
  
  .main_nav {
	float: right;
	padding-right: 7%;
			}
  
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
  
  .cd-header img {
	width: 150px;
	height: 150px;
	float: left;
	margin-left: 7%;
	margin-top: 3%;
		}
}



.cd-main-content {
  padding-top: 93px;
  height: 80%;
  position: relative;
  z-index: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 25%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url(../../img/venice.png);
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url(../../img/Hirosaki-Castle-Japan-Wallpaper.jpg);
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url(../../img/cd-background-4.jpg);
}
@media only screen and (min-width: 768px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1170px) {
.main_nav {
	float: right;
	padding-right: 3%;
			}
	
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
  }
}

.cd-scrolling-bg {
  position: relative;
  min-height: 40%;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}


.cd-scrolling-bg.cd-color-1 {
  background-color: #3d3536;
  color: #a6989a;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #99a478;
  color: white;
}

@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    padding: 6em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}
