
/** стили фона затемнения **/
.overlay {
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 10000;
visibility: hidden;
/* фон затемнения */
background-color: rgba(0, 0, 0, 0.8);
opacity: 0;
position: fixed; /* фиксированное позиционирование */
/* трансформация прозрачности при открытии  */
-webkit-transition: opacity .5s;
transition: opacity .5s;
}
/* активируем при клике */
.overlay:target {
visibility: visible;
opacity: 1;
}
/** стили модального блока */
.modal-win{
top: 0;
right: 0;
left: 0;
width: 50%;
z-index: 10001;
/** полная прозрачность изначально */
opacity: 0;
display: block;
visibility: hidden;
position: absolute;
/* трансформация прозрачности при открытии  */
-webkit-transition: opacity 500ms ease-in;
transition: opacity 500ms ease-in; 
margin: 0 auto;
padding: 24px;
min-width: 320px;
max-width: 1024px;
width: 100%;
border: 1px solid rgba(120,120,120,.7);
border-radius: 5px;
background: rgba(60, 63, 65, 0.9);
background-clip: padding-box;
box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
}
/* активируем при клике */
.overlay:target+.modal-win{
top: 15%;
visibility: visible;
opacity: 1;
}
/* планшет */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.modal-win {
		width: 95%;
	}
}
/* смарт */
@media only screen and (min-width: 459px) and (max-width: 767px) {
	.modal-win {
		width:85%;  
	}
}
/* кнопка закрытия */
.close {
position: absolute;
width: 30px;
height: 30px;
right: 18px;
top: 18px;
z-index: 999999;
cursor: pointer;
text-align: center;
text-decoration: none;
line-height: 26px;
}
@media (max-width: 530px) {
  .close {
    top: 6px;
  }
}
.close:after {
content: 'X';
display:block;
width: 30px;
height: 30px;
border-radius: 50%;
border: 2px solid #fff;
-webkit-transition: all 0.6s;
transition: all 0.6s;
-ms-transform: scale(0.85);
-webkit-transform: scale(0.85);
transform: scale(0.85);
}

.close:hover:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/* блок заголовка видео */
.video__title {
  height: auto;
  width: 70%;
  padding: 0px 5px 15px 5px;
  color: white;
  font: normal 16px/22px 'Open Sans', Calibri, Arial, sans-serif;
}
@media (max-width: 530px) {
.video__title {
height: 38px;
font-size: 12px;
line-height: 18px;
  }
}
/* адаптивный блок видео */
.video { 
position: relative; 
padding-bottom: 56.25%; 
height: 0; 
overflow:hidden; 
} 
.video iframe, 
.video object, 
.video embed {
position: absolute; 
top: 0; 
left: 0; 
width: 100%;
height: 100%; 
}
/* -- */