@font-face {
	font-family: 'avenir';
	src: url('../fonts/avenir/Avenir.eot');
	src: url('../fonts/avenir/Avenir.woff') format('woff'), url('../fonts/avenir/Avenir.ttf') format('truetype'), url('../fonts/avenir/Avenir.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'dd-black';
	src: url('../fonts/dd-black/DomaineDisplayCyr-Black.eot');
	src: url('../fonts/dd-black/DomaineDisplayCyr-Black.woff') format('woff'), url('../fonts/dd-black/DomaineDisplayCyr-Black.ttf') format('truetype'), url('../fonts/dd-black/DomaineDisplayCyr-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bn-book';
	src: url('../fonts/bn-book/BebasNeue Book.eot');
	src: url('../fonts/bn-book/BebasNeue Book.woff') format('woff'), url('../fonts/bn-book/BebasNeue Book.ttf') format('truetype'), url('../fonts/bn-book/BebasNeue Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
