html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.main ::-moz-selection {
  background: #e33535;
  color: #fff; }

.main ::selection {
  background: #e33535;
  color: #fff; }

.main {
  position: relative;
  min-height: 100%;
  min-width: 1180px; }
  .main__header {
    padding: 0 15px 0 35px;
    height: 80px;
    background: #a02b07;
    background: -webkit-linear-gradient(left, #a22b07 0%, #e33535 100%);
    background: linear-gradient(to right, #a22b07 0%, #e33535 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a02b07', endColorstr='#e43736',GradientType=1 );
    position: relative;
    top: 0;
    z-index: 999; }
    .main__header .logo-product {
      width: 520px;
      padding: 10px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      float: left; }
      .main__header .logo-product .logo-product1 {
        width: 208px; }
      .main__header .logo-product .logo-product2 {
        width: 235px; }
      .main__header .logo-product .slash {
        height: 40px; }
    .main__header .logo-woman {
      float: right;
      padding: 20px 0; }
      .main__header .logo-woman__img {
        width: 150px; }
  .main__footer {
    background-color: #f1ddda;
    text-align: center;
    padding: 10px 10px 0 10px; }
    .main__footer .footer-text {
      max-width: 100%; }
  .main__left-menu {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: -55px;
    width: 490px; }
  .main__content {
    background: url(../img/back.png) no-repeat 0px -5px;
    box-sizing: border-box;
    padding-left: 0px;
    min-height: 100%;
    width: 100%;
    min-width: 1180px;
    position: relative;
    overflow: hidden; }
    .main__content .social-content {
      position: absolute;
      bottom: 50px;
      left: 540px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .main__content .social-content .icons {
        width: 120px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      .main__content .social-content .icon {
        width: 35px; }
      .main__content .social-content .slash {
        height: 40px;
        position: relative;
        top: -2px;
        padding: 0 7px; }
      .main__content .social-content .auth .link {
        font-size: 36px;
        font-family: "bn-book";
        color: #e33535;
        text-decoration: none; }
  .main__intro-text {
    padding: 40px 0 20px 45px; }
    .main__intro-text .title {
      font-size: 30px;
      font-family: "dd-black";
      color: #e33535;
      line-height: 30px;
      padding-bottom: 20px; }
    .main__intro-text .text {
      font-size: 20px;
      font-family: "avenir";
      color: #7d726a;
      line-height: 20px; }
  .main__articles {
    position: relative;
    padding-left: 550px;
    min-height: 660px; }
    .main__articles .articles__item {
      position: absolute;
      width: 255px;
      background-size: contain !important;
      padding-bottom: 25px; }
      .main__articles .articles__item .title {
        font-size: 30px;
        font-family: "bn-book";
        color: #7d726a;
        text-transform: uppercase;
        padding-bottom: 5px; }
      .main__articles .articles__item .link {
        font-size: 30px;
        font-family: "dd-black";
        color: #e33535;
        line-height: 30px;
        text-decoration: none;
        border-bottom: 1px solid #e33535;
        white-space: nowrap; }
    .main__articles .articles__quote {
      top: 30px;
      right: 110px;
      background: url(../img/decor-yellow.png) no-repeat left bottom; }
      .main__articles .articles__quote:hover ~ .articles__img {
        background: url(../img/photo1.jpg);
        background-size: cover;
        background-repeat: no-repeat; }
    .main__articles .articles__competition {
      top: 160px;
      right: 260px;
      background: url(../img/decor-green.png) no-repeat left bottom; }
      .main__articles .articles__competition:hover ~ .articles__img {
        background: url(../img/photo3.jpg);
        background-size: cover;
        background-repeat: no-repeat; }
    .main__articles .articles__trand {
      top: 345px;
      right: 410px;
      background: url(../img/decor-yellow.png) no-repeat left bottom; }
      .main__articles .articles__trand:hover ~ .articles__img {
        background: url(../img/photo2.jpg);
        background-size: cover;
        background-repeat: no-repeat; }
    .main__articles .articles__img {
      position: absolute;
      bottom: -85px;
      right: -45px;
      border: 20px solid #c52c43;
      border-radius: 50%;
      height: 365px;
      width: 365px;
      background: url(../img/photo.png);
      background-size: cover;
      background-repeat: no-repeat; }
