html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.main ::-moz-selection {
  background: #e33535;
  color: #fff; }

.main ::selection {
  background: #e33535;
  color: #fff; }

.main {
  position: relative;
  height: 100vh;
  min-width: 1180px; }
  .main .m__header {
    padding: 0 15px 0 35px;
    height: 80px;
    background: #a02b07;
    background: -moz-linear-gradient(left, #a22b07 0%, #e33535 100%);
    background: -webkit-linear-gradient(left, #a22b07 0%, #e33535 100%);
    background: linear-gradient(to right, #a22b07 0%, #e33535 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a02b07', endColorstr='#e43736',GradientType=1 );
    position: relative;
    top: 0;
    z-index: 999; }
    .main .m__header .logo-product {
      width: 520px;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      float: left; }
      .main .m__header .logo-product .logo-product1 {
        width: 208px; }
      .main .m__header .logo-product .logo-product2 {
        width: 235px; }
      .main .m__header .logo-product .slash {
        height: 40px; }
    .main .m__header .logo-woman {
      float: right;
      padding: 20px 0; }
      .main .m__header .logo-woman__img {
        width: 150px; }
  .main .m__footer {
    background-color: #f1ddda;
    text-align: center;
    padding: 15px 10px 0 10px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    min-width: 100%;
    min-height: 80px;
    left: 0;
    bottom: 0; }
    .main .m__footer .footer-text {
      max-width: 95%; }
    .main .m__footer .btn-close {
      background: url(../img/close.png);
      position: absolute;
      top: 5px;
      right: 5px;
      width: 15px;
      height: 15px;
      background-size: cover;
      cursor: pointer; }
  .main .m__left-menu {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: -60px;
    width: 490px; }
  .main .m__content {
    background: url(../img/back.png) no-repeat 0px -5px;
    box-sizing: border-box;
    padding-left: 0px;
    padding-bottom: 10px;
    min-height: 100%;
    width: 100%;
    min-width: 1180px;
    position: relative;
    overflow: hidden; }
    .main .m__content .social-content {
      position: absolute;
      top: 490px;
      left: 540px;
      display: flex; }
      .main .m__content .social-content .icons {
        width: 120px;
        display: flex;
        justify-content: space-between; }
      .main .m__content .social-content .icon {
        width: 35px; }
      .main .m__content .social-content .slash {
        height: 40px;
        position: relative;
        top: -2px;
        padding: 0 7px; }
      .main .m__content .social-content .auth .link {
        font-size: 36px;
        font-family: "bn-book";
        color: #e33535;
        text-decoration: none; }
  .main__intro-text {
    padding: 0 0 20px 45px;
    margin-top: -20px; }
    .main__intro-text .title {
      font-size: 30px;
      font-family: "dd-black";
      color: #e33535;
      line-height: 30px;
      padding-bottom: 10px; }
    .main__intro-text .text {
      font-size: 20px;
      font-family: "avenir";
      color: #7d726a;
      line-height: 20px; }
  .main__articles {
    position: relative;
    padding-left: 550px;
    min-height: 585px;
    height: 100vh; }
    .main__articles .articles__item {
      position: absolute;
      width: 255px;
      background-size: contain !important;
      padding-bottom: 25px; }
      .main__articles .articles__item .title {
        font-size: 30px;
        font-family: "bn-book";
        color: #7d726a;
        text-transform: uppercase;
        padding-bottom: 5px; }
      .main__articles .articles__item .link {
        font-size: 30px;
        font-family: "dd-black";
        color: #e33535;
        line-height: 30px;
        text-decoration: none;
        border-bottom: 1px solid #e33535;
        white-space: nowrap; }
    .main__articles .articles__quote {
      top: 30px;
      right: 110px;
      background: url(../img/decor-yellow.png) no-repeat left bottom; }
      .main__articles .articles__quote:hover ~ .articles__img .image-quote {
        display: block; }
    .main__articles .articles__competition {
      top: 130px;
      right: 290px;
      background: url(../img/decor-green.png) no-repeat left bottom; }
      .main__articles .articles__competition:hover ~ .articles__img .image-competition {
        display: block; }
    .main__articles .articles__trand {
      top: 300px;
      right: 415px;
      background: url(../img/decor-yellow.png) no-repeat left bottom; }
      .main__articles .articles__trand:hover ~ .articles__img .image-trand {
        display: block; }
    .main__articles .articles__img {
      position: absolute;
      bottom: -10px;
      right: -50px;
      border: 20px solid #c52c43;
      border-radius: 50%;
      height: 365px;
      width: 365px;
      background: url(../img/photo.png);
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden; }
      .main__articles .articles__img .image__wrapper {
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        height: 365px;
        width: 365px; }
      .main__articles .articles__img .image-item {
        display: none;
        position: absolute;
        left: -50%;
        right: -50%;
        top: 0;
        margin: auto;
        height: 100%;
        width: auto; }
