html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

img {
  max-width: 100%;
  max-height: 100%; }

.nob-stars-container ::-moz-selection {
  background: #990066;
  color: #fff; }

.nob-stars-container ::selection {
  background: #990066;
  color: #fff; }

.nob-stars-block2 {
  display: none; }

.nob-stars-block3 {
  display: none; }

.nob-stars-block4 {
  display: none; }

.nob-stars-block5 {
  display: none; }

.nob-stars-block6 {
  display: none; }

.nob-stars-block7 {
  display: none; }

.img-answer.hidden {
  display: none; }

.nob-stars-container {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
  background-color: #fff; }

.nob-stars-title-pink {
  position: absolute;
  background-color: #e90049;
  padding: 7px 10px;
  color: #fff;
  font-size: 76px;
  text-transform: uppercase;
  font-family: "rob-light"; }

.nob-stars-nowrap {
  white-space: nowrap; }

.nob-stars-block {
  height: 600px;
  width: 100%;
  padding: 45px 40px;
  box-sizing: border-box; }
  .nob-stars-block__content {
    border: 1px solid;
    padding: 45px;
    height: 100%;
    box-sizing: border-box; }

.nob-stars-btn {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0; }
  .nob-stars-btn + label {
    cursor: pointer;
    font-size: 40px;
    font-family: "rob-bold";
    line-height: 40px;
    width: 130px; }
  .nob-stars-btn:not(checked) {
    position: absolute;
    opacity: 0; }
    .nob-stars-btn:not(checked) + label {
      position: relative;
      padding: 0 0 0 100px; }
      .nob-stars-btn:not(checked) + label:before {
        content: "";
        position: absolute;
        top: 5px;
        width: 60px;
        height: 60px;
        border: 4px solid;
        border-radius: 50%; }
      .nob-stars-btn:not(checked) + label:after {
        content: "";
        position: absolute;
        top: 8px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
        opacity: 0;
        -webkit-transition: all 0.2s;
                transition: all 0.2s; }
  .nob-stars-btn:checked + label:after {
    opacity: 1; }

.nob-stars-intro {
  width: 100%;
  height: 655px;
  position: relative;
  overflow: hidden; }
  .nob-stars-intro .nob-stars-title-pink:first-child {
    top: 30px;
    right: 145px;
    padding: 10px 35px; }
  .nob-stars-intro .nob-stars-title-pink:nth-child(2) {
    top: 125px;
    right: 275px;
    padding: 10px 35px; }
  .nob-stars-intro .nob-stars-title-pink:nth-child(3) {
    top: 230px;
    right: 120px; }
  .nob-stars-intro__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 40px; }
  .nob-stars-intro-img {
    max-width: 50%;
    height: 610px; }
  .nob-stars-intro-text {
    max-width: 40%;
    font-size: 30px;
    font-family: "rob-bold";
    color: #000;
    text-transform: uppercase;
    padding-top: 385px;
    padding-left: 65px;
    line-height: 38px; }

.nob-stars-violet {
  background: #990066;
  color: #fff; }
  .nob-stars-violet .nob-stars-block__content {
    border-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .nob-stars-violet .nob-stars-img {
    width: 535px;
    height: 405px; }
  .nob-stars-violet .nob-stars-buttons {
    width: 360px;
    height: 410px;
    box-sizing: border-box;
    padding: 12px 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .nob-stars-violet .nob-stars-buttons > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 130px; }
  .nob-stars-violet .nob-stars-btn:not(checked) + label:before {
    border-color: #fff;
    background: #990066;
    left: -10px;
    top: 47%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .nob-stars-violet .nob-stars-btn:not(checked) + label:after {
    background: #fff;
    left: -6px;
    top: 47%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.nob-stars-white {
  margin-top: 230px; }
  .nob-stars-white .nob-stars-block__content {
    border-color: #000;
    height: 100%;
    position: relative; }
  .nob-stars-white .nob-stars-img {
    position: absolute;
    top: -265px;
    width: 75%;
    left: 12%; }
  .nob-stars-white .nob-stars-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-top: 255px;
    padding: 0 40px; }
    .nob-stars-white .nob-stars-buttons > div {
      width: 190px;
      text-align: center; }
  .nob-stars-white .nob-stars-btn:not(checked) + label {
    padding: 85px 0 0;
    display: block;
    width: 190px; }
    .nob-stars-white .nob-stars-btn:not(checked) + label:before {
      border-color: #e90049;
      background: #fff;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    .nob-stars-white .nob-stars-btn:not(checked) + label:after {
      background: #e90049;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }

.nob-stars-pink {
  background: #e90049;
  color: #fff; }
  .nob-stars-pink .nob-stars-block__content {
    border-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .nob-stars-pink .nob-stars-img {
    width: 535px;
    height: 405px; }
  .nob-stars-pink .nob-stars-buttons {
    width: 360px;
    height: 410px;
    box-sizing: border-box;
    padding: 12px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .nob-stars-pink .nob-stars-buttons > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 130px; }
  .nob-stars-pink .nob-stars-btn:not(checked) + label:before {
    border-color: #fff;
    background: #e90049;
    left: 0; }
  .nob-stars-pink .nob-stars-btn:not(checked) + label:after {
    background: #fff;
    left: 3px; }
