html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

img {
  width: 100%;
  max-height: 100%; }

.nob-stars-container ::-moz-selection {
  background: #990066;
  color: #fff; }

.nob-stars-container ::selection {
  background: #990066;
  color: #fff; }

.nob-stars-block2 {
  display: none; }

.nob-stars-block3 {
  display: none; }

.nob-stars-block4 {
  display: none; }

.nob-stars-block5 {
  display: none; }

.nob-stars-block6 {
  display: none; }

.nob-stars-block7 {
  display: none; }

.img-answer.hidden {
  display: none; }

.nob-stars-container {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
  background-color: #fff; }

.nob-stars-title-pink {
  position: absolute;
  background-color: #e90049;
  padding: 7px 10px;
  color: #fff;
  font-size: 76px;
  line-height: 76px;
  text-transform: uppercase;
  font-family: "rob-light"; }

.nob-stars-nowrap {
  white-space: nowrap; }

.nob-stars-block {
  height: 600px;
  width: 100%;
  padding: 45px 40px;
  box-sizing: border-box; }
  .nob-stars-block__content {
    border: 1px solid;
    padding: 45px;
    height: 100%;
    box-sizing: border-box; }

.nob-stars-btn {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0; }
  .nob-stars-btn + label {
    cursor: pointer;
    font-size: 40px;
    font-family: "rob-bold";
    line-height: 40px; }
  .nob-stars-btn:not(checked) {
    position: absolute;
    opacity: 0; }
    .nob-stars-btn:not(checked) + label {
      position: relative;
      padding: 0 0 0 100px; }
      .nob-stars-btn:not(checked) + label:before {
        content: "";
        position: absolute;
        top: 5px;
        width: 60px;
        height: 60px;
        border: 4px solid;
        border-radius: 50%; }
      .nob-stars-btn:not(checked) + label:after {
        content: "";
        position: absolute;
        top: 8px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.2s; }
  .nob-stars-btn:checked + label:after {
    opacity: 1; }

.nob-stars-intro {
  width: 100%;
  height: 655px;
  position: relative;
  overflow: hidden; }
  .nob-stars-intro .nob-stars-title-pink:first-child {
    top: 30px;
    right: 145px;
    padding: 10px 35px; }
  .nob-stars-intro .nob-stars-title-pink:nth-child(2) {
    top: 125px;
    right: 275px;
    padding: 10px 35px; }
  .nob-stars-intro .nob-stars-title-pink:nth-child(3) {
    bottom: 350px;
    right: 120px; }
  .nob-stars-intro__content {
    display: flex;
    padding: 10px 40px; }
  .nob-stars-intro-img {
    width: 50%;
    height: 610px;
    background: url(../img/photo1.png) no-repeat;
    background-size: contain;
    background-position: center; }
  .nob-stars-intro-text {
    max-width: 40%;
    font-size: 30px;
    font-family: "rob-bold";
    color: #000;
    text-transform: uppercase;
    padding-top: 385px;
    padding-left: 65px;
    line-height: 38px; }

.nob-stars-violet {
  background: #990066;
  color: #fff; }
  .nob-stars-violet .nob-stars-block__content {
    border-color: #fff;
    display: flex; }
  .nob-stars-violet .nob-stars-img {
    width: 535px;
    height: 405px; }
  .nob-stars-violet .nob-stars-buttons {
    width: 360px;
    height: 410px;
    box-sizing: border-box;
    padding: 12px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .nob-stars-violet .nob-stars-buttons > div {
      display: flex; }
  .nob-stars-violet .nob-stars-btn:not(checked) + label:before {
    border-color: #fff;
    background: #990066;
    left: -10px;
    top: 47%;
    transform: translateY(-50%); }
  .nob-stars-violet .nob-stars-btn:not(checked) + label:after {
    background: #fff;
    left: -6px;
    top: 47%;
    transform: translateY(-50%); }

.nob-stars-white {
  margin-top: 150px; }
  .nob-stars-white .nob-stars-block__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .nob-stars-white .nob-stars-img {
    width: 70%;
    height: 425px;
    margin-top: -240px; }
  .nob-stars-white .nob-stars-buttons {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 0 30px; }
    .nob-stars-white .nob-stars-buttons > div {
      width: 100%;
      text-align: center; }
  .nob-stars-white .nob-stars-btn:not(checked) + label {
    padding: 85px 0 0;
    display: block;
    width: 100%; }
    .nob-stars-white .nob-stars-btn:not(checked) + label:before {
      border-color: #e90049;
      background: #fff;
      left: 50%;
      transform: translateX(-50%); }
    .nob-stars-white .nob-stars-btn:not(checked) + label:after {
      background: #e90049;
      left: 50%;
      transform: translateX(-50%); }

.nob-stars-pink {
  background: #e90049;
  color: #fff; }
  .nob-stars-pink .nob-stars-block__content {
    border-color: #fff;
    display: flex; }
  .nob-stars-pink .nob-stars-img {
    width: 535px;
    height: 405px; }
  .nob-stars-pink .nob-stars-buttons {
    width: 360px;
    height: 410px;
    box-sizing: border-box;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .nob-stars-pink .nob-stars-buttons > div {
      display: flex; }
  .nob-stars-pink .nob-stars-btn:not(checked) + label:before {
    border-color: #fff;
    background: #e90049;
    left: 0;
    top: 50%;
    transform: translateY(-50%); }
  .nob-stars-pink .nob-stars-btn:not(checked) + label:after {
    background: #fff;
    left: 3.5px;
    top: 50%;
    transform: translateY(-50%); }

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden; }

  br {
    display: none; }

  .nob-stars-container {
    width: 768px;
    height: 100vh; }

  .nob-stars-title-pink {
    padding: 15px 25px; }

  .nob-stars-intro {
    height: auto;
    padding-bottom: 20px; }
    .nob-stars-intro__content {
      flex-direction: column;
      padding: 10px 15px; }
    .nob-stars-intro-text {
      font-size: 40px;
      line-height: 40px;
      padding: 10px 50px;
      max-width: 100%; }
    .nob-stars-intro-img {
      width: 100%;
      background-position: left; }
    .nob-stars-intro .nob-stars-title-pink:nth-child(1) {
      top: 290px;
      right: 40px; }
    .nob-stars-intro .nob-stars-title-pink:nth-child(2) {
      top: auto;
      right: 170px;
      bottom: 325px; }
    .nob-stars-intro .nob-stars-title-pink:nth-child(3) {
      bottom: 220px;
      right: 0px; }

  .nob-stars-block {
    height: 100%; }

  .nob-stars-violet .nob-stars-block__content, .nob-stars-pink .nob-stars-block__content {
    padding: 0;
    flex-direction: column;
    align-items: center;
    border: 0px; }
  .nob-stars-violet .nob-stars-img, .nob-stars-pink .nob-stars-img {
    flex: 1;
    width: 600px;
    height: 465px; }
  .nob-stars-violet .nob-stars-buttons, .nob-stars-pink .nob-stars-buttons {
    flex: 1;
    width: auto;
    padding: 60px 10%; }
    .nob-stars-violet .nob-stars-buttons > div, .nob-stars-pink .nob-stars-buttons > div {
      width: 100%; }
    .nob-stars-violet .nob-stars-buttons label, .nob-stars-pink .nob-stars-buttons label {
      width: 100%;
      padding: 0 0 0 75px;
      white-space: nowrap; }
      .nob-stars-violet .nob-stars-buttons label::before, .nob-stars-violet .nob-stars-buttons label::after, .nob-stars-pink .nob-stars-buttons label::before, .nob-stars-pink .nob-stars-buttons label::after {
        width: 40px;
        height: 40px; }

  .nob-stars-white {
    margin-top: 0;
    padding-top: 100px; }
    .nob-stars-white .nob-stars-img {
      width: 600px;
      height: 395px;
      margin-top: -145px;
      flex: 1; }
    .nob-stars-white .nob-stars-buttons {
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      width: auto;
      height: 410px;
      padding: 60px 10%;
      box-sizing: border-box; }
      .nob-stars-white .nob-stars-buttons > div {
        display: flex;
        width: 100%; }
      .nob-stars-white .nob-stars-buttons .nob-stars-btn:not(checked) + label {
        width: 100%;
        padding: 0 0 0 75px;
        white-space: nowrap;
        text-align: start; }
        .nob-stars-white .nob-stars-buttons .nob-stars-btn:not(checked) + label::before, .nob-stars-white .nob-stars-buttons .nob-stars-btn:not(checked) + label::after {
          width: 40px;
          height: 40px; }
        .nob-stars-white .nob-stars-buttons .nob-stars-btn:not(checked) + label::before {
          left: -10px;
          top: 47%;
          transform: translateY(-50%); }
        .nob-stars-white .nob-stars-buttons .nob-stars-btn:not(checked) + label::after {
          left: -6px;
          top: 47%;
          transform: translateY(-50%); } }
