html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

img {
  width: 100%;
  max-height: 100%; }

.nob-stars-container ::-moz-selection {
  background: #990066;
  color: #fff; }

.nob-stars-container ::selection {
  background: #990066;
  color: #fff; }

.nob-stars-block2 {
  display: none; }

.nob-stars-block3 {
  display: none; }

.nob-stars-block4 {
  display: none; }

.nob-stars-block5 {
  display: none; }

.nob-stars-block6 {
  display: none; }

.nob-stars-block7 {
  display: none; }

.img-answer.hidden {
  display: none; }

.nob-stars-container {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff; }

.nob-stars-title-pink {
  position: absolute;
  background-color: #e90049;
  padding: 7px 10px;
  color: #fff;
  font-size: 76px;
  line-height: 76px;
  text-transform: uppercase;
  font-family: "rob-light"; }

.nob-stars-nowrap {
  white-space: nowrap; }

.nob-stars-block {
  height: 600px;
  width: 100%;
  padding: 45px 40px;
  box-sizing: border-box; }
  .nob-stars-block__content {
    border: 1px solid;
    padding: 45px;
    height: 100%;
    box-sizing: border-box; }

.nob-stars-btn {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0; }
  .nob-stars-btn + label {
    cursor: pointer;
    font-size: 40px;
    font-family: "rob-bold";
    line-height: 40px; }
  .nob-stars-btn:not(checked) {
    position: absolute;
    opacity: 0; }
    .nob-stars-btn:not(checked) + label {
      position: relative;
      padding: 0 0 0 100px; }
      .nob-stars-btn:not(checked) + label:before {
        content: "";
        position: absolute;
        top: 5px;
        width: 60px;
        height: 60px;
        border: 4px solid;
        border-radius: 50%; }
      .nob-stars-btn:not(checked) + label:after {
        content: "";
        position: absolute;
        top: 8px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
        opacity: 0;
        -webkit-transition: all 0.2s;
                transition: all 0.2s; }
  .nob-stars-btn:checked + label:after {
    opacity: 1; }

.nob-stars-violet {
  background: #990066;
  color: #fff; }
  .nob-stars-violet .nob-stars-block__content {
    border-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .nob-stars-violet .nob-stars-img {
    width: 535px;
    height: 405px; }
  .nob-stars-violet .nob-stars-buttons {
    width: 360px;
    height: 410px;
    box-sizing: border-box;
    padding: 12px 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .nob-stars-violet .nob-stars-buttons > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  .nob-stars-violet .nob-stars-btn:not(checked) + label:before {
    border-color: #fff;
    background: #990066;
    left: -10px;
    top: 47%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .nob-stars-violet .nob-stars-btn:not(checked) + label:after {
    background: #fff;
    left: -6px;
    top: 47%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.nob-stars-white {
  margin-top: 50px; }
  .nob-stars-white .nob-stars-block__content {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .nob-stars-white .nob-stars-img {
    width: 63%;
    height: 385px;
    margin-top: -140px; }
  .nob-stars-white .nob-stars-buttons {
    width: 80%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 0 30px; }
    .nob-stars-white .nob-stars-buttons > div {
      width: 100%;
      text-align: center; }
  .nob-stars-white .nob-stars-btn:not(checked) + label {
    padding: 85px 0 0;
    display: block;
    width: 100%; }
    .nob-stars-white .nob-stars-btn:not(checked) + label:before {
      border-color: #e90049;
      background: #fff;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    .nob-stars-white .nob-stars-btn:not(checked) + label:after {
      background: #e90049;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }

.nob-stars-pink {
  background: #e90049;
  color: #fff; }
  .nob-stars-pink .nob-stars-block__content {
    border-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .nob-stars-pink .nob-stars-img {
    width: 535px;
    height: 405px; }
  .nob-stars-pink .nob-stars-buttons {
    width: 360px;
    height: 410px;
    box-sizing: border-box;
    padding: 12px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .nob-stars-pink .nob-stars-buttons > div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  .nob-stars-pink .nob-stars-btn:not(checked) + label:before {
    border-color: #fff;
    background: #e90049;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .nob-stars-pink .nob-stars-btn:not(checked) + label:after {
    background: #fff;
    left: 3.5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

#nob-stars-form {
  height: 100%; }

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden; }

  br {
    display: none; }

  .nob-stars-container {
    width: 768px;
    height: 100vh; }

  .nob-stars-title-pink {
    padding: 15px 25px;
    line-height: 77px; }

  .nob-stars-block {
    height: 100%; }

  .nob-stars-btn + label {
    font-size: 50px; }

  .nob-stars-violet .nob-stars-block__content, .nob-stars-pink .nob-stars-block__content {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0px; }
  .nob-stars-violet .nob-stars-img, .nob-stars-pink .nob-stars-img {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 600px;
    max-height: 465px;
    height: 465px; }
  .nob-stars-violet .nob-stars-buttons, .nob-stars-pink .nob-stars-buttons {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: auto;
    padding: 60px 10%;
    max-height: 550px; }
    .nob-stars-violet .nob-stars-buttons > div, .nob-stars-pink .nob-stars-buttons > div {
      width: 100%; }
    .nob-stars-violet .nob-stars-buttons label, .nob-stars-pink .nob-stars-buttons label {
      width: 100%;
      padding: 0 0 0 75px;
      white-space: nowrap; }
      .nob-stars-violet .nob-stars-buttons label::before, .nob-stars-violet .nob-stars-buttons label::after, .nob-stars-pink .nob-stars-buttons label::before, .nob-stars-pink .nob-stars-buttons label::after {
        width: 40px;
        height: 40px; }

  .nob-stars-violet .nob-stars-buttons {
    padding: 100px 10%; }

  .nob-stars-pink .nob-stars-buttons {
    padding: 60px 10% 120px; }

  .nob-stars-white {
    margin-top: 0;
    padding-top: 100px; }
    .nob-stars-white .nob-stars-block__content {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    .nob-stars-white .nob-stars-img {
      width: 600px;
      max-height: 465px;
      height: 465px;
      margin-top: -145px;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .nob-stars-white .nob-stars-buttons {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: auto;
      max-height: 500px;
      padding: 60px 10%;
      box-sizing: border-box; }
      .nob-stars-white .nob-stars-buttons > div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%; }
      .nob-stars-white .nob-stars-buttons .nob-stars-btn:not(checked) + label {
        width: 100%;
        padding: 0 0 0 75px;
        white-space: nowrap;
        text-align: start; }
        .nob-stars-white .nob-stars-buttons .nob-stars-btn:not(checked) + label::before, .nob-stars-white .nob-stars-buttons .nob-stars-btn:not(checked) + label::after {
          width: 40px;
          height: 40px; }
        .nob-stars-white .nob-stars-buttons .nob-stars-btn:not(checked) + label::before {
          left: -10px;
          top: 47%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%); }
        .nob-stars-white .nob-stars-buttons .nob-stars-btn:not(checked) + label::after {
          left: -6px;
          top: 47%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%); } }
