@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic,cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic,cyrillic-ext");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, img, footer, header, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

img {
  max-width: 100%;
  height: auto; }

input {
  outline: 0;
  border: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

a {
  color: inherit; }

::-webkit-input-placeholder {
  color: #fff;
  font-weight: 300; }

::-moz-placeholder {
  color: #fff;
  font-weight: 300; }

:-moz-placeholder {
  color: #fff;
  font-weight: 300; }

:-ms-input-placeholder {
  color: #fff;
  font-weight: 300; }

.intro {
  background: url("../img/back.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 650px;
  max-height: 1024px;
  color: #fff;
  font-family: "Roboto", sans-serif; }
  .intro .block {
    padding-top: 65px; }
  .intro__logo {
    width: 125px; }
  .intro__title {
    font-size: 41px;
    line-height: 1.2;
    margin-top: 30px; }
  .intro__subtitle {
    font-size: 37px;
    font-weight: 300;
    line-height: 1; }
  .intro__reg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 230px;
    height: 180px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px; }
  .intro__agreement {
    width: 230px;
    text-align: center;
    color: #88898c;
    font-size: 11px;
    font-weight: 300;
    margin-top: 10px; }
  .intro__number {
    text-align: center;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif; }
    .intro__number-value {
      font-size: 30px;
      font-weight: 600;
      line-height: 1.5; }
    .intro__number-text {
      color: #449f42;
      font-size: 16px; }

.block {
  width: 870px;
  margin: 0 auto; }

.reg-form {
  position: relative; }
  .reg-form::after {
    content: "";
    position: absolute;
    background: url("../img/start.png") no-repeat;
    background-size: contain;
    width: 140px;
    height: 20px;
    bottom: 0;
    right: -150px; }
  .reg-form__item {
    background: rgba(255, 255, 255, 0.3);
    padding: 7px;
    border-radius: 100px;
    text-align: center; }
  .reg-form__submit {
    background: #449f42;
    cursor: pointer; }
  .reg-form__currency {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 5px 0 15px; }
  .reg-form__text {
    font-size: 10px;
    font-family: "Open Sans";
    text-align: center;
    line-height: 1;
    margin: 10px 0 5px; }

.main-content {
  background: #fff;
  padding-bottom: 60px; }
  .main-content .block {
    padding-top: 55px; }
  .main-content__title {
    text-align: center;
    font-size: 30px;
    color: #333333;
    line-height: 1;
    font-family: "Open Sans", sans-serif;
    font-weight: 400; }
  .main-content__steps {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

.steps-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 20px;
  position: relative; }
  .steps-icons::before {
    content: "";
    position: absolute;
    background: url("../img/line.jpg") no-repeat;
    width: 100%;
    height: 12px;
    background-size: cover;
    bottom: 0;
    z-index: 999; }

.steps-texts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 0 0; }

.text {
  width: 125px;
  font-size: 12px;
  font-family: "Open Sans";
  color: #333333;
  line-height: 1.286;
  text-align: center; }

.icon {
  width: 60px;
  height: 65px;
  background: url("../img/icons.png");
  background-size: cover; }
  .icon.-first {
    background-position: 3px 0; }
  .icon.-second {
    background-position: -60px 0; }
  .icon.-third {
    background-position: -123px 0; }
  .icon.-fourth {
    background-position: -188px 0; }
  .icon.-fifth {
    background-position: -252px 0; }
  .icon.-sixth {
    background-position: 60px 0; }

.radio {
  vertical-align: top;
  width: 1px;
  height: 1px; }
  .radio + label {
    cursor: pointer; }
  .radio:not(checked) {
    position: absolute;
    opacity: 0; }
    .radio:not(checked) + label {
      position: relative;
      padding: 10px 30px;
      font-size: 11px; }
      .radio:not(checked) + label::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        background: rgba(255, 255, 255, 0.3);
        padding: 15px 20px; }
  .radio:checked + label:after {
    opacity: 1; }
  .radio:focus + label {
    color: #449f42; }
    .radio:focus + label:before {
      box-shadow: 0 0 0 1px #449f42; }

.radio1:not(checked) + label::before {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  width: 40%; }

.radio2:not(checked) + label {
  padding: 10px 20px 10px 5px; }
  .radio2:not(checked) + label::before {
    border-right: 1px solid #333333;
    border-left: 1px solid #333333;
    left: -15px; }

.radio3:not(checked) + label::before {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  left: 3px;
  width: 40%; }

@media only screen and (max-width: 960px) {
  .block {
    width: 90%; } }
@media only screen and (max-width: 600px) {
  .intro {
    text-align: center;
    background-position: center; }
    .intro__logo {
      margin: 0 auto; }
    .intro__reg {
      margin: 40px auto 0; }
    .intro__agreement {
      margin: 10px auto 0; }
    .intro__title {
      font-size: 9vw; }
    .intro__subtitle {
      font-size: 7vw; }
    .intro__number-value {
      font-size: 6vw; }
    .intro__number-text {
      font-size: 3vw; }

  .reg-form::after {
    display: none; } }
@media only screen and (max-width: 1200px) {
  .main-content__steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .steps-icons,
  .steps-texts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
    padding: 10px 15px; }

  .steps-icons::before {
    bottom: 49%;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 590px;
    left: -225%;
    background-size: contain; } }
