@font-face {
	font-family: 'rob-reg';
	src: url('../fonts/rob-reg/Roboto-Regular.eot');
	src: url('../fonts/rob-reg/Roboto-Regular.woff') format('woff'), url('../fonts/rob-reg/Roboto-Regular.ttf') format('truetype'), url('../fonts/rob-reg/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rob-light';
	src: url('../fonts/rob-light/Roboto-Light.eot');
	src: url('../fonts/rob-light/Roboto-Light.woff') format('woff'), url('../fonts/rob-light/Roboto-Light.ttf') format('truetype'), url('../fonts/rob-light/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rob-bold';
	src: url('../fonts/rob-bold/Roboto-Bold.eot');
	src: url('../fonts/rob-bold/Roboto-Bold.woff') format('woff'), url('../fonts/rob-bold/Roboto-Bold.ttf') format('truetype'), url('../fonts/rob-bold/Roboto-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
