.b-articles-items {
    padding-left:0;
}

.b-aside-right {
    padding-right:0;
}

@media screen and (max-width:991px) {
    .b-articles-items, .b-aside-right {
        padding: 0;
    }
}


.articles-title {
    background-color: white;
    padding: 20px 0;
    margin-top: 50px;
}

/*
.articles-title-leftCircle {
    text-align: right;
}


.articles-title-center {
     font-family: Raleway-Medium, sans-serif;
    text-transform: uppercase;
    font-size: 20pt;
    color: black;
    text-align: center;
}
*/


.aside-right, .articles-items {
    background-color: white;
}

.articles-content > div {
    padding: 0;
}

.aside-right .category-item {
    margin: 0 45px 20px;
    margin-top: 0;
}

.aside-right .category-item:last-child {
    margin-bottom:0;
}
  

.articles-content {
    margin-top:30px;
}

.articles-items  .row:first-child {
    padding-top:40px;
}

.articles-items  .row:last-child {
    padding-bottom:65px;
}

.articles-items  .row {
    padding: 30px;
}

.articles-items  .row button {
    border: none;
    background-color: #66CCFF;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
    color: white;
    font-family: Raleway-Regular, sans-serif;
}

.articles-items  .row button img {
    position: relative;
    top:1px;
}

.articles-items  .row .short-disc {
      font-family: Raleway-Light, sans-serif;
    font-size: 12pt;
    line-height: 25px;
    margin-top: 10px;
    max-height: 75px;
    overflow: hidden;
}

.articles-items  .row .title {
    font-family: Raleway-Regular, sans-serif;
    font-size: 15pt;
}


.articles-items .item > div > img {
    width:100%;
}



@media screen and (max-width:991px) {
    .articles-items, .aside-right {
    margin-right: 0;
    margin-left:0;
  }
    
    .aside-right {
        height: auto;
        padding-bottom: 30px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 40px 15px;
        margin-top:40px;
    }
    
    .articles-items {
        margin-top: 40px;
    }    
    
    .aside-right .category-item {
       margin: 0 15px; 
    }
    
    .articles-items .row {
        padding: 30px;
    }
}

@media screen and (max-width:480px) {
    .articles-items {
        height: auto;
        padding-bottom: 30px;
    } 
    
    .articles-items .left {
        width: 95%;
    }
    
    .articles-items .right {
        width: 100%;
        padding: 0 40px;
    }
    
}