#article {
    background-color: white;
}

.article-main .section-title {
    background-color: white;
    font-family: Raleway-ExtraBold;
    font-size:24pt;
    text-align:center;
    margin-top: 50px;
    margin-bottom: 40px;
    padding:30px 15px;
}

.article-video {
    margin-bottom:40px;
}


.article-main .article-title {
    background-color: white;
    text-align: center;
    font-family: Raleway-Medium;
    font-size: 17pt;
}

.article-title {
    padding: 25px 0;
}

.recommended-title img,
.article-title img {
    width: 30px;
}

.recommended-title .left-img,
.article-title .left-img {
    margin-right: 15px;
}

.recommended-title .right-img,
.article-title .right-img {
    margin-left: 15px;
}

.article-main .article-content {
    font-size: 11pt;
    font-family: Raleway-Light;
    line-height:25px;
    padding:15px 30px;
}

.article-main .article-content .upper{
    text-transform: uppercase;
}

.article-main .article-content p {
    margin-bottom: 15px;
}

.recommended {
    background-color: white;
    margin-top: 40px;
}


.recommended-title {
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 18pt;
    text-align: center;
    font-family: Raleway-Light;
}


/*
#offers1 .carousel-controls .carousel-control.left {
    left:20px;
    
}

#offers1 .carousel-controls .carousel-control.right {
    right:20px;
    
}
*/

.category-item-disc p {
    color:white;
    padding: 15px 5px 0 5px;
    line-height: 20px;
}

.category-item-disc {
    background-color: #66CCFF;
    position: relative;
    height: 70px;
    top: -90px;
    width: 200px;
    margin: 0 auto;
    background: rgb(102, 204, 255);
    background: rgba(102, 204, 255, .6);
    text-align: center;
}

.aside-right1 {
    padding: 28px 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
}

.category-item1 {
    max-height: 210px;
}

.category-item1 a:hover,
.category-item1 a:focus,
.category-item1 a:active {
    text-decoration: none;
}


.category-item1:first-child {
    margin-bottom: 25px;
}

#offers2 .carousel-inner .carousel-controls hr, 
#offers1 .carousel-inner .carousel-controls hr {
    margin-top: 30px;
}


@media screen and (max-width:991px) {
    .aside-right1 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    
    .category-item1:first-child {
    margin-bottom: 0;
    }
    
    
}


@media screen and (max-width:768px) {
    .aside-right1 .category-item1:first-child {
    margin-right:30px;
    }
    
    .aside-right1 {
        margin-bottom: 40px; 
    }
    
}







