.b-contacts-info {
    padding-right:0;
}

.b-contacts-form {
    padding-left:0;
}

.block-contacts {
  text-align: center;  
    background-color: white;
    padding: 20px 0;
    margin-top: 50px;
}

.contacts-info, .contacts-form {
    background-color: white;
    height: 385px;
}

.contacts-content > div {
    padding: 0;
}

.contacts-form-title {
    text-align: center;
    text-transform: uppercase;
    font-family: Raleway-Medium, sans-serif;
    font-size: 18pt;
    padding: 30px 0;
}

input.name, input.tel, input.mail {
    width: 100%;
    line-height: 22px;
}

.contacts-form .form-line {
    margin: 23px 0 -1px 25px;
}

.text-line textarea {
    width:100%;
    display:block;
}

.text-line label {
    display: block;
    font-family: Raleway-Thin;
    font-size:10pt;
    margin-bottom: 10px;
}

.text-line {
    margin-right:25px;
    margin-top: 25px;
}

input.name, input.tel, input.mail, .text-line textarea {
    border: 1px solid #66CCFF;
    padding: 2px 0;
    border-radius: 3px;
}

.form-line label {
    font-family: Raleway-Thin, sans-serif;
    font-size:10pt;
    margin-bottom:10px;
}

.contacts-form-title  div {
    padding:0;
}

.contacts-info-title {
    text-align: center;
    text-transform: uppercase;
    font-family: Raleway-Medium, sans-serif;
    font-size: 18pt;
    padding: 30px 0;
}

.contacts-info-content {
    font-family: Raleway-Light, sans-serif;
    line-height: 25px;
    margin: 20px 25px;
}

.contacts-form-button {
    text-align: center;
}

.contacts-form-button button {
    border: none;
    background-color: #66CCFF;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 25px;
    color: white;
}

.contacts-title div {
    font-size: 24pt;
    font-family: Raleway-ExtraBold;
}

.contacts-title img {
    width: 115px;
    margin-top: 10px;
}



@media screen and (max-width:991px) {
    .contacts-form, .contacts-info {
    margin-right: 0;
    margin-left:0;
  }
    
    .contacts-info {
        height: auto;
        padding-bottom: 30px;
    }
    
    .contacts-form {
        margin-top: 40px;
    }
    
    .b-contacts-info {
    padding:0;
}

    .b-contacts-form {
    padding:0;
}

    
}


@media screen and (max-width:480px) {
    .contacts-form {
        height: auto;
        padding-bottom: 30px;
    } 
    
    .contacts-form .left {
        width: 95%;
    }
    
    .contacts-form .right {
        width: 100%;
        padding: 0 40px;
    }
    
    .text-line {
        margin-right:0px; 
    }
    
    .text-line textarea {
        width: 101%;
    
}


