.category-map {
    background-color: white;
    position: relative;
    top: -40px;
    padding: 30px 0;
}

.category-map .map {
    padding: 0 30px;
    padding-bottom:30px;
}

.ymaps-2-1-34-copyrights-pane {
    display:none;
}

.map-all a .show-all {
    font-size: 18pt;
    font-weight:100;
    font-family: Raleway-Light, sans-serif;  
}

.map-all {
    text-align: center;
    margin-top: 30px;
}

.map-all a {
    color:black;
}

.map-all a:hover {
    text-decoration: none;
}

.category-map-controls {
    padding:0 30px;
    text-align: right;
    margin-bottom: 40px;
}

.category-map-controls span {
    font-family: Raleway-Medium, sans-serif;
    font-size: 11pt;
    color: #66CCFF;
    padding-left: 22px;
}

.category-map-controls button {
border: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.category-map-controls #button-square {
    width: 20px;
    height: 20px;
    background-image:url(../images/square1.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: -70px;
}


.ymaps-map {
    height:80vh !important;
    background: none !important;
}

.ymaps-b-zoom__scale, .gotoymaps, ymaps .controller, .ymaps-copyrights-pane, .ymaps-b-select_control_listbox .ymaps-b-form-button  {
    display: none !important;
}

.ymaps-b-zoom {
    position: relative;
    top: 25vh;
}


.ymaps-b-zoom__button_type_plus, .ymaps-b-zoom__button_type_minus {
    background: none !important;
    background-color: white !important;
    border-radius: 15px;
    margin: 10px 5px;
}

.ymaps-b-form-button_theme_grey-sm, .ymaps-b-form-button_theme_grey-sm .ymaps-b-form-button__left, .ymaps-b-form-button_theme_grey-sm .ymaps-b-form-button__content {
    background-image: none !important;
}

.ymaps-b-form-button_theme_grey-no-transparent-26 .ymaps-b-form-button__content, .ymaps-b-form-button_theme_grey-no-transparent-26, .ymaps-b-form-button_theme_grey-no-transparent-26 .ymaps-b-form-button__left, .ymaps-b-form-button_theme_grey-no-transparent-26 .ymaps-b-form-button__content {
    background-image: none !important;
}

.ymaps-b-form-button .ymaps-b-ico {
    margin: 6px 4px 0px !important;
}

.ymaps-b-form-button_height_26 .ymaps-b-form-button__content {
    background-color: white;
    border-radius: 15px;
}

.ymaps-b-form-button__left {
    display:none !important;
}

.ymaps-b-select {
    background-color: none !important;
}

.ymaps-b-select_control_search .ymaps-b-search .ymaps-b-form-input {
    margin-left: 10px !important;
}

.ymaps-group {
    display: none;
}

.ymaps-image-with-content {
    background-image: url(../images/map-point2.png) !important;
    background-size: 36px 44px !important;
    width: 36px !important;
    height: 44px !important;
}

.ymaps-shadows-pane {
    display: none;
}

.ymaps-b-balloon__close {
    background-image:url(../images/close.png) !important;
}

.ymaps-b-balloon__content-body {
    color: #66CCFF;
}


.ymaps-b-select_control_search .ymaps-b-popupa_layout_yes {
    left: 0 !important;
    width: 235px;
    margin-left: 8px;
    margin-top: 5px;
}


@media screen and (max-width: 991px) {
    .ymaps-map {
        height: 400px !important;
    }
}



@media screen and (max-width: 768px) {
    .ymaps-map {
        height: 300px !important;
    }
    
    .category-map {
        top: 0;
    }
    
    .category-map-controls {
        margin-bottom: 30px;
    }  
        
}

@media screen and (max-width: 480px) {
    .ymaps-map {
        height: 200px !important;
    }
} 


