.b-map {
   padding-top: 30px;
   padding-bottom: 40px;
   background-color: white;
}

.b-map .map {
    padding-bottom: 30px;
}

.b-map-nav {
    padding-top: 15px;
}

.b-map-nav .category-map-controls {
 padding: 0 15px;
}

.b-map-nav .category-map-controls {
    margin-bottom: 0;
    margin-top: 15px;
}

.ymaps-map {
    width: 100% !important;
}

.b-checkbox {
    background-color: white;
}

.b-checkbox input[type=checkbox] {
    display: none;
}

.b-checkbox label::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #66CCFF;
  border-radius: 2px;
  position: relative;
  cursor:pointer;
 
}

.b-checkbox label {
    padding-top: 15px;
    font-size:12px;
}



.b-checkbox input[type=checkbox]:checked + label::before
{
  content: "\2714";
  color: #f3f3f3;
  background-color: #66CCFF;
  text-align: center;
  line-height: 20px;
}

.b-checkbox input[type=checkbox] + label::before
{
    margin-bottom: -4px;
    margin-right: 10px;
}

.map-select label {
    font-family: Raleway-Thin, sans-serif;
    font-size: 12pt;
    text-transform: uppercase;
}


.map-select {
    padding: 5px 0;
}






