@media screen and (max-width:480px) {
  .content-main-slider-title::before {
    -webkit-transform: scale(0.3) !important;
    -ms-transform: scale(0.3) !important;
    transform: scale(0.3) !important;
  }

  .contacts-form {
    height: auto;
    padding-bottom: 30px;
  }

  .contacts-form .left {
    width: 95%;
  }

  .contacts-form .right {
    width: 100%;
    padding: 0 40px;
  }

  .text-line {
    margin-right: 0;
  }

  .text-line textarea {
    width: 101%;
  }

  .ymaps-map {
    height: 200px !important;
  }

  .articles-items {
    height: auto;
    padding-bottom: 30px;
  }

  .articles-items .left {
    width: 95%;
  }

  .articles-items .right {
    width: 100%;
    padding: 0 40px;
  }

  .content-main-slider-title::before {
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }

  .carousel-inner .item .sale-main-slider {
    white-space: normal;
    height: auto;
    width: 15%;
    font-size: 2.3vw;
    line-height: 10px;
    padding: 3px;
  }

  .category-title-showMap {
    top: 35px;
  }

  .category-title-showMap img {
    width: 15px;
  }

  .contacts-info-content .address > div:last-child,.contacts-info-content .time > div:last-child,.contacts-info-content .tel > div:last-child,.contacts-info-content .web-link > div:last-child,.contacts-info-content .news > div:last-child {
    font-size: 10pt;
  }

  .contacts-info-content__text {
    font-size: 11pt;
    text-align: justify;
  }

  .ymaps-map {
    height: 200px !important;
  }

  .sale-offer2,.sale {
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
}

@media screen and (max-width:640px) {
  .social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .category-map {
    top: 0;
  }

  .ymaps-map {
    height: 300px !important;
  }

  .category-map-controls {
    margin-bottom: 30px;
  }

  .aside-right1 .category-item1:first-child {
    margin-right: 30px;
  }

  /*
    .aside-right1 {
      margin-bottom: 40px;
    }
  */
  .header-row {
    position: fixed;
    z-index: 999999;
    background-color: #fff;
    width: 100%;
    top: 0;
    height: 100px;
    border-bottom: 1px solid #F5FCFF;
  /*    opacity: 0.9;*/
  }

  .header-nav {
    top: -100px;
    padding: 0;
  }

  .navbar {
    background-color: #fff;
  }

  .navbar-collapse.in {
    border-bottom: 1px solid #F5FCFF;
    overflow-y: auto;
  }

  .header-nav-logo img {
    position: relative;
    z-index: 99999;
    padding-left: 15px;
  }

  .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .navbar-nav-top {
    margin-top: 50px;
  }

  .navbar-nav li {
    text-align: center;
  }
    
  .navbar-nav > li > a,.nav > li > a {
    margin-bottom: 10px; 
    }

  .first-line-menu {
    width: 100%;
    float: none;
  }

  .main {
    margin-top: 60px;
  }

  li.map {
    display: none;
  }

  .category-first {
    top: 0;
  }

  .carousel-indicators {
    bottom: 10px !important;
  }

  .social a img {
    width: 40px;
  }

  .footer-menu-item a {
    font-size: 10pt;
  }

  .footer-menu-title {
    font-size: 11pt;
    margin-bottom: 10px;
  }

  .footer .copyright span {
    font-size: 9pt;
  }

  .content-main-slider-title {
    font-weight: 700;
    margin-bottom: 10px;
    padding-right: 30%;
  }

  .content-main-slider-title::before {
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
    top: 0;
  }

  .carousel-inner .item .sale-main-slider {
    font-size: 10pt;
    width: 110px;
  }

  .carousel-inner .item .content-main-slider {
    left: 35px;
    line-height: 20px;
    top: 20%;
  }

  .carousel-inner .item .sale-main-slider {
    left: 75%;
  }

  .first-line-menu {
    margin: 0;
  }

  .first-line-menu .navbar-nav-top {
    padding-bottom: 0;
  }

  .second-line-menu .navbar-nav {
    padding: 0;
    margin: 0;
  }

  .second-line-menu {
    padding-bottom: 15px;
  }

  .nav > li > a {
    text-transform: none;
    font-size: 12pt !important;
  }

  .articles-items .item .title .date {
    display: block;
  }

  .sale-offer2,.sale {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
    
}

@media screen and (max-width:991px) {
  .ymaps-map {
    height: 400px !important;
  }

  .contacts-form,.contacts-info {
    margin-right: 0;
    margin-left: 0;
  }

  .contacts-info {
    height: auto;
    padding-bottom: 30px;
  }

  .contacts-form {
    margin-top: 40px;
  }

  .b-contacts-info {
    padding: 0;
  }

  .b-contacts-form {
    padding: 0;
  }

  .contacts-info-content .address {
    margin-top: 0;
  }

  .ymaps-map {
    height: 400px !important;
  }

  .articles-items,.aside-right {
    margin-right: 0;
    margin-left: 0;
  }

  .aside-right {
    height: auto;
    padding-bottom: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 40px;
  }

  .articles-items {
    margin-top: 40px;
  }

  .aside-right .category-item {
    margin: 0 15px;
  }

  .articles-items .row {
    padding: 15px;
  }

  .b-articles-items,.b-aside-right {
    padding: 0;
  }

  .aside-right1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 40px;
  }

  .category-item1:first-child {
    margin-bottom: 0;
  }

  .aside-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .category-item1:first-child {
    margin-bottom: 0;
  }

  #menu-line {
    display: none;
  }

  .first-line-menu {
    width: 100%;
  }

  .footer-logo,.partner-title {
    text-align: center;
  }

  .category-title-leftCircle,.category-title-rightCircle,.category-title-center {
    text-align: center !important;
  }

  .category-title-leftCircle,.category-title-rightCircle {
    margin: 10px 0;
  }

  .category-title {
    display: block;
  }

  #Carousel2,#Carousel3 {
    margin-top: 100px;
  }

  .category-title-showMap {
    position: absolute;
    top: 45px;
    right: 20px;
  }

  .carousel-controls .all a .show-all {
    font-size: 14pt;
  }

  .all a {
    padding: 5px 7px;
  }

  .all a:hover {
    padding: 5px 7px;
  }

  .show-all-arrow {
    top: 6px;
  }

  .category-item .offer,.category-item .article {
    font-size: 12pt;
  }

  .carousel-inner .item .sale-main-slider {
    width: 16%;
    left: 76%;
    font-size: 2vw;
    line-height: 15px;
    padding: 5px;
    max-height: 25px;
    white-space: nowrap;
  }

  .map-and-sale .item-map > ymaps {
    height: 215px !important;
  }

  .map-and-sale .item-map {
    padding-bottom: 15px;
  }
    
  .item-info {
    margin-top: 40px;
    } 
    
  .map-and-sale {
    margin-top: 0px; 
    margin-bottom: 0px;
    }
    
  .articles-content {
    margin-top: 0px; 
    }
    
  .category-title-top {
    padding-top: 10px;
    padding-bottom: 10px; 
    }
    
    
}

@media screen and (min-width: 769px) and (max-width:1199px) {
  .header-nav-item {
    padding: 0;
  }

  .header-nav-logo {
    text-align: center;
  }

  .content-main-slider-title {
    padding-right: 10%;
  }

  .category-sale20::after {
    left: 45%;
  }

  .partner-title span {
    font-size: 12pt;
  }

  .header-nav-item {
    width: auto;
  }
}

@media screen and (min-width: 992px) and (max-width:1199px) {
  .category-item .offer::before {
    left: 25px;
  }

  .category-item .offer::after {
    right: 25px;
  }

  .category-item .article::before {
    left: 15px;
  }

  .category-item .article::after {
    right: 15px;
  }

  .block-social {
    padding-bottom: 23px;
  }

  .category-item-disc2 {
    left: 14%;
  }

  .second-line-menu li.header-nav-item:last-child,.first-line-menu li.header-nav-item:last-child {
    margin-right: -40px;
  }
}

@media screen and (min-width:1200px) {
  .second-line-menu li.header-nav-item:last-child,.first-line-menu li.header-nav-item:last-child {
    margin-right: -60px;
  }
}