@font-face {
  font-family: 'Rounded Elegance';
  src: url(../fonts/Rounded.ttf);
}

@font-face {
  font-family: Raleway-Regular;
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: Raleway-Bold;
  src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: Raleway-Light;
  src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: Raleway-Thin;
  src: url(../fonts/Raleway-Thin.ttf);
}

@font-face {
  font-family: Raleway-Medium;
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: Raleway-ExtraBold;
  src: url(../fonts/Raleway-ExtraBold.ttf);
}

#menu-line {
  height: 2px;
  background-color: #6CF;
  position: relative;
  width: 53%;
  float: right;
  z-index: 99999;
  top: 42px;
  opacity: .4;
}

body,html {
  height: 100%;
  padding: 0;
}

.first-line-menu {
  width: 70%;
  float: right;
}

.navbar-nav {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 13px 0;
}

.navbar-nav li {
  text-align: right;
}

.navbar-nav > li > a,.nav > li > a {
  padding: 0;
  padding-bottom: 3px;
}

button:active,button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

.carousel-control-left {
  background: url(../images/arrow-sprite-left.png) no-repeat;
  background-position: -10px 0;
  height: 23px;
  width: 11px;
  display: block;
  margin: 0 auto;
}

.carousel-control-left:hover {
  background-position: 0 0;
}

.carousel-control-right {
  background: url(../images/arrow-sprite.png) no-repeat;
  background-position: 0 0;
  height: 23px;
  width: 11px;
  display: block;
  margin: 0 auto;
}

.carousel-control-right:hover {
  background-position: -10px 0;
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.bx-up a {
  background: url(../images/up-up.png) no-repeat;
  background-position: 0 0;
  border-bottom: none;
  height: 53px;
  width: 53px;
  position: fixed;
  left: 25px;
  bottom: 20%;
  z-index: 99999;
}

.bx-up a:hover {
  background-position: 0 -53px;
}

.navbar {
/*  margin-top: 20px;*/
  margin-bottom: 0;
}

.navbar-toggle {
  overflow: hidden;
}

.navbar-toggle {
  border: 1px solid #6CF;
  margin-top: 27px;
  margin-right: 30px;
}

.navbar-toggle .icon-bar {
  background-color: #6CF;
  -webkit-transition: opacity,-webkit-transform;
  transition: opacity,-webkit-transform;
  transition: opacity,transform;
  transition: opacity,transform,-webkit-transform;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0,0.7);
  transition-timing-function: cubic-bezier(0.7,0,0,0.7);
}

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

.body {
  background-color: #F5FCFF;
  overflow-x: hidden;
}

.carousel-indicators {
  bottom: 70px !important;
}

.carousel-control.right,.carousel-control.left {
  opacity: 1;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left,rgba(256,256,256,1) 50%,rgba(0,0,0,.0001) 70%);
  background-image: linear-gradient(to right,rgba(256,256,256,1) 50%,rgba(0,0,0,.0001) 70%);
}

.carousel-control.right {
  background-image: -webkit-linear-gradient(right,rgba(256,256,256,1) 50%,rgba(0,0,0,.0001) 70%);
  background-image: linear-gradient(to left,rgba(256,256,256,1) 50%,rgba(0,0,0,.0001) 70%);
}

.carousel-inner {
  margin: 0 !important;
}

.carousel-controls {
  margin: 0;
  background-color: #fff;
  padding: 30px 0;
}

.header {
  padding: 20px 0;
  background-color: #fff;
}

.first-line-menu .nav > li > a {
  font-size: 12pt !important;
  text-transform: none;
}

.nav > li > a {
  font-family: Raleway-Medium,sans-serif;
  font-size: 14pt;
  color: #000;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.nav > li > a:hover,.nav > li > a:focus,.nav > li > a:active {
  text-decoration: none;
  background-color: #fff;
  border-bottom: 2px solid #6CF;
}

.header-nav-item {
  text-align: center;
}

.category-first {
  background-color: #fff;
  position: relative;
  top: -40px;
  max-height: 165px;
  padding-top: 30px;
}

.category-home {
  background-color: #fff;
  padding-top: 30px;
  margin-top: 30px;
}

.category-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.category-title-top {
  margin-top: 50px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.category-title .category-title-center {
  font-family: Raleway-Light,sans-serif;
  text-transform: uppercase;
  font-size: 20pt;
  color: #000;
  text-align: center;
}

.category-title .category-title-leftCircle {
  text-align: right;
}

.category-title .category-title-rightCircle {
  text-align: left;
}

.category-title-showMap {
  text-align: right;
}

.category-title-showMap a {
  color: #6CF;
  font-size: 11pt;
  font-family: Raleway-Medium,sans-serif;
}

.category-title-showMap a:hover,.category-title-showMap a:active {
  text-decoration: none;
}

.inner-img {
  max-width: 100%;
  height: auto;
}

.category-item {
  margin-top: 30px;
  text-align: center;
}

.category-item-title {
  height: 55px;
  background-color: #6CF;
  color: #fff;
  line-height: 50px;
  font-family: Raleway-Light,sans-serif;
}

.category-item a {
  font-family: 'Raleway',sans-serif;
}

.category-item a:hover {
  text-decoration: none;
}

.all {
  text-align: center;
}

.all a {
  color: #000;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 25px;
  padding: 10px 15px;
}

.all a:hover,.all a:focus,.all a:active {
  text-decoration: none;
  border: solid 1px #6CF;
  border-radius: 25px;
  padding: 10px 15px;
}

.all a .show-all {
  font-size: 18pt;
  font-weight: 100;
  font-family: Raleway-Light,sans-serif;
}

.show-all-arrow {
  display: inline-block;
  background: url(../images/arrow-sprite.png);
  width: 10px;
  height: 23px;
  background-position: 0 0;
  position: relative;
  top: 5px;
}

.all:hover .show-all-arrow {
  background-position: 10px 0;
}

.carousel-inner {
  background-color: #fff;
}

hr {
  border-top: 1px solid #EDF8FC;
  margin: 0 15px 20px;
}

.footer-carousel .item .partner:first-child {
  padding-right: 5px;
}

.footer {
  background-color: #fff;
  margin-top: 90px;
  padding-top: 15px;
}

.footer-logo img {
  width: 128px;
  height: auto;
}

.footer-carousel .partner img {
  max-width: 95%;
  height: auto;
}

.footer-carousel .item .partner {
  height: 50px;
  text-align: center;
}

.footer-carousel .item {
  line-height: 100px;
}

.footer-carousel .carousel-inner {
  height: 76px;
}

.partner-title span {
  font-family: Raleway-Regular,sans-serif;
  font-size: 14pt;
}

.partner-title {
  line-height: 76px;
}

.footer-carousel-controls .left {
  top: 10px !important;
  left: -35px !important;
}

.footer-carousel-controls .right {
  top: 10px !important;
  right: -40px !important;
}

.footer-carousel-controls .control-left {
  background-image: url(../images/footer-arrow-sprite-left.png);
  width: 20px;
  height: 43px;
  background-position: 20px 0;
  display: block;
  margin: 0 auto;
}

.footer-carousel-controls .control-left:hover {
  background-position: 1px 0;
}

.footer-carousel-controls .control-right {
  background-image: url(../images/footer-arrow-sprite-right.png);
  width: 20px;
  height: 43px;
  background-position: 0 0;
  display: block;
  margin: 0 auto;
}

.footer-carousel-controls .control-right:hover {
  background-position: 19px 0;
}

.footer-menu {
  margin-top: 50px;
}

.footer-menu-item a {
  color: #000;
  font-family: Raleway-Light,sans-serif;
  font-size: 12pt;
}

.footer-menu-item a:hover {
  text-decoration: none;
}

.footer-menu-item {
  margin: 10px 0;
}

.footer-menu-title {
  margin-bottom: 20px;
  font-family: Raleway-ExtraBold,sans-serif;
  font-size: 13pt;
  font-weight: 700;
}

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.social .vk {
  background: url(../images/social-sprite.png);
  width: 52px;
  height: 52px;
  background-position: 0 0;
  margin-right: 15px;
}

.social .vk:hover {
  background-position: 0 -57px;
}

.social .fb {
  background: url(../images/social-sprite.png);
  width: 52px;
  height: 52px;
  background-position: -64px 0;
  margin-right: 15px;
}

.social .fb:hover {
  background-position: -64px -57px;
}

.social .youtube {
  background: url(../images/social-sprite.png);
  width: 52px;
  height: 52px;
  background-position: -128px 0;
}

.social .youtube:hover {
  background-position: -128px -57px;
}

.footer .copyright {
  margin-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.footer .copyright span {
  font-family: Rounded Elegance;
  font-weight: 700;
  font-size: 11pt;
}

#Carousel3 .category-item .offer::before,
#Carousel2 .category-item .offer::before,
#offers1 .category-item .offer::before,
#offers2 .category-item .offer::before
{
  content: "•";
  color: #fff;
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 50px;
}

.b-aside-right .category-item .offer::before {
  content: "•";
  color: #fff;
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 80px;
}


.category-item .offer,.category-item .article {
  font-size: 13pt;
}

#Carousel3 .category-item .offer::after,
#Carousel2 .category-item .offer::after,
#offers1 .category-item .offer::after,
#offers2 .category-item .offer::after
{
  content: "•";
  color: #fff;
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  right: 50px;
}

.b-aside-right .category-item .offer::after {
  content: "•";
  color: #fff;
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 28px;
  right: 65px;

}

.category-item .article::before {
  content: "»";
  color: #fff;
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 35px;
}

.category-item .article::after {
  content: "«";
  color: #fff;
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  right: 35px;
}

.main #myCarousel .item .carousel-inner .item img {
  display: block;
}

.carousel-inner .item .sale-main-slider {
  position: absolute;
  width: 160px;
  height: 30px;
  background-color: #fff;
  left: 77%;
  top: 60%;
  padding: 10px;
  border-radius: 18px;
  font-family: Raleway-Light;
  font-size: 14pt;
  text-align: center;
  line-height: 7px;
  color: #333;
  font-family: Raleway-Light,sans-serif;
}

.carousel-inner .item .content-main-slider {
  position: absolute;
  width: 50%;
  height: 150px;
  background-color: transparent;
  left: 90px;
  top: 15%;
  font-size: 2vw;
  color: #333;
  line-height: normal;
  font-family: Raleway-Medium,sans-serif;
}

.content-main-slider-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-right: 40%;
  text-align: center;
}

.content-main-slider-title::before {
  content: url('../images/bubbles.png');
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.category-sale20::after {
  content: url('../images/sale20.png');
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 60%;
}

.category-sale10::after {
  content: url('../images/sale10.png');
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  left: 60%;
}

.header-nav-item .map {
  display: inline-block;
  width: 25px;
  height: 17px;
  background-image: url(../images/map.png);
  background-position: 56px -5px;
  position: relative;
  top: 1px;
}

.navbar-nav > li:last-child {
  padding-right: 0;
}

#Carousel2,#Carousel3 {
  margin-top: 40px;
}

.item-map {
  padding-bottom: 30px;
}

.sale-button {
  text-align: center;
}

.sale-button button {
  border: none;
  background-color: #6CF;
  padding: 5px 20px;
  border-radius: 20px;
  margin-top: 10px;
  color: #fff;
}

.category-item-disc2 {
  background-color: #6CF;
  position: absolute;
  height: 70px;
  top: 75px;
  width: 250px;
  margin: 0 auto;
  background: #6cf;
  background: rgba(102,204,255,.6);
  text-align: center;
  left: 80px;
}

.category-item-disc2 p {
  color: #fff;
  padding: 15px 5px 0;
  line-height: 20px;
}

.advertisment {
  padding-top: 15px;
  padding-bottom: 10px;
}

.contacts-info-content .sale span,.contacts-info-content .sale-offer2 span {
  font-size: 14pt;
}

.sale .image,.sale-offer2 .image {
  text-align: center;
}

.sale-offer2,.sale {
  margin-top: 30px;
}

.sale-offer2,.sale {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.b-sale {
  min-height: 355px;
}

.block-social img {
  max-width: 100%;
}

.block-social {
  padding-bottom: 73px;
/*    text-align: center;*/
}

.map-and-sale {
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-item-carousel .carousel-control.right,.section-item-carousel .carousel-control.left {
  background-image: none;
}

#ItemCarousel .item {
  padding: 30px;
}

#ItemCarousel .item-carousel-controls .control-right {
  background-image: url(../images/footer-arrow-sprite-right.png);
  width: 20px;
  height: 43px;
  background-position: 0 0;
  display: block;
  margin: 0 auto;
}

#ItemCarousel .item-carousel-controls .right {
  top: 55px;
  right: -35px;
}

#ItemCarousel .item-carousel-controls .left {
  left: -30px;
  top: 55px;
}

#ItemCarousel .item-carousel-controls .control-left {
  background-image: url(../images/footer-arrow-sprite-left.png);
  width: 20px;
  height: 43px;
  background-position: 20px 0;
  display: block;
  margin: 0 auto;
}

.section-item-carousel {
  background-color: #fff;
}

#ItemCarousel .carousel-inner img {
  max-width: 100%;
}

#myCarousel .item img {
  width: 100%;
}

/*article styles start*/
#article {
  background-color: #fff;
}

.section-title {
  background-color: #fff;
  font-family: Raleway-ExtraBold;
  font-size: 24pt;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 30px 15px;
}

.article-video {
  margin-bottom: 40px;
}

.article-main .article-title {
  background-color: #fff;
  text-align: center;
  font-family: Raleway-Medium;
  font-size: 17pt;
}

.article-title {
  padding: 25px 0;
}

.recommended-title img,.article-title img,.contacts-info-title img,.contacts-form img,.info-title img {
  width: 30px;
}

.recommended-title .left-img,.article-title .left-img,.contacts-info-title .left-img,.contacts-form .left-img,.info-title .left-img {
  margin-right: 15px;
}

.recommended-title .right-img,.article-title .right-img,.contacts-info-title .right-img,.contacts-form .right-img,.info-title .right-img {
  margin-left: 15px;
}

.article-main .article-content {
  font-size: 11pt;
  font-family: Raleway-Light;
  line-height: 25px;
  padding: 15px 30px;
}

.article-main .article-content .upper {
  text-transform: uppercase;
}

.article-main .article-content p {
  margin-bottom: 15px;
}

.recommended {
  background-color: #fff;
  margin-top: 40px;
}

.recommended-title {
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 18pt;
  text-align: center;
  font-family: Raleway-Light;
}

.category-item-disc p {
  color: #fff;
  padding: 15px 5px 0;
  line-height: 20px;
}

.category-item-disc {
  background-color: #6CF;
  position: relative;
  height: 70px;
  top: -90px;
  width: 200px;
  margin: 0 auto;
  background: #6cf;
  background: rgba(102,204,255,.6);
  text-align: center;
}

.aside-right {
  padding: 28px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
}

.category-item1 {
  max-height: 210px;
}

.category-item1 a:hover,.category-item1 a:focus,.category-item1 a:active {
  text-decoration: none;
}

.category-item1:first-child {
  margin-bottom: 25px;
}

#offers2 .carousel-inner .carousel-controls hr,#offers1 .carousel-inner .carousel-controls hr {
  margin-top: 30px;
}

.aside-right1 {
  padding: 28px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
}

.category-item1 {
  max-height: 210px;
}

.category-item1 a:hover,.category-item1 a:focus,.category-item1 a:active {
  text-decoration: none;
}

.category-item1:first-child {
  margin-bottom: 25px;
}

/* article styles end */
/*articles styles start*/
.b-articles-items {
  padding-left: 0;
}

.b-aside-right {
  padding-right: 0;
}

.articles-title {
  background-color: #fff;
  padding: 20px 0;
  margin-top: 50px;
}

.articles-title-leftCircle {
  text-align: right;
}

.articles-title-center {
  font-family: Raleway-Medium,sans-serif;
  text-transform: uppercase;
  font-size: 20pt;
  color: #000;
  text-align: center;
}

.aside-right,.articles-items {
  background-color: #fff;
}

.articles-content > div {
  padding: 0;
}

.aside-right .category-item {
  margin: 0 45px 20px;
  margin-top: 0;
}

.aside-right .category-item:last-child {
  margin-bottom: 0;
}

.articles-content {
  margin-top: 40px;
}

.articles-items .row:first-child {
  padding-top: 40px;
}

.articles-items .row:last-child {
  padding-bottom: 65px;
}

.articles-items .row {
  padding: 30px;
}

.articles-items .row button {
  border: none;
  background-color: #6CF;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
  color: #fff;
  font-family: Raleway-Regular,sans-serif;
}

.articles-items .row button img {
  position: relative;
  top: 1px;
}

.articles-items .row .short-disc {
  font-family: Raleway-Light,sans-serif;
  font-size: 12pt;
  line-height: 25px;
  margin-top: 10px;
  max-height: 75px;
  overflow: hidden;
}

.articles-items .row .title {
  font-family: Raleway-Regular,sans-serif;
  font-size: 15pt;
}

.articles-items .item > div > img {
  width: 100%;
}

/*articles styles and*/
/*map-page styles start*/
.category-map {
  background-color: #fff;
  position: relative;
  top: -40px;
  padding: 30px 0;
}

.category-map .map {
  padding: 0 30px;
  padding-bottom: 30px;
}

.ymaps-2-1-34-copyrights-pane {
  display: none;
}

.map-all a .show-all {
  font-size: 18pt;
  font-weight: 100;
  font-family: Raleway-Light,sans-serif;
}

.map-all {
  text-align: center;
  margin-top: 30px;
}

.map-all a {
  color: #000;
}

.map-all a:hover {
  text-decoration: none;
}

.category-map-controls {
  padding: 0 30px;
  text-align: right;
  margin-bottom: 40px;
}

.category-map-controls span {
  font-family: Raleway-Medium,sans-serif;
  font-size: 11pt;
  color: #6CF;
  padding-left: 22px;
}

.category-map-controls button {
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.category-map-controls #button-square {
  width: 20px;
  height: 20px;
  background-image: url(../images/square1.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: -70px;
}

.ymaps-map {
  height: 80vh !important;
  background: none !important;
}

.ymaps-b-zoom__scale,.gotoymaps,ymaps .controller,.ymaps-copyrights-pane,.ymaps-b-select_control_listbox .ymaps-b-form-button {
  display: none !important;
}

.ymaps-b-zoom {
  position: relative;
  top: 25vh;
}

.ymaps-b-zoom__button_type_plus,.ymaps-b-zoom__button_type_minus {
  background: none !important;
  background-color: #fff !important;
  border-radius: 15px;
  margin: 10px 5px;
}

.ymaps-b-form-button_theme_grey-sm,.ymaps-b-form-button_theme_grey-sm .ymaps-b-form-button__left,.ymaps-b-form-button_theme_grey-sm .ymaps-b-form-button__content {
  background-image: none !important;
}

.ymaps-b-form-button_theme_grey-no-transparent-26 .ymaps-b-form-button__content,.ymaps-b-form-button_theme_grey-no-transparent-26,.ymaps-b-form-button_theme_grey-no-transparent-26 .ymaps-b-form-button__left,.ymaps-b-form-button_theme_grey-no-transparent-26 .ymaps-b-form-button__content {
  background-image: none !important;
}

.ymaps-b-form-button .ymaps-b-ico {
  margin: 6px 4px 0 !important;
}

.ymaps-b-form-button_height_26 .ymaps-b-form-button__content {
  background-color: #fff;
  border-radius: 15px;
}

.ymaps-b-form-button__left {
  display: none !important;
}

.ymaps-b-select {
  background-color: transparent !important;
}

.ymaps-b-select_control_search .ymaps-b-search .ymaps-b-form-input {
  margin-left: 10px !important;
}

.ymaps-group {
  display: none;
}

.ymaps-image-with-content {
  background-image: url(../images/map-point2.png) !important;
  background-size: 36px 44px !important;
  width: 36px !important;
  height: 44px !important;
}

.ymaps-shadows-pane {
  display: none;
}

.ymaps-b-balloon__close {
  background-image: url(../images/close.png) !important;
}

.ymaps-b-balloon__content-body {
  color: #6CF;
}

.ymaps-b-select_control_search .ymaps-b-popupa_layout_yes {
  left: 0 !important;
  width: 235px;
  margin-left: 8px;
  margin-top: 5px;
}

/*map-page styles end*/
/*contacts style start*/
.b-contacts-info {
  padding-right: 0;
}

.b-contacts-form {
  padding-left: 0;
}

.block-contacts {
  text-align: center;
  background-color: #fff;
  padding: 20px 0;
  margin-top: 50px;
}

.contacts-info,.contacts-form {
  background-color: #fff;
  height: 385px;
}

.contacts-content > div {
  padding: 0;
}

.contacts-form-title {
  text-align: center;
  text-transform: uppercase;
  font-family: Raleway-Medium,sans-serif;
  font-size: 20pt;
  padding: 30px 0;
}

input.name,input.tel,input.mail {
  width: 100%;
  line-height: 22px;
}

.contacts-form .form-line {
  margin: 23px 0 -1px 25px;
}

.text-line textarea {
  width: 100%;
  display: block;
}

.text-line label {
  display: block;
  font-family: Raleway-Thin;
  font-size: 10pt;
  margin-bottom: 10px;
}

.text-line {
  margin-right: 25px;
  margin-top: 25px;
}

input.name,input.tel,input.mail,.text-line textarea {
  border: 1px solid #6CF;
  padding: 2px 0;
  border-radius: 3px;
}

.form-line label {
  font-family: Raleway-Thin,sans-serif;
  font-size: 10pt;
  margin-bottom: 10px;
}

.contacts-form-title div {
  padding: 0;
}

.contacts-info-title {
  text-align: center;
  text-transform: uppercase;
  font-family: Raleway-Medium,sans-serif;
  font-size: 20pt;
  padding: 30px 0;
}

.info-title {
  text-align: center;
  font-family: Raleway-Light,sans-serif;
  font-size: 20pt;
  padding-top: 30px;
}

.contacts-info-content {
  font-family: Raleway-Light,sans-serif;
  line-height: 25px;
  margin: 20px 25px;
  font-size: 12pt;
}

.contacts-info-content .address {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts-info-content .news {
  padding-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts-info-content .time,.contacts-info-content .tel,.contacts-info-content .web-link {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts-info-content .tel a {
  color: #000;
}

.contacts-info-content .tel a:hover {
  text-decoration: none;
}

.contacts-info-content .time .timetime {
  margin-right: 10px;
}

.contacts-form-button {
  text-align: center;
}

.contacts-form-button button {
  border: none;
  background-color: #6CF;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 25px;
  color: #fff;
}

.contacts-title div {
  font-size: 24pt;
  font-family: Raleway-ExtraBold;
}

.contacts-title img {
  width: 115px;
  margin-top: 10px;
}

.item-info {
  height: auto;
}

/*contacts style end*/
/*news style start*/
.articles-items .item .title .date {
  opacity: .5;
  font-family: 'Rounded Elegance';
}

/*news style end*/
/*map-page style start*/
.category-map {
  background-color: #fff;
  position: relative;
  top: -40px;
  padding: 30px 0;
}

.category-map .map {
  padding: 0 30px;
  padding-bottom: 30px;
}

.ymaps-2-1-34-copyrights-pane {
  display: none;
}

.map-all a .show-all {
  font-size: 18pt;
  font-weight: 100;
  font-family: Raleway-Light,sans-serif;
}

.map-all {
  text-align: center;
  margin-top: 30px;
}

.map-all a {
  color: #000;
}

.map-all a:hover {
  text-decoration: none;
}

.category-map-controls {
  padding: 0 30px;
  text-align: right;
  margin-bottom: 40px;
}

.category-map-controls span {
  font-family: Raleway-Medium,sans-serif;
  font-size: 11pt;
  color: #6CF;
  padding-left: 22px;
}

.category-map-controls button {
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.category-map-controls #button-square {
  width: 20px;
  height: 20px;
  background-image: url(../images/square1.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: -70px;
}

.ymaps-map {
  height: 80vh !important;
  background: none !important;
}

.ymaps-b-zoom__scale,.gotoymaps,ymaps .controller,.ymaps-copyrights-pane,.ymaps-b-select_control_listbox .ymaps-b-form-button {
  display: none !important;
}

.ymaps-b-zoom {
  position: relative;
  top: 25vh;
}

.ymaps-b-zoom__button_type_plus,.ymaps-b-zoom__button_type_minus {
  background: none !important;
  background-color: #fff !important;
  border-radius: 15px;
  margin: 10px 5px;
}

.ymaps-b-form-button_theme_grey-sm,.ymaps-b-form-button_theme_grey-sm .ymaps-b-form-button__left,.ymaps-b-form-button_theme_grey-sm .ymaps-b-form-button__content {
  background-image: none !important;
}

.ymaps-b-form-button_theme_grey-no-transparent-26 .ymaps-b-form-button__content,.ymaps-b-form-button_theme_grey-no-transparent-26,.ymaps-b-form-button_theme_grey-no-transparent-26 .ymaps-b-form-button__left,.ymaps-b-form-button_theme_grey-no-transparent-26 .ymaps-b-form-button__content {
  background-image: none !important;
}

.ymaps-b-form-button .ymaps-b-ico {
  margin: 6px 4px 0 !important;
}

.ymaps-b-form-button_height_26 .ymaps-b-form-button__content {
  background-color: #fff;
  border-radius: 15px;
}

.ymaps-b-form-button__left {
  display: none !important;
}

.ymaps-b-select {
  background-color: none !important;
}

.ymaps-b-select_control_search .ymaps-b-search .ymaps-b-form-input {
  margin-left: 10px !important;
}

.ymaps-group {
  display: none;
}

.ymaps-image-with-content {
  background-image: url(../images/map-point2.png) !important;
  background-size: 36px 44px !important;
  width: 36px !important;
  height: 44px !important;
}

.ymaps-shadows-pane {
  display: none;
}

.ymaps-b-balloon__close {
  background-image: url(../images/close.png) !important;
}

.ymaps-b-balloon__content-body {
  color: #6CF;
}

.ymaps-b-select_control_search .ymaps-b-popupa_layout_yes {
  left: 0 !important;
  width: 235px;
  margin-left: 8px;
  margin-top: 5px;
}

/*map-page style end*/
/*map style start*/
.b-map {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #fff;
}

.b-map .map {
  padding-bottom: 30px;
}

.b-map-nav {
  padding-top: 15px;
}

.b-map-nav .category-map-controls {
  padding: 0 15px;
}

.b-map-nav .category-map-controls {
  margin-bottom: 0;
  margin-top: 15px;
}

.ymaps-map {
  width: 100% !important;
}

.b-checkbox {
  background-color: #fff;
}

.b-checkbox input[type=checkbox] {
  display: none;
}

.b-checkbox label::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #6CF;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.b-checkbox label {
  padding-top: 15px;
  font-size: 12px;
}

.b-checkbox input[type=checkbox]:checked + label::before {
  content: "\2714";
  color: #f3f3f3;
  background-color: #6CF;
  text-align: center;
  line-height: 20px;
}

.b-checkbox input[type=checkbox] + label::before {
  margin-bottom: -4px;
  margin-right: 10px;
}

.map-select label {
  font-family: Raleway-Thin,sans-serif;
  font-size: 12pt;
  text-transform: uppercase;
}

.map-select {
  padding: 5px 0;
}

/*map style end*/