html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  background: #000; }

.av-devider {
  width: 250px;
  height: 1px;
  background: #000;
  margin: 50px auto 10px; }

.av-wrapper ::-moz-selection {
  background: #ffc709;
  color: #000; }

.av-wrapper ::selection {
  background: #ffc709;
  color: #000; }

.av-wrapper {
  width: 980px;
  margin: 0 auto;
  padding: 33px 0;
  background: #fff;
  position: relative;
  box-sizing: border-box; }
  .av-wrapper > div {
    position: relative; }

.av-header {
  padding: 0 33px; }
  .av-header .av-special {
    background: #ffc709;
    padding: 8px;
    width: 290px;
    font-family: "hn", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center; }
  .av-header .av-title {
    background: #000;
    padding: 15px 15px 30px 35px;
    font-family: "ddt", serif;
    font-weight: 700;
    font-size: 61px;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 999;
    width: 695px; }
  .av-header .av-sub-title {
    background: #ffc709;
    padding: 27px;
    font-family: "hna", sans-serif;
    font-weight: 300;
    font-size: 45px;
    line-height: 45px;
    color: #000;
    text-transform: uppercase;
    width: 480px;
    position: relative;
    z-index: 999;
    left: 425px;
    top: -25px;
    box-sizing: border-box; }
  .av-header .av-intro-text {
    position: absolute;
    bottom: -15px;
    width: 420px;
    box-sizing: border-box;
    padding: 20px;
    font-size: 23px;
    font-family: "Minion Pro";
    font-style: italic;
    color: #000; }

.av-block-one {
  padding: 0 33px; }
  .av-block-one > div:first-child {
    padding: 45px 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .av-block-one > div:first-child .av-desc .av-title {
      font-size: 31px;
      font-family: "ddt", serif;
      font-weight: bold;
      text-transform: uppercase;
      margin: -7px 0 10px 0;
      text-align: center; }
    .av-block-one > div:first-child .av-desc .av-content {
      font-size: 16px;
      line-height: 21px;
      font-family: "Minion Pro";
      color: #000;
      padding-left: 35px; }
    .av-block-one > div:first-child img {
      width: 380px;
      height: 375px; }
    .av-block-one > div:first-child .av-number {
      position: absolute;
      bottom: 47px;
      left: 337px;
      width: 82px;
      height: 155px; }
  .av-block-one > div:nth-child(2) {
    padding: 15px 0 35px;
    width: 580px;
    font-size: 16px;
    font-family: "Minion Pro";
    color: #000;
    line-height: 22px; }
  .av-block-one .av-desc-short {
    background: #000;
    width: 810px;
    height: 425px;
    position: relative; }
    .av-block-one .av-desc-short .av-list {
      list-style-type: none;
      padding: 25px;
      width: 435px; }
      .av-block-one .av-desc-short .av-list li {
        color: #fff;
        margin-bottom: 30px;
        font-size: 16px;
        font-family: "Minion Pro";
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .av-block-one .av-desc-short .av-list li::before {
          content: "";
          display: inline-block;
          min-width: 15px;
          width: 15px;
          height: 15px;
          margin: 2px 15px 0px 0;
          background-color: #ffc709; }
    .av-block-one .av-desc-short .av-woman {
      width: 345px;
      position: absolute;
      right: -105px;
      top: -153px;
      z-index: 999; }
    .av-block-one .av-desc-short .av-advise {
      color: #ffc709;
      width: 265px;
      position: absolute;
      right: 25px;
      font-size: 14px;
      line-height: 34px;
      font-family: "hna", sans-serif;
      text-transform: uppercase;
      font-weight: 600;
      bottom: 15px;
      padding: 0 10px;
      box-sizing: border-box; }
    .av-block-one .av-desc-short .av-decor {
      position: absolute;
      top: -180px; }

.av-block-two {
  padding: 0 33px; }
  .av-block-two > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 20px; }
  .av-block-two .av-title {
    font-size: 31px;
    font-family: "ddt", serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 45px 0;
    text-align: center; }
  .av-block-two .av-woman {
    width: 490px;
    height: 395px; }
  .av-block-two .av-content {
    padding: 0 0 0 40px;
    font-size: 16px;
    font-family: "Minion Pro";
    color: #000;
    line-height: 20px; }
  .av-block-two .av-number {
    position: absolute;
    bottom: -40px;
    left: 420px; }

.av-block-three {
  color: #fff;
  background-color: #000;
  margin-top: 43px;
  z-index: 999; }
  .av-block-three .av-block-three-back {
    position: absolute;
    background: url(../img/product1.png);
    width: 100%;
    height: 730px;
    background-size: contain;
    top: -8px;
    right: -4px; }
  .av-block-three .av-number {
    position: absolute;
    top: 27px;
    left: 30px; }
  .av-block-three .av-content {
    width: 400px;
    padding: 100px 40px 55px; }
    .av-block-three .av-content > div {
      line-height: 22px;
      font-size: 16px;
      font-family: "Minion Pro";
      color: #fff; }
  .av-block-three .av-title {
    font-size: 32px;
    font-family: "ddt", serif;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 78px; }

.av-block-four {
  padding: 0 125px 90px; }
  .av-block-four .av-title {
    font-size: 31px;
    font-family: "ddt", serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 45px 0;
    text-align: center; }
  .av-block-four .av-woman {
    height: 500px; }
  .av-block-four .av-content {
    padding-top: 15px;
    width: 560px;
    font-size: 16px;
    font-family: "Minion Pro";
    color: #000;
    line-height: 20px;
    text-align: left; }
    .av-block-four .av-content p {
      padding: 10px 0; }
  .av-block-four .av-advise {
    width: 200px;
    position: absolute;
    right: 100px;
    font-size: 14px;
    line-height: 30px;
    font-family: "hna", sans-serif;
    text-transform: uppercase;
    color: #ffc709;
    font-weight: 600;
    bottom: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    box-sizing: border-box; }
  .av-block-four .av-number {
    position: absolute;
    right: 135px;
    top: 460px; }

.av-block-five .av-block-five-back {
  background-color: #000;
  width: 815px;
  height: 385px;
  position: absolute;
  right: 35px;
  top: 32px; }
.av-block-five .av-content {
  font-size: 16px;
  font-family: "Minion Pro";
  color: #fff;
  line-height: 20px;
  position: relative;
  z-index: 999;
  width: 500px;
  margin-left: 435px;
  padding: 85px 45px;
  box-sizing: border-box; }
.av-block-five .av-title {
  font-size: 31px;
  font-family: "ddt", serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: -7px 0 25px 0; }
.av-block-five .av-woman {
  position: absolute;
  left: 50px;
  top: -30px;
  z-index: 999;
  width: 340px; }
.av-block-five .av-number {
  position: absolute;
  bottom: 75px;
  left: 320px;
  z-index: 999;
  width: 125px; }

.av-block-six {
  padding: 50px 100px; }
  .av-block-six .av-title {
    position: relative; }
    .av-block-six .av-title h2 {
      background-color: #ffc709;
      font-size: 45px;
      font-family: "ddt", serif;
      color: #000;
      font-weight: bold;
      text-transform: uppercase;
      width: 500px;
      padding: 15px 20px;
      box-sizing: border-box;
      text-align: center; }
    .av-block-six .av-title div {
      position: absolute;
      width: 110px;
      height: 20px;
      background-color: #000;
      top: -10px;
      left: -35px;
      z-index: 999; }
  .av-block-six .av-content {
    width: 530px;
    padding-top: 25px;
    font-size: 16px;
    font-family: "Minion Pro";
    color: #000;
    line-height: 20px; }
  .av-block-six .av-product {
    position: absolute;
    right: 155px;
    bottom: -20px;
    height: 535px; }
  .av-block-six .av-decor {
    position: absolute;
    right: 60px;
    top: 35px;
    height: 245px; }
