@media only screen and (max-width: 769px) {
  .t-hidden {
    display: inline; }

  .t-first-letter {
    display: none; }

  .t-margin-left {
    margin-left: 0;
    display: inline; }

  .t-margin-top {
    display: inline-block;
    margin-top: 360px; }

  .t-product {
    flex-direction: column;
    align-items: center;
    justify-content: center; }

  .t-product-title {
    width: 585px; }

  .t-product-desc {
    padding: 45px 30px;
    font-size: 35px; }

  .t-link {
    width: 490px;
    height: 80px;
    margin: 70px auto 0; }
    .t-link span {
      font-size: 45px;
      line-height: 80px;
      padding: 0; }

  .t-line {
    bottom: 215px; }

  .t-container {
    width: 768px;
    min-height: 2500px; }

  .t-marks-line2 {
    display: flex; }

  .t-intro {
    padding: 5px 30px;
    background-position: 0 45px;
    background-size: contain;
    height: 2300px; }
    .t-intro::before {
      display: none; }
    .t-intro__line {
      flex-direction: column; }
    .t-intro__marks {
      position: static; }
    .t-intro__title .t-title {
      width: 685px;
      height: 190px;
      margin: 30px auto 10px; }
    .t-intro__title .t-text {
      font-size: 39px;
      text-transform: none;
      line-height: 1.5; }
      .t-intro__title .t-text span {
        white-space: normal; }
    .t-intro__products {
      flex-direction: column-reverse; }

  .t-marks-line1 img {
    height: 260px; }

  .t-products-line1, .t-products-line2 {
    width: 100%;
    position: relative; }

  .t-products-line1 {
    flex-direction: column-reverse; }
    .t-products-line1 .t-products-item:nth-child(1) {
      position: absolute;
      right: 0px;
      top: 240px;
      width: 480px; }

  .t-products-line2 {
    flex-direction: column;
    margin: 30px auto; }
    .t-products-line2 .t-products-item:nth-child(2) {
      position: absolute;
      right: 25px;
      top: 175px; }
    .t-products-line2 .t-products-item:nth-child(3) {
      position: absolute;
      left: 0px;
      top: 835px; }

  .t-products-item {
    width: 350px; }
    .t-products-item__img {
      height: 285px; }
    .t-products-item__link {
      font-size: 46px;
      text-align: left; }

  .t-block-right {
    margin: 0; }
    .t-block-right .t-info {
      padding: 0;
      top: 1115px; }
      .t-block-right .t-info p {
        margin: 0; }
  .t-block-left .t-block__content {
    margin: 0; }
  .t-block-left .t-info {
    padding: 0;
    top: 1015px; }
    .t-block-left .t-info p {
      margin: 0; }
  .t-block__title {
    height: 495px; }
  .t-block__content {
    padding: 0 40px; }
  .t-block__product {
    top: -40px; }
  .t-block .t-title {
    height: 100%; }
  .t-block .t-info {
    position: absolute;
    z-index: 99999;
    text-align: center;
    width: 490px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase; }
    .t-block .t-info p {
      width: 100% !important; }
  .t-block .t-text {
    width: 100%;
    font-size: 35px;
    padding: 60px 90px; }
  .t-block.-first {
    height: auto; }
    .t-block.-first .t-block__title {
      background-size: cover;
      background: url("../img/photo1.png") no-repeat; }
    .t-block.-first .t-title {
      background-position: 60% 330px; }
    .t-block.-first .t-product-title {
      background: url("../img/mobile/product1-title.png") no-repeat;
      background-size: contain;
      top: 0; }
  .t-block.-second {
    height: auto; }
    .t-block.-second .t-product {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center; }
    .t-block.-second .t-product-title {
      width: 515px;
      left: 0;
      top: 80px; }
    .t-block.-second .t-product-desc {
      padding: 120px 30px 45px; }
    .t-block.-second .t-product-img {
      bottom: -80px;
      left: -30px; }
    .t-block.-second .t-title {
      background-position: 60% 100%;
      background-size: 600px; }
  .t-block.-third {
    height: auto; }
    .t-block.-third .t-block__product {
      top: -75px; }
    .t-block.-third .t-line {
      bottom: 250px; }
    .t-block.-third .t-title {
      background: url("../img/mobile/title3.png") no-repeat;
      background-size: 600px;
      background-position: 80px 103%;
      top: 0; }
    .t-block.-third .t-info {
      top: 815px;
      padding: 0; }
    .t-block.-third .t-product-desc {
      padding: 45px 30px 0; }
  .t-block.-fourth {
    height: auto; }
    .t-block.-fourth .t-title {
      width: 685px;
      background-position: 100% 104%;
      margin: 0 auto;
      background-size: contain; }
    .t-block.-fourth .t-info {
      top: 645px;
      padding: 0; }
    .t-block.-fourth .t-block__product {
      top: -30px; }
    .t-block.-fourth .t-product {
      flex-direction: column-reverse;
      justify-content: center; }
    .t-block.-fourth .t-product-title {
      left: 0; }
    .t-block.-fourth .t-product-img {
      right: 0; }
  .t-block.-fifth {
    height: auto; }
    .t-block.-fifth .t-title {
      width: 100%;
      background-size: 635px;
      background-position: 70% 100%; }
    .t-block.-fifth .t-product-title {
      top: 0; }
    .t-block.-fifth .t-info {
      top: 760px;
      padding: 0; } }
