html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  background: #000; }

.clearfix::after {
  clear: both;
  display: table;
  content: "";
  position: absolute; }

.-first ::-moz-selection {
  background: #09accd;
  color: #fff; }

.-first ::selection {
  background: #09accd;
  color: #fff; }

.-second ::-moz-selection {
  background: #f49924;
  color: #fff; }

.-second ::selection {
  background: #f49924;
  color: #fff; }

.-third ::-moz-selection {
  background: #8f86bf;
  color: #fff; }

.-third ::selection {
  background: #8f86bf;
  color: #fff; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.t-blue {
  color: #323a8f; }

.t-violet {
  color: #8f86bf; }

.t-sea {
  color: #09accd; }

.t-orange {
  color: #f49924; }

.t-pink {
  color: #f18bab; }

.t-mark {
  font-family: "dfd-bold";
  text-transform: uppercase; }

.t-hidden {
  display: none; }

.t-margin-left {
  margin-left: 55px;
  display: inline-block; }

.t-first-letter {
  width: 170px;
  height: 200px;
  position: absolute; }

.t-line {
  position: absolute;
  background: #c5c0ba;
  height: 101px;
  width: 100%;
  bottom: 20px;
  z-index: 0; }

.t-product {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative; }

.t-product-title {
  position: relative;
  z-index: 999; }

.t-product-img {
  position: relative;
  z-index: 999;
  width: 435px;
  height: 450px; }

.t-product-desc {
  padding: 45px 85px;
  font-size: 24px;
  font-family: "dfd-it";
  line-height: 1.167;
  text-align: center; }

.t-link {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 340px;
  height: 60px;
  margin: 40px auto;
  font-family: "dfd-light";
  text-transform: uppercase; }
  .t-link span {
    display: block;
    font-size: 35px;
    line-height: 60px;
    height: 60px;
    white-space: nowrap;
    box-sizing: border-box; }

.t-container {
  width: 1060px;
  margin: 0 auto;
  background: #fcfcf2;
  overflow: hidden; }

.t-intro {
  background: url("../img/map.png") no-repeat;
  width: 100%;
  background-position: bottom;
  padding: 45px 0px;
  box-sizing: border-box;
  position: relative; }
  .t-intro::before {
    content: "";
    position: absolute;
    background: url("../img/pic.png") no-repeat;
    background-size: contain;
    width: 165px;
    height: 530px;
    left: 0;
    top: 0; }
  .t-intro__line {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .t-intro__marks {
    position: relative;
    top: -30px;
    right: 30px; }
  .t-intro__title .t-title {
    background: url("../img/main-title.png") no-repeat;
    width: 540px;
    height: 150px;
    background-size: contain;
    margin: 0 50px 0 auto; }
  .t-intro__title .t-text {
    font-size: 19px;
    font-family: "dfd-light";
    color: #000;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: center;
    margin: 10px 5px 0 0;
    width: 720px; }
    .t-intro__title .t-text span {
      white-space: nowrap; }
  .t-intro__products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

.t-marks-line1 img {
  height: 220px; }

.t-marks-line2 {
  display: none;
  padding-bottom: 45px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .t-marks-line2 img {
    width: 435px; }

.t-products-line1 {
  width: 565px;
  margin: 15px auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.t-products-line2 {
  width: 850px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.t-products-item {
  width: 220px;
  text-align: center;
  text-decoration: none;
  display: block; }
  .t-products-item__link {
    font-size: 24px;
    font-family: "dfd-reg";
    line-height: 1.125;
    white-space: nowrap; }

.t-block__title {
  width: 100%;
  height: 475px;
  position: relative;
  z-index: 999; }
.t-block__content {
  line-height: 1.25;
  position: relative; }
.t-block .t-title {
  height: 100%; }
.t-block .t-info {
  width: 40%;
  font-size: 32px;
  font-family: "dfd-light"; }
.t-block .t-text {
  background: #fff;
  padding: 90px 65px 30px;
  box-sizing: border-box;
  width: 65%;
  font-size: 20px;
  font-family: "Minion Pro";
  color: #000;
  position: relative; }
.t-block__product {
  position: relative;
  top: -170px; }
.t-block-right {
  margin-right: 85px; }
  .t-block-right .t-info {
    text-align: right;
    box-sizing: border-box;
    padding: 255px 50px 0 0; }
    .t-block-right .t-info p {
      margin-left: 70px; }
.t-block-left .t-block__content {
  margin-left: 85px; }
.t-block-left .t-info {
  box-sizing: border-box;
  padding: 180px 0 0 0; }
  .t-block-left .t-info p {
    margin-left: 50px;
    width: 230px; }
.t-block.-first {
  height: 2165px; }
  .t-block.-first .t-block__title {
    background: url("../img/photo1.png") no-repeat, #fff;
    background-size: contain; }
  .t-block.-first .t-title {
    width: 108%;
    background: url("../img/title1.png") no-repeat;
    background-position: 94% 25px; }
  .t-block.-first .t-first-letter {
    background: url("../img/letter1.png") no-repeat;
    background-size: contain;
    top: 15px;
    left: -45px; }
  .t-block.-first .t-product-title {
    background: url("../img/product1-title.png") no-repeat;
    background-size: contain;
    width: 520px;
    height: 190px;
    bottom: 20px; }
  .t-block.-first .t-link {
    background: #09accd; }
    .t-block.-first .t-link:hover {
      background: rgba(9, 172, 205, 0.8); }
  .t-block.-first .t-product-title {
    left: -15px; }
  .t-block.-first .t-product-img {
    left: 20px; }
.t-block.-second {
  height: 1940px; }
  .t-block.-second .t-block__title {
    background: url("../img/photo2.png") no-repeat, #fff;
    background-size: cover; }
  .t-block.-second .t-title {
    width: 100%;
    background: url("../img/title2.png") no-repeat;
    background-position: 100% 100%; }
  .t-block.-second .t-first-letter {
    background: url("../img/letter2.png") no-repeat;
    background-size: contain;
    top: 15px;
    left: -25px; }
  .t-block.-second .t-product-title {
    background: url("../img/product2-title.png") no-repeat;
    background-size: contain;
    width: 590px;
    height: 210px;
    left: 105px;
    bottom: -4px; }
  .t-block.-second .t-product-img {
    bottom: -55px; }
  .t-block.-second .t-link {
    background: #f49924; }
    .t-block.-second .t-link:hover {
      background: rgba(244, 153, 36, 0.8); }
.t-block.-third {
  height: 2165px; }
  .t-block.-third .t-block__title {
    background: url("../img/photo3.png") no-repeat;
    background-size: 830px; }
  .t-block.-third .t-block__product {
    top: -230px; }
  .t-block.-third .t-title {
    width: 108%;
    background: url("../img/title3.png") no-repeat;
    background-position: 94% 0px; }
  .t-block.-third .t-info {
    padding: 80px 50px 0 0; }
  .t-block.-third .t-text {
    top: -100px;
    padding: 190px 65px 30px; }
  .t-block.-third .t-first-letter {
    background: url("../img/letter3.png") no-repeat;
    background-size: contain;
    top: 125px;
    left: -15px; }
  .t-block.-third .t-product-title {
    background: url("../img/product3-title.png") no-repeat;
    background-size: contain;
    width: 620px;
    height: 215px;
    bottom: 8px; }
  .t-block.-third .t-line {
    bottom: 35px; }
  .t-block.-third .t-link {
    background: #8f86bf; }
    .t-block.-third .t-link:hover {
      background: rgba(143, 134, 191, 0.8); }
  .t-block.-third .t-product-title {
    left: -15px; }
  .t-block.-third .t-product-img {
    left: 20px; }

@media only screen and (max-width: 769px) {
  .t-hidden {
    display: inline; }

  .t-first-letter {
    display: none; }

  .t-margin-left {
    margin-left: 0;
    display: inline; }

  .t-margin-top {
    display: inline-block;
    margin-top: 360px; }

  .t-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .t-product-title {
    width: 585px; }

  .t-product-desc {
    padding: 45px 30px;
    font-size: 35px; }

  .t-link {
    width: 490px;
    height: 80px;
    margin: 70px auto; }
    .t-link span {
      font-size: 45px;
      line-height: 80px;
      padding: 0; }

  .t-line {
    bottom: 215px; }

  .t-container {
    width: 768px;
    min-height: 2500px; }

  .t-marks-line2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

  .t-intro {
    padding: 5px 30px;
    background-position: 0 45px;
    background-size: contain;
    height: 2300px; }
    .t-intro::before {
      display: none; }
    .t-intro__line {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .t-intro__marks {
      position: static; }
    .t-intro__title .t-title {
      width: 685px;
      height: 190px;
      margin: 30px auto 10px; }
    .t-intro__title .t-text {
      font-size: 39px;
      text-transform: none;
      line-height: 1.5; }
      .t-intro__title .t-text span {
        white-space: normal; }
    .t-intro__products {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }

  .t-marks-line1 img {
    height: 260px; }

  .t-products-line1, .t-products-line2 {
    width: 100%;
    position: relative; }

  .t-products-line1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .t-products-line1 .t-products-item:nth-child(1) {
      position: absolute;
      right: 0px;
      top: 240px;
      width: 480px; }

  .t-products-line2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px auto; }
    .t-products-line2 .t-products-item:nth-child(2) {
      position: absolute;
      right: 25px;
      top: 175px; }
    .t-products-line2 .t-products-item:nth-child(3) {
      position: absolute;
      left: 0px;
      top: 835px; }

  .t-products-item {
    width: 350px; }
    .t-products-item__img {
      height: 285px; }
    .t-products-item__link {
      font-size: 46px;
      text-align: left; }

  .t-block-right {
    margin: 0; }
    .t-block-right .t-info {
      padding: 0;
      top: 1115px; }
      .t-block-right .t-info p {
        margin: 0; }
  .t-block-left .t-block__content {
    margin: 0; }
  .t-block-left .t-info {
    padding: 0;
    top: 1015px; }
    .t-block-left .t-info p {
      margin: 0; }
  .t-block__title {
    height: 495px; }
  .t-block__content {
    padding: 0 40px; }
  .t-block__product {
    top: -40px; }
  .t-block .t-title {
    height: 100%; }
  .t-block .t-info {
    position: absolute;
    z-index: 99999;
    text-align: center;
    width: 490px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-transform: uppercase; }
    .t-block .t-info p {
      width: 100%; }
  .t-block .t-text {
    width: 100%;
    font-size: 35px;
    padding: 60px 90px; }
  .t-block.-first {
    height: auto; }
    .t-block.-first .t-block__title {
      background-size: cover;
      background: url("../img/photo1.png") no-repeat; }
    .t-block.-first .t-title {
      background-position: 60% 330px; }
    .t-block.-first .t-product-title {
      background: url("../img/mobile/product1-title.png") no-repeat;
      background-size: contain; }
  .t-block.-second {
    height: auto; }
    .t-block.-second .t-product {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .t-block.-second .t-product-title {
      width: 515px;
      left: 0;
      top: 80px; }
    .t-block.-second .t-product-desc {
      padding: 120px 30px 45px; }
    .t-block.-second .t-product-img {
      bottom: -80px;
      left: -30px; }
    .t-block.-second .t-title {
      background-position: 60% 100%;
      background-size: 600px; }
  .t-block.-third {
    height: auto; }
    .t-block.-third .t-block__product {
      top: -90px; }
    .t-block.-third .t-line {
      bottom: 250px; }
    .t-block.-third .t-title {
      background: url("../img/mobile/title3.png") no-repeat;
      background-size: 600px;
      background-position: 80px 103%; }
    .t-block.-third .t-info {
      top: 815px;
      padding: 0; } }
