html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

.clearfix::after {
  clear: both;
  display: table;
  content: "";
  position: absolute; }

.-first ::-moz-selection {
  background: #09accd;
  color: #fff; }

.-first ::selection {
  background: #09accd;
  color: #fff; }

.-second ::-moz-selection {
  background: #f49924;
  color: #fff; }

.-second ::selection {
  background: #f49924;
  color: #fff; }

.-third ::-moz-selection {
  background: #8f86bf;
  color: #fff; }

.-third ::selection {
  background: #8f86bf;
  color: #fff; }

.-fourth ::-moz-selection {
  background: #323a8f;
  color: #fff; }

.-fourth ::selection {
  background: #323a8f;
  color: #fff; }

.-fifth ::-moz-selection {
  background: #f18bab;
  color: #fff; }

.-fifth ::selection {
  background: #f18bab;
  color: #fff; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.t-blue {
  color: #323a8f; }

.t-violet {
  color: #8f86bf; }

.t-sea {
  color: #09accd; }

.t-orange {
  color: #f49924; }

.t-pink {
  color: #f18bab; }

.t-mark {
  font-family: "dfd-bold";
  text-transform: uppercase; }

.t-hidden {
  display: none; }

.t-margin-left {
  margin-left: 55px;
  display: inline-block; }

.t-first-letter {
  width: 170px;
  height: 200px;
  position: absolute; }

.t-line {
  position: absolute;
  background: #c5c0ba;
  height: 101px;
  width: 100%;
  bottom: 20px;
  z-index: 0; }

.t-product {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative; }

.t-product-title {
  position: relative;
  z-index: 999; }

.t-product-img {
  position: relative;
  z-index: 999;
  width: 435px;
  height: 450px; }

.t-product-desc {
  padding: 45px 85px;
  font-size: 24px;
  font-family: "dfd-it";
  line-height: 1.167;
  text-align: center; }

.t-link {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 340px;
  height: 60px;
  margin: 40px auto;
  font-family: "dfd-light";
  text-transform: uppercase; }
  .t-link span {
    display: block;
    font-size: 35px;
    line-height: 60px;
    height: 60px;
    white-space: nowrap;
    box-sizing: border-box; }

.t-container {
  width: 1060px;
  margin: 0 auto;
  background: #fcfcf2;
  overflow: hidden; }

.t-intro {
  background: url("../img/map.png") no-repeat;
  width: 100%;
  background-position: -25px 100%;
  padding: 45px 0px;
  box-sizing: border-box;
  position: relative; }
  .t-intro::before {
    content: "";
    position: absolute;
    background: url("../img/pic.png") no-repeat;
    background-size: contain;
    width: 165px;
    height: 530px;
    left: 0;
    top: 0; }
  .t-intro__line {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .t-intro__marks {
    position: relative;
    top: -30px;
    right: 30px; }
  .t-intro__title .t-title {
    background: url("../img/main-title.png") no-repeat;
    width: 540px;
    height: 150px;
    background-size: contain;
    margin: 0 50px 0 auto; }
  .t-intro__title .t-text {
    font-size: 19px;
    font-family: "dfd-light";
    color: #000;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: center;
    margin: 10px 5px 0 0;
    width: 720px; }
    .t-intro__title .t-text span {
      white-space: nowrap; }
  .t-intro__products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

.t-marks-line1 img {
  height: 220px; }

.t-marks-line2 {
  display: none;
  padding-bottom: 45px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .t-marks-line2 img {
    width: 44vw; }

.t-products-line1 {
  width: 565px;
  margin: 15px auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.t-products-line2 {
  width: 850px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.t-products-item {
  width: 220px;
  text-align: center;
  text-decoration: none;
  display: block; }
  .t-products-item__link {
    font-size: 24px;
    font-family: "dfd-reg";
    line-height: 1.125;
    white-space: nowrap; }

.t-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .t-block__title {
    width: 100%;
    height: 475px;
    position: relative;
    z-index: 999; }
  .t-block__content {
    line-height: 1.25;
    position: relative; }
  .t-block .t-title {
    height: 100%; }
  .t-block .t-info {
    width: 40%;
    font-size: 32px;
    font-family: "dfd-light"; }
  .t-block .t-text {
    background: #fff;
    padding: 90px 65px 30px;
    box-sizing: border-box;
    width: 65%;
    font-size: 20px;
    font-family: "Minion Pro";
    color: #000;
    position: relative; }
  .t-block__product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative; }
  .t-block-right {
    margin-right: 85px; }
    .t-block-right .t-info {
      text-align: right;
      box-sizing: border-box;
      padding: 255px 50px 0 0; }
      .t-block-right .t-info p {
        margin-left: 70px; }
  .t-block-left .t-block__content {
    margin-left: 85px; }
  .t-block-left .t-info {
    box-sizing: border-box;
    padding: 180px 0 0 0; }
    .t-block-left .t-info p {
      margin-left: 50px;
      width: 230px; }
  .t-block.-first {
    height: 2165px; }
    .t-block.-first .t-block__title {
      background: url("../img/photo1.png") no-repeat, #fff;
      background-size: contain; }
    .t-block.-first .t-title {
      width: 108%;
      background: url("../img/title1.png") no-repeat;
      background-position: 94% 25px; }
    .t-block.-first .t-first-letter {
      background: url("../img/letter1.png") no-repeat;
      background-size: contain;
      top: 15px;
      left: -45px; }
    .t-block.-first .t-product-title {
      background: url("../img/product1-title.png") no-repeat;
      background-size: contain;
      width: 520px;
      height: 190px;
      bottom: 20px;
      left: -15px; }
    .t-block.-first .t-link {
      background: #09accd; }
      .t-block.-first .t-link:hover {
        background: rgba(9, 172, 205, 0.8); }
    .t-block.-first .t-product-img {
      left: 20px; }
  .t-block.-second {
    height: 2030px; }
    .t-block.-second .t-block__title {
      background: url("../img/photo2.png") no-repeat, #fff;
      background-size: cover; }
    .t-block.-second .t-title {
      width: 100%;
      background: url("../img/title2.png") no-repeat;
      background-position: 100% 100%; }
    .t-block.-second .t-first-letter {
      background: url("../img/letter2.png") no-repeat;
      background-size: contain;
      top: 15px;
      left: -25px; }
    .t-block.-second .t-product-title {
      background: url("../img/product2-title.png") no-repeat;
      background-size: contain;
      width: 590px;
      height: 210px;
      left: 105px;
      bottom: -4px; }
    .t-block.-second .t-product-img {
      bottom: -55px;
      height: 540px; }
    .t-block.-second .t-link {
      background: #f49924; }
      .t-block.-second .t-link:hover {
        background: rgba(244, 153, 36, 0.8); }
  .t-block.-third {
    height: 1730px; }
    .t-block.-third .t-block__title {
      background: url("../img/photo3.png") no-repeat;
      background-size: 830px; }
    .t-block.-third .t-title {
      width: 108%;
      background: url("../img/title3.png") no-repeat;
      background-position: 94% 0px; }
    .t-block.-third .t-info {
      padding: 80px 50px 0 0; }
    .t-block.-third .t-text {
      top: -100px;
      padding: 190px 65px 30px; }
    .t-block.-third .t-first-letter {
      background: url("../img/letter3.png") no-repeat;
      background-size: contain;
      top: 125px;
      left: -15px; }
    .t-block.-third .t-product-title {
      background: url("../img/product3-title.png") no-repeat;
      background-size: contain;
      width: 620px;
      height: 215px;
      bottom: 8px;
      left: -15px; }
    .t-block.-third .t-line {
      bottom: 35px; }
    .t-block.-third .t-link {
      background: #8f86bf; }
      .t-block.-third .t-link:hover {
        background: rgba(143, 134, 191, 0.8); }
    .t-block.-third .t-product-img {
      left: 20px; }
  .t-block.-fourth {
    height: 1815px; }
    .t-block.-fourth .t-block__title {
      background: url("../img/photo4.png") no-repeat, #fff;
      background-size: cover; }
    .t-block.-fourth .t-title {
      width: 100%;
      background: url("../img/title4.png") no-repeat;
      background-position: 100% 105%; }
    .t-block.-fourth .t-info {
      padding: 80px 0 0 0; }
      .t-block.-fourth .t-info p {
        width: 280px; }
    .t-block.-fourth .t-first-letter {
      background: url("../img/letter4.png") no-repeat;
      background-size: contain;
      width: 140px;
      height: 125px;
      top: 35px;
      left: 15px; }
    .t-block.-fourth .t-product-title {
      background: url("../img/product4-title.png") no-repeat;
      background-size: contain;
      width: 600px;
      height: 212px;
      left: 65px;
      bottom: -6px; }
    .t-block.-fourth .t-product-img {
      bottom: 0px;
      right: -70px;
      width: 380px; }
    .t-block.-fourth .t-link {
      background: #323a8f; }
      .t-block.-fourth .t-link:hover {
        background: rgba(50, 58, 143, 0.8); }
  .t-block.-fifth {
    height: 1660px; }
    .t-block.-fifth .t-block__title {
      background: url("../img/photo5.png") no-repeat;
      background-size: cover; }
    .t-block.-fifth .t-title {
      width: 108%;
      background: url("../img/title5.png") no-repeat;
      background-position: 86% 101%; }
    .t-block.-fifth .t-info {
      padding: 90px 50px 0 0; }
    .t-block.-fifth .t-first-letter {
      background: url("../img/letter5.png") no-repeat;
      background-size: contain;
      width: 100px;
      height: 135px;
      top: 26px;
      left: 18px; }
    .t-block.-fifth .t-product-title {
      background: url("../img/product5-title.png") no-repeat;
      background-size: contain;
      width: 520px;
      height: 190px;
      bottom: 20px;
      left: 35px; }
    .t-block.-fifth .t-link {
      background: #f18bab; }
      .t-block.-fifth .t-link:hover {
        background: rgba(241, 139, 171, 0.8); }
    .t-block.-fifth .t-product-img {
      left: 40px;
      width: 465px;
      height: 465px; }

@media only screen and (max-width: 769px) {
  .t-hidden {
    display: inline; }

  .t-first-letter {
    display: none; }

  .t-margin-left {
    margin-left: 0;
    display: inline; }

  .t-margin-top {
    display: inline-block;
    margin-top: 75vw; }

  .t-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .t-product-img {
      width: 77vw !important;
      height: 100% !important; }
    .t-product-title {
      width: 100vw !important;
      background-position: center !important; }

  .t-product-desc {
    padding: 45px 5vw;
    font-size: 6vw; }

  .t-link {
    width: 490px;
    height: 80px;
    margin: 70px auto 0; }
    .t-link span {
      font-size: 45px;
      line-height: 80px;
      padding: 0; }

  .t-line {
    bottom: 215px; }

  .t-container {
    width: 100vw;
    min-height: 2500px; }

  .t-marks-line2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

  .t-intro {
    padding: 5px 3vw;
    background-position: 0 45px;
    background-size: contain;
    height: 345vw; }
    .t-intro::before {
      display: none; }
    .t-intro__line {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .t-intro__marks {
      position: static; }
    .t-intro__title .t-title {
      width: 100%;
      height: 25vw;
      margin: 30px auto 10px; }
    .t-intro__title .t-text {
      width: 100%;
      font-size: 6vw;
      text-transform: none;
      line-height: 1.5; }
      .t-intro__title .t-text span {
        white-space: normal; }
    .t-intro__products {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }

  .t-marks-line1 img {
    height: 35vw; }

  .t-products-line1, .t-products-line2 {
    width: 100%;
    position: relative; }

  .t-products-line1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .t-products-line1 .t-products-item:nth-child(1) {
      position: absolute;
      right: 0px;
      top: 30vw;
      width: 60vw; }

  .t-products-line2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px auto; }
    .t-products-line2 .t-products-item:nth-child(2) {
      position: absolute;
      right: 15px;
      top: 30vw; }
    .t-products-line2 .t-products-item:nth-child(3) {
      position: absolute;
      left: -10px;
      top: 115vw; }

  .t-products-item {
    width: 45vw; }
    .t-products-item__img {
      height: 40vw; }
    .t-products-item__link {
      font-size: 5.5vw;
      text-align: left; }

  .t-block-right {
    margin: 0; }
    .t-block-right .t-info {
      padding: 0;
      top: 34%; }
      .t-block-right .t-info p {
        margin: 0; }
  .t-block-left .t-block__content {
    margin: 0; }
  .t-block-left .t-info {
    padding: 0;
    top: 34%; }
    .t-block-left .t-info p {
      margin: 0; }
  .t-block__title {
    height: 495px; }
  .t-block__content {
    padding: 0 40px; }
  .t-block__product {
    top: -40px; }
  .t-block .t-title {
    height: 100%; }
  .t-block .t-info {
    position: absolute;
    z-index: 9;
    text-align: center;
    font-size: 6vw;
    width: 70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-transform: uppercase; }
    .t-block .t-info p {
      width: 100% !important; }
  .t-block .t-text {
    width: 100%;
    font-size: 6vw;
    padding: 60px 8vw; }
  .t-block.-first {
    height: auto; }
    .t-block.-first .t-block__title {
      background-size: cover;
      background: url("../img/photo1.png") no-repeat; }
    .t-block.-first .t-title {
      background-position: 60% 100%;
      background-size: 100%;
      width: 100%; }
    .t-block.-first .t-product-title {
      background: url("../img/mobile/product1-title.png") no-repeat;
      background-size: contain;
      top: 0;
      left: 0; }
  .t-block.-second {
    height: auto; }
    .t-block.-second .t-product {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .t-block.-second .t-product-title {
      left: 0;
      top: 80px; }
    .t-block.-second .t-product-desc {
      padding: 15vw 30px 45px; }
    .t-block.-second .t-product-img {
      bottom: -80px;
      left: -30px; }
    .t-block.-second .t-title {
      background-position: 60% 100%;
      background-size: 100%; }
  .t-block.-third {
    height: auto; }
    .t-block.-third .t-block__product {
      top: -75px; }
    .t-block.-third .t-line {
      bottom: 250px; }
    .t-block.-third .t-title {
      background: url("../img/mobile/title3.png") no-repeat;
      background-size: 600px;
      background-position: 80px 103%;
      top: 0; }
    .t-block.-third .t-info {
      padding: 0; }
  .t-block.-fourth {
    height: auto; }
    .t-block.-fourth .t-title {
      width: 685px;
      background-position: 100% 103%;
      margin: 0 auto;
      background-size: contain; }
    .t-block.-fourth .t-info {
      top: 645px;
      padding: 0; }
    .t-block.-fourth .t-block__product {
      top: -30px; }
    .t-block.-fourth .t-product {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .t-block.-fourth .t-product-title {
      left: 0; }
    .t-block.-fourth .t-product-img {
      right: 0; }
  .t-block.-fifth {
    height: auto; }
    .t-block.-fifth .t-title {
      width: 100%;
      background-size: 635px;
      background-position: 70% 100%; }
    .t-block.-fifth .t-product-title {
      top: 0; }
    .t-block.-fifth .t-info {
      top: 760px;
      padding: 0; } }
@media only screen and (min-width: 600px) and (max-width: 769px) {
  .t-block.-third .t-info, .t-block.-fifth .t-info {
    top: 42%; }
  .t-block.-fourth .t-info {
    top: 31%; }
  .t-block-right .t-info {
    top: 34%; }
  .t-block-left .t-info {
    top: 37%; } }
@media only screen and (min-width: 375px) and (max-width: 569px) {
  .t-block.-first .t-info {
    top: 37%; }
  .t-block.-third .t-info, .t-block.-fifth .t-info {
    top: 44.5%; }
  .t-block.-fourth .t-info {
    top: 34%; }
  .t-block-left .t-info {
    top: 38%; }

  .t-product-title {
    height: 190px !important; } }
@media only screen and (min-width: 568px) and (max-width: 599px) {
  .t-block.-third .t-info, .t-block.-fifth .t-info {
    top: 44.5%; }
  .t-block.-fourth .t-info {
    top: 30.5%; }
  .t-block-right .t-info {
    top: 36%; }
  .t-block-left .t-info {
    top: 38%; }

  .t-product-title {
    height: 190px !important; } }
@media only screen and (min-width: 340px) and (max-width: 374px) {
  .t-block.-third .t-info, .t-block.-fifth .t-info {
    top: 44.5%; }
  .t-block.-fourth .t-info {
    top: 34%; }
  .t-block-right .t-info {
    top: 37.5%; }
  .t-block-left .t-info {
    top: 39%; } }
@media only screen and (min-width: 320px) and (max-width: 340px) {
  .t-block.-third .t-info, .t-block.-fifth .t-info {
    top: 44.5%; }
  .t-block.-fourth .t-info {
    top: 34%; }
  .t-block-right .t-info {
    top: 39.5%; }
  .t-block-left .t-info {
    top: 39%; } }
@media only screen and (min-width: 320px) and (max-width: 599px) {
  .t-marks-line2 {
    padding-bottom: 20px; }

  .t-intro__products {
    padding-left: 10px; }
    .t-intro__products .t-products-item:nth-child(2) {
      right: 15px; }
    .t-intro__products .t-products-item:nth-child(3) {
      left: -10px; }

  .t-product {
    min-height: 400px;
    height: 100%; }
    .t-product-desc {
      padding: 20vw 30px 45px !important; }

  .t-link {
    width: 100%; }
    .t-link span {
      font-size: 9vw; }

  .t-line {
    bottom: 35% !important; }

  .t-block__product {
    top: -10px !important; }
  .t-block__title .t-title {
    width: 100% !important;
    background-size: 100% !important; }
  .t-block.-first .t-product-img {
    top: 20px;
    left: 0; }
  .t-block.-second .t-product-img {
    left: 0;
    bottom: 0; }
  .t-block.-second .t-product-desc {
    padding: 20vw 30px 45px; }
  .t-block.-second .t-product-title {
    top: 0; }
  .t-block.-second .t-block__product {
    top: 30px !important; }
  .t-block.-third .t-title {
    background-position: 0 103% !important; }
  .t-block.-third .t-text {
    padding: 150px 8vw 30px; }
  .t-block.-third .t-product-title {
    left: 0; }
  .t-block.-fourth .t-product-title {
    bottom: 0; }
  .t-block.-fifth .t-product-img, .t-block.-fifth .t-product-title {
    left: 0; } }
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .t-intro {
    height: 355vw; } }
