html, body, div, span, h1, h2, h3, h4, h5, h6, a, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.k-container {
  width: 754px;
  font-family: "CenturyGothicRegular";
  background-color: #fff;
  margin: 0 auto; }

.k-header {
  width: 100%;
  color: #fff;
  position: relative; }

.k-header__content {
  background-color: #141d2c;
  height: 455px;
  padding: 25px 20px;
  box-sizing: border-box;
  position: relative; }
  .k-header__content::before {
    content: "";
    position: absolute;
    background: url(../img/ill.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    width: 754px;
    height: 270px; }

.k-header__girl {
  position: absolute;
  background: url(../img/woman.png);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -215px;
  right: 20px;
  width: 212px;
  height: 665px; }

.k-main-title {
  font-size: 56px;
  line-height: 50px;
  padding-top: 20px;
  margin-left: -5px; }

.k-header__sub-title {
  background-color: #009a82;
  height: 85px; }
  .k-header__sub-title h2 {
    font-size: 21px;
    line-height: 21px;
    width: 530px;
    padding: 15px 35px;
    box-sizing: border-box; }

.k-main {
  height: 1240px;
  padding-top: 230px; }
  .k-main .k-link {
    position: relative;
    height: 342px; }
    .k-main .k-link:first-child {
      margin-top: 0px !important; }
    .k-main .k-link .k-title {
      width: 100%;
      height: 90px;
      padding: 15px 25px;
      box-sizing: border-box;
      background-color: #eeecec;
      font-size: 29px;
      line-height: 30px; }
      .k-main .k-link .k-title a {
        display: block;
        text-decoration: none;
        color: #d52b1e; }
      .k-main .k-link .k-title h3 {
        width: 350px;
        transition: all 0.2s ease-in-out; }
    .k-main .k-link:nth-child(odd) .k-title a {
      position: absolute;
      right: 0; }
    .k-main .k-link:nth-child(odd) .k-image {
      -webkit-clip-path: polygon(50% 0, 100% 24%, 100% 76%, 100% 100%, 0 100%, 0 24%);
      clip-path: polygon(50% 0, 100% 24%, 100% 76%, 100% 100%, 0 100%, 0 24%); }
      .k-main .k-link:nth-child(odd) .k-image .mask {
        transform: translate(-460px, -100px) rotate(180deg); }
      .k-main .k-link:nth-child(odd) .k-image__title, .k-main .k-link:nth-child(odd) .k-image__content {
        transform: translateX(-300px) rotate(90deg); }
    .k-main .k-link:nth-child(even) .k-title h3 {
      float: left; }
    .k-main .k-link:nth-child(even) .k-image {
      float: right;
      left: -30px; }

.k-link__scaner {
  background: url(../img/1.png) no-repeat center center; }

.k-link__hack {
  background: url(../img/2.png) no-repeat center center; }

.k-link__guide {
  background: url(../img/3.png) no-repeat center center; }

.k-link__article {
  background: url(../img/4.png) no-repeat center center; }

.k-image {
  position: relative;
  top: -287px;
  left: 30px;
  width: 330px;
  height: 380px;
  overflow: hidden;
  transition: all 0.2s ease-in;
  -webkit-clip-path: polygon(50% 0, 100% 24%, 100% 76%, 50% 100%, 0 100%, 0 24%);
  clip-path: polygon(50% 0, 100% 24%, 100% 76%, 50% 100%, 0 100%, 0 24%); }

.k-image .mask {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 330px;
  height: 380px;
  background: url(../img/back.png) no-repeat center center;
  text-align: center;
  opacity: 0;
  transform: translate(460px, -100px) rotate(180deg);
  transition: all 0.2s 0.4s ease-in-out;
  -webkit-clip-path: polygon(50% 0, 100% 23%, 100% 76%, 50% 100%, 0 76%, 0 23%);
  clip-path: polygon(50% 0, 100% 23%, 100% 76%, 50% 100%, 0 76%, 0 23%); }

.k-image__title {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 154, 130, 0.8);
  margin: 95px 0 0 0;
  transform: translateX(300px) rotate(90deg);
  transition: all 0.2s ease-in-out; }

.k-image__content {
  font-size: 12px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center;
  transform: translateX(300px) rotate(90deg);
  transition: all 0.2s ease-in-out; }

.k-image__link {
  transform: translateY(-100px);
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #009a82;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #141d2c; }

.k-link:hover .k-image .mask {
  opacity: 1;
  transition-delay: 0s;
  transform: translate(0px, 0px) !important; }
.k-link:hover .k-image__title {
  transform: translateY(0px) !important;
  transition-delay: 0.5s; }
.k-link:hover .k-image__content {
  transform: translateX(0px) rotate(0deg) !important;
  transition-delay: 0.4s; }
.k-link:hover .k-image__link {
  transform: translateY(0px) !important;
  transition-delay: 0.3s; }
.k-link:hover .k-title h3 {
  transform: scale(1.1); }
