
@font-face {
  font-family: 'hna';
  src: url('../fonts/hna/HelveticaNeueAVON-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/hna/HelveticaNeueAVON-Light.otf')  format('opentype'),
	     url('../fonts/hna/HelveticaNeueAVON-Light.woff') format('woff'), url('../fonts/hna/HelveticaNeueAVON-Light.ttf')  format('truetype'), url('../fonts/hna/HelveticaNeueAVON-Light.svg#HelveticaNeueAVON-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ddt';
  src: url('../fonts/ddt/DidotLTsPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ddt/DidotLTsPro-Bold.otf')  format('opentype'),
	     url('../fonts/ddt/DidotLTsPro-Bold.woff') format('woff'), url('../fonts/ddt/DidotLTsPro-Bold.ttf')  format('truetype'), url('../fonts/ddt/DidotLTsPro-Bold.svg#DidotLTsPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "m-pro";
    src: url("../fonts/m-pro/MyriadProRegular.eot");
    src: url("../fonts/m-pro/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/m-pro/MyriadProRegular.woff") format("woff"),
    url("../fonts/m-pro/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
