@-webkit-keyframes fly {
  50% {
    bottom: 20px; } }


@keyframes fly {
  50% {
    bottom: 20px; } }


@charset "UTF-8";
@font-face {
  font-family: 'k-reg';
  src: url("fonts/k-reg/k-reg.eot");
  src: local("☺"), url("fonts/k-reg/k-reg.woff") format("woff"), url("fonts/k-reg/k-reg.ttf") format("truetype"), url("fonts/k-reg/k-reg.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'k-bold';
  src: url("fonts/k-bold/k-bold.eot");
  src: local("☺"), url("fonts/k-bold/k-bold.woff") format("woff"), url("fonts/k-bold/k-bold.ttf") format("truetype"), url("fonts/k-bold/k-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'k-black';
  src: url("fonts/k-black/k-black.eot");
  src: local("☺"), url("fonts/k-black/k-black.woff") format("woff"), url("fonts/k-black/k-black.ttf") format("truetype"), url("fonts/k-black/k-black.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.d-wrapper ::-moz-selection {
  background: #fd4400;
  color: #fff; }

.d-wrapper ::selection {
  background: #fd4400;
  color: #fff; }

.d-container {
  width: 980px;
  margin: 0 auto;
  position: relative;
  background: #fff; }
  @media screen and (max-width: 768px) {
    .d-container {
      width: 100%;
      overflow-x: hidden; } }

.d-block {
  position: relative; }
  @media screen and (max-width: 768px) {
    .d-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }

.d-title {
  font-size: 1.125em;
  font-family: 'k-black';
  color: #ff6831;
  text-transform: uppercase;
  line-height: 1.389;
  text-align: center; }

.d-text {
  font-size: 1em;
  font-family: 'k-reg';
  line-height: 1.625; }
  .d-text span {
    font-family: 'k-bold'; }
  .d-text a {
    color: #ff6831;
    text-decoration: underline;
    font-family: 'k-bold'; }
  .d-text ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .d-text li::before {
    content: "-";
    position: relative;
    left: -5px; }
  @media screen and (max-width: 768px) {
    .d-text {
      font-size: 4vw; } }

.d-or {
  color: #ff6831; }

.d-info {
  height: 90px;
  position: relative;
  top: -32px;
  padding: 15px 180px;
  text-align: center; }
  .d-info-gr {
    background: #ededee;
    height: 89px;
    padding: 4px 180px; }
  .d-info p {
    margin: 0; }
  .d-info img {
    position: absolute;
    left: 50px;
    top: -25px; }

.d-promo {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 1em;
  font-family: Geometria, sans-serif;
  font-weight: 500;
  overflow: hidden;
  z-index: 999; }
  .d-promo__content {
    background: #ff6831;
    white-space: nowrap; }
    .d-promo__content span {
      font-size: 1.3125em;
      font-weight: 700; }
  .d-promo__hidden {
    display: none; }

.d-intro {
  background: url("../assets/img/bg1.png") no-repeat;
  background-size: contain;
  height: 483px;
  z-index: 99; }
  .d-intro__content {
    width: 58%;
    float: left;
    padding: 40px 40px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .d-intro .d-title {
    background: url("../assets/img/title1.png") no-repeat;
    background-size: contain;
    background-position: center;
    width: 480px;
    height: 150px; }
  .d-intro .d-text {
    color: #fff;
    padding: 25px 15px 0 35px;
    text-align: center; }
  .d-intro__arrow {
    background: url("../assets/img/arrow.png") no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 35px;
    height: 40px;
    -webkit-animation: fly 2s infinite;
    animation: fly 2s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

.d-second {
  background: url("../assets/img/bg2.png") no-repeat;
  background-size: contain;
  height: 380px;
  top: -32px; }
  .d-second__content {
    width: 58%;
    float: left;
    padding: 40px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .d-second .d-title {
    background: url("../assets/img/title2.png") no-repeat;
    background-size: contain;
    background-position: center;
    width: 518px;
    height: 120px; }
  .d-second .d-text {
    padding: 0 0 0 50px; }

.d-third {
  background: url("../assets/img/bg3.png") no-repeat;
  background-size: contain;
  height: 380px;
  top: -32px; }
  .d-third__content {
    width: 58%;
    float: right;
    padding: 40px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .d-third .d-title {
    background: url("../assets/img/title3.png") no-repeat;
    background-size: contain;
    background-position: center;
    width: 518px;
    height: 110px; }
  .d-third .d-text {
    padding: 0 50px 0 0;
    text-align: right; }

.d-fourth {
  top: -32px; }
  .d-fourth__content {
    height: 255px;
    padding: 20px 0 0;
    background: url("../assets/img/bg4.png") no-repeat;
    background-size: contain;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .d-fourth__content .d-text {
      padding: 0 150px;
      text-align: center;
      margin: 0; }
  .d-fourth .d-title {
    background: url("../assets/img/title4.png") no-repeat;
    background-size: contain;
    background-position: center;
    width: 300px;
    height: 100px; }
  .d-fourth__slider {
    width: 100%;
    height: 377px; }
  .d-fourth__geo {
    height: 335px;
    padding: 20px 0 0;
    background: url("../assets/img/bg4a.png") no-repeat;
    background-size: contain;
    background-position: top right; }
    .d-fourth__geo p {
      width: 60%;
      padding: 10px 0 0 50px; }
      .d-fourth__geo p:first-child {
        width: 55%;
        padding: 7px 15px 15px 50px;
        color: #fff; }

.slick-dots {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  list-style: none; }
  .slick-dots li {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    margin: 0 7px; }
  .slick-dots button {
    border: 0;
    outline: none;
    background: transparent;
    color: transparent;
    cursor: pointer; }
  .slick-dots .slick-active {
    width: 21px;
    height: 21px;
    background: #fff; }

.d-slider1 {
  height: 100%; }
  .d-slider1__item {
    height: 100%; }
    .d-slider1__item > div {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .d-slider1__item > div p {
        width: 60%;
        font-size: 1.1875em;
        font-family: 'k-reg';
        color: #fff;
        line-height: 1.579;
        text-align: center; }
    .d-slider1__item.-first {
      background: url("../assets/img/slider1.png") no-repeat; }
    .d-slider1__item.-second {
      background: url("../assets/img/slider1a.png") no-repeat; }
    .d-slider1__item.-third {
      background: url("../assets/img/slider1b.png") no-repeat; }

.d-sixth {
  top: -32px; }
  .d-sixth__content {
    background: url("../assets/img/bg5.jpg") no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .d-sixth .d-item {
    padding: 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    height: 250px;
    cursor: pointer;
    position: relative;
    -webkit-transition: opacity 3s linear;
    transition: opacity 3s linear; }
    .d-sixth .d-item__content {
      padding: 5px;
      max-width: 100%;
      height: 100%;
      border: 1px solid #424242;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .d-sixth .d-item__content p {
        width: 80%;
        margin: 0;
        font-size: 16px;
        font-family: 'k-reg';
        line-height: 1.625;
        text-align: center; }
    .d-sixth .d-item:hover::after {
      opacity: 0; }
    .d-sixth .d-item::after {
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      z-index: 999;
      width: 100%;
      height: 250px;
      opacity: 1;
      -webkit-transition: opacity 0.25s linear;
      transition: opacity 0.25s linear; }
    .d-sixth .d-item.-first::after {
      background-image: url("../assets/img/5a.png"); }
    .d-sixth .d-item.-second::after {
      background: url("../assets/img/5b.png"); }
    .d-sixth .d-item.-third::after {
      background: url("../assets/img/5c.png"); }
    .d-sixth .d-item.-fourth::after {
      background: url("../assets/img/5d.png"); }

.d-seventh {
  top: -9px; }

.d-menu {
  height: 390px;
  padding-bottom: 30px;
  background: #ededee url("../assets/img/bg7.png") no-repeat;
  background-position: 100% -180%; }
  .d-menu__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding: 0;
    list-style: none; }
    .d-menu__items li {
      position: relative;
      padding: 10px 15px;
      width: 50%;
      height: 249px;
      background: #000;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .d-menu__items li::before {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        z-index: 999;
        width: 100%;
        height: 249px;
        opacity: 0.5; }
    .d-menu__items li.current {
      background: #fff; }
    .d-menu__items li.current::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 50px solid #ededee;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 999; }
    .d-menu__items li.current::before {
      opacity: 1; }
    .d-menu__items li:first-child::before {
      background: url("../assets/img/item7a.png") no-repeat;
      background-size: cover; }
    .d-menu__items li:last-child::before {
      background: url("../assets/img/item7b.png") no-repeat;
      background-size: cover; }
  .d-menu__content {
    display: none; }
  .d-menu p {
    width: 85%;
    font-size: 1em;
    font-family: 'k-reg';
    line-height: 1.625;
    text-align: center; }
  .d-menu__content.current {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.d-dry {
  position: relative;
  top: -9px; }
  .d-dry__intro {
    background: #424242;
    color: #fff;
    position: relative;
    padding: 15px 180px;
    text-align: center; }
    .d-dry__intro img {
      position: absolute;
      left: 20px;
      bottom: 0; }
  .d-dry__about {
    height: 237px; }
    .d-dry__about > div:first-child {
      padding: 7px 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .d-dry__about > div:first-child img {
        width: 245px;
        margin-right: 15px; }
    .d-dry__about > div:last-child .d-text {
      text-align: center;
      padding: 0px 100px;
      margin: 0; }
  .d-dry__info {
    height: 185px;
    background: #ff6831;
    color: #fff;
    padding: 15px 130px;
    text-align: center; }
  .d-dry__adv {
    height: 160px;
    padding: 10px 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .d-dry__adv div {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center;
      padding: 0 10px; }
  .d-dry__result {
    height: 127px;
    padding: 0 50px; }
    .d-dry__result .d-title {
      text-align: left; }
    .d-dry__result .d-text {
      margin: 0;
      margin: -11px; }

.d-sens {
  position: relative; }
  .d-sens__content {
    height: 285px;
    padding: 35px 50px 0 60px;
    background: url("../assets/img/sens-bg.png") no-repeat;
    background-size: cover;
    background-position: 0 -15px; }
  .d-sens img {
    float: left;
    margin-top: 15px;
    margin-right: 30px; }
  .d-sens .d-promo {
    bottom: -26px;
    left: 0;
    width: 204px; }
    .d-sens .d-promo__content {
      padding: 13px 28px 10px 20px;
      height: 69px;
      cursor: pointer; }
    .d-sens .d-promo__hidden-txt {
      background: #e25927;
      width: 205px;
      padding: 10px 3px 10px 15px; }
      .d-sens .d-promo__hidden-txt span {
        font-size: 1.3125em;
        font-weight: 700; }
    .d-sens .d-promo:hover .d-promo__hidden-txt {
      display: block; }

.d-foot {
  position: relative;
  margin-top: 50px; }
  .d-foot__content {
    height: 285px;
    padding: 0 50px 0 60px; }
  .d-foot img {
    float: left;
    margin-top: -15px;
    margin-right: 15px; }
  .d-foot .d-promo {
    bottom: -5px;
    right: 0;
    font-size: 0.75em; }
    .d-foot .d-promo__content {
      padding: 17px 10px 10px 28px;
      height: 69px; }
      .d-foot .d-promo__content span {
        font-size: 1.75em; }

.d-footer {
  padding: 30px 0 45px; }
  @media screen and (max-width: 768px) {
    .d-footer {
      position: relative;
      top: -52px; } }
  .d-footer__title {
    font-size: 1em;
    font-family: 'k-bold';
    color: #424242;
    text-transform: uppercase;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .d-footer__title {
        font-size: 4vw; } }
  .d-footer__social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.d-social-icon {
  display: block;
  background: url("../assets/img/socials.png") no-repeat;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-size: 500px;
  margin: 0 10px; }
  @media screen and (max-width: 768px) {
    .d-social-icon {
      width: 80px;
      height: 80px;
      background-size: 660px;
      margin: 0 2vw; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .d-social-icon {
      width: 60px;
      height: 60px;
      background-size: 500px; } }

.d-vk {
  background-position: -375px 0; }
  .d-vk:hover {
    background-position: -440px 0; }
  @media screen and (max-width: 768px) {
    .d-vk {
      background-position: -494px 0; }
      .d-vk:hover {
        background-position: -577px 0; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .d-vk {
      background-position: -375px 0; }
      .d-vk:hover {
        background-position: -440px 0; } }

.d-fb {
  background-position: 0 0; }
  .d-fb:hover {
    background-position: -62px 0; }
  @media screen and (max-width: 768px) {
    .d-fb {
      background-position: 0 0; }
      .d-fb:hover {
        background-position: -82px 0; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .d-fb {
      background-position: 0 0; }
      .d-fb:hover {
        background-position: -62px 0; } }

.d-tw {
  background-position: -250px 0; }
  .d-tw:hover {
    background-position: -312px 0; }
  @media screen and (max-width: 768px) {
    .d-tw {
      background-position: -330px 0; }
      .d-tw:hover {
        background-position: -412px 0; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .d-tw {
      background-position: -250px 0; }
      .d-tw:hover {
        background-position: -312px 0; } }

.d-ok {
  background-position: -125px 0; }
  .d-ok:hover {
    background-position: -188px 0; }
  @media screen and (max-width: 768px) {
    .d-ok {
      background-position: -165px 0; }
      .d-ok:hover {
        background-position: -248px 0; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .d-ok {
      background-position: -125px 0; }
      .d-ok:hover {
        background-position: -188px 0; } }


/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  height: 100%; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  height: 100%; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
