@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.otf") format("opentype"); }
@font-face {
  font-family: "Geometria-Light";
  src: url("../fonts/Geometria-Light.otf") format("opentype"); }
@font-face {
  font-family: "Geometria-Medium";
  src: url("../fonts/Geometria-Medium.otf") format("opentype"); }
@font-face {
  font-family: "Geometria-Bold";
  src: url("../fonts/Geometria-Bold.otf") format("opentype"); }
@font-face {
  font-family: "Geometria-Thin";
  src: url("../fonts/Geometria-Thin.otf") format("opentype"); }
