html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

img {
  width: 100%;
  height: auto; }

a, a:hover {
  text-decoration: none; }

.sp-container ::-moz-selection {
  background: #ef7a12;
  color: #fff; }

.sp-container ::selection {
  background: #ef7a12;
  color: #fff; }

.sp-container {
  width: 1100px;
  margin: 0 auto; }

.sp-header {
  background: url(../img/header.png);
  background-size: cover;
  height: 600px;
  width: 100%;
  position: relative; }

.sp-logo {
  position: absolute;
  top: 80px;
  left: 35px;
  width: 470px;
  height: 280px;
  background: url(../img/logo.png);
  background-size: cover; }

.sp-intro {
  height: 120px;
  width: 100%;
  background: #ef7a12;
  color: #fff;
  padding: 25px 60px;
  box-sizing: border-box;
  font-size: 21px;
  font-family: "avenir";
  line-height: 21px;
  overflow: hidden; }

.sp-main {
  width: 100%;
  height: 1870px;
  background: url(../img/back.png), -webkit-linear-gradient(top, #fff 0%, rgba(239, 234, 220, 0.4) 50%, rgba(239, 234, 220, 0.9) 100%);
  background: url(../img/back.png), linear-gradient(to bottom, #fff 0%, rgba(239, 234, 220, 0.4) 50%, rgba(239, 234, 220, 0.9) 100%);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden; }
  .sp-main-container {
    background: url(../img/back1.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }

.sp-article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 410px; }
  .sp-article:hover .sp-info {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
    opacity: 1; }
  .sp-article:hover .sp-img {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%); }
  .sp-article .sp-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-transform: uppercase;
    font-size: 65px;
    line-height: 65px;
    height: auto; }
    .sp-article .sp-title__first {
      font-family: "cr85";
      color: #741212; }
    .sp-article .sp-title__second {
      font-family: "ptnarrow-reg";
      color: #febc2b;
      white-space: nowrap; }

.sp-article:nth-child(even) .sp-info {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%); }
.sp-article:nth-child(even) .sp-img {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }
.sp-article:nth-child(even):hover .sp-info {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
  opacity: 1; }
.sp-article:nth-child(even):hover .sp-img {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }

.sp-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  overflow: hidden;
  top: 40px;
  -webkit-transition: all 0.35s ease-in-out;
          transition: all 0.35s ease-in-out; }
  .sp-item .sp-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-family: "avenir";
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out; }
    .sp-item .sp-info h3 {
      background: #ef7a12;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      font-size: 17px;
      padding: 10px;
      margin: 15px 25px 0; }
    .sp-item .sp-info p {
      font-size: 14px;
      position: relative;
      color: #741212;
      padding: 20px 20px 20px;
      text-align: center; }
  .sp-item .sp-img {
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out; }

.sp-article-first .sp-title {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-top: 190px;
  padding-left: 30px; }
.sp-article-second .sp-title {
  padding-top: 190px;
  padding-left: 180px; }
.sp-article-third .sp-title {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-top: 140px;
  padding-left: 40px; }
.sp-article-fouth .sp-title {
  padding-top: 170px;
  padding-left: 90px; }
.sp-article-fifth .sp-title {
  padding-top: 200px;
  padding-left: 20px; }
  .sp-article-fifth .sp-title__second {
    color: #fff; }
