html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

img {
  width: 100%;
  height: auto; }

a, a:hover {
  text-decoration: none; }

.sp-container ::-moz-selection {
  background: #ef7a12;
  color: #fff; }

.sp-container ::selection {
  background: #ef7a12;
  color: #fff; }

.sp-container {
  width: 1100px;
  margin: 0 auto; }

.sp-header {
  background: url(../img/header.png);
  background-size: cover;
  background-position: center top;
  height: 600px;
  width: 100%;
  position: relative; }

.sp-logo {
  position: absolute;
  top: 80px;
  left: 35px;
  width: 470px;
  height: 280px;
  background: url(../img/logo.png);
  background-size: cover; }

.sp-intro {
  height: auto;
  width: 100%;
  background: #ef7a12;
  color: #fff;
  padding: 25px 60px;
  box-sizing: border-box;
  font-size: 22px;
  font-family: "avenir";
  line-height: 22px;
  overflow: hidden; }

.sp-main {
  width: 100%;
  height: 100%;
  background: url(../img/back.png), linear-gradient(to bottom, #fff 0%, rgba(239, 234, 220, 0.4) 50%, rgba(239, 234, 220, 0.9) 100%);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 25px;
  overflow: hidden; }
  .sp-main-container {
    background: url(../img/back1.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }

.sp-article {
  display: flex;
  align-items: center;
  box-sizing: border-box; }
  .sp-article:hover .sp-info {
    transform: translateX(0);
    visibility: visible;
    opacity: 1; }
  .sp-article:hover .sp-img {
    transform: translateX(-100%); }
  .sp-article .sp-title {
    flex: 1;
    text-transform: uppercase;
    font-size: 65px;
    line-height: 65px;
    height: auto; }
    .sp-article .sp-title__first {
      font-family: "cr85";
      color: #741212; }
    .sp-article .sp-title__second {
      font-family: "ptnarrow-reg";
      color: #febc2b;
      white-space: nowrap; }

.sp-article:nth-child(even) .sp-info {
  transform: translateX(-100%); }
.sp-article:nth-child(even) .sp-img {
  transform: translateX(0); }
.sp-article:nth-child(even):hover .sp-info {
  transform: translateX(0);
  visibility: visible;
  opacity: 1; }
.sp-article:nth-child(even):hover .sp-img {
  transform: translateX(100%); }

.sp-item {
  flex: 1;
  position: relative;
  overflow: hidden;
  transition: all 0.35s ease-in-out; }
  .sp-item .sp-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-family: "avenir";
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.35s ease-in-out; }
    .sp-item .sp-info h3 {
      background: #ef7a12;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      font-size: 17px;
      padding: 10px;
      margin: 15px 25px 0; }
    .sp-item .sp-info p {
      font-size: 14px;
      position: relative;
      color: #741212;
      padding: 20px 20px 20px;
      text-align: center; }
  .sp-item .sp-img {
    width: 100%;
    height: 100%;
    transform: translateX(0);
    transition: all 0.35s ease-in-out; }

.sp-animated {
  background: url(../img/highlight.png) no-repeat;
  background-size: cover;
  animation: light 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out; }

.sp-animated-comb {
  background: url(../img/highlight.png) no-repeat;
  background-size: cover;
  animation-iteration-count: 1;
  animation-timing-function: linear; }

.sp-highlight, .sp-highlight-comb {
  position: absolute;
  z-index: 999; }

.sp-article-first {
  height: 415px;
  padding: 50px 0 0; }
  .sp-article-first .sp-img-main {
    position: relative;
    z-index: 1; }
  .sp-article-first .sp-highlight-first, .sp-article-first .sp-highlight-second {
    width: 120px;
    height: 120px; }
  .sp-article-first .sp-highlight-first {
    top: 60px;
    left: 90px;
    animation-delay: 1s; }
  .sp-article-first .sp-highlight-second {
    top: 58px;
    left: 105px;
    animation-delay: 1.5s; }
  .sp-article-first .sp-highlight-comb-first, .sp-article-first .sp-highlight-comb-second {
    animation: light-comb1 3s; }
  .sp-article-first .sp-highlight-comb-first {
    width: 40px;
    height: 40px;
    left: 200px;
    top: 185px;
    animation-delay: 2s; }
  .sp-article-first .sp-highlight-comb-second {
    width: 25px;
    height: 25px;
    left: 215px;
    top: 197px;
    animation-delay: 2.5s; }
  .sp-article-first .sp-title {
    flex: 2; }
    .sp-article-first .sp-title__first, .sp-article-first .sp-title__second {
      padding-left: 30px; }
.sp-article-second {
  height: 370px; }
  .sp-article-second .sp-img-main {
    position: relative;
    z-index: 1; }
  .sp-article-second .sp-highlight-comb-first {
    animation: light-comb2 3s; }
  .sp-article-second .sp-highlight-comb-second, .sp-article-second .sp-highlight-comb-third {
    animation: light-comb3 5s; }
  .sp-article-second .sp-highlight-comb-first {
    width: 60px;
    height: 60px;
    top: 180px;
    left: 200px;
    animation-delay: 2.5s; }
  .sp-article-second .sp-highlight-comb-second {
    width: 140px;
    height: 140px;
    top: 175px;
    left: 295px;
    animation-delay: 1.5s; }
  .sp-article-second .sp-highlight-comb-third {
    width: 60px;
    height: 60px;
    top: 240px;
    left: 345px;
    animation-delay: 1.7s;
    transform: rotate(45deg); }
  .sp-article-second .sp-title__first, .sp-article-second .sp-title__second {
    padding-left: 180px; }
.sp-article-third {
  height: 370px; }
  .sp-article-third .sp-img-main {
    position: relative;
    z-index: 1; }
  .sp-article-third .sp-highlight {
    width: 120px;
    height: 120px;
    top: 40px;
    left: 100px;
    animation-delay: 1s; }
  .sp-article-third .sp-title {
    flex: 2; }
    .sp-article-third .sp-title__first, .sp-article-third .sp-title__second {
      padding-left: 30px; }
.sp-article-fouth {
  height: 400px; }
  .sp-article-fouth .sp-title__first, .sp-article-fouth .sp-title__second {
    padding-left: 90px; }
  .sp-article-fouth .sp-img-main {
    position: relative;
    z-index: 1; }
  .sp-article-fouth .sp-highlight {
    width: 80px;
    height: 80px;
    top: 60px;
    right: 55px;
    animation-delay: 1s;
    transform: rotate(45deg); }
.sp-article-fifth {
  height: 415px; }
  .sp-article-fifth .sp-img-main {
    position: relative;
    z-index: 1; }
  .sp-article-fifth .sp-highlight-first {
    width: 120px;
    height: 120px;
    top: 130px;
    left: 38px;
    animation-delay: 1s; }
  .sp-article-fifth .sp-highlight-second {
    width: 60px;
    height: 60px;
    top: 143px;
    left: 105px;
    animation-delay: 1.5s; }
  .sp-article-fifth .sp-title__second {
    color: #fff; }
  .sp-article-fifth .sp-info {
    margin-right: 30px; }

@keyframes light {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.5); }
  70% {
    transform: scale(2); }
  100% {
    transform: scale(0); } }
@keyframes light-comb1 {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.2); }
  70% {
    transform: scale(1.4); }
  100% {
    transform: scale(0);
    left: 280px;
    top: 195px; } }
@keyframes light-comb2 {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.2); }
  70% {
    transform: scale(1.4); }
  100% {
    transform: scale(0);
    top: 135px;
    left: 85px; } }
@keyframes light-comb3 {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.2); }
  70% {
    transform: scale(1.4); }
  100% {
    transform: scale(0);
    top: 10px;
    left: 215px; } }
@media only screen and (max-width: 768px) {
  @keyframes light-comb1 {
    0% {
      transform: scale(0); }
    50% {
      transform: scale(1.2); }
    70% {
      transform: scale(1.4); }
    100% {
      transform: scale(0);
      left: 300px; } }
  @keyframes light-comb2 {
    0% {
      transform: scale(0); }
    50% {
      transform: scale(1.2); }
    70% {
      transform: scale(1.4); }
    100% {
      transform: scale(0);
      top: 90px;
      left: 55px; } }
  @keyframes light-comb3 {
    0% {
      transform: scale(0); }
    50% {
      transform: scale(1.2); }
    70% {
      transform: scale(1.4); }
    100% {
      transform: scale(0);
      top: 0px;
      left: 140px; } } }
@media only screen and (max-width: 768px) {
  .sp-container {
    width: 768px; }

  .sp-intro {
    text-align: justify; }

  .sp-article {
    display: flex;
    align-items: center;
    box-sizing: border-box; }
    .sp-article:hover .sp-info {
      transform: translateX(-100px);
      visibility: hidden;
      opacity: 0; }
    .sp-article:hover .sp-img {
      transform: translateX(0); }
    .sp-article .sp-title {
      font-size: 55px;
      line-height: 55px;
      flex: 1; }
      .sp-article .sp-title__second {
        white-space: normal; }

  .sp-article:nth-child(even):hover .sp-info {
    transform: translateX(-100%); }
  .sp-article:nth-child(even):hover .sp-img {
    transform: translateX(0); }

  .sp-article-first .sp-title {
    flex: 1; }
  .sp-article-first .sp-highlight-comb-first {
    top: 195px;
    left: 215px; }
  .sp-article-first .sp-highlight-comb-second {
    top: 205px;
    left: 235px; }
  .sp-article-second .sp-title__first, .sp-article-second .sp-title__second {
    padding-left: 70px; }
  .sp-article-second .sp-highlight-comb-first {
    top: 120px;
    left: 130px; }
  .sp-article-second .sp-highlight-comb-second {
    top: 115px;
    left: 190px; }
  .sp-article-second .sp-highlight-comb-third {
    top: 160px;
    left: 245px; }
  .sp-article-fouth .sp-highlight {
    top: 30px;
    right: 20px; }
  .sp-article-fifth .sp-highlight-first {
    top: 70px;
    left: 15px; }
  .sp-article-fifth .sp-highlight-second {
    top: 90px;
    left: 65px; } }
