html, body, div, span, h1, h2, h3, h4, h5, h6, a, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.k-game-container {
  width: 754px;
  height: 795px;
  margin: 0 auto; }

.k-game-header {
  width: 100%;
  height: 100%;
  font-family: "CenturyGothicRegular";
  position: relative; }

.k-game-header__content {
  background-color: #fff;
  height: 565px;
  padding: 8px 30px 0 30px;
  box-sizing: border-box;
  position: relative; }
  .k-game-header__content::before {
    content: "";
    position: absolute;
    background: url(../img/ill1.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 67px;
    left: 30px;
    width: 490px;
    height: 287px; }
  .k-game-header__content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 67px;
    background-color: #006c54; }

.k-game-header__girl {
  position: absolute;
  background: url(../img/wmn.png);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 230px;
  right: 25px;
  width: 230px;
  height: 480px; }

.k-game-main-title {
  font-size: 36px;
  line-height: 41px;
  color: #009a82;
  padding-top: 23px;
  margin-left: -5px; }

.k-game-header__sub-title {
  background-color: #009a82;
  color: #fff;
  height: 230px;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .k-game-header__sub-title h2 {
    font-size: 21px;
    line-height: 21px;
    padding: 30px;
    box-sizing: border-box; }
  .k-game-header__sub-title .k-game-btn {
    text-align: center; }
    .k-game-header__sub-title .k-game-btn button {
      padding: 15px;
      background-color: #d52b1e;
      border: 0;
      outline: none;
      font-size: 24px;
      color: #fff;
      border-radius: 10px;
      width: 260px;
      cursor: pointer; }
      .k-game-header__sub-title .k-game-btn button:hover {
        background-color: #c8281c; }
