@font-face {
  font-family: 'sansregular';
  src: url("../fonts/ptsans_regular/PTS55F-webfont.eot");
  src: url("../fonts/ptsans_regular/PTS55F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans_regular/PTS55F-webfont.woff") format("woff"), url("../fonts/ptsans_regular/PTS55F-webfont.ttf") format("truetype"), url("../fonts/ptsans_regular/PTS55F-webfont.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sansbold';
  src: url("../fonts/ptsans_bold/PTS75F-webfont.eot");
  src: url("../fonts/ptsans_bold/PTS75F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans_bold/PTS75F-webfont.woff") format("woff"), url("../fonts/ptsans_bold/PTS75F-webfont.ttf") format("truetype"), url("../fonts/ptsans_bold/PTS75F-webfont.svg#pt_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sansitalic';
  src: url("../fonts/ptsans_italic/PTS56F-webfont.eot");
  src: url("../fonts/ptsans_italic/PTS56F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans_italic/PTS56F-webfont.woff") format("woff"), url("../fonts/ptsans_italic/PTS56F-webfont.ttf") format("truetype"), url("../fonts/ptsans_italic/PTS56F-webfont.svg#pt_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'din';
  src: url("../fonts/pfdintextpro-regular-webfont.woff") format("woff"), url("../fonts/PFDinTextCompPro-Light") format("truetype"); }
body {
  background: #f0eff0;
  font-family: 'sansregular', sans-serif;
  color: #424243; }

#back-top {
  position: fixed;
  right: 39px;
  bottom: 0;
  z-index: 999999; }
  #back-top a {
    display: block;
    -webkit-transition: 1s;
    transition: 1s; }
  #back-top span {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 7px;
    background: url(../img/button.png) no-repeat center center;
    -webkit-transition: 1s;
    transition: 1s; }

.row {
  max-width: 76.4rem; }

.bottom__title {
  font-size: 36px;
  margin: 40px 0; }

.bottom__content {
  padding-bottom: 70px; }

.bottom__content-list {
  counter-reset: li;
  padding: 0;
  list-style: none; }
  .bottom__content-list .list-title {
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 0; }
  .bottom__content-list li {
    margin: 0 0 15px 10px;
    padding: 4px 8px;
    position: relative;
    font-family: 'din'; }
    .bottom__content-list li:before {
      color: #b7b7b7;
      content: counter(li);
      counter-increment: li;
      position: absolute;
      top: -15px;
      left: -65px;
      width: 2em;
      padding: 4px 0;
      text-align: center;
      font-size: 44px; }

.wrapper {
  background-color: #fff;
  padding: 2.5rem 2rem 2.75rem 2rem;
  margin-top: 70px; }
  .wrapper .columns {
    padding: 0 !important; }
  .wrapper .wrapper__inner .logo {
    background: url(../img/Logo.png);
    width: 172px;
    height: 102px;
    margin: 0 auto; }
  .wrapper .wrapper__inner .logo-offset {
    margin-top: 40px;
    margin-bottom: 40px; }
  .wrapper .wrapper__inner .inner__title {
    font-size: 24px;
    font-family: 'sansbold', sans-serif;
    font-weight: bold; }
  .wrapper .wrapper__inner .inner__table {
    border: 3px solid #00b297;
    border-collapse: collapse;
    margin-top: .75rem; }
    .wrapper .wrapper__inner .inner__table td span {
      display: block;
      padding: 0.5rem 0 0.5rem 0.75rem; }
    .wrapper .wrapper__inner .inner__table .inner__table-head {
      background-color: #00b297;
      color: #fff;
      font-family: 'sansitalic'; }
      .wrapper .wrapper__inner .inner__table .inner__table-head td {
        font-weight: normal; }
    .wrapper .wrapper__inner .inner__table tr:nth-child(even) {
      background: none;
      border-top: 1px solid #00b297;
      border-bottom: 1px solid #00b297; }
    .wrapper .wrapper__inner .inner__table .inner__table-body td {
      padding: 0.3rem; }
    .wrapper .wrapper__inner .inner__table .inner__table-body .bank {
      background-color: #dfe1e5;
      font-family: 'sansbold', sans-serif;
      font-weight: bold; }
    .wrapper .wrapper__inner .inner__table .inner__table-body .red {
      background-color: #d4524b;
      color: #fff; }
    .wrapper .wrapper__inner .inner__table .inner__table-body .yellow {
      background-color: #f1c40f;
      color: #fff; }
  .wrapper .wrapper__inner .inner__img-comp {
    background: url(../img/spritesheet.png) 309px 0px;
    height: 248px;
    position: relative;
    margin-left: 10px;
    text-align: center;
    width: 304px;
    font-size: 24px;
    top: 16rem; }
    .wrapper .wrapper__inner .inner__img-comp div {
      color: #fff;
      font-size: 1.5rem;
      padding: .5rem 0 -0.25rem;
      position: absolute;
      top: 4rem;
      width: 7.25rem; }
    .wrapper .wrapper__inner .inner__img-comp .inner__img-comp__sell {
      background: #d4524b;
      left: 1.75rem; }
      .wrapper .wrapper__inner .inner__img-comp .inner__img-comp__sell .sell {
        font-family: 'sansbold'; }
    .wrapper .wrapper__inner .inner__img-comp .inner__img-comp__buy {
      background: #00b297;
      right: 1.75rem; }
      .wrapper .wrapper__inner .inner__img-comp .inner__img-comp__buy .buy {
        font-family: 'sansbold'; }
  .wrapper .wrapper__inner .inner__arrow {
    height: 25%; }
    .wrapper .wrapper__inner .inner__arrow div {
      position: relative;
      top: 60%; }
    .wrapper .wrapper__inner .inner__arrow .arrow-1 {
      background: url(../img/spritesheet.png) -6px -264px;
      height: 67px;
      width: 76px; }
    .wrapper .wrapper__inner .inner__arrow .arrow-2 {
      background: url(../img/spritesheet.png) 489px -263px;
      height: 21px;
      width: 54px; }
    .wrapper .wrapper__inner .inner__arrow .arrow-3 {
      background: url(../img/spritesheet.png) 425px -262px;
      height: 21px;
      width: 54px; }
    .wrapper .wrapper__inner .inner__arrow .arrow-4 {
      background: url(../img/spritesheet.png) -93px -264px;
      height: 67px;
      width: 76px; }
  .wrapper .wrapper__inner .inner__arrow-5 {
    height: 100%; }
    .wrapper .wrapper__inner .inner__arrow-5 .arrow-5 {
      background: url(../img/spritesheet.png) 368px -5px;
      height: 34px;
      width: 49px;
      position: relative;
      top: 57%;
      margin-left: 10px; }
  .wrapper .inner__arrow-4 div {
    top: 32% !important; }
  .wrapper .wrapper__title {
    text-align: center;
    font-size: 36px; }
  .wrapper .offset-top {
    margin-top: 2rem; }
  .wrapper .inner-content__image {
    background: url(../img/spritesheet.png);
    display: inline-block;
    height: 92px;
    width: 138px;
    margin-left: -10px; }
  .wrapper .inner-content__bank {
    font: 1.5rem;
    font-weight: bold;
    font-family: 'sansbold', sans-serif; }
  .wrapper .inner-content-1 .inner-content__image {
    background-position: -5px -5px; }
  .wrapper .inner-content-2 .inner-content__image {
    background-position: -153px -118px; }
  .wrapper .inner-content-3 .inner-content__image {
    background-position: -5px -118px; }
  .wrapper .inner-content-4 .inner-content__image {
    background-position: -153px -5px; }
  .wrapper .inner-content__stat {
    margin-top: 3rem; }
    .wrapper .inner-content__stat .stat-b {
      font-size: 16px;
      font-family: 'sansbold'; }

@media screen and (max-width: 1023px) {
  .h-height {
    height: auto !important; }

  .inner__arrow {
    margin-top: 4rem; }
    .inner__arrow div {
      margin-left: 22%; }
    .inner__arrow .arrow-1 {
      -webkit-transform: scale(-1, 1) rotate(90deg);
          -ms-transform: scale(-1, 1) rotate(90deg);
              transform: scale(-1, 1) rotate(90deg); }
    .inner__arrow .arrow-2 {
      -webkit-transform: scale(-1, 1) rotate(90deg);
          -ms-transform: scale(-1, 1) rotate(90deg);
              transform: scale(-1, 1) rotate(90deg); }
    .inner__arrow .arrow-3 {
      -webkit-transform: scale(-1, 1) rotate(90deg);
          -ms-transform: scale(-1, 1) rotate(90deg);
              transform: scale(-1, 1) rotate(90deg); }
    .inner__arrow .arrow-4 {
      -webkit-transform: scale(-1, 1) rotate(90deg);
          -ms-transform: scale(-1, 1) rotate(90deg);
              transform: scale(-1, 1) rotate(90deg); }

  .inner__arrow-5 {
    margin-top: 20px; }
    .inner__arrow-5 .arrow-5 {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      margin: 0 auto !important; }

  .inner__img-comp {
    top: 20px !important;
    margin: 0 auto !important; } }
@media screen and (max-width: 639px) {
  .wrapper__inner .inner__arrow {
    display: none; } }
@media screen and (max-width: 1240px) {
  .wrapper-bottom {
    padding: 0 2rem; } }
