@font-face {
  font-family: 'sansregular';
    src: url('../fonts/ptsans_regular/PTS55F-webfont.eot');
    src: url('../fonts/ptsans_regular/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsans_regular/PTS55F-webfont.woff') format('woff'),
         url('../fonts/ptsans_regular/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/ptsans_regular/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'sansbold';
    src: url('../fonts/ptsans_bold/PTS75F-webfont.eot');
    src: url('../fonts/ptsans_bold/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsans_bold/PTS75F-webfont.woff') format('woff'),
         url('../fonts/ptsans_bold/PTS75F-webfont.ttf') format('truetype'),
         url('../fonts/ptsans_bold/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansitalic';
    src: url('../fonts/ptsans_italic/PTS56F-webfont.eot');
    src: url('../fonts/ptsans_italic/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsans_italic/PTS56F-webfont.woff') format('woff'),
         url('../fonts/ptsans_italic/PTS56F-webfont.ttf') format('truetype'),
         url('../fonts/ptsans_italic/PTS56F-webfont.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din';
    src: url('../fonts/pfdintextpro-regular-webfont.woff') format('woff'),
         url('../fonts/PFDinTextCompPro-Light') format('truetype');
}

$green : #00b297;
$red : #d4524b;
$white : #fff;
$yellow : #f1c40f;
$list-counter-color : #b7b7b7;
$body-backgraund : #f0eff0;
$dark-font-color: #424243;
$td-bank : #dfe1e5;

body {
  background: $body-backgraund;
  font-family: 'sansregular', sans-serif;
  color: $dark-font-color;
}
#back-top {
    position: fixed;
    right: 39px;
    bottom: 0;
    z-index: 999999;
    a {
        display: block;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
    }
    span {
        width: 50px;
        height: 50px;
        display: block;
        margin-bottom: 7px;
        background: url(../img/button.png) no-repeat center center;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
    }
}
.row {
  max-width: 76.4rem;
}
.bottom__title {
  font-size: 36px;
  margin: 40px 0;
}
.bottom__content {
  padding-bottom: 70px;
}
.bottom__content-list {
  counter-reset: li;
  padding: 0;
  list-style: none;
  .list-title {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 0;
  }
  li {
    margin: 0 0 15px 10px;
    padding: 4px 8px;
    position: relative;
    font-family: 'din';
    &:before {
    color: $list-counter-color;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: -15px;
    left: -65px;
    width: 2em;
    padding: 4px 0;
    text-align: center;
    font-size: 44px;
  }
}
}
.wrapper {
  background-color: $white;
  padding: 2.5rem 2rem 2.75rem 2rem;
  margin-top: 70px;
  .columns {
    padding: 0 !important;
}
.wrapper__inner {
  .logo {
    background: url(../img/Logo.png);
    width: 172px;
    height: 102px;
    margin: 0 auto;
  }
  .logo-offset {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .inner__title {
  font-size: 24px;
  font-family: 'sansbold', sans-serif;
  font-weight: bold;
  }
  .inner__table {
    border: 3px solid $green;
    border-collapse: collapse;
    margin-top: .75rem;
    td {
      span {
        display: block;
        padding: 0.5rem 0 0.5rem 0.75rem;
      }
    }
    .inner__table-head {
      background-color: $green;
      color: $white;
      font-family: 'sansitalic';
      td {
        font-weight: normal;
      }
    }
    tr:nth-child(even) {
      background: none;
      border-top: 1px solid  $green;
      border-bottom: 1px solid  $green;
    }
    .inner__table-body {
      td {
      padding: 0.3rem;
      }
      .bank {
        background-color: $td-bank;
        font-family: 'sansbold', sans-serif;
        font-weight: bold;
      }
      .red {
        background-color: $red;
        color: $white;
      }
      .yellow {
        background-color: $yellow;
        color: $white;
      }
    }
  }
  .inner__img-comp {
    background: url(../img/spritesheet.png) 309px 0px;
    height: 248px;
    position: relative;
    margin-left: 10px;
    text-align: center;
    width: 304px;
    font-size: 24px;
    top: 16rem;
    div {
      color: $white;
      font-size: 1.5rem;
      padding: .5rem 0 -0.25rem;
      position: absolute;
      top: 4rem;
      width: 7.25rem;
    }
    .inner__img-comp__sell {
      background: $red;
      left: 1.75rem;
      .sell {
        font-family: 'sansbold';
      }
    }
    .inner__img-comp__buy {
      background: $green;
      right: 1.75rem;
      .buy {
        font-family: 'sansbold';
      }
    }
  }
  .inner__arrow {
    height: 25%;
    div {
      position: relative;
      top: 60%;
    }
    .arrow-1 {
    background: url(../img/spritesheet.png) -6px -264px;
    height: 67px;
    width: 76px;
    }
    .arrow-2 {
    background: url(../img/spritesheet.png) 489px -263px;
    height: 21px;
    width: 54px;
    }
    .arrow-3 {
    background: url(../img/spritesheet.png) 425px -262px;
    height: 21px;
    width: 54px;
    }
    .arrow-4 {
    background: url(../img/spritesheet.png) -93px -264px;
    height: 67px;
    width: 76px;
    }
  }
  .inner__arrow-5 {
    height: 100%;
    .arrow-5 {
      background: url(../img/spritesheet.png) 368px -5px;
      height: 34px;
      width: 49px;
      position: relative;
      top: 57%;
      margin-left: 10px;
    }
  }
}
.inner__arrow-4 div {
  top: 32% !important;
}
  .wrapper__title {
    text-align: center;
    font-size: 36px;
  }
  .offset-top {
    margin-top: 2rem;
  }
  .inner-content__image {
  background: url(../img/spritesheet.png);
  display: inline-block;
  height: 92px;
  width: 138px;
  margin-left: -10px;
}
.inner-content__bank {
  font: 1.5rem;
  font-weight: bold;
  font-family: 'sansbold', sans-serif;
}
 .inner-content-1 .inner-content__image {
   background-position: -5px -5px;
 }
 .inner-content-2 .inner-content__image {
   background-position: -153px -118px;
 }
 .inner-content-3 .inner-content__image {
   background-position: -5px -118px;
 }
 .inner-content-4 .inner-content__image {
   background-position: -153px -5px;
 }
 .inner-content__stat {
   margin-top: 3rem;
   .stat-b {
  font-size: 16px;
  font-family: 'sansbold';
   }
 }
}
@media screen and (max-width: 1023px) {
  .h-height {
    height: auto !important;
    }
    .inner__arrow {
      margin-top: 4rem;
      div {
        margin-left: 22%;
      }
      .arrow-1 {
      transform: scale(-1, 1) rotate(90deg);
      }
      .arrow-2 {
      transform: scale(-1, 1) rotate(90deg);
      }
      .arrow-3 {
       transform: scale(-1, 1) rotate(90deg);
      }
      .arrow-4 {
      transform: scale(-1, 1) rotate(90deg);
      }
    }
    .inner__arrow-5 {
      margin-top: 20px;
      .arrow-5 {
        transform: rotate(90deg);
        margin: 0 auto !important;
      }
    }
    .inner__img-comp {
      top: 20px !important;
      margin: 0 auto !important;
    }
}
@media screen and (max-width: 639px) {
  .wrapper__inner {
    .inner__arrow {
      display: none;
    }
  }
}
@media screen and (max-width: 1240px) {
  .wrapper-bottom {
    padding: 0 2rem;
  }
}
