body {
  background: #000; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

img {
  width: 100%;
  height: auto; }

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none; }

*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none; }

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

.dm-container ::-moz-selection {
  background: #4778dd;
  color: #fff; }

.dm-container ::selection {
  background: #4778dd;
  color: #fff; }

.dm-container {
  width: 1060px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Helvetica"; }
  .dm-container > div {
    position: relative; }

.dm-hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out !important;
  position: absolute;
  top: 0;
  right: 0; }

.dm-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.dm-button, .dm-result-button {
  display: block;
  width: 100%; }

.-first-result__back {
  display: none;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%; }
  .-first-result__back img {
    height: 100%; }
  .-first-result__back.back-visible {
    display: block; }
.-first-result .dm-result-content {
  position: relative;
  z-index: 99; }

.dm-desc .dm-text {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center; }

.dm-special {
  background: url("../img/special.png") no-repeat;
  background-size: cover;
  width: 180px;
  height: 40px;
  margin: 0 auto; }

.dm-main-title {
  background: url("../img/main-title.png") no-repeat;
  background-size: contain;
  background-position: center;
  width: 835px;
  height: 85px;
  margin: 0 auto; }

.dm-line {
  background: url("../img/line.png") no-repeat;
  background-position: center !important;
  background-size: contain;
  width: 500px;
  height: 56px;
  margin: 10px auto; }

.dm-intro .dm-content {
  padding: 30px 0 50px; }
.dm-intro__text {
  font-size: 26px;
  color: #000;
  line-height: 1.2;
  text-align: center;
  padding: 0px 105px; }

.dm-block {
  width: 100%;
  margin-bottom: 60px; }
  .dm-block.-first {
    background: url("../img/back1.png") no-repeat;
    background-size: cover;
    color: #fff;
    height: auto;
    min-height: 495px; }
    .dm-block.-first .dm-content, .dm-block.-first .dm-result-content {
      float: right;
      width: 54%;
      height: 100%;
      min-height: 515px;
      padding: 55px 60px 95px 30px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      box-sizing: border-box; }
    .dm-block.-first .dm-button {
      background: url("../img/button1.png") no-repeat;
      background-size: contain;
      background-position: center;
      height: 100px;
      margin: 30px auto 0; }
    .dm-block.-first .dm-title {
      background: url("../img/title1.png") no-repeat;
      background-size: contain;
      width: 100%;
      height: 100px;
      position: relative; }
      .dm-block.-first .dm-title::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #fff;
        width: 85px;
        bottom: -30px;
        left: 42%; }
    .dm-block.-first .dm-desc {
      color: #fff; }
    .dm-block.-first .dm-result-content {
      padding: 25px 60px 45px 30px; }
    .dm-block.-first .dm-result-text {
      font-size: 20px;
      line-height: 1.2;
      text-align: center;
      text-transform: none;
      font-weight: normal; }
    .dm-block.-first .dm-result-button {
      background: url("../img/button1-again.png") no-repeat;
      background-size: contain;
      background-position: center;
      height: 100px;
      margin: 20px 0; }
    .dm-block.-first .dm-result-share {
      font-size: 19px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.263;
      text-align: center; }
  .dm-block.-second {
    background: url("../img/photo2.png") no-repeat;
    background-position: 90% 45px;
    background-size: 445px;
    color: #000;
    height: 625px; }
    .dm-block.-second .dm-content {
      width: 54%;
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 85px 60px 90px 45px;
      box-sizing: border-box;
      position: relative; }
      .dm-block.-second .dm-content::before, .dm-block.-second .dm-content::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #000;
        left: 10%;
        width: 78%; }
      .dm-block.-second .dm-content::before {
        top: 45px; }
      .dm-block.-second .dm-content::after {
        bottom: 50px; }
    .dm-block.-second .dm-title {
      font-size: 40px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center; }
    .dm-block.-second .dm-button {
      background: url("../img/button2.png") no-repeat;
      background-size: contain;
      background-position: center;
      height: 90px;
      width: 300px;
      margin: 60px auto 0; }
  .dm-block.-second-part2 {
    background: url("../img/photo2.png") no-repeat;
    background-position: 90% 40px;
    background-size: 445px;
    color: #000; }
    .dm-block.-second-part2 .dm-line {
      display: none; }
    .dm-block.-second-part2 .dm-content {
      width: 54%;
      height: 625px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 70px 60px 45px 60px;
      box-sizing: border-box;
      position: relative; }
      .dm-block.-second-part2 .dm-content::before, .dm-block.-second-part2 .dm-content::after {
        position: absolute;
        content: "";
        border-bottom: 2px solid #000;
        left: 10%; }
      .dm-block.-second-part2 .dm-content::before {
        top: 40px;
        width: 78%; }
      .dm-block.-second-part2 .dm-content::after {
        bottom: 10px;
        width: 945px; }
    .dm-block.-second-part2 .dm-title {
      background: url("../img/title2.png") no-repeat;
      background-size: contain;
      background-position: center;
      width: 460px;
      height: 150px;
      margin: 0 auto; }
    .dm-block.-second-part2 .dm-button {
      background: url("../img/button2.png") no-repeat;
      background-size: contain;
      background-position: center;
      height: 90px;
      width: 300px;
      margin: 60px auto 0; }
    .dm-block.-second-part2 .dm-desc__intro {
      font-size: 26px;
      font-family: "Helvetica";
      color: #000;
      line-height: 1.2;
      text-align: center;
      height: 127px;
      overflow: hidden;
      margin-top: 70px; }
  .dm-block.-second-part3 {
    color: #000;
    height: auto; }
    .dm-block.-second-part3 .dm-content {
      width: 100%;
      height: 100%;
      padding: 95px 60px 10px;
      box-sizing: border-box;
      position: relative; }
      .dm-block.-second-part3 .dm-content::before {
        position: absolute;
        content: "";
        border-bottom: 2px solid #000;
        left: 59px;
        top: 60px;
        width: 89%; }
    .dm-block.-second-part3 .dm-title {
      font-size: 40px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center; }
    .dm-block.-second-part3 .dm-list-wrapper {
      margin-top: 40px; }
      .dm-block.-second-part3 .dm-list-wrapper .dm-page-controls {
        width: 98%;
        margin: 25px auto 0;
        text-align: center; }
        .dm-block.-second-part3 .dm-list-wrapper .dm-page-controls .dm-page {
          padding: 6px 12px;
          margin: 0px;
          text-decoration: none;
          font-size: 20px;
          font-family: "Helvetica";
          text-transform: uppercase;
          line-height: 1.2;
          border: 1px solid transparent; }
          .dm-block.-second-part3 .dm-list-wrapper .dm-page-controls .dm-page:hover {
            cursor: pointer; }
      .dm-block.-second-part3 .dm-list-wrapper .active {
        border: 1px solid #e90049 !important;
        border-radius: 50%;
        color: #e90049;
        font-weight: bold; }
    .dm-block.-second-part3 .dm-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
      .dm-block.-second-part3 .dm-list__item {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 270px;
            -ms-flex: 1 1 270px;
                flex: 1 1 270px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        height: 230px;
        width: 270px;
        max-width: 270px;
        margin-bottom: 30px; }
      .dm-block.-second-part3 .dm-list__item:nth-child(3n+1) {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; }
      .dm-block.-second-part3 .dm-list__item:nth-child(3n+3) {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end; }
      .dm-block.-second-part3 .dm-list .dm-img, .dm-block.-second-part3 .dm-list .dm-desc {
        width: 265px;
        max-width: 265px;
        max-height: 190px;
        overflow: hidden; }
      .dm-block.-second-part3 .dm-list .dm-desc {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .dm-block.-second-part3 .dm-list .dm-desc__name {
          font-size: 20px;
          font-family: "Helvetica";
          color: #000;
          line-height: 1.2; }
          .dm-block.-second-part3 .dm-list .dm-desc__name:first-letter {
            text-transform: uppercase; }
        .dm-block.-second-part3 .dm-list .dm-desc__like {
          background: url("../img/like.png") no-repeat;
          background-size: contain;
          width: 30px;
          height: 30px; }
  .dm-block.-third .dm-content {
    padding-top: 10px; }
    .dm-block.-third .dm-content .dm-button {
      background: url("../img/button3.png") no-repeat;
      background-size: contain;
      background-position: center;
      height: 125px;
      width: 400px;
      margin: 40px auto 35px; }
  .dm-block.-fourth {
    padding-bottom: 30px; }
    .dm-block.-fourth .dm-title {
      font-size: 24px;
      font-family: "Helvetica";
      color: #000;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.043;
      text-align: center;
      margin: 0 0 20px; }

.dm-steps {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 0 15px; }
  .dm-steps .dm-step {
    font-size: 24px;
    font-family: "Helvetica";
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    width: 250px;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .dm-steps .dm-step .dm-step-one {
      background: url("../img/1.png") no-repeat; }
    .dm-steps .dm-step .dm-step-two {
      background: url("../img/2.png") no-repeat; }
    .dm-steps .dm-step .dm-step-three {
      background: url("../img/3.png") no-repeat; }
    .dm-steps .dm-step__number {
      width: 60px;
      height: 60px;
      background-size: contain !important;
      background-position: center !important; }
    .dm-steps .dm-step__text {
      width: 185px;
      padding-left: 3px;
      box-sizing: border-box; }

.dm-join {
  margin-top: 30px; }
  .dm-join .dm-btns {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 57px 30px; }
  .dm-join .dm-btn {
    width: 380px;
    height: 100px;
    background-size: contain !important;
    background-position: center !important; }
  .dm-join .dm-btn-rules {
    background: url("../img/rules-btn.png") no-repeat; }
  .dm-join .dm-btn-join {
    background: url("../img/join-btn.png") no-repeat; }
  .dm-join .dm-members-title {
    display: block;
    width: 520px;
    margin: 0 auto;
    font-size: 40px;
    font-family: "Helvetica";
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-decoration: none; }
  .dm-join .dm-members {
    margin: 35px 55px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

#dm-modal-1, #dm-modal-2, #dm-modal-3, #dm-modal-4 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -500px;
  display: none;
  opacity: 0;
  z-index: 5; }
  #dm-modal-1 .modal-close, #dm-modal-2 .modal-close, #dm-modal-3 .modal-close, #dm-modal-4 .modal-close {
    width: 41px;
    height: 41px;
    position: absolute;
    top: -5px;
    right: 70px;
    cursor: pointer;
    display: block;
    background: url("../img/modal/close.png") no-repeat;
    background-size: contain;
    background-position: center; }

.dm-modal-1 {
  width: 1000px;
  height: 1000px;
  background: url("../img/modal/back1.png") no-repeat;
  background-size: contain; }
  .dm-modal-1__content {
    position: relative; }
  .dm-modal-1__desc {
    width: 880px;
    margin: 75px auto 35px; }
  .dm-modal-1__title {
    font-size: 40px;
    font-family: "Helvetica";
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 25px; }
  .dm-modal-1__btn {
    display: block;
    background: url("../img/modal/button1.png") no-repeat;
    background-size: contain;
    background-position: center;
    width: 75%;
    height: 70px;
    margin: 50px auto;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer; }
  .dm-modal-1__form {
    position: relative;
    padding: 0 30px; }
  .dm-modal-1 .dm-login-social {
    font-size: 29px;
    font-family: "Helvetica";
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center; }
  .dm-modal-1 .dm-form-inner {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 240px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .dm-modal-1 .dm-form-inner input {
      height: 60px;
      border: 0;
      outline: 0;
      box-sizing: border-box;
      box-shadow: inset 5px 10px 12px -6px rgba(0, 0, 0, 0.75);
      padding: 0 0 0 30px;
      font-size: 30px;
      font-family: "Helvetica";
      color: #000;
      line-height: 1.2; }
      .dm-modal-1 .dm-form-inner input::-moz-placeholder {
        font-size: 30px;
        font-family: "Helvetica";
        color: #000;
        line-height: 1.2; }
      .dm-modal-1 .dm-form-inner input::-webkit-input-placeholder {
        font-size: 30px;
        font-family: "Helvetica";
        color: #000;
        line-height: 1.2; }
      .dm-modal-1 .dm-form-inner input:-ms-input-placeholder {
        font-size: 30px;
        font-family: "Helvetica";
        color: #000;
        line-height: 1.2; }
      .dm-modal-1 .dm-form-inner input:focus::-webkit-input-placeholder, .dm-modal-1 .dm-form-inner input:focus::-moz-placeholder, .dm-modal-1 .dm-form-inner input:focus:-moz-placeholder, .dm-modal-1 .dm-form-inner input:focus:-ms-input-placeholder {
        color: transparent; }
  .dm-modal-1 .dm-accept {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px; }
    .dm-modal-1 .dm-accept__text {
      font-size: 30px;
      font-family: "Helvetica";
      color: #000;
      line-height: 1.2;
      cursor: pointer; }
  .dm-modal-1 .dm-check-wrap {
    width: 40px;
    height: 40px;
    margin-right: 30px;
    margin-top: -15px; }
  .dm-modal-1 .dm-checkbox {
    width: 40px;
    height: 40px;
    margin-right: 0.5em;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0; }
  .dm-modal-1 .dm-checkbox::before {
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 3px solid #fff;
    background: #fff;
    border-radius: 1px; }
  .dm-modal-1 .dm-checkbox:checked::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: none; }
  .dm-modal-1 .dm-checkbox:checked::after {
    content: "";
    background: url("../img/modal/check.png") no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    position: absolute;
    top: -15px;
    width: 50px;
    height: 50px; }
  .dm-modal-1 .dm-share-btns {
    margin-top: 45px; }
  .dm-modal-1 .dm-share {
    width: 90px;
    height: 90px;
    margin: 0; }
  .dm-modal-1 .dm-ok {
    background-position: -90px 0; }
  .dm-modal-1 .dm-vk {
    background-position: 90px 0; }
  .dm-modal-1 .dm-fb {
    background-position: 0px 0; }
  .dm-modal-1 .dm-tw {
    background-position: -185px 0; }

.dm-modal-3 {
  width: 1000px;
  height: 1000px;
  background: url("../img/modal/back3.png") no-repeat;
  background-size: contain; }
  .dm-modal-3__content {
    position: relative; }
  .dm-modal-3 .dm-line {
    width: 200px;
    height: 5px;
    background: #000;
    margin: 45px auto; }
  .dm-modal-3__text {
    text-align: center;
    padding: 0 15px;
    font-size: 40px;
    font-family: "Helvetica";
    color: #000;
    line-height: 1.2; }
  .dm-modal-3__desc {
    width: 470px;
    margin: 165px auto 35px; }
  .dm-modal-3__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Helvetica";
    color: #000;
    line-height: 1.2; }
  .dm-modal-3 .modal-close {
    top: -90px !important; }

.dm-modal-2 {
  width: 1000px;
  height: 1000px;
  background: url("../img/modal/back2.png") no-repeat;
  background-size: contain; }
  .dm-modal-2__content {
    position: relative; }
  .dm-modal-2__desc {
    width: 840px;
    margin: 75px auto 35px; }
  .dm-modal-2__title {
    font-size: 40px;
    font-family: "Helvetica";
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 25px; }
  .dm-modal-2__btn {
    display: block;
    background: url("../img/modal/button2.png") no-repeat;
    background-size: contain;
    background-position: center;
    width: 75%;
    height: 70px;
    margin: 70px auto;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer; }
  .dm-modal-2 textarea {
    width: 500px;
    height: 355px;
    outline: none;
    border: 0;
    padding: 0;
    font-size: 30px;
    line-height: 1.2;
    font-family: "Helvetica";
    color: #000;
    box-shadow: inset 8px 8px 11px -2px rgba(0, 0, 0, 0.71);
    padding: 30px;
    box-sizing: border-box;
    resize: none !important; }
    .dm-modal-2 textarea::-moz-placeholder {
      line-height: 295px;
      font-size: 30px;
      font-family: "Helvetica";
      color: #000;
      text-align: center; }
    .dm-modal-2 textarea::-webkit-input-placeholder {
      line-height: 295px;
      font-size: 30px;
      font-family: "Helvetica";
      color: #000;
      text-align: center; }
    .dm-modal-2 textarea:-ms-input-placeholder {
      line-height: 295px;
      font-size: 30px;
      font-family: "Helvetica";
      color: #000;
      text-align: center; }
    .dm-modal-2 textarea:focus::-webkit-input-placeholder, .dm-modal-2 textarea:focus::-moz-placeholder, .dm-modal-2 textarea:focus:-moz-placeholder, .dm-modal-2 textarea:focus:-ms-input-placeholder {
      color: transparent; }

.dm-modal-4 {
  width: 1000px;
  height: 1000px;
  background: url("../img/modal/back.png") no-repeat;
  background-size: contain; }
  .dm-modal-4__content {
    position: relative; }
  .dm-modal-4__desc {
    width: 570px;
    margin: 100px auto 35px; }
  .dm-modal-4__text {
    font-size: 20px;
    font-family: "Helvetica";
    color: #000;
    line-height: 1.2;
    text-align: center;
    margin: 20px; }
  .dm-modal-4__img {
    width: 565px;
    height: 380px;
    margin: 0 auto;
    border: 3px solid #fff;
    overflow: hidden; }
  .dm-modal-4__title {
    font-size: 30px;
    font-family: "Helvetica";
    color: #000;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .dm-modal-4__name {
    margin-left: 5px; }
  .dm-modal-4__like {
    width: 135px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .dm-modal-4 .dm-like {
    background: url("../img/modal/like.png") no-repeat;
    background-position: -5px 0;
    width: 45px;
    height: 45px;
    display: inline-block;
    border: 0;
    outline: 0;
    cursor: pointer; }
    .dm-modal-4 .dm-like:hover, .dm-modal-4 .dm-like:focus {
      background-position: -60px 0; }
  .dm-modal-4 .dm-share-title {
    font-size: 20px;
    font-family: "Helvetica";
    color: #000;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center; }
  .dm-modal-4 .dm-share-btns {
    text-align: center;
    margin-top: 15px; }
  .dm-modal-4 .dm-share {
    display: inline-block;
    width: 72px;
    height: 70px;
    border-radius: 50%;
    background: url("../img/share-btn.png");
    background-size: 325px;
    margin: 0; }
  .dm-modal-4 .dm-ok {
    background-position: -87px -5px; }
  .dm-modal-4 .dm-vk {
    background-position: 75px -5px; }
  .dm-modal-4 .dm-fb {
    background-position: -6px -5px; }
  .dm-modal-4 .dm-tw {
    background-position: -169px -5px; }
  .dm-modal-4 .modal-close {
    width: 41px;
    height: 41px;
    position: absolute;
    top: -25px;
    right: 75px;
    cursor: pointer;
    display: block;
    background: url("../img/modal/close.png") no-repeat;
    background-size: contain;
    background-position: center; }

#dm-overlay {
  z-index: 3;
  position: fixed;
  background-color: transparent;
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

#dm-image-preview {
  width: 280px;
  min-width: 280px;
  height: 355px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: inset 8px 8px 11px -2px rgba(0, 0, 0, 0.71);
  margin-right: 50px;
  color: #ecf0f1; }

#dm-image-upload {
  line-height: 400px;
  font-size: 200px;
  position: absolute;
  opacity: 0;
  z-index: 10
  /*cursor: pointer; */ }

#dm-image-label {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 30px;
  font-family: "Helvetica";
  color: #000;
  line-height: 1.2; }

.dm-share-btns {
  text-align: center; }

.dm-share {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url("../img/share-btn.png");
  background-size: cover;
  margin: 0 10px; }

.dm-ok {
  background-position: -60px 0; }

.dm-vk {
  background-position: 60px 0; }

.dm-fb {
  background-position: 0 0; }

.dm-tw {
  background-position: -120px 0; }

.dm-video-container {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  height: 420px;
  margin: 0 45px;
  z-index: 0;
  overflow: hidden; }
  .dm-video-container video {
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    z-index: -100; }

.dm-video-controls {
  height: 100%;
  position: relative; }
  .dm-video-controls .dm-control {
    border: 0;
    outline: 0;
    background: url("../img/play-btn.png") no-repeat;
    background-size: contain;
    width: 85px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    cursor: pointer; }
  .dm-video-controls .dm-control-hide {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; }

#dmError1, #dmError2 {
  position: absolute;
  color: #e90049;
  bottom: 88px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  font-weight: bold; }

@media only screen and (max-width: 769px) {
  .-first-result {
    background: #000 !important; }
    .-first-result__back {
      width: 100%;
      height: 345px;
      min-height: 345px;
      top: 230px; }

  .dm-special {
    width: 305px;
    height: 68px; }

  .dm-main-title {
    background: url("../img/main-title-min.png") no-repeat;
    background-size: contain;
    background-position: center;
    width: 720px;
    height: 260px; }

  .dm-intro .dm-content {
    padding: 75px 0 120px; }
  .dm-intro__text {
    font-size: 44px;
    padding: 0px 45px; }

  .dm-line {
    width: 360px;
    height: 21px;
    margin: 55px auto 25px; }

  .dm-divider {
    width: 100%;
    height: 2px;
    background: #000; }

  .dm-desc p {
    font-size: 40px; }

  .dm-container {
    width: 768px; }

  .dm-block.-first {
    height: auto;
    min-height: 1090px;
    background: url("../img/back1-min.png") no-repeat;
    background-size: cover;
    background-position: center; }
    .dm-block.-first .dm-content {
      float: none;
      width: 100%;
      height: 100%;
      min-height: 1090px;
      margin: 0 auto;
      padding: 55px 30px 75px 30px; }
    .dm-block.-first .dm-result-content {
      float: none;
      width: 100%;
      margin: 0 auto;
      padding: 0 0 80px !important; }
    .dm-block.-first .dm-result-text {
      font-size: 41px;
      padding: 50px;
      margin-top: 350px; }
    .dm-block.-first .dm-result-share {
      font-size: 30px;
      padding: 90px 0 40px; }
    .dm-block.-first .dm-title, .dm-block.-first .dm-result-title {
      width: 650px;
      height: 170px;
      margin: 0 auto; }
      .dm-block.-first .dm-title::after, .dm-block.-first .dm-result-title::after {
        display: none; }
    .dm-block.-first .dm-result-title {
      background: url("../img/title1.png") no-repeat;
      background-size: contain;
      margin: 55px auto 5px; }
    .dm-block.-first .dm-button, .dm-block.-first .dm-result-button {
      width: 650px;
      height: 125px;
      margin: 30px auto 0; }
  .dm-block.-second {
    background: none;
    height: auto; }
    .dm-block.-second .dm-content {
      width: 100%;
      padding: 30px 0 0 0; }
      .dm-block.-second .dm-content::before, .dm-block.-second .dm-content::after {
        display: none; }
    .dm-block.-second .dm-title {
      font-size: 54px;
      padding: 0 60px 45px; }
    .dm-block.-second .dm-img {
      width: 100%;
      height: 495px;
      background: url("../img/photo2-min.png") no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 45px; }
    .dm-block.-second .dm-button {
      height: 110px;
      width: 365px;
      margin: 30px auto 0; }
  .dm-block.-second-part2 {
    background: none;
    height: auto;
    padding-bottom: 0px; }
    .dm-block.-second-part2 .dm-line {
      display: block; }
    .dm-block.-second-part2 .dm-content {
      width: 100%;
      padding: 0;
      height: auto; }
      .dm-block.-second-part2 .dm-content::before, .dm-block.-second-part2 .dm-content::after {
        display: none; }
    .dm-block.-second-part2 .dm-title {
      width: 675px;
      height: 250px;
      margin: 60px auto; }
    .dm-block.-second-part2 .dm-img {
      width: 100%;
      height: 485px;
      background: url("../img/photo2-min.png") no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 65px; }
    .dm-block.-second-part2 .dm-text {
      font-size: 43px; }
      .dm-block.-second-part2 .dm-text br:last-child {
        display: none; }
    .dm-block.-second-part2 .dm-button {
      height: 110px;
      width: 365px;
      margin: 30px auto 0; }
    .dm-block.-second-part2 .dm-desc__intro {
      font-size: 36px;
      text-align: center;
      height: 330px;
      margin: 0 30px; }
  .dm-block.-second-part3 .dm-content {
    padding: 75px 60px 20px; }
    .dm-block.-second-part3 .dm-content::before {
      display: none; }
  .dm-block.-second-part3 .dm-title {
    font-size: 69px; }
  .dm-block.-second-part3 .dm-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .dm-block.-second-part3 .dm-list-wrapper {
      margin-top: 60px; }
    .dm-block.-second-part3 .dm-list__item {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      width: 100%;
      max-width: 100%;
      height: 545px;
      margin-bottom: 35px; }
    .dm-block.-second-part3 .dm-list .dm-img, .dm-block.-second-part3 .dm-list .dm-desc {
      width: 100%;
      max-width: 100%; }
    .dm-block.-second-part3 .dm-list .dm-img {
      max-height: 465px; }
    .dm-block.-second-part3 .dm-list .dm-desc {
      max-height: 100px; }
      .dm-block.-second-part3 .dm-list .dm-desc__name {
        font-size: 40px; }
      .dm-block.-second-part3 .dm-list .dm-desc__like {
        width: 75px;
        height: 55px; }
  .dm-block.-third .dm-content {
    margin: 0px;
    padding-top: 30px; }
    .dm-block.-third .dm-content .dm-button {
      height: 110px;
      margin-top: 45px; }
  .dm-block.-fourth .dm-title {
    font-size: 40px;
    margin: 50px 0 30px; }

  .dm-share {
    width: 110px;
    height: 110px; }

  .dm-ok {
    background-position: -110px 0; }

  .dm-vk {
    background-position: 110px 0; }

  .dm-fb {
    background-position: 0 0; }

  .dm-tw {
    background-position: -220px 0; }

  .dm-video-container {
    margin: 0;
    height: 345px; }

  .dm-steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .dm-steps .dm-step {
      font-size: 58px;
      width: 100%;
      margin: 50px 15px; }
      .dm-steps .dm-step__number {
        width: 30%;
        height: 150px; }
      .dm-steps .dm-step__text {
        width: 60%; }

  .dm-join .dm-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 80px 60px 125px;
    height: 310px; }
  .dm-join .dm-btn {
    width: 640px;
    height: 115px; }
  .dm-join .dm-members-title {
    font-size: 70px; }
  .dm-join .dm-members {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 65px 55px 90px;
    height: 1015px; }
    .dm-join .dm-members > div:last-child {
      display: none; }

  #dm-modal-1, #dm-modal-2, #dm-modal-3, #dm-modal-4 {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    display: none;
    opacity: 0;
    z-index: 5; }
    #dm-modal-1 .modal-close, #dm-modal-2 .modal-close, #dm-modal-3 .modal-close, #dm-modal-4 .modal-close {
      top: -15px;
      right: 15px; }

  .dm-modal-1, .dm-modal-2, .dm-modal-3, .dm-modal-4 {
    background: url("../img/modal/back-mobile.png") no-repeat, #9de0fb;
    background-position: top;
    background-size: cover;
    width: 768px;
    height: 100vh;
    min-height: 100vh; }
    .dm-modal-1__desc, .dm-modal-2__desc, .dm-modal-3__desc, .dm-modal-4__desc {
      width: 100%;
      margin: 30px auto 0;
      padding-bottom: 40px; }
    .dm-modal-1__title, .dm-modal-2__title, .dm-modal-3__title, .dm-modal-4__title {
      font-size: 70px; }

  .dm-modal-1 .dm-form-inner {
    height: 415px; }
    .dm-modal-1 .dm-form-inner input {
      height: 110px;
      font-size: 40px;
      box-shadow: none;
      border-radius: 0; }
      .dm-modal-1 .dm-form-inner input::-moz-placeholder {
        font-size: 40px; }
      .dm-modal-1 .dm-form-inner input::-webkit-input-placeholder {
        font-size: 40px; }
      .dm-modal-1 .dm-form-inner input:-ms-input-placeholder {
        font-size: 40px; }
  .dm-modal-1 .dm-accept {
    margin-top: 75px; }
    .dm-modal-1 .dm-accept__text {
      font-size: 40px;
      margin-left: 25px; }
  .dm-modal-1 .dm-check-wrap {
    margin-top: -35px; }
  .dm-modal-1 .dm-checkbox {
    width: 70px;
    height: 70px; }
    .dm-modal-1 .dm-checkbox:checked::after {
      width: 75px;
      height: 75px; }
  .dm-modal-1__btn {
    width: 100%;
    height: 100px;
    margin: 50px auto 100px; }
  .dm-modal-1 .dm-login-social {
    font-size: 48px;
    width: 90%;
    margin: 0 auto; }
  .dm-modal-1 .dm-share-btns {
    margin-top: 55px; }
  .dm-modal-1 .dm-share {
    width: 120px;
    height: 120px;
    margin: 0 20px; }
  .dm-modal-1 .dm-ok {
    background-position: -125px 0; }
  .dm-modal-1 .dm-vk {
    background-position: 120px 0; }
  .dm-modal-1 .dm-tw {
    background-position: -245px 0; }

  .dm-modal-2 .dm-form-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .dm-modal-2 textarea {
    width: 710px;
    height: 375px;
    margin: 0 30px;
    box-shadow: none;
    font-size: 40px;
    border-radius: 0; }
    .dm-modal-2 textarea::-moz-placeholder {
      line-height: 1.2;
      font-size: 40px; }
    .dm-modal-2 textarea::-webkit-input-placeholder {
      line-height: 1.2;
      font-size: 40px; }
    .dm-modal-2 textarea:-ms-input-placeholder {
      line-height: 1.2;
      font-size: 40px; }
  .dm-modal-2__btn {
    background: url("../img/modal/button2-mobile.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 165px; }

  .dm-modal-3__title {
    width: 660px;
    margin: 0 auto;
    text-align: center;
    font-size: 52px; }
  .dm-modal-3__text {
    padding: 0 80px;
    font-size: 56px; }
  .dm-modal-3 .dm-line {
    width: 300px;
    height: 3px; }
  .dm-modal-3 .modal-close {
    top: -5px !important; }

  #dm-image-preview {
    width: 345px;
    min-width: 280px;
    height: 480px;
    margin: 0px auto 80px;
    box-shadow: none; }

  #dm-image-label {
    font-size: 40px; }

  #dmError1, #dmError2 {
    font-size: 24px;
    left: 100px;
    width: 80%;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0); }

  #dmError1 {
    bottom: 115px; }

  #dmError2 {
    bottom: 290px; } }
