html {
  overflow-x: hidden;
}

body {
  height: 100%;
}

body.modal-open,.modal-open .navbar-fixed-top,.modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

body.modal-open {
    overflow: visible;
}

.header {
  border-top: 4px solid #000;
  margin-bottom: -15px;
}

a:hover,a:focus {
  text-decoration: none;
  color: inherit;
}

#line {
  width: 100%;
  margin-top: 10px;
}

p {
  margin: 0;
  padding: 0;
}

.search input {
  background: url(/images/rimi/search.png) no-repeat;
  background-position: 98%;
  outline: none;
}

.carousel-inner {
  height: 430px;
}

.carousel-inner>.item>img {
  margin-top: -150px;
}

/*#back-img {
  position: absolute;
  z-index: 3;
  width: 100%;
} */
.sale img.sale-img {
  width: 100%;
  height: auto;
  position: relative;
  box-shadow: 0px 0px 1px 0px lightgray;
}

.sale-content {
  position: absolute;
  z-index: 900;
  top: 10%;
}

.sale-content .content h3 {
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 1.04;
  text-align: left;
}

.sale-content .content p {
  font-family: 'Playfair Display';
  font-size: 16px;
  font-style: italic;
  line-height: 1.7;
  margin-top: 20px;
  width: 90%;
}

.sale-img .content {
  position: relative;
  z-index: 999;
}

.sale-content .content {
  margin: 60px 0 0 25px;
  position: relative;
  z-index: 999;
}

.sale-content .dates {
  font-size: 16px;
  font-family: sans-serif,'Roboto';
}

.sale-content .date {
  padding: 0 0 0 25px;
  position: relative;
  z-index: 999;
}

.sale-content .date img {
  padding-bottom: 5px;
}

.special {
  margin-top: 20px;
}

.contacts,.search {
  margin-top: 35px;
}

.statistic {
  padding: 23px 0 0 40px;
}

.basket {
  cursor: pointer;
  font-family: 'Roboto';
  padding: 28px 0 0 12px;
}

.contacts span a {
  font-size: 25px;
  font-family: 'Roboto';
  line-height: .88;
  color: #000;
  text-decoration: none;
}

.contacts p a {
  color: #9d0000;
  text-decoration: underline;
  font-size: 14px;
  margin-left: 14px;
  font-family: 'Roboto';
}

.contacts img {
  margin: -9px 5px 0 -10px;
}

.statistic span a {
  color: #9d0000;
  text-decoration: underline;
  font-size: 18px;
  margin: 6px 0 0 6px;
}

.stat {
  margin-top: 5px;
  cursor: pointer;
}

.stat span {
  font-size: 18px;
  margin: 7px;
  color: gray;
}

.statistic .stat img {
  margin-top: -6px;
}

/*input[type="submit"] {
    width: 17px; 
    height: 18px; 
    border: none; 
    background: url(/images/rimi/search.png) 50% 50%; 
   }*/
.basket span {
  font-size: 22px;
  line-height: .88;
}

.basket span a {
  color: #9d0000;
  text-decoration: underline;
  margin: 0 6px;
}

.basket p {
  font-size: 14px;
  margin: 2px 0 0 5px;
}

.carousel-indicators {
  bottom: 0;
  left: 90%;
  z-index: 300;
}

.carousel-indicators .active {
  border-radius: 50%;
  background-color: #9d0000;
  width: 14px;
  height: 14px;
}

.indicators-back img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#slider-caption {
  position: absolute;
  z-index: 900;
  top: 20%;
  bottom: 0;
  left: 7%;
  right: 0;
  height: 100px;
}

#slider-caption .slider-caption-content .caption-one {
  font-size: 2.5vw;
  font-family: "Roboto";
  background-color: #fff;
  padding: 3% 5% 2%;
}

#slider-caption .slider-caption-content .caption-two {
  font-size: 5vw;
  font-family: "PlayFair Display";
  font-style: italic;
  background-color: #fff;
  padding: 1% 4% 3%;
}

.slider-caption-content {
  position: absolute;
  z-index: 900;
  color: #000;
}

#slider-caption .slider-caption-content .caption-three .slider-button {
  font-size: 1.6vw;
  font-family: "Playfair Display";
  font-style: italic;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 0;
  margin-top: 3%;
  padding: 8px 10px;
  outline: none;
}

#slider-caption .slider-caption-content .caption-three {
  background-color: #fff;
  padding: 3% 6% 9% 5%;
}

.new h1 {
  font-size: 30px;
  font-family: 'Playfair Display';
  font-style: italic;
  margin: 45px 0 30px;
  text-align: center;
}

.caption {
  margin: 8px 0 25px;
}

.caption span:first-child {
  margin-right: 6px;
}

.advantages {
  background: url(/images/rimi/back-advantages.png) no-repeat;
  background-position: top;
  height: 350px;
  margin-top: -25px;
}

.advantages h1 {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 300;
  line-height: .629;
  text-align: center;
  padding-top: 70px;
}

.offer-new a img {
  width: 100%;
  height: auto;
}

.offer-new {
  text-align: center;
}

.img-link {
  position: relative;
}

.cover-bg,.cover-title {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.img-link:hover .cover-bg,.img-link:hover .cover-title {
  display: block;
}

.cover-bg {
  background-color: #000;
  -khtml-opacity: .5;
  -moz-opacity: .5;
  opacity: .5;
  height: 178px;
  top: -80px;
}

.cover-title {
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-family: "Roboto";
  top: -10px;
}

.offer-new .caption span img {
  padding-left: 3px;
}

.img1 {
  background-image: url(/images/rimi/1.png);
}

.img2 {
  background-image: url(/images/rimi/2.png);
}

.img3 {
  background-image: url(/images/rimi/3.png);
}

.img4 {
  background-image: url(/images/rimi/4.png);
}

.img5 {
  background-image: url(/images/rimi/5.png);
}

.img6 {
  background-image: url(/images/rimi/6.png);
}

.img7 {
  background-image: url(/images/rimi/7.png);
}

.img8 {
  background-image: url(/images/rimi/8.png);
}

.offer p {
  display: none;
  font-size: 14px;
  font-family: 'Roboto';
  text-align: center;
  color: #fff;
  padding: 60px 0;
}

.offer:hover p {
  display: block;
  background: rgba(0,0,0,0.5);
  cursor: pointer;
}

.advantages-content div {
  width: 14%;
  padding: 30px 10px 0;
  float: left;
  text-align: center;
  overflow: hidden;
}

.advantages-content {
  margin: 0 0 0 2%;
}

.advantages-content p {
  font-size: 14px;
  font-family: 'Roboto';
}

.advantages-content img {
  width: 30px;
  margin-bottom: 10px;
}

.works {
  margin-top: -65px;
}

.works h1 {
  font-size: 30px;
  font-family: 'Playfair Display';
  font-style: italic;
  text-align: center;
  margin: 70px 0 40px;
}

.work {
  text-align: center;
}

.work a img {
  width: auto;
  max-height: 188px;
}

.work .caption span:last-child,.offer-new .caption span:last-child {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
}

.hits {
  margin-top: 30px;
}

.hits-title h1 {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 300;
  text-align: center;
}

.img-responsive {
  margin-right: 0;
  width: 100%;
}

.footer-menu {
  background-color: #9a968d;
  height: 420px;
  margin-top: 50px;
}

.footer-menu a,.footer-menu h4 {
  color: #fff;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
}

.footer-menu .inner h4 {
  font-family: 'Playfair Display';
  font-style: italic;
}

.footer-menu .copyright a:hover,.footer-menu .footer-contacts a:hover {
  color: #9d0000;
}

.footer-menu .inner:first-child h4:last-child {
  padding-top: 25px;
}

.footer-bottom {
  height: 100px;
  background-color: #fff;
  border-bottom: solid 3px #000;
  position: relative;
  top: 385px;
}

.copyright span,.copyright a {
  font-size: 13px;
  font-family: 'Roboto';
  color: #fff;
  line-height: 1.538;
  text-align: left;
  font-style: normal;
}

.footer-tel {
  font-size: 25px;
  cursor: pointer;
}

a[href^="mailto:"] {
  text-decoration: underline;
}

.social {
  margin-top: 30px;
}

.social a:first-child {
  margin-right: 10px;
}

.social img {
  border: solid 2px #fff;
}

.social img:hover {
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 4px 0 #000;
  border-color: #9d0000;
  background-color: #9d0000;
}

.footer-menu .inner {
  margin-top: 30px;
}

.copyright {
  margin-top: 15px;
}

.copyright a {
  text-decoration: underline;
}

.copyright img {
  margin-bottom: 10px;
}

.footer-menu span {
  line-height: 2;
  font-family: 'Roboto';
  font-weight: 100;
}

.footer-contacts,.footer-contacts a {
  font-family: 'Roboto';
  color: #fff;
  line-height: 1.538;
  text-align: left;
  font-style: normal;
}

.footer-contacts img {
  margin-top: -9px;
  padding-right: 15px;
}

.footer-contacts span:last-child {
  margin-left: 30px;
}

#footer {
  background-color: #fff;
  border-bottom: 4px solid #000;
}

.footer-content {
  padding: 20px 0 2%;
}

.footer-content div:last-child {
  margin-top: 30px;
}

.footer-content div:last-child img {
  float: right;
  margin-right: 15px;
}

.footer-content div:first-child img {
  margin-top: 30px;
}

.mini-text h1 {
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 300;
  text-align: center;
  margin: 20px 0;
}

.article {
  font-size: 16px;
  font-family: 'Times New Roman';
  line-height: 1.5;
  text-align: justify;
}

.article div.link {
  font-size: 18px;
  font-family: 'Playfair Display';
  font-style: italic;
  text-align: center;
  margin: 10px 0;
  text-decoration: underline;
}

.article a {
  color: #000;
}

#info {
  padding-bottom: 30px;
}

.hits .btn {
  padding: 0;
  background-color: #fff;
  width: 100%;
  height: auto;
}

.modal-body img {
  max-width: 90%;
  max-height: 300px;
}

.aside-img,.modal-big-img {
  padding: 10px;
}

.modal-big-img {
text-align: center;
}

.aside-img img {
  padding-bottom: 5px;
}

.modal-header {
  border-bottom: 0;
}

.modal-header .close {
  margin-top: -6px;
}

.modal-body {
  padding: 0 20px;
}

.modal-footer {
  margin-top: 0;
  border: 0;
  padding: 10px 25px 25px;
}

.modal {
  overflow-y: hidden;
}

.item-button-add .btn-add {
  font-size: 16px;
  font-family: "Playfair Display";
  font-style: italic;
  border-radius: 0;
  padding: 5px 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #9d0000;
  margin-top: 15px;
  width: 190px;
}

.item-button-add .btn-add:hover {
  background-color: #9d0000;
  box-shadow: 0 0 4px 0 #000;
  color: #fff;
}

.item-button-add button {
  background-color: #fff;
}

#item-info p {
  font-size: 13px;
  font-family: 'Roboto';
  line-height: 1.429;
  text-align: left;
}

#item-info p:first-child {
  padding-top: 15px;
}

.modal-footer .item-button-add,#item-info {
  padding: 0;
  margin-left: 3px;
}

.modal-content {
  border: 0;
  border-radius: 0;
}

.modal-footer .item-button-add {
  font-family: 'Roboto';
  text-align: right;
}

.modal-footer .item-button-add .item-price {
  font-size: 25px;
  font-family: 'Roboto';
  line-height: .88;
  text-align: right;
  font-weight: 400;
  padding-bottom: 10px;
}

.hits-title p {
  font-size: 15px;
  font-family: 'Roboto';
  line-height: 1.5;
  font-weight: 300;
}

.hits .caption {
  padding: 0 20px 0 5px;
}

.hits p.price {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 700;
}

.hits .hit {
  margin-bottom: 20px;
  padding-left: 12px;
  height: 290px;
}

.hit-img1 {
  background: url(/images/rimi/hit1.png) no-repeat;
  height: 186px;
  position: relative;
}

.hit-img2 {
  background: url(/images/rimi/hit2.png) no-repeat;
  height: 186px;
  position: relative;
}

.img-icons {
  position: absolute;
  background-color: #fff;
  opacity: .5;
  width: 42px;
  height: 184px;
  top: 0px;
  left: 215px;
  display: none;
}

.img-icons a {
  margin: 21px 14px;
}

.img-icons:hover {
  display: block;
}

.hit .caption {
  height: 71px;
}

.hit .caption p:first-child {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

/*.hits .caption {
display:table-cell;
vertical-align:bottom;
}*/
.hit-like-icon {
  background: url(/images/rimi/sprite.png) 0 -42px no-repeat;
  display: block;
  width: 17px;
  height: 17px;
}

.hit-like-icon:hover {
  background-position: -24px -42px;
}

.hit-eye-icon {
  background: url(/images/rimi/sprite.png) 0 -21px no-repeat;
  display: block;
  width: 17px;
  height: 17px;
}

.hit-eye-icon:hover {
  background-position: -24px -21px;
}

.hit-stat-icon {
  background: url(/images/rimi/sprite.png) 0 -65px no-repeat;
  display: block;
  width: 17px;
  height: 17px;
}

.hit-stat-icon:hover {
  background-position: -24px -65px;
}

.hit-basket-icon {
  background: url(/images/rimi/sprite.png) 0 0 no-repeat;
  display: block;
  width: 17px;
  height: 17px;
}

.hit-basket-icon:hover {
  background-position: -24px 0;
}

.hit-img {
  position: relative;
}

.hit-img:hover .img-icons {
  display: block;
}

.navbar-default {
  border: none;
  background-color: #fff;
}

.navbar {
  box-shadow: none;
  background-image: none;
  margin-bottom: -5px;
  border-radius: 0;
  min-height: 30px;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: -8px;
}

.navbar-default .navbar-nav>li>a {
  font-family: 'Playfair Display';
  font-size: 18px;
  font-style: italic;
  color: #000;
  position: relative;
  border: transparent 2px solid;
  padding: 10px 19px;
}

.navbar-nav li.yamm-fw a:hover,.navbar-default .navbar-nav>.open>a {
  border: 2px solid #9d0000;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus {
  color: #000;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
  border-color: #9d0000;
}

.navbar-default .navbar-nav>li>a:focus {
  border-color: #9d0000;
}

.navbar-nav {
  margin: 7.5px -1px;
}

.navbar-toggle {
  margin-right: 29px;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-nav .dropdown-menu {
  width: 65%;
  margin-left: 29px;
  box-shadow: none;
  border-radius: 0;
  padding-bottom: 20px;
}

.dropdown-menu .column ul li a:hover {
  border: 0;
}

.dropdown-menu .column ul li:first-child {
  padding: 15px 0;
}

.grid-demo .column ul li {
  list-style-type: none;
  margin: 5px;
}

.grid-demo .column ul li a {
  color: #000;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 300;
}

.column ul {
  padding-left: 0;
}

.column ul li a.highlight {
  color: #9d0000;
}

.column ul li:first-child a {
  font-family: 'PlayFair Display';
  font-size: 16px;
  font-style: italic;
}

.nav li.dropdown a img {
  margin-left: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-header .menu-title {
  display: none;
  text-transform: uppercase;
}

.navbar-toggle {
  padding: 6px 7px;
}

.carousel-indicators li {
  margin: 2px;
}

/* catalog style */
.b-breadcrumbs_item {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 300;
}

.b-breadcrumbs_item a {
  color: #777;
  text-decoration: none;
}

.b-breadcrumbs {
  margin-top: -15px;
}

.breadcrumb {
  background-color: #fff;
  margin-left: -16px;
  padding: 8px 0;
}

.breadcrumb>li+li:before {
  content: "";
  background: url(/images/rimi/arrow-right.png) no-repeat;
  background-size: 6px;
  position: relative;
  top: 5px;
}

.b-catalog-style-view button.active {
  background-color: #fff;
  border: solid 1px lightgray;
  padding: 3px 7px;
}

.b-catalog-style-view button.disabled {
  background-color: #fff;
  border: none;
  padding: 3px 7px;
}

.b-catalog-style-view {
  text-align: center;
}

.catalog-style-view_buttons {
  margin-top: 5px;
}

.disabled span {
  color: #9d9d9d;
}

.b-sort {
  text-align: right;
  padding: 0;
}

.b-sort .b-sort_title {
  font-size: 16px;
  font-family: "Roboto";
  color: #777;
  margin-right: 10px;
  vertical-align: middle;
}

.b-sort_form select {
  padding: 5px 10px;
  font-size: 15px;
  font-family: "Roboto";
  color: #777;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.b-sort .dropdown-menu>li>a:hover {
  background-color: #9d0000;
  color: #fff;
}

.active-page-title h1 {
  font-family: 'Playfair Display';
  font-style: italic;
}

.aside {
  padding-bottom: 5%;
}

.b-aside-menu {
  background-color: #9a968d;
  box-shadow: 0 0 2px 0 #000;
  height: auto;
  margin-right: 0;
  margin-left: 1px;
}

.b-aside-menu .aside-dropdown-menu ul li {
  list-style-type: none;
  font-size: 18px;
  font-family: "PlayfairDisplay";
  font-style: italic;
  line-height: 1.889;
  text-align: left;
}

.b-aside-menu a {
  color: #fff;
  text-decoration: none;
}

/* .aside-dropdown-menu {
    display:none;
    background-color: rgb( 154, 150, 141 );
} 

.aside-dropdown-menu ul {
    padding-left: 0;
}

.aside-dropdown-button:hover .aside-dropdown-menu {
    display:block;
} */
.b-aside-menu .dropdown-toggle {
  background-color: transparent;
}

.aside-dropdown-button {
  font-style: italic;
  font-size: 18px;
  font-family: "PlayfairDisplay";
  color: #fff;
  padding: 10px;
}

.b-aside-menu .aside-category_title {
  padding: 10px 20px;
  font-style: italic;
  font-size: 18px;
  font-family: "PlayfairDisplay";
}

.aside-dropdown-button .aside-arrow-down {
  padding-left: 80px;
}

.aside-dropdown-button {
  border-bottom: 1px #fff solid;
}

.b-aside-menu .item {
  padding: 10px 20px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
}

.aside-category:hover {
  background-color: #868279;
  cursor: pointer;
}

.aside-dropdown-menu {
  margin: 0 12px;
  background-color: #868279;
  border: 0;
  border-radius: 0;
}

.aside-dropdown-menu li a {
  color: #fff;
}

.aside-dropdown-menu li a:hover {
  background-color: #9a968d;
}

.aside-dropdown-menu li {
  padding: 6px 0;
}

.catalog-img-icons {
  position: absolute;
  background-color: #fff;
  opacity: .5;
   width: 39px;
    height: 180px;
    top: -1px;
    left: 232px;
  display: none;
}

.catalog-item-img__icons {
  position: absolute;
  background-color: #fff;
  opacity: .5;
  width: 41px;
  height: 172px;
  top: 0;
  left: 229px;
  display: none;
}

.catalog-item-img__icons a {
  margin: 20px 12px;
}

.catalog-img-icons a {
  margin: 23px 11px;
}

.catalog-item-img:hover .catalog-img-icons {
  display: block;
}

.catalog-item-img:hover .catalog-item-img__icons {
  display: block;
}

.catalog-main-content .item .caption p:first-child {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.5;
}

.catalog-main-content .item .caption p.price {
  font-size: 23px;
  font-family: "Roboto";
  font-weight: 500;
}

.catalog-main-content .item .caption {
  margin: 8px 4px 25px;
}

.aside-params {
  padding: 0 20px;
}

.aside-params-title {
  font-size: 16px;
  font-family: "Playfair Display";
  font-style: italic;
  color: #000;
  margin-bottom: 10px;
}

.aside-button-accept {
  font-size: 17px;
  font-family: "Playfair Display";
  font-style: italic;
  text-align: center;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 0;
  padding: 8px 35px;
  outline: none;
}

.aside-params-toggle-button {
  font-size: 17px;
  font-family: "Playfair Display";
  font-style: italic;
  text-align: center;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 0;
  padding: 8px 35px;
  outline: none;
}

.aside-params-toggle-button:hover {
  color: #000;
}

.b-aside-menu-toggle-button:hover {
  color: #000;
}

.b-aside-menu-toggle-button {
  font-size: 17px;
  font-family: "Playfair Display";
  font-style: italic;
  text-align: center;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 0;
  padding: 8px 45px;
  outline: none;
}

.b-aside-button,.aside-params-clear {
  margin-top: 20px;
}

.aside-button-accept:hover {
  color: #000;
}

.aside-params-clear .button-clear {
  font-size: 14px;
  font-family: "Roboto";
  text-decoration: underline;
}

.aside-params-clear .button-clear a {
  color: #777;
}

.b-aside-button,.aside-params-clear {
  text-align: center;
}

.aside-params-clear img {
  width: 9px;
}

.catalog-bottom-nav .pagination {
  margin: 80px 0 0;
}

.catalog-pages-filter .pagination li a,.catalog-navigation .pagination li a {
  color: #a9a9a9;
  border: 1px solid transparent;
  float: none;
  border-radius: 0;
  padding: 7px 12px;
}

.catalog-pages-filter .pagination li:hover a,.catalog-pages-filter .pagination li.active a,.catalog-pages-filter .pagination li a:focus,.catalog-navigation .pagination li:hover a,.catalog-navigation .pagination li.active a,.catalog-navigation .pagination li a:focus {
  background-color: transparent;
  border: 1px solid lightgray;
  color: #000;
}

.catalog-navigation .pagination li:last-child:hover a,.catalog-navigation .pagination li:last-child a:active,.catalog-navigation .pagination li:last-child a:focus {
  background-color: transparent;
  border: 1px solid transparent;
}

.catalog-pages-filter .catalog-pages-filter_title {
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  color: #a9a9a9;
  margin-right: 10px;
}

.pagination>li>a {
  border: 0;
}

.select-form-sort_button {
  width: 100%;
}

.select-form-sort_button select {
  width: 100%;
  padding: 5px 5px 5px 20px;
  border-color: lightgray;
  border-radius: 4px;
  color: #777;
}

.select-form,.select-form-sort {
  border-bottom: solid 1px lightgray;
  padding: 15px 0;
}

.aside-params .select-form:first-child {
  padding-top: 0;
}

.aside-params_type span.aside-params_type-item {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  color: #000;
}

.aside-params_type {
  padding: 3px 0;
}

input.priceSliderValue {
  width: 60px;
  text-align: right;
  margin: 0 5px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  border: solid 1px lightgray;
  border-radius: 4px;
  padding: 2px 5px;
}

.aside-params .ui-state-default,.aside-params .ui-widget-content .ui-state-default {
  border: 0;
  background: url(/images/rimi/price-slider-circle.png) no-repeat;
  margin-top: -2px;
}

.ui-slider-horizontal {
  height: .5em;
  border-style: solid;
  border-width: 1px;
  border-color: #dcdcdc;
  border-radius: 3px;
  background-color: #f2f2f2;
}

.catalog-main-content .item .caption {
  height: 71px;
  color: #000;
}

.b-aside-params-toggle {
  display: none;
  text-align: center;
}

.b-aside-menu-toggle {
  display: none;
  text-align: center;
}

.b-aside-menu .open>.dropdown-menu {
  width: 228px;
}

.b-catalog-row__text-caption {
  font-size: 16px;
  font-family: "Playfair Display";
  color: #000;
  font-style: italic;
  line-height: 1.3;
  margin: 3% 0;
}

.b-catalog-row__text-caption .underline {
  border-bottom: 1px lightgray solid;
}

.b-catalog-row__text-desc {
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1.2;
  font-weight: 300;
}

.b-catalog-row__price {
  font-size: 23px;
  font-family: "Roboto";
  font-weight: 500;
  text-align: right;
  margin-top: 35px;
}

.b-catalog-row__link {
  color: #000;
}

.b-catalog-row__link:hover {
  color: #000;
}

.catalog-navigation {
  text-align: right;
}

.b-catalog-row__devider {
  border-top: 1px solid #272727;
}

.catalog-main-content {
  padding: 0;
}

.b-item-main-content__item-desc-detail #two {
    text-align: center;
}

.b-item-main-content__item-desc-detail #two img,

.b-item-main-content__item-desc-detail #one img
{
    max-width: 100%;
}

.b-item-main-content__item-desc-detail #one tbody tr td:first-child {
    width:40%;
    padding-right:10px;
}

.bx-filter-parameters-box {
    overflow: hidden;
}

/* catalog style end */
/* item style starts */

		.item-gallery-content{
			overflow: auto;
			position: relative;
			padding: 10px;
			background: #333;
			margin: 10px auto;
			width: 85%;
			height: auto;
		}
		.item-gallery-content li{ margin: 0 4px; }
		
		#content-1{
			padding: 10px 40px;
			background-color: transparent;
			width: 100%;
		}
		#content-1 .mTSButtonIcon{ fill: #aaa; }
		#content-1 .mTSButton .mTSButtonIcon{ opacity: .5; }
		#content-1 .mTSButton:hover .mTSButtonIcon{ opacity: 1; }
		



.b-aside-item-sale {
  margin-top: 80px;
}

.b-aside-item-sale__title {
  font-size: 21px;
  font-family: "Roboto";
  font-weight: 300;
}

.b-aside-item-sale__img {
  width: 100%;
  margin: 15px 0;
}

.b-aside-item-sale__desc {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 10px;
}

.b-aside-item-sale__more {
  color: #000;
  font-family: "PlayFair Display";
  font-size: 14px;
  font-style: italic;
  border-bottom: lightgray 1px solid;
}

.b-aside-item-sale__more:hover {
  color: #000;
}

.b-aside-item-last__title {
  font-size: 16px;
  font-family: "Playfair Display";
  font-style: italic;
}

.b-aside-item-sale__icons {
  position: relative;
  background-color: #fff;
  opacity: .5;
  width: 41px;
    height: 180px;
    top: -179px;
    left: 214px;
}

.b-aside-item-sale__icons a {
  position:absolute;
}

.b-aside-item-sale__icons .hit-like-icon {
    margin: 21px 12px;
}


.b-aside-item-sale__icons .hit-eye-icon {
     margin: 62px 12px;
}

.b-aside-item-sale__icons .hit-stat-icon {
     margin: 102px 12px;
}

.b-aside-item-sale__icons .hit-basket-icon {
     margin: 142px 12px;
}

.b-aside-item-last {
  margin-top: 90px;
}

.b-aside-item-last__img {
  margin: 10px 0;
  max-height:180px;
}

.b-aside-item-last__img:hover .b-aside-item-sale__icons {
  display: block;
}

.b-aside-item-last__caption {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
}

.b-aside-item-last__caption-price {
  font-size: 23px;
  font-family: "Roboto";
  font-weight: 500;
  margin-top: 10px;
}

/* .b-item-main-content__item-img__inner img {
    height: auto;
    width: 825px;
    margin: 0 auto;
    box-shadow: 0px 0px 4px 0 lightgray;
    padding: 3px;
} */

.b-item-main-content__item-img__inner a {
    margin-top:0 !important;
}

.b-item-main-content__item-img__inner {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 4px 0 lightgray;
    padding: 2px;
}

.b-item-main-content__item-img-icons {
  position: absolute;
  background-color: #fff;
  opacity: .5;
  box-shadow: -1px 1px 4px 0 lightgray;
  width: 42px;
  height: 167px;
  top: 2px;
  left: 796px;
}

.b-item-main-content__item-img-icons a {
  margin: 21px 12px;
}

.b-item-main-content__item-price {
  font-size: 28px;
  font-family: "Roboto";
  text-align: center;
  margin-top: 20px;
}

.b-item-main-content__item-add {
  text-align: center;
  background: url(/images/rimi/item-line.png) no-repeat;
  background-position: center;
  margin-top: 7px;
}

.b-item-main-content__item-add .btn-add {
  margin-top: 0;
  padding: 9px 18px;
}

.b-item-main-content__item-desc {
  border-radius: 3px;
  box-shadow: 0 0 4px 0 lightgray;
  margin-top: 30px;
  padding-bottom: 20px;
}

.b-item-main-content__item-desc-detail {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.5;
  padding: 0 20px;
  margin-top: 20px;
}

.b-item-main-content__item-desc-detail .table {
  margin-bottom: 0;
}

.b-item-main-content__item-desc-nav {
  box-shadow: 0 0 4px 0 lightgray;
  margin: 0;
}

.b-item-main-content__item-desc-button {
  font-size: 15px;
  font-family: "Playfair Display";
  font-style: italic;
}

.b-item-main-content__item-desc-button a {
  color: #000;
}

.b-item-main-content__item-desc-nav li.active a,.b-item-main-content__item-desc-nav li.active a:hover,.b-item-main-content__item-desc-nav li.active a:focus,.b-item-main-content__item-desc-nav li a:hover,.b-item-main-content__item-desc-nav li a:focus {
  color: #fff;
  background-color: #9a968d;
}

.nav-pills>li+li {
  margin-left: 0;
}

.b-item-main-content__item-desc-detail table tr td {
  padding: 0;
  border-top: none;
  border-bottom: 1px lightgray solid;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 2.188;
  font-weight: 300;
}

.b-item-main-content__item-desc-detail table tr:last-child td {
  border-bottom: none;
}

.b-item-main-content__item-desc-detail table {
  margin-top: 30px;
}

.b-item-main-content__item-offers-title {
  font-size: 28px;
  font-family: "Playfair Display";
  font-style: italic;
  text-align: center;
  margin: 35px 0;
}

.b-item-main-content__similar-title {
  font-size: 16px;
  font-family: "Playfair Display";
  color: #000;
  font-style: italic;
  text-align: center;
  background: url(/images/rimi/item-line.png) no-repeat;
  background-position: center;
  margin-bottom: 25px;
}

.b-item-main-content__similar {
  margin-top: 40px;
}

.b-item-main-content__similar-img-icons {
  position: absolute;
  background-color: #fff;
  opacity: .5;
  width: 42px;
  height: 181px;
  top: 0;
  left: 228px;
}

.b-item-main-content__similar-img-icons a {
  margin: 21px 12px;
}

.b-item-main-content__similar-caption p:first-child {
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1.5;
  font-weight: 300;
}

.b-item-main-content__similar-caption .price {
  font-size: 23px;
  font-family: "Roboto";
}

.b-item-main-content__item-offers__caption {
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1.5;
  font-weight: 300;
  margin: 10px 0 15px 5px;
}

.b-item-main-content__item-offers__caption img {
  width: 12px;
  margin-right: 5px;
}

.b-item-main-content__similar-caption {
  margin: 10px 0 15px 5px;
}

.btn-item-gallery {
    padding: 0;
    border: 0;
    background-color: #fff;
}

.mTSThumbContainer button {
    box-shadow: 0px 0px 4px 0 lightgray;
    padding:1px;
}

/* #my-thumbs-list{
  overflow: auto;
  width: 800px;
  height: auto; */
}

/* item style end */
/*basket styles starts*/

.b-basket-row__mount #spinner {
  width: 40px;
  border: 1px solid lightgray;
  text-align: center;
  margin-left: 0;
  font-family: "Roboto";
  color: #000;
}

.b-basket-row__mount .ui-icon {
  background-color: #fff;
}

.b-basket-row__mount .ui-widget-content {
  border: none;
}

.b-basket-row__delete-button {
  outline: none;
  border: 0;
  background-color: transparent;
  display: block;
  position: absolute;
  top: -5px;
  left: 23px;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 22px;
  width: 22px;
  padding: 0;
}

.b-basket-row__delete {
  text-align: right;
  height: 90px;
}

.b-basket-row__price {
  text-align: right;
  font-size: 23px;
  font-family: "Roboto";
  display: table;
  height: 90px;
}

.b-basket-row__price span {
  display: table-cell;
  vertical-align: middle;
}

.b-basket-row__mount {
  text-align: right;
  display: table;
  height: 4vw;
}

.b-basket-row__mount-inner_stepper {
  margin-top: 15px;
}

.b-basket-row__mount-inner {
  display: table-cell;
  vertical-align: middle;
}

.b-basket-row__mount-title {
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1.5;
  font-weight: 300;
}

.b-basket-row__text {
  padding-right: 2%;
}

.b-basket-row__text-desc {
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1.5;
  font-weight: 300;
}

.b-basket-mini-text .article {
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1.5;
  font-weight: 300;
}

.b-basket-total-price {
  font-size: 28px;
  font-family: "Roboto";
  text-align: center;
  margin-top: 20px;
}

.b-basket-button-continue
.btn-continue {
  font-size: 16px;
  font-family: "Playfair Display";
  font-style: italic;
  border-radius: 0;
  border-style: solid;
  border-width: 2px;
  border-color: #9d0000;
  padding: 10px 30px;
  background-color: transparent;
}

.b-basket-button-order .btn-order {
  font-size: 16px;
  font-family: "Playfair Display";
  font-style: italic;
  border-radius: 0;
  border-style: solid;
  border-width: 2px;
  border-color: #9d0000;
  padding: 10px 16px;
  background-color: transparent;
}

.b-basket-button-continue
.btn-continue:hover,.b-basket-button-order
.btn-order:hover {
  background-color: #9d0000;
  box-shadow: 0 0 4px 0 #000;
  color: #fff;
}

.b-basket-button-continue,.b-basket-button-order {
  text-align: center;
  background: url(/images/rimi/button-line-big.png) no-repeat;
  background-position: center;
  margin-top: 7px;
}

.b-basket-agree-button {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Roboto";
  line-height: 1.375;
  font-weight: 300;
}

.b-basket-order-form .form-horizontal {
  border-radius: 3px;
  padding: 20px;
}

.b-basket-order-form {
  margin: 60px 0 40px;
}

.b-basket-order-form__buyer {
  border: 1px solid lightgray;
  box-shadow: 0 -1px 0 0 lightgray;
  border-radius: 3px;
}

.b-basket-order-form__buyer-title {
  border-bottom: 1px lightgray solid;
  border-radius: 3px;
  padding: 15px 15px 15px 23px;
  font-size: 23px;
  font-family: "Roboto";
  text-align: left;
}

.b-basket-order-form .form-horizontal .form-group label {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 300;
}

.b-basket-order-form__delivery-type select,.b-basket-order-form__payment-type select {
  padding: 7px 7px 7px 10px;
  font-size: 16px;
  color: #000;
  font-family: "Playfair Display";
  font-style: italic;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin: 20px 0 0 5px;
  width: 98%;
}

.b-basket-order-form__delivery {
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: 0 -1px 0 0 lightgray;
}

.b-basket-order-form__delivery-title,.b-basket-order-form__payment-title {
  font-size: 23px;
  font-family: "Roboto";
  border-bottom: 1px solid lightgray;
  border-radius: 3px;
  padding: 15px 15px 15px 23px;
}

.b-basket-order-form__delivery-info,.b-basket-order-form__payment-info {
  margin-top: 10px;
  padding: 0 20px;
}

.b-basket-order-form__delivery-info p,.b-basket-order-form__payment-info p {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 300;
}

.b-basket-order-form__delivery-info div {
  margin: 20px 0 30px;
  font-size: 15px;
  font-family: "Roboto";
  line-height: 1.3;
  font-weight: 300;
}

.b-basket-order-form__payment {
  margin-top: 20px;
  border: 1px solid lightgray;
  box-shadow: 0 -1px 0 0 lightgray;
  border-radius: 3px;
  padding-bottom: 61px;
}

#stepper {
  margin: 0;
  padding: 0;
/* border: 0; */
  width: 50px;
  text-align: center;
}

#stepper::-webkit-inner-spin-button {
  opacity: 1;
}

/*basket styles end*/
/* media queries*/
@media screen and (max-width: 1199px) {
  .img-link:hover .cover-bg,.img-link:hover .cover-title,.b-item-main-content__similar-img-icons,.b-item-main-content__item-img-icons,.catalog-item-img:hover .catalog-item-img__icons,.b-aside-item-last__img:hover .b-aside-item-sale__icons,.b-aside-item-sale__icons {
    display: none;
  }

  .b-catalog-row__text-caption {
    margin: 0 0 5px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    border-top: 4px solid transparent;
  }

  .navbar-header .menu-title {
    display: block;
    float: right;
    position: relative;
    top: 15px;
    right: 9px;
    font-family: 'Roboto';
  }

  .navbar-header {
    border-bottom: solid 1px lightgray;
  }

  .navbar-default .navbar-nav>li>a {
    padding: 5px 30px;
    font-size: 16px;
  }

  .slider {
    margin-top: -21px;
  }

  .navbar-nav {
    margin: 0 -15px;
  }

  .navbar-default .navbar-collapse,.navbar-default .navbar-form {
    border: none;
  }

  .header-menu {
    position: fixed;
    z-index: 100000;
    top: 0;
    width: 100%;
  }

  .header-menu .yamm ul.nav li:last-child {
    border-bottom: 1px solid lightgray;
  }

  .logo {
    margin-left: 0;
    width: 139px;
  }

  .contacts span a {
    font-size: 12px;
  }

  .contacts>img {
    display: none;
  }

  .contacts {
    margin-top: 18px;
    padding-left: 10px;
  }
    
    .search {
        margin-top:5px;
    }

  .search input {
    background-position: 98%;
  }

  .contacts p a {
    font-size: 11px;
  }

  .statistic {
    padding: 8px 0 3px 32px;
  }

  .statistic .stat img {
    margin: 0;
  }

  .basket {
    padding: 15px 17px 0 10px;
    float: right;
  }

  .basket span {
    font-size: 4vw;
    float: right;
  }

  .basket p {
    display: none;
  }

  .basket img {
    margin-top: -6px;
  }

  .contacts span,.contacts p {
    float: right;
  }

  .header .container {
    margin-top: 36px;
  }

  .carousel-inner {
    height: auto;
  }

  .special {
    margin-top: 0;
  }

  .sale {
    overflow: hidden;
    margin-top: 20px;
  }

  .sale-content .date {
    padding: 0 0 0 8px;
  }

  .sale-content .date img {
    width: 15px;
  }

  .sale-content .date span.dates {
    font-size: 12px;
  }

  .sale-content .content {
    margin: 0 0 0 10px;
  }

  .sale-content .content h3 {
    font-size: 4vw;
  }

  .sale-content .content p {
    font-size: 3vw;
    margin-top: 10%;
  }

  .new h1 {
    margin: 22px 0 30px;
    font-size: 28px;
  }

  .works h1 {
    font-size: 28px;
    margin: 60px 0 40px;
  }

  .hits-title h1 {
    font-size: 28px;
  }

  .offer-new .caption img,.work .caption img {
    width: 16px;
  }

  .work .caption {
    margin: 5px 0 15px;
    height: auto;
  }

  .work .caption span:last-child,.offer-new .caption span:last-child {
    font-size: 13px;
  }

  .modal-content {
    max-height: 465px;
    overflow-y: scroll;
  }

  .modal-dialog {
    padding: 60px 10px 10px;
  }

  .modal-footer {
    padding: 0 33px 30px;
  }

  .aside-img img {
    width: 100%;
    margin-bottom: 10px;
  }

  .aside-img img:first-child {
    margin-top: 1px;
  }

  .modal-footer .item-button-add,#item-info {
    margin-left: 0;
  }

  .hit .caption p:first-child {
    font-size: 13px;
  }

  .hit-img:hover .img-icons {
    display: none;
  }

  .hit-img {
    padding-left: 0;
  }

  .hit .caption p {
    font-size: 3vw;
  }

  .hit .caption p:last-child {
    font-size: 3.7vw;
  }

  .hits .caption {
    padding: 0 0 0 5px;
  }
    
  .hits .hit {
    height:auto;
    }

  .statistic div:first-child {
    width: 70px;
    float: left;
  }

  .stat {
    margin: 0;
  }

  .statistic .stat img {
    margin-top: -2px;
  }

  /* .statistic div:first-child {
    	                float: left;
    	                width:60%;
    	            }
    	            
    	            .statistic div:last-child {
    	                float:right;
    	                margin:0;
    	            } 
    	            
    	            .stat {
    	                margin: 0 0 0 40px;    
    	            } */
  .footer-menu .inner {
    display: none;
  }

  .footer-menu {
    height: 350px;
  }

  .footer-content div:last-child img {
    margin-top: 15%;
    margin-right: 10px;
  }

  .footer-content div img {
    width: 75%;
  }

  .footer-content div:nth-child(2) {
    text-align: center;
  }

  .footer-content div:first-child img {
    margin-top: 35px;
  }

  .footer-menu .inner:last-child {
    display: block;
    text-align: center;
  }

  .footer-contacts {
    padding-top: 0;
    margin-top: -8px;
    text-align: center;
  }

  .footer-tel a {
    font-size: 19px;
  }

  .footer-menu span {
    font-weight: 300;
  }

  .social {
    margin: 15px 0 0;
  }

  .carousel-inner>.item>img {
    margin-top: 0;
  }

  .carousel-indicators {
    left: 80%;
  }

  .carousel-indicators li {
    width: 6px;
    height: 6px;
  }

  .carousel-indicators .active {
    margin: 0;
    height: 10px;
    width: 10px;
  }

  .date {
    padding: 10px 0 0 35px;
  }

  .dates {
    font-size: 4vw;
  }

  .hits .hit {
    margin-bottom: 0;
  }

  #item-info p:first-child {
    padding-top: 0;
  }

  .modal-footer .item-button-add .item-price {
    text-align: left;
    font-size: 20px;
    padding-bottom: 0;
  }

  .modal-footer .item-button-add .btn-add {
    float: left;
  }

  .footer-content {
    padding-top: 10px;
  }

  .mini-text h1 {
    font-size: 5vw;
  }

  .article {
    font-size: 3vw;
  }

  .article div.link {
    font-size: 15px;
  }

  .advantages h1 {
    padding-top: 35px;
    font-size: 24px;
  }

  .advantages-content {
    margin: 0 2%;
  }

  .advantages-content div {
    width: 33%;
    padding: 15px 5px 0;
  }

  .advantages-content div img {
    width: 20px;
  }

  .advantages-content div p {
    font-size: 10px;
  }

  .advantages-content div:last-child {
    display: none;
  }

  .navbar-nav .open .dropdown-menu,.nav li.dropdown a img {
    display: none;
  }

  .footer-content div:last-child {
    margin-top: 0;
  }

  #slider-caption .slider-caption-content .caption-three .slider-button {
    border: 1px solid #000;
  }

  #slider-caption .slider-caption-content .caption-one {
    padding: 4% 5% 3%;
  }

  #slider-caption .slider-caption-content .caption-three .slider-button {
    padding: 4px 8px;
  }

  /*catalog style media -480 start */
  .b-catalog-style-view,.b-sort {
    display: none;
  }

  .active-page-title h1 {
    font-size: 7vw;
  }

  .b-breadcrumbs_item a,.b-breadcrumbs_item .breadcrumb>.active {
    font-size: 13px;
  }

  .breadcrumb {
    margin-bottom: 0;
  }

  .catalog-main-content .item .caption {
    margin: 8px 0 25px;
  }

  .catalog-main-content .item .caption p:first-child {
    font-size: 13px;
  }

  .catalog-main-content .item .caption p.price {
    font-size: 3.7vw;
  }

  .catalog-pages-filter,.catalog-navigation {
    text-align: center;
  }

  .catalog-bottom-nav .pagination {
    margin: 40px 0 10px;
  }

  .b-aside-params-toggle {
    display: block;
  }

  .aside-params {
    display: none;
  }

  .aside-params--active {
    display: block;
    margin-top: 30px;
  }

  .catalog-pages-filter .catalog-pages-filter_title {
    font-size: 13px;
  }

  .b-aside-menu-toggle {
    display: block;
  }

  .b-aside-menu {
    display: none;
    margin-top: 15px;
  }

  .b-aside-menu--active {
    display: block;
  }

  .catalog-item-img:hover .catalog-img-icons {
    display: none;
  }

  .catalog-item-img:hover .catalog-item-img__icons {
    display: none;
  }

  .breadcrumb>li+li:before {
    background-size: 5px;
  }

  .b-breadcrumbs_item {
    font-size: 14px;
  }

  .b-catalog-row__text-desc {
    font-size: 12px;
  }

  .b-catalog-row__price {
    margin-top: 20px;
    text-align: center;
  }

  .catalog-bottom-nav .catalog-navigation .pagination {
    margin-bottom: 40px;
  }
    
    .b-catalog-row__text {
    width: 50%;
    float: right;
    }
    
    .b-catalog-row__img {
        position: absolute;
        top: 35%;
        transform: translateY(-50%);
    }
    
    .b-catalog-row {
        position:relative;
    }
    
    

  /*catalog style media -480 end */
  /* item media -480 start*/
  .b-aside-item-sale,.b-aside-item-last {
    display: none;
  }

  .b-item-main-content__item-desc-detail {
    font-size: 12px;
  }

  .b-item-main-content__item-offers-title {
    font-size: 22px;
  }

  .b-item-main-content__similar-title {
    font-size: 18px;
  }

  .b-item-main-content__similar {
    margin-top: 30px;
  }

    .b-item-main-content__item-desc-detail table tr td {
        font-size:11px;
    }
    
  /* .b-item-main-content__item-desc-detail table tr td:last-child {
    text-align: center;
  } */

  /* item media -480 end*/
  /*basket media -480 starts*/
  .b-basket-row__price span {
    font-size: 5vw;
  }

  .b-basket-row__text {
    margin: 20px 0;
  }
    
    
    /*basket media -480 end*/
  
}

/* media -480 end */
@media screen and (min-width:320px) and (max-width: 991px) {
  .b-aside-menu {
    width: 260px;
    margin: auto;
    margin-top: 15px;
  }

  .aside-dropdown-menu {
    width: 230px;
  }

  .select-form-sort_button select {
    width: 180px;
  }

  .ui-slider-horizontal {
    width: 210px;
  }

  .b-catalog-row__price {
    font-size: 20px;
  }

  .b-basket-order-form__delivery {
    margin-top: 20px;
  }

  .b-basket-row__mount,.b-basket-row__price {
    text-align: center;
  }

  .b-basket-row__text {
    margin-bottom: 10px;
  }
}

@media screen and (min-width:320px) and (max-width: 767px) {
#line:first-child {
    display: none;
  }
}

@media screen and (min-width:647px) and (max-width: 767px) {
  .img-responsive {
    width: 100%;
  }
}

@media screen and (min-width:481px) and (max-width: 767px) {
  .header-menu {
    position: fixed;
    z-index: 100000;
    top: 0;
    width: 100%;
  }

.header-menu .yamm ul.nav li:last-child {
    border-bottom: 1px solid lightgray;
  }

  .navbar-nav {
    margin: 0 -15px;
  }

  .navbar-nav .open .dropdown-menu,.nav li.dropdown a img {
    display: none;
  }

  .navbar-default .navbar-nav>li>a {
    padding: 5px 30px;
    font-size: 16px;
  }

  .header .container {
    margin-top: 36px;
  }
    
  .search {
        margin-top:5px;
    }

  .navbar-header .menu-title {
    display: block;
    float: right;
    position: relative;
    top: 15px;
    right: 9px;
    font-family: 'Roboto';
  }

  .navbar-header {
    border-bottom: solid 1px lightgray;
  }

  .carousel-inner {
    height: auto;
  }

  .carousel-inner>.item>img {
    margin-top: 0;
  }

  .carousel-indicators {
    left: 85%;
  }

  .carousel-indicators li {
    width: 8px;
    height: 8px;
  }

  .carousel-indicators .active {
    margin: 0;
    height: 12px;
    width: 12px;
  }

  .slider {
    margin-top: -21px;
  }

  .navbar-default .navbar-collapse,.navbar-default .navbar-form {
    border: none;
  }

  .footer-menu .inner {
    display: none;
  }

  .footer-menu {
    height: 360px;
  }

  .footer-content div:last-child img {
    margin-top: 10%;
    margin-right: 25px;
  }

  .footer-content div:nth-child(2) {
    text-align: center;
  }

  .footer-content div:first-child img {
    margin-top: 30%;
  }

  .footer-menu .inner:last-child {
    display: block;
    text-align: center;
  }

  .footer-contacts {
    padding-top: 0;
    margin-top: -8px;
    text-align: center;
  }

  .footer-tel a {
    font-size: 19px;
  }

  .footer-menu span {
    font-weight: 300;
  }

  .modal-dialog {
    padding: 60px 10px 10px;
  }

  .modal-footer {
    padding: 0 33px 30px;
  }

  .aside-img img {
    width: 100%;
    margin-bottom: 13px;
  }

  .aside-img img:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .aside-img img:first-child {
    margin-top: 1px;
  }

  .modal-footer .item-button-add,#item-info {
    margin-left: 0;
  }

  #item-info {
    width: 50%;
    float: left;
  }

  .basket p {
    display: none;
  }

  .contacts>img {
    display: none;
  }

  .sale-content .content h3 {
    font-size: 4vw;
  }

  .sale-content .content p {
    font-size: 3vw;
    margin-top: 10%;
  }

  .hit-img:hover .img-icons {
    display: none;
  }

  .statistic div:first-child {
    width: 70px;
    float: left;
  }

  .stat {
    margin: 0;
  }

  .statistic .stat img {
    margin-top: -2px;
  }

  .catalog-item-img:hover .catalog-img-icons {
    display: none;
  }

  .catalog-item-img:hover .catalog-item-img__icons {
    display: none;
  }

  /* то что выше - одинаково с медиа до 480 */
  #slider-caption .slider-caption-content .caption-three .slider-button {
    border: 1px solid #000;
    padding: 6px 10px;
  }

  .contacts {
    text-align: right;
  }

  .contacts span a {
    font-size: 3vw;
  }

  .contacts p a {
    font-size: 2.7vw;
  }

  .statistic {
    padding: 15px 0 7px 32px;
  }

  /* .statistic div:first-child {
    	                float:left;
    	            }
    	            
    	            .statistic .stat {
    	                text-align:center;
    	                margin-top:1px;
    	            } */
  .basket {
    text-align: right;
    padding: 15px 18px 0 12px;
  }

  .search input {
    background-position: 98%;
  }

  .sale-content .content {
    margin: 14% 0 0 25px;
  }

  .special .sale:first-child {
    margin-bottom: 20px;
  }

  .new h1 {
    margin: 40px 0 30px;
  }

  .gallery-new>div:nth-child(odd) {
    width: 50%;
    float: left;
  }

  .gallery-new>div:nth-child(even) {
    width: 50%;
    float: right;
  }

  .work .caption span:last-child,.offer-new .caption span:last-child {
    font-size: 13px;
  }

  .offer-new .caption span img {
    width: 16px;
  }

  .gallery-works >div:nth-child(odd) {
    width: 50%;
    float: left;
  }

  .gallery-works>div:nth-child(even) {
    width: 50%;
    float: right;
  }

  .work .caption span img {
    width: 16px;
  }

  .hit .caption p:first-child {
    font-size: 14px;
  }

  .hits .hit {
    margin-bottom: 20px;
    height: auto;
  }

  .mini-text h1 {
    font-size: 4.2vw;
  }

  .article {
    font-size: 2.5vw;
  }

  .article div.link {
    font-size: 18px;
  }

  .advantages h1 {
    padding-top: 30px;
    font-size: 26px;
  }

  .advantages-content div {
    width: 33%;
    padding: 15px 10px 0;
  }

  .advantages-content div:last-child {
    display: none;
  }

  .advantages-content img {
    width: 20px;
  }

  .advantages-content p {
    font-size: 13px;
  }

  #item-info p {
    font-size: 12px;
  }

  .modal-footer .item-button-add {
    margin-top: 4%;
    padding-top: 0;
  }

  .modal-footer .item-button-add .item-price {
    padding-bottom: 0;
  }

  #item-info p:first-child {
    padding-top: 0;
    margin-top: 8%;
  }

  .footer-content div:last-child {
    margin-top: 0;
  }

  /* media to 767 - catalog styles start*/
  .b-breadcrumbs_item a,.b-breadcrumbs_item .breadcrumb>.active {
    font-size: 14px;
  }

  .active-page-title h1 {
    font-size: 32px;
  }

  .catalog-style-view_buttons {
    margin-top: 0;
  }

  .b-catalog-style-view {
    text-align: left;
    padding: 0;
  }

  .b-sort .b-sort_title {
    font-size: 15px;
  }

  .b-sort_form select {
    font-size: 13px;
  }

  .b-aside-params-toggle {
    display: block;
  }

  .aside-params {
    display: none;
  }

  .aside-params--active {
    display: block;
    margin-top: 30px;
  }

  .catalog-pages-filter .catalog-pages-filter_title {
    font-size: 13px;
  }

  .b-aside-menu-toggle {
    display: block;
  }

  .b-aside-menu {
    display: none;
    margin-top: 15px;
  }

  .b-aside-menu--active {
    display: block;
  }

  .catalog-main-content .item .caption p:first-child {
    font-size: 14px;
  }

  .catalog-main-content .item .caption p.price {
    font-size: 18px;
    font-weight: 500;
  }

  /* .catalog-pages-filter {
    	      width: 50%;
    	      float: left;
    	    }

    	    .catalog-navigation {
    	      width: 50%;
    	      float: right;
    	      text-align: left;
    	    } */
  .catalog-bottom-nav .pagination {
    margin: 40px 0 10px;
  }

  .catalog-pages-filter .pagination li a {
    padding: 8px 10px;
  }

  .catalog-mini-text h1 {
    font-size: 3vw;
  }

  .catalog-mini-text .article {
    font-size: 2vw;
  }

  .catalog-pages-filter,.catalog-navigation {
    text-align: center;
  }

  .b-catalog-row__price {
    text-align: right;
  }

  .catalog-bottom-nav .catalog-navigation .pagination {
    margin-bottom: 40px;
  }
    
  .b-catalog-row__price {
        margin-top:0;
    }

  /* media to 767 - catalog styles end*/
  /*item media -767 start*/
  .b-aside-item-sale,.b-aside-item-last {
    display: none;
  }

  /*item media -767 end*/
  /*basket media -767 start*/
  .b-basket-row__text {
    margin: 20px 0;
  }/*basket media -767 end*/
  
}

/* media to 767 - styles end*/
@media screen and (min-width:768px) and (max-width: 991px) {
  .hit-img:hover .img-icons {
    display: none;
  }

  /* media to 991 - catalog styles start*/
  .b-breadcrumbs_item a,.b-breadcrumbs_item .breadcrumb>.active {
    font-size: 14px;
  }

  .active-page-title h1 {
    font-size: 32px;
  }

  .catalog-style-view_buttons {
    margin-top: 0;
  }

  .b-catalog-style-view {
    text-align: left;
    padding: 0;
  }

  .b-sort .b-sort_title {
    font-size: 15px;
  }

  .b-sort_form select {
    font-size: 13px;
  }

  .b-aside-params-toggle {
    display: none;
  }

  .aside-params {
    display: block;
  }

  .aside-params--active {
    display: block;
    margin-top: 30px;
  }

  .catalog-pages-filter .catalog-pages-filter_title {
    font-size: 13px;
  }

  .b-aside-menu-toggle {
    display: block;
    text-align: left;
  }

  .b-aside-menu {
    display: none;
    margin-top: 15px;
  }

  .b-aside-menu--active {
    display: block;
  }

  .catalog-main-content .item .caption p:first-child {
    font-size: 13px;
  }

  .catalog-main-content .item .caption p.price {
    font-size: 18px;
    font-weight: 500;
  }

  .catalog-bottom-nav .pagination {
    margin: 40px 0 10px;
  }

  .catalog-pages-filter .pagination li a {
    padding: 8px 10px;
  }

  .catalog-mini-text h1 {
    font-size: 22px;
  }

  .catalog-mini-text .article {
    font-size: 16px;
  }

  .catalog-item-img:hover .catalog-img-icons {
    display: none;
  }

  .catalog-item-img:hover .catalog-item-img__icons {
    display: none;
  }

  .catalog-main-content {
    width: 55%;
    float: right;
  }

  .b-catalog-row__text-caption {
    font-size: 15px;
  }

  .b-catalog-row__text-desc {
    font-size: 12px;
  }

  .b-catalog-row__price {
    margin-top: 0;
    text-align: left;
  }

  .b-aside-menu {
    text-align: left;
    margin: 15px 1px;
  }
    
    .catalog-navigation {
        text-align: left;
    }

  /* media to 991 - catalog styles end*/
  .carousel-inner {
    height: auto;
  }

  .carousel-indicators {
    left: 87%;
  }

  .logo {
    width: 165px;
  }

  .contacts {
    text-align: right;
  }

  .contacts img {
    display: none;
  }

  .contacts span a {
    font-size: 17px;
  }

  .statistic {
    padding: 22px 0 0 25px;
  }

  .statistic img {
    width: 18px;
  }

  .basket {
    padding: 30px 0 0 12px;
    text-align: center;
  }

  .basket p {
    display: none;
  }

  .advantages-content p {
    font-size: 11px;
  }

  .advantages-content div {
    padding: 30px 3px 0;
  }

  .advantages h1 {
    padding-top: 60px;
  }

  .sale-content .date {
    padding: 0 0 0 10px;
  }

  .sale-content .content {
    margin: 10% 0 0 10px;
  }

  .sale-content .content h3 {
    font-size: 17px;
    margin-top: -3px;
  }

  .sale-content .content p {
    margin-top: 10px;
    font-size: 1.4vw;
  }

  .date img {
    width: 17px;
  }

  .sale-content .dates {
    font-size: 1.4vw;
  }

  .new h1 {
    margin: 35px 0 30px;
  }

  .navbar-default .navbar-nav>li>a {
    padding: 1px 5px;
    font-size: 14px;
  }

  .nav li.dropdown a img {
    width: 8px;
    margin-left: 5px;
  }

  .grid-demo .column ul li a {
    font-size: 12px;
  }

  .column ul li:first-child a {
    font-size: 14px;
  }

  .dropdown-menu {
    padding-bottom: 10px;
  }

  .footer-menu h4 {
    font-size: 16px;
  }

  .footer-tel {
    font-size: 15px;
  }

  .copyright span,.copyright a {
    font-size: 12px;
  }

  .footer-menu .inner:first-child h4:last-child {
    padding-top: 15px;
  }

  .footer-contacts {
    margin-top: 10px;
  }

  .social {
    margin-top: 25px;
  }

  .footer-content div:nth-child(2) {
    text-align: center;
  }

  .footer-content div:first-child a img {
    margin-top: 25%;
  }

  .footer-content div:last-child a img:first-child {
    margin-top: 3%;
  }

  .footer-content div:last-child a img:last-child {
    margin-top: 10%;
  }

  .footer-content div:last-child {
    margin-top: 0;
  }

  .offer-new .caption span:last-child {
    font-size: 14px;
  }

  .work .caption span:last-child {
    font-size: 13px;
  }

  .work .caption span img {
    width: 17px;
  }

  /* .offer-new a img, .work a img {
    	          width:100%;
    	          height:auto;
    	      } */
  .offer-new .caption span img {
    width: 17px;
  }

  .basket span {
    font-size: 21px;
  }

  .dropdown-menu .column ul li:first-child {
    padding: 10px 0;
  }
    
    .hits .hit {
        height: 240px; 
    }
}

@media screen and (min-width:768px) and (max-width: 1199px) {
  .b-item-main-content__item-desc-nav li {
    display: block;
    width: auto;
  }
}

@media screen and (min-width:992px) and (max-width: 1199px) {
  .offer-new .caption span:last-child {
    font-size: 14px;
  }

  .work .caption span:last-child {
    font-size: 13px;
  }

  .hit .caption p:first-child {
    font-size: 14px;
  }

  .sale-content .content {
    margin: 40px 0 0 25px;
  }

  .sale-content .content h3 {
    font-size: 22px;
  }

  .contacts span a {
    font-size: 21px;
  }

  .contacts p a {
    font-size: 13px;
  }

  .basket {
    padding: 28px 0 0 10px;
    text-align: center;
  }

  .basket p {
    display: none;
  }

  .navbar-default .navbar-nav>li>a {
    font-size: 16px;
    padding: 8px 12px;
  }

  .nav li.dropdown a img {
    width: 12px;
  }

  .offer-new .caption span img,.work .caption span img {
    width: 17px;
  }

  .advantages h1 {
    padding-top: 60px;
  }

  .hit-img:hover .img-icons {
    display: none;
  }
    
     .catalog-item-img:hover .catalog-img-icons {
    display: none;
  }


  .footer-tel {
    font-size: 22px;
  }

  .social {
    margin-top: 15px;
  }

  .nav li.dropdown a img {
    width: 12px;
  }

  .contacts img {
    width: 13px;
  }

  /*catalog to -1199 start*/
  .b-breadcrumbs_item {
    font-size: 14px;
  }

  .breadcrumb>li+li:before {
    background-size: 5px;
  }

  .catalog-style-view_buttons {
    margin-top: 0;
  }

  .b-sort .b-sort_title,.b-sort_form select {
    font-size: 13px;
  }

  input.priceSliderValue {
    width: 45px;
    margin: 0;
    padding: 3px 0;
  }

  .catalog-main-content .item .caption p:first-child {
    font-size: 14px;
  }

  .catalog-main-content .item .caption p.price {
    font-size: 20px;
  }

  .aside-dropdown-button .aside-arrow-down {
    padding-left: 20%;
  }

  .b-aside-menu .open>.dropdown-menu {
    width: 88%;
  }

  .b-catalog-row__text-caption {
    font-size: 15px;
  }

  .b-catalog-row__text-desc {
    font-size: 13px;
  }/*catalog to -1199 end*/
    
  .hits .hit {
     height: 260px;
    }
  
}

@media screen and (min-width:1200px) {
  #slider-caption .slider-caption-content .caption-three {
    padding: 5% 6% 9% 5%;
  }

  #slider-caption .slider-caption-content .caption-three .slider-button {
    font-size: 18px;
  }

  #slider-caption .slider-caption-content .caption-two {
    font-size: 66px;
  }

  #slider-caption .slider-caption-content .caption-one {
    font-size: 35px;
  }
}