html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

body {
  background: url(../img/backgr.png) repeat center top;
  font-family: "Trebuchet MS", Arial, sans-serif; }

.clearfix {
  clear: both;
  display: table;
  content: "";
  position: absolute; }

.slider-control {
  text-align: center;
  width: 135px;
  height: 135px;
  border-radius: 100px;
  position: absolute;
  z-index: 999;
  cursor: pointer;
  background-image: url(../img/btn.png);
  background-size: contain; }

.lesson-title {
  font-size: 19px;
  font-family: "FuturaMedium", sans-serif;
  text-transform: uppercase;
  line-height: 25px;
  white-space: nowrap;
  margin-bottom: 15px; }
  .lesson-title.-dark {
    color: #000; }
    .lesson-title.-dark span {
      color: #bb3754; }
  .lesson-title.-light {
    color: #fff; }

.extra-info {
  font-family: "Bodoni72OSC";
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  text-align: right;
  position: relative; }
  .extra-info.-first {
    background-color: transparent;
    padding: 40px 30px;
    background: rgba(2, 117, 52, 0.6);
    min-height: 190px; }
    .extra-info.-first .content {
      position: absolute;
      right: 45px;
      top: -15px;
      color: #fff;
      white-space: nowrap; }
    .extra-info.-first::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: -150px;
      left: 0;
      width: 0;
      height: 0;
      border-bottom: 150px solid rgba(2, 117, 52, 0.6);
      border-left: 754px solid transparent; }
  .extra-info.-second {
    background-color: #fff;
    padding: 90px 200px 120px 75px;
    height: 560px;
    box-sizing: border-box; }
    .extra-info.-second .content {
      color: #027534; }
    .extra-info.-second::after {
      content: "";
      position: absolute;
      background-image: url(../img/extra.png);
      height: 380px;
      width: 130px;
      right: 5%;
      top: 65px;
      background-repeat: no-repeat;
      background-size: cover; }

.text-slider {
  overflow: hidden; }
  .text-slider .text-item {
    display: none; }
    .text-slider .text-item .lesson-content {
      font-size: 13px;
      line-height: 17px; }
    .text-slider .text-item .beauty-content {
      font-size: 17px;
      font-family: "BodoniCyr";
      line-height: 20px; }

.container {
  width: 1060px;
  margin: 0 auto; }

#wrapper {
  width: auto;
  overflow: hidden;
  clear: both; }

#content {
  float: left;
  width: 754px;
  margin-left: 0;
  background: linear-gradient(to top, white 0%, white 50%, white 80%, rgba(255, 255, 255, 0.8) 90%, rgba(255, 255, 255, 0.6) 100%); }

.main {
  width: 100%; }
  .main-title {
    font-size: 40px;
    font-family: "FuturaMedium", sans-serif;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
    white-space: nowrap;
    line-height: 45px; }
  .main-intro-text {
    font-size: 15px;
    font-family: "FuturaBook", sans-serif;
    color: #000;
    text-transform: uppercase;
    line-height: 18px; }
  .main .lesson {
    position: relative; }
    .main .lesson.-one {
      padding: 30px;
      height: 780px; }
      .main .lesson.-one::after {
        content: "";
        position: absolute;
        background-image: url(../img/number1.png);
        width: 130px;
        height: 250px;
        bottom: 30%;
        left: 50%;
        background-repeat: no-repeat;
        z-index: -1;
        background-size: cover; }
      .main .lesson.-one .slider-control {
        bottom: 110px;
        left: 280px; }
      .main .lesson.-one .line {
        width: 150px;
        height: 2px;
        background-color: #027534;
        margin: 30px auto; }
      .main .lesson.-one .left {
        width: 390px;
        float: left; }
      .main .lesson.-one .right {
        width: 290px;
        float: right; }
      .main .lesson.-one .image-slider {
        max-width: 333px;
        height: 590px;
        position: relative;
        overflow: hidden;
        -webkit-clip-path: polygon(100% 0, 100% 88%, 0 100%, 0 0);
        clip-path: polygon(100% 0, 100% 88%, 0 100%, 0 0); }
        .main .lesson.-one .image-slider .image-list {
          margin: 0;
          padding: 0;
          list-style: none;
          position: absolute;
          width: 200%;
          height: 100%;
          top: 0; }
          .main .lesson.-one .image-slider .image-list .-one {
            background-image: url(../img/1.png); }
          .main .lesson.-one .image-slider .image-list .-two {
            background-image: url(../img/1a.png); }
        .main .lesson.-one .image-slider .image-item {
          padding: 0;
          margin: 0;
          width: 50%;
          height: 100%;
          overflow: hidden;
          position: absolute;
          top: 0;
          bottom: 0;
          border: none;
          max-width: 100%;
          min-height: 100%;
          background-repeat: no-repeat; }
      .main .lesson.-one .text-slider {
        max-height: 343px; }
    .main .lesson.-two::after {
      content: "";
      position: absolute;
      background-image: url(../img/number2.png);
      width: 240px;
      height: 250px;
      bottom: 85px;
      left: 100px;
      background-repeat: no-repeat;
      z-index: 0;
      background-size: cover; }
    .main .lesson.-two .slider-control {
      top: 355px;
      left: 540px; }
    .main .lesson.-two .image-slider {
      max-width: 759px;
      height: 542px;
      overflow: hidden;
      position: relative;
      background-color: rgba(187, 55, 84, 0.6);
      -webkit-clip-path: polygon(100% 0, 100% 73%, 0 100%, 0 0);
      clip-path: polygon(100% 0, 100% 73%, 0 100%, 0 0); }
      .main .lesson.-two .image-slider::after {
        content: "";
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-bottom: 150px solid white;
        border-left: 759px solid transparent; }
      .main .lesson.-two .image-slider .image-list {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        width: 100%;
        height: 200%;
        top: 0; }
        .main .lesson.-two .image-slider .image-list .-one {
          background-image: url(../img/2.png); }
        .main .lesson.-two .image-slider .image-list .-two {
          background-image: url(../img/2a.png); }
      .main .lesson.-two .image-slider .image-item {
        text-align: center;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        border: none;
        max-width: 100%;
        max-height: 100%;
        background-repeat: no-repeat; }
    .main .lesson.-two .text-slider {
      min-height: 300px;
      padding: 30px 40px;
      position: relative;
      z-index: 999; }
      .main .lesson.-two .text-slider .text-item {
        position: relative;
        margin-left: 180px; }
        .main .lesson.-two .text-slider .text-item .lesson-content, .main .lesson.-two .text-slider .text-item .beauty-content {
          float: left;
          position: absolute; }
          .main .lesson.-two .text-slider .text-item .lesson-content:last-child, .main .lesson.-two .text-slider .text-item .beauty-content:last-child {
            width: 240px;
            top: -15px;
            right: 15px; }
          .main .lesson.-two .text-slider .text-item .lesson-content:first-child, .main .lesson.-two .text-slider .text-item .beauty-content:first-child {
            width: 210px;
            top: 5px; }
    .main .lesson.-three {
      height: 790px; }
      .main .lesson.-three::after {
        content: "";
        position: absolute;
        background-image: url(../img/number3.png);
        width: 250px;
        height: 260px;
        background-size: contain;
        bottom: 60px;
        left: 50px;
        background-repeat: no-repeat; }
      .main .lesson.-three .slider-control {
        right: 160px;
        top: 80px; }
      .main .lesson.-three .image-slider {
        width: 630px;
        height: 630px;
        position: relative;
        overflow: hidden;
        margin-left: 10px;
        -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }
      .main .lesson.-three .image-list {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        width: 200%;
        height: 100%;
        top: 0; }
        .main .lesson.-three .image-list .-one {
          background-image: url(../img/3.png); }
        .main .lesson.-three .image-list .-two {
          background-image: url(../img/3b.png); }
      .main .lesson.-three .image-item {
        padding: 0;
        margin: 0;
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        border: none;
        max-width: 100%;
        max-height: 100%; }
      .main .lesson.-three .text-slider {
        position: relative;
        top: -630px;
        height: 790px; }
        .main .lesson.-three .text-slider .text-backgr {
          position: absolute;
          bottom: 0;
          background-color: rgba(187, 55, 84, 0.4);
          width: 100%;
          height: 475px; }
        .main .lesson.-three .text-slider .lesson-content, .main .lesson.-three .text-slider .beauty-content {
          color: #fff; }
          .main .lesson.-three .text-slider .lesson-content #shape, .main .lesson.-three .text-slider .beauty-content #shape {
            width: 300px;
            height: 300px;
            float: left;
            shape-outside: polygon(100% 0, 0% 100%, 50% 46%);
            clip-path: polygon(100% 0, 0% 100%, 50% 46%);
            -webkit-clip-path: polygon(100% 0, 0% 100%, 50% 46%); }
        .main .lesson.-three .text-slider .text-item {
          position: relative;
          width: 485px;
          float: right;
          padding: 80px 20px 20px;
          max-height: 480px;
          box-sizing: border-box; }
          .main .lesson.-three .text-slider .text-item:last-child::before {
            content: "";
            position: absolute;
            background: url(../img/3a.png);
            background-size: contain;
            width: 195px;
            height: 380px;
            top: -220px;
            left: -40px;
            background-repeat: no-repeat; }
    .main .lesson.-four::after {
      content: "";
      position: absolute;
      background-image: url(../img/number4.png);
      width: 215px;
      height: 290px;
      bottom: 0;
      left: 195px;
      background-repeat: no-repeat;
      z-index: 0;
      background-size: cover; }
    .main .lesson.-four .slider-control {
      top: -50px;
      right: 273px; }
    .main .lesson.-four .image-slider {
      max-width: 759px;
      height: 545px;
      overflow: hidden;
      position: relative; }
      .main .lesson.-four .image-slider .image-list {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        width: 100%;
        height: 200%;
        top: 0; }
        .main .lesson.-four .image-slider .image-list .-one {
          background-image: url(../img/4.jpg); }
        .main .lesson.-four .image-slider .image-list .-two {
          background-image: url(../img/4a.png); }
      .main .lesson.-four .image-slider .image-item {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        border: none;
        max-width: 100%;
        max-height: 100%;
        background-repeat: no-repeat; }
    .main .lesson.-four .-one .text-slider {
      top: 40px; }
    .main .lesson.-four .-two .text-slider {
      top: 255px; }
    .main .lesson.-four .text-slider {
      width: 255px;
      position: absolute;
      left: 90px; }
      .main .lesson.-four .text-slider .lesson-content, .main .lesson.-four .text-slider .beauty-content {
        color: #fff; }

.cosmetics {
  padding-top: 80px; }
  .cosmetics .cosmetics-title {
    font-size: 39px;
    font-family: "FuturaMedium", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400; }
  .cosmetics .cosmetics-item {
    position: relative;
    padding-bottom: 40px; }
    .cosmetics .cosmetics-item.-first > div {
      padding: 105px 150px 40px 320px; }
    .cosmetics .cosmetics-item.-first::before {
      content: "";
      position: absolute;
      background: url(../img/b1.png);
      width: 210px;
      height: 390px;
      background-repeat: no-repeat;
      background-size: contain;
      top: 90px;
      left: 45px; }
    .cosmetics .cosmetics-item.-first::after {
      content: "";
      position: absolute;
      background: url(../img/b1a.png);
      width: 200px;
      height: 485px;
      background-repeat: no-repeat;
      background-size: contain;
      top: 0;
      right: -20px; }
    .cosmetics .cosmetics-item .item-title {
      font-size: 19px;
      font-family: "FuturaMedium", sans-serif;
      color: #027534;
      line-height: 28px;
      text-transform: uppercase;
      margin-bottom: 48px;
      position: relative; }
      .cosmetics .cosmetics-item .item-title::after {
        content: "";
        position: absolute;
        border-bottom: 1px solid #000;
        width: 88px;
        left: 0;
        bottom: -25px; }
    .cosmetics .cosmetics-item .item-content {
      font-family: "FuturaBook", sans-serif;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 20px; }
    .cosmetics .cosmetics-item .link {
      font-family: "FuturaMedium", sans-serif;
      text-transform: uppercase;
      color: #027534;
      border-bottom-color: #027534;
      font-size: 17px;
      position: relative;
      padding-right: 20px; }
      .cosmetics .cosmetics-item .link::after {
        content: "";
        position: absolute;
        background: url(../img/more.png);
        width: 10px;
        height: 15px;
        right: 2px;
        top: 2px;
        background-size: contain;
        background-repeat: no-repeat; }
    .cosmetics .cosmetics-item.-second > div {
      padding: 35px 50px;
      width: 52%;
      box-sizing: border-box; }
    .cosmetics .cosmetics-item.-second::before {
      content: "";
      position: absolute;
      background: url(../img/b2.png);
      width: 210px;
      height: 390px;
      background-repeat: no-repeat;
      background-size: contain;
      top: 0;
      right: 185px; }
    .cosmetics .cosmetics-item.-second::after {
      content: "";
      position: absolute;
      background: url(../img/b2a.png);
      width: 160px;
      height: 195px;
      background-repeat: no-repeat;
      background-size: contain;
      top: 0;
      right: 15px; }
    .cosmetics .cosmetics-item.-third > div {
      width: 485px;
      margin: 0 auto;
      padding: 30px 33px 15px;
      box-sizing: border-box; }
    .cosmetics .cosmetics-item.-third::before {
      content: "";
      position: absolute;
      background: url(../img/b3.png);
      width: 168px;
      height: 425px;
      background-repeat: no-repeat;
      background-size: contain;
      top: -130px;
      right: 0; }
    .cosmetics .cosmetics-item.-third::after {
      content: "";
      position: absolute;
      background: url(../img/b3a.png);
      width: 130px;
      height: 310px;
      background-repeat: no-repeat;
      background-size: contain;
      top: 25px;
      left: 18px; }

.footer {
  padding-top: 40px; }
  .footer .social {
    width: 260px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    position: relative; }
    .footer .social .social-icon {
      width: 40px;
      text-align: center; }
    .footer .social::after {
      content: "";
      position: absolute;
      width: 515px;
      height: 2px;
      background-color: #027534;
      bottom: -40px;
      left: -130px; }
  .footer .footer-logo {
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
