@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600";
@font-face {
  font-family: "GothamProNarrowBold";
  src: url("../fonts/GothamProNarrowBold.eot");
  src: url("../fonts/GothamProNarrowBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/GothamProNarrowBold.woff") format("woff");
  src: url("../fonts/GothamProNarrowBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold.eot");
  src: url("../fonts/GothamProBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/GothamProBold.woff") format("woff");
  src: url("../fonts/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/GothamProRegular.woff") format("woff");
  src: url("../fonts/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "ProximaNovaReg";
  src: url("../fonts/ProximaNovaRegular.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "ProximaNovaEB";
  src: url("../fonts/ProximaNovaExtrabold.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "rouble";
  src: url("../fonts/rouble.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }
