body {
  background: #000; }

.av-decor {
  position: absolute; }

.av-wrapper {
  width: 980px;
  margin: 0 auto;
  background: #fff;
  position: relative; }
  .av-wrapper > div {
    position: relative; }

.av-block-one {
  padding: 10px 55px 330px; }
  .av-block-one .av-decor {
    left: 205px;
    bottom: 20px; }
  .av-block-one .av-woman {
    display: block;
    position: absolute;
    right: 50px;
    top: 42px;
    width: 425px; }
  .av-block-one .av-special {
    background: #ffc709;
    padding: 8px;
    width: 290px;
    font-family: "hn", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center; }
  .av-block-one .av-title {
    background: #000;
    padding: 15px 15px 15px 35px;
    font-family: "ddt", serif;
    font-weight: 700;
    font-size: 61px;
    line-height: 70px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 999;
    width: 460px; }
  .av-block-one .av-sub-title {
    background: #ffc709;
    padding: 20px 0px 20px 20px;
    font-family: "hna", sans-serif;
    font-weight: 300;
    font-size: 38px;
    line-height: 40px;
    color: #000;
    text-transform: uppercase;
    width: 330px;
    position: relative;
    z-index: 999;
    left: 140px; }

.av-block-two {
  background: #ffc709;
  height: 380px;
  width: 100%;
  padding: 40px 40px 0;
  box-sizing: border-box; }
  .av-block-two .av-title {
    font-size: 61px;
    font-family: "ddt", serif;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 65px;
    padding-left: 300px; }
  .av-block-two .av-sub-title {
    text-align: right;
    font-size: 38px;
    font-family: "hna", sans-serif;
    color: #000;
    text-transform: uppercase;
    padding-top: 40px;
    line-height: 40px; }
  .av-block-two .av-product {
    position: absolute;
    bottom: 0;
    left: 105px;
    height: 640px; }

.av-block-three {
  padding: 82px 55px 330px; }
  .av-block-three .av-title {
    background: #000;
    width: 620px;
    padding: 25px 40px;
    box-sizing: border-box;
    color: #fff;
    font-size: 61px;
    font-family: "ddt", serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 60px; }
  .av-block-three .av-sub-title {
    background: #ffc709;
    font-size: 38px;
    color: #000;
    font-family: "hna", sans-serif;
    text-transform: uppercase;
    width: 370px;
    padding: 20px;
    position: relative;
    left: 80px; }
    .av-block-three .av-sub-title::before {
      content: "";
      position: absolute;
      height: 126px;
      border: solid 1px #000;
      left: -45px;
      top: 40px; }
  .av-block-three .av-img {
    position: absolute;
    top: 155px;
    right: 35px; }

.av-block-four {
  position: relative; }
  .av-block-four .av-title {
    background: #000;
    font-size: 61px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    height: 233px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 90px;
    box-sizing: border-box;
    line-height: 61px; }
    .av-block-four .av-title span {
      position: relative; }
      .av-block-four .av-title span::before {
        content: "";
        position: absolute;
        background: url(../img/five.png) 100% 100% no-repeat;
        left: 0;
        width: 105px;
        height: 170px;
        left: -135px;
        top: -5px; }
  .av-block-four .av-sub-title {
    background: #fff;
    font-size: 55px;
    line-height: 55px;
    color: #000;
    text-transform: uppercase;
    height: 245px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 100px;
    box-sizing: border-box;
    font-family: "hna", sans-serif;
    position: relative; }
    .av-block-four .av-sub-title::before {
      content: "";
      position: absolute;
      height: 150px;
      border: solid 1px #000;
      right: 485px;
      top: 45px; }
  .av-block-four .av-woman {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 440px; }
