html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  background: #000; }

.av-devider {
  width: 250px;
  height: 1px;
  background: #000;
  margin: 50px auto 10px; }

.av-wrapper ::-moz-selection {
  background: #ffc709;
  color: #000; }

.av-wrapper ::selection {
  background: #ffc709;
  color: #000; }

.av-wrapper {
  width: 980px;
  margin: 0 auto;
  padding: 33px 0;
  background: #fff;
  position: relative;
  box-sizing: border-box; }
  .av-wrapper > div {
    position: relative;
    overflow: hidden; }

.clearfix {
  content: "";
  position: absolute;
  clear: both;
  display: table; }

.av-header {
  padding: 0 33px; }
  .av-header .av-special {
    background: #ffc709;
    padding: 8px;
    width: 290px;
    font-family: "hn", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center; }
  .av-header .av-title {
    background: #000;
    padding: 23px 15px 80px 35px;
    font-family: "ddt", serif;
    font-weight: 700;
    font-size: 61px;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 999;
    width: 862px; }
  .av-header .av-sub-title {
    background: #ffc709;
    padding: 10px 15px;
    font-family: "hna", sans-serif;
    font-weight: 300;
    font-size: 35px;
    line-height: 45px;
    color: #000;
    text-transform: uppercase;
    width: 790px;
    position: relative;
    z-index: 999;
    top: -50px;
    box-sizing: border-box;
    text-align: center; }

.av-block-one {
  background-image: url(../img/back1.png);
  width: 945px;
  height: 690px;
  top: -113px;
  background-size: cover;
  margin-bottom: -110px; }
  .av-block-one .av-content {
    width: 560px;
    padding: 345px 285px;
    font-size: 16px;
    font-family: "Minion Pro";
    color: #000;
    line-height: 20px; }
    .av-block-one .av-content .av-dropcaps {
      font-size: 115px;
      float: left;
      font-weight: 400;
      line-height: 1em;
      margin-bottom: -0.4em;
      margin-right: 0.09em;
      position: relative;
      top: -28px;
      font-family: "hna", sans-serif; }
    .av-block-one .av-content p {
      padding: 10px; }

.av-block-two > div {
  position: relative; }
  .av-block-two > div .av-content {
    font-size: 20px;
    font-family: "Minion Pro";
    color: #000;
    font-style: italic;
    line-height: 22px; }
.av-block-two .av-oil-one {
  background-image: url(../img/oil1.png);
  width: 980px;
  height: 415px;
  background-size: cover; }
  .av-block-two .av-oil-one .av-content {
    width: 400px;
    position: absolute;
    bottom: 65px;
    left: 155px; }
  .av-block-two .av-oil-one .av-number {
    position: absolute;
    bottom: 40px;
    left: 40px;
    height: 160px; }
.av-block-two .av-oil-two .av-img {
  width: 495px;
  position: relative;
  left: 15px;
  top: 32px; }
.av-block-two .av-oil-two .av-number {
  height: 160px;
  position: absolute;
  top: 50px;
  left: 410px; }
.av-block-two .av-oil-two .av-content {
  position: absolute;
  width: 315px;
  right: 120px;
  top: 93px; }
.av-block-two .av-oil-three {
  padding-top: 300px; }
  .av-block-two .av-oil-three .av-img {
    position: absolute;
    top: -180px;
    right: 60px;
    width: 345px; }
  .av-block-two .av-oil-three .av-number {
    height: 160px;
    position: absolute;
    bottom: 90px;
    right: 290px;
    z-index: 999; }
  .av-block-two .av-oil-three .av-content {
    width: 205px;
    padding: 0 0 0 730px;
    position: relative;
    z-index: 999; }
.av-block-two .av-oil-four .av-img {
  position: absolute;
  top: -413px;
  left: 88px;
  width: 360px; }
.av-block-two .av-oil-four .av-number {
  height: 160px;
  position: absolute;
  bottom: 211px;
  left: 52px; }
.av-block-two .av-oil-four .av-content {
  width: 235px;
  padding: 35px 90px; }
.av-block-two .av-oil-five .av-img {
  position: absolute;
  top: -335px;
  right: 45px; }
.av-block-two .av-oil-five .av-number {
  height: 160px;
  position: absolute;
  bottom: 25px;
  left: 348px; }
.av-block-two .av-oil-five .av-content {
  padding: 25px 90px 25px 500px; }
.av-block-two .av-oil-footer {
  padding-bottom: 40px; }
  .av-block-two .av-oil-footer div:first-child {
    width: 130px;
    height: 15px;
    background-color: #000;
    position: absolute;
    bottom: 55px;
    left: 43px;
    z-index: 9999; }
  .av-block-two .av-oil-footer .av-content {
    background-color: #ffc709;
    width: 865px;
    margin: 10px auto 0;
    padding: 15px 55px;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "hna", serif;
    color: #000;
    text-transform: uppercase;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    position: relative;
    z-index: 999; }
  .av-block-two .av-oil-footer .av-decor {
    position: absolute;
    left: 90px;
    top: -125px;
    width: 240px; }

.av-block-three {
  background: url(../img/back3.png);
  width: 100%;
  height: 900px;
  background-size: cover; }
  .av-block-three .av-title {
    font-size: 32px;
    font-family: "ddt", serif;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 42px 0; }
  .av-block-three .av-content .av-intro-text {
    color: #ffc709;
    line-height: 32px;
    width: 400px;
    margin: 27px 0 0 70px; }
    .av-block-three .av-content .av-intro-text span:first-child,
    .av-block-three .av-content .av-intro-text span:last-child {
      font-size: 20px;
      font-family: "hnl", serif;
      font-style: normal; }
    .av-block-three .av-content .av-intro-text span:nth-child(2) {
      font-family: "Minion Pro";
      font-size: 28px; }
  .av-block-three .av-content .av-text {
    color: #fff;
    width: 280px;
    margin: 75px 0 0 70px;
    font-size: 16px;
    font-family: "Minion Pro";
    line-height: 22px; }

.av-block-four {
  top: -130px;
  padding: 0 47px;
  margin-bottom: -85px; }
  .av-block-four .av-img {
    width: 350px;
    height: 425px;
    float: left; }
  .av-block-four .av-content {
    padding: 175px 0 0 390px;
    font-size: 16px;
    font-family: "Minion Pro";
    color: #000;
    font-style: italic;
    line-height: 20px; }
    .av-block-four .av-content p {
      padding-bottom: 20px; }
      .av-block-four .av-content p span {
        font-style: normal; }
  .av-block-four .av-extra-content {
    font-size: 20px;
    font-family: "hna", serif;
    color: #000;
    line-height: 22px;
    padding: 30px 25px;
    box-sizing: border-box;
    width: 660px; }

.av-block-five {
  color: #000; }
  .av-block-five .av-title {
    font-size: 32px;
    font-family: "ddt", serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 35px;
    text-align: center; }
  .av-block-five > .av-content {
    padding: 60px 45px; }
    .av-block-five > .av-content > p {
      font-size: 16px;
      font-family: "Minion Pro";
      line-height: 21px; }
  .av-block-five .av-left {
    width: 585px; }
    .av-block-five .av-left .av-dropcaps {
      font-size: 65px;
      float: left;
      font-weight: 400;
      line-height: 1em;
      margin-bottom: 0.3em;
      margin-right: 0.1em;
      position: relative;
      top: -6px;
      font-family: "hna", sans-serif; }
    .av-block-five .av-left .av-reason-title {
      font-size: 26px;
      font-family: "hna", sans-serif;
      text-transform: uppercase;
      line-height: 30px;
      padding-bottom: 25px; }
    .av-block-five .av-left .av-item {
      padding-bottom: 25px;
      overflow: hidden;
      font-size: 16px;
      font-family: "Minion Pro";
      line-height: 20px; }
    .av-block-five .av-left .av-img-product {
      position: absolute;
      top: 110px;
      right: 90px;
      width: 195px;
      z-index: 999; }
    .av-block-five .av-left .av-decor {
      position: absolute;
      top: 0;
      right: 10px;
      width: 220px; }
  .av-block-five .av-item-column {
    padding-top: 40px;
    position: relative;
    overflow: hidden; }
    .av-block-five .av-item-column .av-img {
      width: 470px;
      height: 655px;
      float: left; }
    .av-block-five .av-item-column .av-content {
      width: 365px;
      float: left;
      padding: 35px 0 0 50px; }
    .av-block-five .av-item-column .av-dropcaps {
      font-size: 65px;
      float: left;
      font-weight: 400;
      line-height: 1em;
      margin-bottom: 1.3em;
      margin-right: 0.1em;
      position: relative;
      top: -6px;
      font-family: "hna", sans-serif; }
    .av-block-five .av-item-column .av-reason-title {
      font-size: 26px;
      font-family: "hna", sans-serif;
      text-transform: uppercase;
      line-height: 30px;
      padding-bottom: 25px; }
    .av-block-five .av-item-column .av-poster {
      background-color: #ffc709;
      position: absolute;
      bottom: 35px;
      left: 335px;
      width: 540px;
      height: 218px;
      padding: 25px;
      box-sizing: border-box;
      color: #000; }
      .av-block-five .av-item-column .av-poster .av-poster-q {
        width: 65px;
        height: 165px;
        float: left; }
        .av-block-five .av-item-column .av-poster .av-poster-q img {
          padding-top: 10px; }
      .av-block-five .av-item-column .av-poster .av-poster-content {
        font-size: 20px;
        font-family: "hn", sans-serif;
        line-height: 23px;
        padding: 5px 0 0 85px; }
      .av-block-five .av-item-column .av-poster .av-poster-name {
        font-size: 25px;
        font-family: "hnm", sans-serif;
        font-weight: bold;
        padding-top: 20px; }
        .av-block-five .av-item-column .av-poster .av-poster-name span {
          text-transform: uppercase; }
  .av-block-five .av-item-final {
    color: #000;
    padding: 45px 60px;
    width: 750px;
    box-sizing: border-box; }
    .av-block-five .av-item-final .av-dropcaps {
      font-size: 90px;
      float: left;
      line-height: 1em;
      margin-bottom: -0.4em;
      margin-right: 0.1em;
      position: relative;
      top: -15px;
      font-family: "hna", sans-serif;
      font-weight: bold; }
    .av-block-five .av-item-final .av-reason-title {
      font-size: 35px;
      font-family: "hnm", sans-serif;
      text-transform: uppercase;
      line-height: 35px;
      padding-bottom: 25px;
      width: 555px; }
    .av-block-five .av-item-final .av-content {
      font-size: 16px;
      font-family: "Minion Pro";
      line-height: 22px; }
